[2019-08-30 17:45] fcyu commented on #129
I am not sure what's going on. Could you please send me your MaxQuant parameters (mqpar.xml)?

Thanks,

Fengchao

[2019-08-30 18:40] muratore1 commented on #129
[parameters.txt](https://github.com/Nesvilab/FragPipe/files/3561120/parameters.txt)

When I ran in MaxQuant, I had 6 raw files (3 biological replicates of two conditions). I only tested one of the files in Fragpipe.

Thanks!

[2019-08-30 18:47] fcyu commented on #129
I need the mqpar.xml file so that I can know the enzyme settings. Also, looks like you used "trichomonasfasta.fasta" in MaxQuant and "2019-08-29-td-UP000001542.fas" in FragPipe. Do they have the same target proteins?

Best,

Fengchao

[2019-08-30 19:01] muratore1 commented on #129
It won't let me attach the .xml file. The enzyme settings in MaxQuant were trypsin and LysC. I digested with both. In Fragpipe, I just selected Trypsin (there was only an option to pick 1?)

Yes- the two databases have the same target proteins. The filename for fragpipe is different because I had to add the decoys to it. I used philosopher to do so.

Thanks!

[2019-09-02 14:59] #129 closed

[2019-09-06 13:32] tobiasko opened #131 "JAVA"
# Describe the problem

* **I'm submitting a:**
  - [x] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [ ] question

## System info

Windows 10 Enterprise 2016 LTSB

## Problem

I installed Prebuilt OpenJDK Binaries (AdoptOpenJDK JDK with Hotspot 8.0.222.10 (x64) on my system, but FragPipe still reports:

"The application requires a JAVA runtime environment 1.8.0"

and

[2019-09-06 22:51] chhh commented on #131
That should be enough to run. Can you start a console and see what `java -version` says?
have you tried restarting your computer or just log off and then log on for the changes to environment variables to take effect?

Did you download the `.exe` or `.zip`? If `.exe`, then try the zip - there's `bin` directory with `FragPipe.bat` file to start the application.

[2019-09-07 15:49] #130 closed

[2019-09-09 10:35] tobiasko commented on #131
C:\Users\Admin>java -version
openjdk version "1.8.0_222"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_222-b10)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.222-b10, mixed mode)

[2019-09-09 10:36] tobiasko commented on #131
C:\Users\Admin>java -version
openjdk version "1.8.0_222"
OpenJDK Runtime Environment (AdoptOpenJDK)(build 1.8.0_222-b10)
OpenJDK 64-Bit Server VM (AdoptOpenJDK)(build 25.222-b10, mixed mode)

[2019-09-09 10:39] tobiasko commented on #131
I tried the ```FragPipe.bat``` that gave the following messages on the console:

[code]
But the GUI still started up.

[2019-09-09 12:41] tobiasko opened #132 "FragPipe tries to clean an empty workspace"
# Describe the problem

* **I'm submitting a:**
  - [ ] problem running the software
  - [x] bug report
  - [ ] feature request
  - [ ] question

* **My MSFragger use case:**
  - [x] _Closed_ search (standard small precursor mass tolerance)
  - [ ] _Open_ search (large precursor mass tolerance)

 ** _put your general problem description here_ **

## System info

You can find that printed on the _C

[2019-09-09 12:58] tobiasko opened #133 "loading Bruker tdf formated data"
# Describe the problem

* **I'm submitting a:**
  - [ ] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [x] question

* **My MSFragger use case:**
  - [ ] _Closed_ search (standard small precursor mass tolerance)
  - [ ] _Open_ search (large precursor mass tolerance)

 ** _put your general problem description here_ **

## System info

You can find that printed on the _C

[2019-09-09 13:02] fcyu commented on #133
Thanks for your interest in FragPipe and MSFragger. The latest FragPipe and MSFragger support selecting .d folder as input. You may download them from [https://github.com/Nesvilab/FragPipe/releases/tag/10.1](https://github.com/Nesvilab/FragPipe/releases/tag/10.1) and https://msfragger.arsci.com/upgrader/.

FYI, we released a new version of MSFragger yesterday with some bug fixed.

Thanks,

Fengcha

[2019-09-09 13:02] #133 closed

[2019-09-09 19:23] guoci commented on #131
@tobiasko Those error messages has been corrected recently. You can try the new version below:
https://drive.google.com/file/d/1qKnEEf84X7HBAOXq2yiZ8VL_Bz3mXsB7/view

[2019-09-09 20:49] masarumiyagi opened #134 "in silico digestion parameters"
* **I'm submitting a:**
  - [x ] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [ ] question

* **My MSFragger use case:**
  - [ ] _Closed_ search (standard small precursor mass tolerance)
  - [x ] _Open_ search (large precursor mass tolerance)

 ** _put your general problem description here_ **
The default setting with trypsin works just fine with the same MZML file.

[2019-09-09 21:11] chhh commented on #131
@tobiasko This has been fixed in version 10.1: https://github.com/Nesvilab/FragPipe/releases/tag/10.1

[2019-09-09 21:11] #131 closed

[2019-09-09 21:21] chhh commented on #133
@tobiasko Select the `.d` folder (so that's it's highlighted in the file browser) and click `Select` button.

[2019-09-09 21:23] fcyu commented on #134
You can use the name `lysc`. But looks like there is no hit from your database. Changing enzyme name won't change that. You may provide a "real" database rather than the one having only one protein.

Best,

Fengchao

[2019-09-09 21:23] #134 closed

[2019-09-09 21:25] fcyu commented on #132
The latest Philosopher fixed that bug. Please upgrade your Philosopher to 1.5.1 from [https://github.com/Nesvilab/philosopher/releases](https://github.com/Nesvilab/philosopher/releases)

Best,

Fengchao

[2019-09-09 21:25] #132 closed

[2019-09-09 21:28] chhh commented on #132
@tobiasko Also note that initial search of `Bruker TimsTOF files will be very slow because of reading the native bruker files. Subsequent searches with new MSFragger (2.0+) will be much faster (e.g. if you re-run a search with different parameters) as the pre-processed LCMS file will be cached.

[2019-09-10 16:13] May2020 opened #135 "Cannot read file: open .meta\meta.bin: The system cannot find the path specified."
# Describe the problem

* **I'm submitting a:**
  - [ X] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [ ] question

* **My MSFragger use case:**
  - [ X] _Closed_ search (standard small precursor mass tolerance)
  - [ ] _Open_ search (large precursor mass tolerance)

 ** _put your general problem description here_ **

## System info
System OS: Windows 10, Architectur

[2019-09-10 16:40] anesvi commented on #135
Please download Philosopher version 1.5.1

From: May2020 [mailto:notifications@github.com]
Sent: Tuesday, September 10, 2019 12:13 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Nesvilab/FragPipe] Cannot read file: open .meta\meta.bin: The system cannot find the path specified. (#135)

External Email - Use Caution
Describe the proble

[2019-09-10 18:19] #135 closed

[2019-09-10 19:42] May2020 commented on #135
Dear Alexey ,

Here is link I found for Philosopher, no version 1.5.1 is available yet.
https://github.com/Nesvilab/philosopher/releases/tag/v1.5.0

Do you mind sending me the link to download Philosopher version 1.5.1

thanks
May

[2019-09-10 19:45] fcyu commented on #135
[https://github.com/Nesvilab/philosopher/releases](https://github.com/Nesvilab/philosopher/releases)

[2019-09-10 19:45] anesvi commented on #135
https://github.com/Nesvilab/philosopher/releases

See the latest

On what page did you find the link pointing to 1.5.0 ? We need to update that. Thanks

Sent from my iPhone

On Sep 10, 2019, at 3:42 PM, May2020 <notifications@github.com<mailto:notifications@github.com>> wrote:

External Email - Use Caution

Dear Alexey ,

Here is link I found for Philosopher, no version 1.5.1 is available yet.
htt

[2019-09-10 19:53] May2020 commented on #135
thanks a lot! I just downloaded.

[2019-09-10 19:53] May2020 commented on #135
https://github.com/Nesvilab/philosopher/releases/tag/v1.5.0
Here is the page I found v1.5.0

[2019-09-10 20:10] anesvi commented on #135
Thanks
We updated the link

From: May2020 [mailto:notifications@github.com]
Sent: Tuesday, September 10, 2019 3:54 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Cannot read file: open .meta\meta.bin: The system cannot find the path specified. (#135)

External Email - Use Ca

[2019-09-11 18:00] May2020 opened #136 "Exception in thread "main" java.lang.reflect.InvocationTargetException"
Searches did not go through and stopped from the beginning. Error message was displayed below. Could you please kindly help me to take a look at it?
thanks a lot lot lot!

* **I'm submitting a:**
  - [X ] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [ ] question

* **My MSFragger use case:**
  - [ X] _Closed_ search (standard small precursor mass tolerance)
  - [ ] _

[2019-09-13 10:30] CuypersBart opened #137 "'Mapped Proteins' column incorrect => Final output containing lots of rev_ proteins."
# Describe the problem

I almost get equal numbers of 'real' (1509) and 'rev_' (1651) proteins in the final output file.
This seems to be traced back to the 'Mapped Proteins' column in the 'peptide.tsv' being wrong. rev_ matches are reported there, while these peptides are not part of the _rev sequences at all.
What could be the problem here?

* **I'm submitting a:**
  - bug report
* **My MSFragge

[2019-09-13 12:47] anesvi commented on #137
Dear Bart

This is strange because everything looks totally fine in the log file.

Something breaks philosopher report generation function. I suspect the database formatting issue.

I think this needs to go to Felipe (Philosopher).  However, he is away from office now.
If you need it resolved very soon, can you please share your sequence database and one of the mzML files with me?

Best
Alexey

Fr

[2019-09-14 07:50] CuypersBart commented on #137
Dear Alexey,

The database was generated from my own proteome fasta with philosopher.
I mailed with Felipe before, and he pointed me towards the datase formatting rules.

As far as I can see, I have followed these rules, but it is indeed always possible that there is something about this file that is not allowed, but not obvious to spot.

Thanks a lot for taking a look! Here you can find the orgin

[2019-09-14 21:29] anesvi commented on #137
I tried myself, and using version 1.5.2 of Philosopher and get the same problem

Felipe will need to fix it in philosopher

Felipe:
The format of the entries is

MMSAEPPSSQPYISDVLRRYQLERFQSSFASSMTIKDLLALQPEDFNRYGVVEAMDILRLRDAIEYIKANPLPASRSGSDVLDNDGDGDGDDSTPEGKEGCSTERRRQYTARGTTVLCGSTDTAEEVKRKSRIIVAIRKRPLSAGEQTNGFTDIMDADNNGEIVLKEPKVKVDLRKYTHVHRFFFDEVFDEACDNVDVYNRAARALIDTVFDGGCATCFAYGQTGSGKTHTMLGKGPE

[2019-09-17 15:09] May2020 opened #138 "How to set up experiment containing Fractions / groups / treatment/ replicates ?"
Dear Nesvilab/FragPipe group,

Thanks a lot for making FragPipe available for us! We really appreciation
This is a couple of general questions about FragPipe:

Question 1:
Are we allowed to set up fractions, technical/biological replicates, groups,  different treatments (e.g. control vs treatment) in FragPipe searches for experiments containing multiple MS runs?
If not, what is a practical and app

[2019-09-17 15:29] anesvi commented on #138
Dear Mei,

1)
You can assign a label to experiments, and then click on Multi-experiment report in the REPORT tab of FragPipe

If you have fractions from the same experiment, you can label them
file1.mzML   A
file2.mzML   A
file3.mzML   A
file4.mzML   B
file5.mzML   B
file6.mzML   B

The first 3 files will be combined in A, and the other 3 in B. You will have just 2 columns with spectral counts or

[2019-09-17 18:01] hayse1 commented on #137
Hi Bart, the previous release of philosopher (1.5.0) might work for you. It will show a 'Philosopher version no longer supported' warning, but you can ignore it in this case. If you get this error message: `Cannot read file: open .meta/meta.bin: no such file or directory`, you will need to run the following in the command line within each of your directories LOG and STAT: `[full path to philosophe

[2019-09-17 18:24] guoci commented on #136
Please consider sending the input files (mzXMLs, fasta, parameter) to us.

[2019-09-17 20:34] CuypersBart commented on #137
Hi Hayse,
Thank you, but I also had exactly the same problem with the previous version.
I have been having the error for a few months now.
Best,
Bart

[2019-09-18 01:13] prvst commented on #137
@CuypersBart

As soon as I get back to work I'll take another look at your case again, I still suspect something on the database is not right, but it might be something else as well. I'll reach you by email soon.

[2019-09-18 15:39] #138 closed

[2019-09-19 19:09] jspaezp opened #139 "Attempt to convert files back to mzXML fail by calling philosopher"
* **I'm submitting a:**
  - [ ] problem running the software
  - [x] bug report
  - [ ] feature request
  - [ ] question

When attempting to run a workflow consisteing of DIA-Umpire > msfragger, the run fails due to `philosopher` being called in the wrong context.

All steps entailing the generation of `.mgf` files from the `.mzXML` succed but when fragpipe attempts to convert the file to `mzXML`

[2019-09-19 19:45] anesvi commented on #139
It is trying to use msconvert embedded in philosopher, but apparently there is something wrong. We need to take a look.

Dmitry – I thought earlier we used msconvert directly (with path specified in DIA-Umpire TAB)?

From: J. Sebastian Paez [mailto:notifications@github.com]
Sent: Thursday, September 19, 2019 3:10 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@nor

[2019-09-19 21:34] chhh commented on #139
@jspaezp Thanks for the bug report, will fix promptly. Caused by differences in how the commands were formed and invoked on linux/win.
@anesvi That's only on Windows. On Linux it used msconvert built into philosopher.

[2019-09-19 22:07] jspaezp commented on #139
I was not aware that philosopher included msconvert, under what command can one call it (does not show up as an available command when calling `philosopher --help`)?

Thank you very much for your attention
Kindest wishes,
Sebastian

[2019-09-19 22:23] anesvi commented on #139
It got disabled in philosopher about six month ago (but FragPipe for Linux was not updated to reflect that). I think Dmitry will need to make a change in FragPipe to call stand-alone msconvert instead

From: J. Sebastian Paez [mailto:notifications@github.com]
Sent: Thursday, September 19, 2019 6:07 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>

[2019-09-20 01:03] prvst commented on #139
We decided to remove msconvert from philosopher because of a bug that was removing every file from the workspace. Since it was a serious problem, msconvert was completely removed. I might reconsider adding it back again in the near future after being sure that the bug was fixed.

For now I advise you to use the native msconvert from pwiz.

[2019-09-20 01:15] chhh commented on #139
@prvst Why did you close the ticket? We're in the middle of resolving the issue.

[2019-09-20 17:16] May2020 opened #140 "Non-Specific search & Open search & precursor charges"
Dear Prof. Nesvizhskii and your group,

I have some MS runs of samples containing only small peptides (instead of digestion by trypsin) extracted from my material.
Now my question is:
1.  should I run non-specific search at least ? is it possible to combine non-specific search along with open search ? if not, what is the best strategy would you suggest?
2. we also have some MS2 spectra generated f

[2019-09-20 17:27] fcyu commented on #140
Hi Mei,

1. You may try with non-specific search. You can even try non-specific open search, but the sensitivity may not be high. It really dependent on your database and sample.

2. I don't think you need to change anything.

Best,

Fengchao

[2019-09-20 17:27] #140 closed

[2019-09-20 17:35] May2020 commented on #140
Dear FengChao,

Thanks a lot for your answer!
I will try now.

Have a nice weekend!
Mei

[2019-09-20 18:12] prvst commented on #139
sorry, wrong button

[2019-09-20 20:31] chhh commented on #139
@jspaezp Please try this new 11.0 pre-release: https://github.com/Nesvilab/FragPipe/releases/tag/11.0

[2019-09-22 06:51] jspaezp commented on #139
Hello @chhh I can confirm the new release works in windows and Linux.

Nonetheless, in linux it requires calling fragpipe as `export LC_ALL=C ; ./FragPipe ` due to a know bug in msconvert that makes it crash when locales are not set to `C` with the following error.

[code]

Thank you very much for for the help and quick bug fix.
Best,
Sebastian

[2019-09-22 08:48] chhh commented on #139
@jspaezp So the problem is that `LC_ALL=C` environment variable needs to be set? I didn't know about that bug in msconvert, but I can definitely add that env var to when starting the msconvert process, thanks for the info!

[2019-09-22 08:48] #139 closed

[2019-09-24 21:56] jspaezp commented on #139
sounds perfect thank you very much @chhh and @anesvi , keep up the amazing work

[2019-09-26 14:03] May2020 opened #141 "Batmass error"
Dear Nesvizhskii group,

I am using FragPipe v11 to run a non-specific search. It Started in the morning of September 24th and stopped two days later.

Below is the error message from log file. Attached is the log file. Not sure what is this error or solution. Could you please help me to take a look at it?

Thanks  a lot
Mei

# Describe the problem
Operating on slice 3 of 6:
	001. SP_Exp1_C18_F07.

[2019-09-26 14:13] fcyu commented on #136
Close this issue due to no feedback.

[2019-09-26 14:13] #136 closed

[2019-09-26 14:15] fcyu commented on #90
The latest version can read Bruker timsTOF raw file directly. Please check [https://github.com/Nesvilab/MSFragger](here).

Thanks,

Fengchao

[2019-09-26 14:15] #90 closed

[2019-09-26 19:22] chhh commented on #141
Could you attach the whole log please?

How many files were you processing if it was running for two days?

Also, if you haven't yet rebooted your computer, please check the Task Manager (Ctrl + Shift + Esc in Windows) if there are any instances of `BatmassIoThermoServer.exe` process running?

[2019-09-26 19:26] #91 closed

[2019-09-26 19:26] #104 closed

[2019-09-26 20:29] May2020 commented on #141
I did attached the whole log file.
Here you go.
[log-fragpipe-run-at_2019-09-25_21-07-59.log](https://github.com/Nesvilab/FragPipe/files/3659779/log-fragpipe-run-at_2019-09-25_21-07-59.log)

[2019-09-26 20:33] May2020 commented on #141
I don't think there is Batmass running.
I have 21 MS files running in non-specific search.

[2019-09-26 20:36] chhh commented on #141
@May2020 Thanks, sorry, didn't find the link for the log.
So are there any leftover `BatmassIoThermoServer.exe` processes running?

Unfortunately even with the full log I can't tell what has happened. For some reason the program that's responsible for reading Thermo RAW files couldn't start. Reason is unknown. For now please don't do anything with the output folder that was generated. We're lookin

[2019-09-26 20:52] chhh commented on #122
@prvst has this TPP ProteinProphet issue been resolved?

[2019-09-26 21:00] guoci commented on #141
@May2020 can you run the following command in the directory: `E:\\FragPipeResult\\smallprotein_2019\\20190920\\split_peptide_index_tempdir\\7`.
`java -jar -Dfile.encoding=UTF-8 -Xmx28G 'E:\\software\\FragPipe_v10\\MSFragger-2.1\\MSFragger-2.1.jar' fragger.params 'E:\\FragPipeResult\\smallprotein_2019\\20190920\\split_peptide_index_tempdir\\SP_Exp1_C18_F07.raw' 'E:\\FragPipeResult\\smallprotein_201

[2019-09-26 21:52] chhh commented on #141
@May2020 This command is the last portion of the search that failed for some reason.
If that runs and completes fine then you're good to go! You can start FragPipe, specify the same input LCMS files as you did with same groups, but this time uncheck the `Run MSFRagger` checkbox. Set the same output directory as before. FragPipe will then skip the search, and perform the other downstream steps.

[2019-09-26 22:09] anesvi commented on #141
I would add that a search of 24 files should not take two days, even nonspecific. Perhaps you have too many modifications ? There are other tricks to reduce the time and the memory footprint. Set max peptide length to a lower value, for example.

Sent from my iPhone

On Sep 26, 2019, at 5:52 PM, Dmitry Avtonomov <notifications@github.com<mailto:notifications@github.com>> wrote:

External Email - U

[2019-09-26 22:15] chhh commented on #62
I believe this was fixed a few versions of MSFragger ago.

[2019-09-26 22:15] #62 closed

[2019-09-26 22:33] chhh commented on #141
@May2020
- Reducing the number of peptides by restricting their length as suggested by @anesvi is a good idea. Say 7 to 15 residues.
- Also, if you re-run the whole thing try turning off mass calibration in MSFragger, that will speed things up a lot. As you can see from the log, this step took 1142 minutes (that shouldn't actually take that long) which is 19 hours.
- Considering that it takes so l

[2019-09-26 22:37] anesvi commented on #141
I think we should set mass calibration to 1 for nonspecific as default in next FragPipe release

Sent from my iPhone

On Sep 26, 2019, at 6:33 PM, Dmitry Avtonomov <notifications@github.com<mailto:notifications@github.com>> wrote:

External Email - Use Caution

@May2020<https://github.com/May2020>

  *   Reducing the number of peptides by restricting their length as suggested by @anesvi<https://gi

[2019-09-26 22:44] chhh opened #142 "Set default mass calibration to 1 for nonspecific"
Mass calibration takes too long for non-specific searches

[2019-09-26 22:52] chhh commented on #142
88b4b35a4efe895164e94f46bf80b13a23fb34b1 closes it

[2019-09-26 22:52] #142 closed

[2019-09-27 13:42] May2020 commented on #141
Dear All,

Thanks for all of you! I will for sure try to restart my searches as suggested and keep you updated with the progress and result.
The modification is default setting and I did not add any more. So only two variable modifications.

BTW:
1. will the accuracy be affected if the mass calibration in MSFragger is turned off?
2. if my search is split into a few separated search by restricting

[2019-09-27 13:46] anesvi commented on #141
Do not turn mass calibration off (0), set it to 1 (calibrate, but do not look for optimal parameters)

You cannot do separate searches against peptides in different length ranges

From: May2020 [mailto:notifications@github.com]
Sent: Friday, September 27, 2019 9:43 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Mention <mention@noreply.github.

[2019-09-27 13:47] fcyu commented on #141
Hi Mei,

1. You may try setting `calibrate_mass = 1` that will calibrate mass but not optimize parameters. I guess it will save some time and still "keep the accuracy" to some extent.

2. To my knowledge, it is quite difficult to do so.

Best,

Fengchao

[2019-09-27 17:24] jspaezp commented on #35
(Feature request?)

I would also be nice .. in these regards:

Maybe adding as well annotations on how to change the params file when using high-high res data and high-low, comet has something similar that could be used as a template http://comet-ms.sourceforge.net/parameters/parameters_201901/.

Also some additional info on the parameters for the Prophets would be nice, in particular some  stuff

[2019-09-27 18:53] fcyu commented on #35
@jspaezp

Following are three parameter templates for closed, open, and non-specific search, respectively:
[https://github.com/Nesvilab/MSFragger/tree/master/parameter_files](https://github.com/Nesvilab/MSFragger/tree/master/parameter_files)

Following script has the parameters/command for Prophets and Reports:
[https://msfragger.nesvilab.org/tutorial_linux.html](https://msfragger.nesvilab.org/tut

[2019-09-30 22:32] tobigithub opened #143 "Bruker TIMSTOF Pro data files can not be imported (2019)"
# Describe the problem

* **I'm submitting a:**
  - [ x] problem running the software
  - [ ] bug report
  - [ x] feature request
  - [ ] question

* **My MSFragger use case:**
  - [ ] _Closed_ search (standard small precursor mass tolerance)
  - [ ] _Open_ search (large precursor mass tolerance)

 ** _put your general problem description here_ **
Bruker TIMSTOF PRO data (2019) from https://www.om

[2019-10-01 17:45] tobigithub commented on #143
**Solution**:
The MSFragger-2.1.jar file alone is not sufficient for Bruker data, the ZIP updater from http://msfragger.arsci.com/upgrader/ has to downloaded with a \ext\bruker subfolder containing all required DLLs.

[2019-10-01 17:45] #143 closed

[2019-10-01 17:47] anesvi commented on #143
Great!

Fengchao, can we make it more clear on the download side? I think someone else had the same problem before – downloaded without Ext folder

From: Tobias Kind [mailto:notifications@github.com]
Sent: Tuesday, October 01, 2019 1:45 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Bruker TIMSTOF Pro data file

[2019-10-01 18:11] tobigithub commented on #132
Just to comment, I had the same issue after a first fresh install of FragPipe, it would be nice to
have all the latest updates at once, especially because there are so many dependencies,
also in the GUI MSFragger has an update button, but philosopher does not, so it maybe
also add a update button there?

[2019-10-03 22:50] jd690764 opened #144 "config problem"
# Describe the problem
I am running fragpipe on windows 10 and after starting the run, I get an error

* **I'm submitting a:**
  - [x ] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [ ] question

* **My MSFragger use case:**
  - [x ] _Closed_ search (standard small precursor mass tolerance)
  - [ ] _Open_ search (large precursor mass tolerance)

 **This seems some con

[2019-10-03 22:53] anesvi commented on #144
Please download philosopher version 1.5.1

The crash you have is related to a bug in 1.5.0

Sent from my iPhone

On Oct 3, 2019, at 6:50 PM, jd690764 <notifications@github.com> wrote:

﻿
External Email - Use Caution
Describe the problem

I am running fragpipe on windows 10 and after starting the run, I get an error

  *   I'm submitting a:

     *   [x ] problem running the software
     *    bug

[2019-10-03 23:03] #144 closed

[2019-10-04 14:20] ChengkangLi opened #145 "Spectral Library Generation Script did not initialise correctly??"
# Describe the problem

* **I'm submitting a:**
  - [ ] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [Y] question

* **My MSFragger use case:**
  - [ ] _Closed_ search (standard small precursor mass tolerance)
  - [ ] _Open_ search (large precursor mass tolerance)

 ** FragPipe stop me once i press run button, it is my first time to start a search following the instr

[2019-10-04 14:42] fcyu commented on #145
Can you send us your log? It's should be in the folder of your results and the file name looks like "log-fragpipe-run-at_yyyy-mm-dd_hh-mm-ss.log".

Thanks,

Fengchao

[2019-10-04 14:44] #35 closed

[2019-10-04 18:24] chhh commented on #145
@ChengkangLi if it's your first time setting up a search I'd suggest turning off spectral library generation. And while you're just trying to set up your first search, uncheck what's not needed for the search itself:
- Uncheck "Generate Spectral Library from search results" on Report tab
- Uncheck "Label-free Quant" on Report tab
- Uncheck "Run PTM-Shepherd" on Report tab
- Uncheck "Run Crystal-C"

[2019-10-07 09:52] ChengkangLi commented on #145
Thank you for both of your answers.
@fcyu There is no log file generated, unfortunately, so it stop from the very beginning.
@chhh  I found an missing modules from the cofiguration page, the msproteomicstools, and i was then trying to get it from pip. however, error message popped out once again at this stage, while  PyMSNumpress was trying to be installed. and here i attached the message, in case

[2019-10-07 17:06] guoci commented on #145
@ChengkangLi what is the command?

[2019-10-08 05:41] csang66 opened #146 "Could not find or load main class Engines error on MSFragger"
# Describe the problem
I’ve been running MSFragger on FragPipe. Close searches works fine but it kept erroring out with open searches and at the Crystal-C step. I’ve attached the log file and was hoping you can advise what I can do.. Thanks

* **I'm submitting a:**
  - [X ] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [ ] question

* **My MSFragger use case:**
  - [

[2019-10-08 08:23] ChengkangLi commented on #145
@guoci  pip install msproteomicstools. and most of the related "files" were installed successfully, but not from this one.

[2019-10-08 14:05] fcyu commented on #146
@chuiyin Looks like it is a Crystal-C issue. Could you please take a look?

Thanks,

Fengchao

[2019-10-08 14:06] fcyu commented on #146
@huiyinc Looks like it is a Crystal-C issue. Could you please take a look?

Thanks,

Fengchao

[2019-10-08 15:59] huiyinc commented on #146
Hi,

According to your log file, it looks like there is a space in your folder
path: *C:\Users\cang\Desktop\Search Engines\MSFragger-2.1\ext\thermo*
Could you please change the folder "Search Engines" to "Search_Engines" and
try again?
Also, it would be great if you could tell us what your windows version is.
Thank you.

Huiyin

csang66 <notifications@github.com> 於 2019年10月8日 週二 上午1:41寫道：

--
Hui-

[2019-10-08 17:09] guoci commented on #145
@ChengkangLi can you use Anaconda Python3 and try again?
https://www.anaconda.com/distribution/#download-section

[2019-10-08 17:17] chhh commented on #146
@huiyinc They attached the log, Windows version is there at the top. Win10.

[2019-10-08 17:19] huiyinc commented on #146
OK, thanks.

Dmitry Avtonomov <notifications@github.com> 於 2019年10月8日 週二 下午1:17寫道：

--
Hui-Yin Chang, 張彙音
Research Fellow
Department of Pathology
University of Michigan

[2019-10-08 18:15] jd690764 opened #147 "error running peptideProphet as part of FragPipe"
# Describe the problem

* **I'm submitting a:**
  - [ x] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [ ] question

* **My MSFragger use case:**
  - [ x] _Closed_ search (standard small precursor mass tolerance)
  - [ ] _Open_ search (large precursor mass tolerance)

 ** _put your general problem description here_ **
peptideProphet cannot process output from msfragge

[2019-10-08 18:17] prvst commented on #147
Are you using a proper target-decoy database ? The following snippet from your log shows that Peptideprophet cannot find the decoys.

[code]

[2019-10-08 21:21] jd690764 commented on #147
Hi Felipe,

yes, that was the problem. Thank you for noticing it so quickly.

Janos

On Tue, Oct 8, 2019 at 11:17 AM Felipe Leprevost <notifications@github.com>
wrote:

[2019-10-08 23:15] csang66 commented on #146
Thanks guys for the help.

Yes it's the space issue and it has been fixed. Apologies for the trouble as I should've checked properly..

Regards

[2019-10-09 01:11] #146 closed

[2019-10-10 08:51] #141 closed

[2019-10-10 08:54] chhh commented on #137
@prvst was this resolved with phi 1.5.1? cant this be closed?

[2019-10-10 08:56] chhh commented on #122
no response from anyone

[2019-10-10 08:56] #122 closed

[2019-10-10 08:58] chhh commented on #105
@prvst is `--hocheck` now supported by all philospher commands, or better yet any philosopher invocation?

[2019-10-10 14:46] prvst commented on #137
Hi @CuypersBart , let's continue talking by email, as before. Let me know if you still having issues.
@chhh You can close it.

[2019-10-10 14:50] prvst commented on #105
not yet, I'll need more time to figure it out this one

[2019-10-11 05:33] #137 closed

[2019-10-18 15:41] ChengkangLi commented on #145
@fcyu @guoci sorry for the late reply, I have not have time to really try it. but I will give it a try some time in the future. Thank you very much.

[2019-10-24 19:23] chhh opened #148 "test issue, please ignore"
# Describe the problem

* **I'm submitting a:**
  - [ ] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [x] question

Will this show up in slack?

[2019-10-24 19:23] chhh commented on #148
It does show up in slack!

[2019-10-24 19:26] chhh commented on #148
And now subscribed to comments

[2019-10-24 21:04] #148 closed

[2019-10-29 13:40] fcyu commented on #52
This one has been implemented in e50aa5ade7b301c87eac0f5db45097ef679b8b79, right?

[2019-10-29 13:40] #52 closed

[2019-11-08 14:34] stharan opened #149 "Possible configuration issue for timsTOF data"
# Describe the problem

* **I'm submitting a:**
  - [ x] problem running the software
  - [ ] bug report
  - [ ] feature request
  - [ ] question

* **My MSFragger use case:**
  - [x ] _Closed_ search (standard small precursor mass tolerance)
  - [] _Open_ search (large precursor mass tolerance)

 ** _put your general problem description here_ **
I get an error trying to run a search.  Log file is

[2019-11-08 14:41] fcyu commented on #149
Thanks for your interest in analyzing timsTOF data using MSFragger and FragPipe.

You should specify the whole .d folder (in your example, should be `C:\data\Caprion\17Sept19\180919_K562_200ng_shortGrad_billerica_lockedAccum_0pt8_Slot1-9_1_367.d`) rather than a .d file inside the .d folder.

Best,

Fengchao

[2019-11-08 14:44] stharan commented on #149
Thank you for the quick reply.  Knew it was something silly as I was able
to process data two days ago.

Tharan Srikumar

On Fri, Nov 8, 2019 at 9:41 AM Fengchao <notifications@github.com> wrote:

[2019-11-08 14:45] fcyu commented on #149
No problem.

Fengchao

[2019-11-08 14:45] #149 closed

[2019-11-11 01:30] stharan opened #150 "IMquant crashes"
**Describe the bug**
A clear and concise description of what the bug is.
Search and prophets finish without issue, but IMquant crashes after loading file.

[log-fragpipe-run-at_2019-11-10_11-46-18.log](https://github.com/Nesvilab/FragPipe/files/3829354/log-fragpipe-run-at_2019-11-10_11-46-18.log)

----------------------
## If you're submitting a bug report, please attach log file

The log file can

[2019-11-11 01:37] fcyu commented on #150
Thanks for your interest in IMQuant. Could you please share the .d folder to me? You may upload your file to [https://www.dropbox.com/request/Hna04301aU4SQK0X079n](https://www.dropbox.com/request/Hna04301aU4SQK0X079n)

Thanks,

Fengchao

[2019-11-11 12:23] Nazrath10R commented on #128
Hey Felipe,

I have been eagerly anticipating this functionality and saw the release of v2.0.0. Given that is allows TMT support now, does that also include iTRAQ? (I'm in need to analyse loads of samples and nothing else is as fast as MS-Fragger!)

Appreciate all your continuous efforts in developing and maintaining these tools.

https://github.com/Nesvilab/philosopher/issues/65#issue-475457169

[2019-11-11 14:38] stharan commented on #150
Just wanted to confirm that you received the uploaded .d folder.

Tharan Srikumar

On Sun, Nov 10, 2019 at 8:37 PM Fengchao <notifications@github.com> wrote:

[2019-11-11 14:40] fcyu commented on #150
Hi Tharan,

I received the folder and am looking into it. Will keep you updated.

Thanks,

Fengchao

[2019-11-11 14:41] stharan commented on #150
Awesome.  Jumping on a flight in an hour, so just wanted to check before
loosing internet access.

Thanks for you help.

Tharan Srikumar

On Mon, Nov 11, 2019 at 9:40 AM Fengchao <notifications@github.com> wrote:

[2019-11-12 15:04] prvst commented on #128
@Nazrath10R
We haven't included iTRAQ support yet but we are planning it for an upcoming release.

[2019-11-12 15:55] Nazrath10R commented on #128
I see. Do you have an estimation for when the next release would be?
In the meanwhile, is it possible for me to run MS-Fragger with "default settings" for iTRAQ files and do the post-processing on philosopher after the next release? Or will Fragger need to also have a feature implemented to treat these ions appropriately in order to do this?
Thank you for the time taken to respond to this.

[2019-11-12 16:07] prvst commented on #128
I can't give you a precise estimate because sometimes we have to focus on other more critical issues, but I want to push the iTRAQ support before the end of the year. You can go ahead and start your searches with MSFragger, only philosopher needs to be updated.

[2019-11-12 16:32] Nazrath10R commented on #128
I understand. Thank you for pushing for it, I really appreciate that. I am going to go ahead with MS-fragger for now. Thanks again!

[2019-11-13 21:02] fcyu commented on #150
Hi Tharan,

We released a [new version](https://github.com/Nesvilab/FragPipe/releases/latest). Could you please try this one? Hopefully everything would work well for your data.

Best,

Fengchao

[2019-11-13 22:21] stharan commented on #150
Just tested it and works nicely.  Will try out with a dilution series and
report back.

Tharan

On Wed, Nov 13, 2019 at 4:02 PM Fengchao <notifications@github.com> wrote:

--
Tharan Srikumar

[2019-11-13 22:25] fcyu commented on #150
Excellent! I will close this issue since this one has been addressed. Please feel free to open another one if there is a new issue. Feedback is always more than welcome!

Thanks,

Fengchao

[2019-11-13 22:27] #150 closed

[2019-11-15 14:37] May2020 opened #151 "singly charged spectra"
Dear FragPipe developing team,

Just wondering whether FragPipe 12.0 can search MS2 spectra from singly charged precursor ions.
If it can, what kind of setting I should use other than the default setting?

thanks a lot
May

[2019-11-15 14:39] fcyu commented on #151
Hi May,

Thanks for your interest in FragPipe. Yes, it can. The default setting already support singly charged ions.

Best,

Fengchao

[2019-11-15 17:22] May2020 commented on #151
Great!

Thanks a lot for your instruction! Have a nice weekend!

[2019-11-15 17:23] #151 closed

[2019-11-18 15:58] May2020 commented on #151
The new version v12.0 and v12.1 really works better than before. I am working on nonspecific search and now got much less error message. I will keep working on it. Thanks a lot for your hard work!

[2019-11-20 16:52] JoshEbner opened #152 "Did not find any PeptideProphet results in input data!"
Hello everyone,

After ProteinProphet starts I get the following warning: no data - output file will be empty (but see the log file). The remaining tasks are then stopped.

I was wondering what I did wrong there, the interact.pep.xml file is clearly in the output directory and not empty. What is going on?

Best regards,
Joshua

----------------------
[log_2019-11-20_17-48-23.txt](https://github.co

[2019-11-20 17:00] fcyu commented on #152
Hi Joshua,

Thanks for your interest in FragPipe. Your log shows that there is not much PSMs in your data:
[code]
Could you please double check if your parameters meet the properties of your data?

Best,

Fengchao

[2019-11-20 17:43] JoshEbner commented on #152
Hi Fengchao,

Thank you for your reply. Yes, I noticed the low PSMs and was confused since a MaxQuant narrow search worked quite well.
I am a novice in Proteomics/FragPipe as I have a background in ecology. Could you recommend me the correct parameters for conducting an open search for the following type data?:
Orbitrap Fusion Lumos Tribrid MS (.raw file was converted to .mzML via MSConvert). A de

[2019-11-20 17:49] anesvi commented on #152
I see you search against a custom database
database_name = C:\Users\Wotuli32\Desktop\FragPipe_Trial\2019-11-20-td-OgDB_plus_Rf_Clean_CdHit.fasta

did you format it properly?
Does your decoy start with rev_?

https://github.com/Nesvilab/philosopher/wiki/How-to-Prepare-a-Protein-Database

From: JoshEbner <notifications@github.com>
Sent: Wednesday, November 20, 2019 12:43 PM
To: Nesvilab/FragPipe <Fr

[2019-11-20 17:53] fcyu commented on #152
Hi Joshua,

As what Alexey pointed out, your fasta file most likely to be the reason of the error. Could you please send your fasta file to us?

Thanks,

Fengchao

[2019-11-20 17:58] prvst commented on #152
It seems to be the search parameters, not the database.

[2019-11-20 18:06] JoshEbner commented on #152
Hi everyone,

Like Felipe, I also suspect that I have the wrong search parameters. I followed the database guidelines in the link you attached Alexey: "philosopher database --custom "file.fasta" --contam".

Here is a link to the database and the mzML file (hope this works): https://gofile.io/?c=q1UWWL

And here is a screenshot of the fasta file:
![Screenshot](https://user-images.githubusercontent.

[2019-11-20 19:17] fcyu commented on #152
Hi Josh,

Looks like your data is from low resolution MS2. There is a `<cvParam cvRef="MS" accession="MS:1000512" name="filter string" value="ITMS + c NSI r d Full ms2 382.18@cid35.00 [95.00-775.00]"/>` in your mzML indicates that the MS2 scan was from ion trap, while you set `fragment_mass_tolerance = 20.0`. I guess you need to change it to `fragment_mass_tolerance = 300` and have another try.

B

[2019-11-20 19:32] JoshEbner commented on #152
Hi Fengchao,

Ok, thanks! I will retry the run tomorrow with `fragment_mass_tolerance = 300` and re-formulate the database. I'll keep this post updated tomorrow if the "problem" got resolved.

Best,
Josh

[2019-11-20 19:48] fcyu commented on #152
Hi Josh,

Sounds good.

FYI, we do not recommend doing open search with low MS2 resolution data.

Best,

Fengchao

[2019-11-25 11:21] JoshEbner commented on #152
Hi Fengchao,

first of all thanks for all the help!
I know that open searching with low MS2 resolution data is not recommended but I will have high MS2 res data soon and wanted to test out the pipeline.

After reformatting the database and setting `fragment_mass_tolerance = 300` I got everything up and running. The only problem is that I run into a memory issue with FragPipe slowing down massively

[2019-11-25 14:47] fcyu commented on #152
Hi Josh,

`localize_delta_mass` tries to put delta mass to the residue(s) that result in the best match. Turning it off may reduce the sensitivity a little bit but won't hurt the whole result too much. If what you want was finding out what modifications your sample has, it would be totally fine without `localize_delta_mass`.

Best,

Fengchao

[2019-11-27 14:25] tobiasko opened #153 "wrong header line in reprint file?"
**Describe the bug**
A clear and concise description of what the bug is.

----------------------
## If you're submitting a bug report, please attach log file

The log file can be saved from FragPipe:

- by clicking the `Export Log` button on the `Run` tab.
- or just copy text from the output console on `Run` tab to a text file.

[2019-11-27 14:27] fcyu commented on #153
Can you send the log and a few lines of the reprint file to us?

Thanks,

Fengchao

[2019-11-27 14:30] anesvi commented on #153
I use reprint routinely, and it is fine. Not sure what the issue is

Sent from my iPhone

On Nov 27, 2019, at 9:25 AM, Tobias Kockmann <notifications@github.com> wrote:

﻿
External Email - Use Caution

Describe the bug
A clear and concise description of what the bug is.

________________________________
If you're submitting a bug report, please attach log file

The log file can be saved from FragP

[2019-11-27 14:34] tobiasko commented on #153
I generated the following analysis in FragPipe:

[code]

and got a reprint file head that looks like this:

[code]

I would say the order of line 2 is not matching.

[2019-11-27 14:36] tobiasko commented on #153
log file:
[log-fragpipe-run-at_2019-11-27_14-58-40.log](https://github.com/Nesvilab/FragPipe/files/3897261/log-fragpipe-run-at_2019-11-27_14-58-40.log)

[2019-11-27 14:44] tobiasko commented on #153
Saw this when uploading to the reprint server:

![image](https://user-images.githubusercontent.com/12233339/69732794-8d97f200-112c-11ea-9e55-bad12193d83a.png)

[2019-11-27 14:46] tobiasko commented on #153
FragPipe:

![image](https://user-images.githubusercontent.com/12233339/69733053-039c5900-112d-11ea-9b68-15c304d91603.png)

[2019-11-27 15:00] anesvi commented on #153
This looks like a philosophet bug to me then.

Felipe, reprint.tsv has incorrect annotation line

From: Tobias Kockmann <notifications@github.com>
Sent: Wednesday, November 27, 2019 9:44 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] wrong header line in reprint file? (#153)

[2019-11-27 15:04] fcyu commented on #153
@anesvi Yes, I reproduced this bug using two random mzML files:
![image](https://user-images.githubusercontent.com/6926299/69734545-26af1480-10fd-11ea-83dd-cbf24cdf9e00.png)

I will assign this issue to @prvst

Thanks,

Fengchao

[2019-11-27 15:27] tobiasko commented on #153
Thanks for helping! Is the 1st line matching the matrix columns? Can I just correct the 2nd using a text editor?

[2019-11-27 15:50] anesvi commented on #153
Need to check with Felipe which like is correct, I would think the first one is correct

[2019-11-27 16:11] tobiasko commented on #153
My data suggests the same.

[2019-11-27 16:12] prvst commented on #153
C2 should be CONTROL, right ?

[2019-11-27 16:21] anesvi commented on #153
you mean it should be capital letters, CONTROL? This is how I usually put it,, but I think reprint will work with 'control'. Doe sit break philosopher somehow, so it the order of columns is not right?

[2019-11-27 16:45] prvst commented on #153
No, it doesn't break it, It just the sorting of the headers that is different.

[2019-11-27 17:39] anesvi commented on #153
so something we need to fix?

[2019-11-28 11:13] tobiasko commented on #153
using `CONTROL` gives the right order:

[code]

...but I would def. argue that this is a very picky/not user friendly behavior.

[2019-11-28 13:10] anesvi commented on #153
I agree. Should be easy fix in philosopher

Sent from my iPhone

On Nov 28, 2019, at 6:13 AM, Tobias Kockmann <notifications@github.com> wrote:

﻿
External Email - Use Caution

using CONTROL gives the right order:

PROTID  CONTROL_1_SPC   CONTROL_2_SPC   IRF9_1_SPC      IRF9_2_SPC      STAT2_1_SPC     STAT2_2_SPC
na      CONTROL CONTROL IRF9    IRF9    STAT2   STAT2
A0AVK6  0       1       1

[2019-11-30 15:04] andyzim111 opened #154 "How to interpret the results of phosphopeptides by FragPipe?"
Hi, I used FragPipe to search phosphopeptides from MS data from TimsTOF pro, and got the identified phosphopeptides.

I am confused that how do I know the position of phosphorylated amino acid in the peptide?

The example is attached, where I can not find the position information of the phosphorylated amino acid in the phosphopeptide in the first line, considering two serine amino acids in the pep

[2019-11-30 15:09] fcyu commented on #154
I guess you were looking at `peptide.tsv` file, right? Entries in that table are nonredundant peptides, so a peptide with different phospho sites are collapsed into one entry. You may find the localization info from `psm.tsv` file.

Best,

Fengchao

[2019-11-30 15:17] andyzim111 commented on #154
Thanks for the quick reply.

I have found the information I needed in psm.tsv.

It is really fast for FragPipe to search TimsTOF pro data.

I am wondering when you are going to publish FragPipe papers and a lot of people who did not know the FragPipe waits for rescue from the dramatic slow search by Peaks and Maxquant.

[2019-11-30 15:20] fcyu commented on #154
Thanks for your positive feedback. We are working on it.

BTW, FragPipe also has a timsTOF label free quantification module named IMQuant. It is also much faster than its competitors. You may find it from the `Report` tab and have a try.

Best,

Fengchao

[2019-11-30 15:37] anesvi commented on #154
Thank you for your positive feedback.

We are working on the papers.

In the meantime, you can let others know that our tools work well for timsTOF data on twitter or in other ways. This will help us to promote the tools to the community

Best
Alexey

Sent from my iPhone

On Nov 30, 2019, at 10:17 AM, andyzim111 <notifications@github.com> wrote:

﻿
External Email - Use Caution

Thanks for the quic

[2019-11-30 18:10] vdemichev opened #155 "java.lang.NullPointerException"
**Describe the bug**

Launch FragPipe.exe (v12.1), click "Select LC/MS Files", click "Add files".
java.lang.NullPointerException error is then produced (please see the full error attached)
Java version 1.8.0_231 x86_64 on Windows 19 Pro x64. Tested on two machines.
[Java error.txt](https://github.com/Nesvilab/FragPipe/files/3907412/Java.error.txt)

----------------------
## If you're submitting a

[2019-12-01 05:07] andyzim111 commented on #154
Sorry for trouble you again.

In combined_peptide.tsv I found the peptide "EDPSAVPVFSVDYGELDFQWR" has the assigned modification "15.994900,79.966300", in which "79.966300" means phosphorylation and "15.994900" should be oxidation of M. But there is no M in the peptide.  I just set two modifications (Oxidation of M, and phosphorylation of STY) in the MSfragger in the closed search.

I did not find

[2019-12-01 05:09] andyzim111 commented on #154
![1](https://user-images.githubusercontent.com/46341795/69909824-d35dfe80-143b-11ea-9a70-a856ebee3a0a.png)

[2019-12-01 10:20] chhh commented on #155
@vdemichev What is the current location of the files? Are they on some sort of network storage?
Could you please try moving LCMS files to some other path? The error is strange in that it couldn't find a parent directory of your files, but that shouldn't normally happen.

[2019-12-01 10:41] vdemichev commented on #155
Hi @chhh ! I am not trying to open any specific files, I just click "Add files" and get this error. So I don't even see the file open menu. Trying to drag and drop a file from a local folder also yields the same error. I have just tried moving FragPipe to a third PC (copy-pasted FragPipe.exe to its Desktop), the PC did not have Java - I installed OpenJDK 13 (a link to download OpenJDK was opened a

[2019-12-01 14:09] fcyu commented on #154
That is weird. Could you please send your log (a file like `log-fragpipe-run-at_YYYY-MM-DD_HH-MM-SS.log`, `combined_peptide.tsv`, `psm.tsv`, and `peptide.tsv` to us?

Thanks,

Fengchao

[2019-12-01 14:59] fcyu commented on #154
@andyzim111 No longer need your files. I've reproduced your issue.

@prvst This is a Philosopher bug. I reproduced it with two random files from Gygi's data. Could you please take a look when you have time?

Thanks,

Fengchao

[2019-12-01 15:01] #152 closed

[2019-12-02 07:17] chhh commented on #155
@vdemichev Ok, that's something new, we've never seen this before. That certainly works for everyone else, so there must be something special about the computers you ran this on. Are they in any sort of a managed/restricted environment?

Tracing the code path for that button click I have no idea why this might be happening. Could you please try this build: https://github.com/chhh/FragPipe/releases

[2019-12-02 16:50] vdemichev commented on #155
Same error with that build. Should be nothing special about the PCs, one is just a home PC (no network drives, not on a domain).

[2019-12-02 16:58] vdemichev commented on #155
Solved :) The error occurs when MSFragger.jar path is not specified. I thought it would work with just DIA-Umpire & Philosopher. Thank you!

[2019-12-02 19:09] chhh commented on #155
Oh, ok, thanks for the report, I'll look into why this might be happening.

[2019-12-02 19:09] #155 closed

[2019-12-02 19:11] chhh opened #156 "Adding files throws NPE when path to MSFragger.jar is not specified"
To recreate just add files when Fragger jar is empty.
See #155

[2019-12-02 21:17] chhh commented on #156
Fixed in 10c1a9e

[2019-12-02 21:17] #156 closed

[2019-12-03 21:12] prvst commented on #154
fixed. added to source v2.1.0

[2019-12-03 21:12] #154 closed

[2019-12-04 20:04] prvst commented on #153
fixed. Added to source v2.1.0

[2019-12-04 20:04] #153 closed

[2019-12-04 22:37] Nazrath10R commented on #128
Sorry to be a bother about this. For iTRAQ 4-plex, do I need to specify anything in the Fragger settings?

Not sure if I am required to input it as a variable modification or just clear the peaks using "clear_mz_range = 114.0 117.0" maybe?

Thank you for your patience!

[2019-12-04 22:45] fcyu commented on #128
You definitely need to set some variable modifications corresponding to iTRAQ. Felip @prvst and Alexey @anesvi are better persons than me answering iTRAQ related questions. Maybe they can elaborate more.

Best,

Fengchao

[2019-12-05 19:20] prvst commented on #128
Yes, that would work

and you are not bothering, feel free to ask.

[2019-12-08 19:57] vdemichev opened #157 "Spectral library generation and/or quantification from MGF"
**Is your feature request related to a problem? Please describe.**
I am generating an .mgf with pseudo spectra from DIA data (not with DIA-Umpire). I would like to (i) run MSFragger search on these and quantify the IDs - preferably directly, without converting to .mzML (ii) generate a spectral library in OpenSWATH (or similar) format (i.e. tab-separated table).

What works now: I convert MGF to mz

[2019-12-08 20:49] anesvi commented on #157
Hi Vadim,

We have limited support for MGF because there are so many formats. However, Fengchao or someone can send you  some versions of MGF that MSFragger can work with.

I am not sure if SpectraST can deal with MGF.I forgot.  Guo Ci?

Label-free will not work with MGF (or  mzML from those MGF)  because the files are missing MS1 data.

Spectral library building in FragPipe works with mzXML gener

[2019-12-08 20:57] fcyu commented on #157
Hi Vadim,

MSFragger currently supports the MGF title ending with `scan_number.scan_number.charge`. We need to use the scan number to locate each scan, so your format (`TITLE=MS/MS of 443.843 at 19.8791`) is quite difficult to support. Could you please assign a unique scan number to each scan?

Best,

Fengchao

[2019-12-08 20:59] vdemichev commented on #157
Hi Alexey,

Many thanks for the swift reply and the explanations!

I was thinking about pre-calculating the quantity (MS1 peak integration) and including it in .mgf as PEPMASS=[m/z] [quantity]. But I guess rerunning with a spectral library would be better anyway in most cases.

Yes, exactly. I guess I just did not get the .tsv file (only .splib) because of that error.

[2019-12-08 21:03] vdemichev commented on #157
Hi Fengchao,

Thank you! Could you please give an example of such title? Is it OK to omit the charge (MSFragger seems to do deisotoping quite successfully by itself)?

[2019-12-08 21:17] fcyu commented on #157
Hi Vadim,

A title like `b1906_293T_proteinID_01A_QE3_122212.1882.1882.3` should be OK. If the precursor charge is unknown, you may use 0. Then, MSFragger would try all charge stats listed in the parameter `precursor_charge`.

Best,

Fengchao

[2019-12-08 21:38] vdemichev commented on #157
It works :) Thank you so much!

[2019-12-08 22:14] vdemichev commented on #157
I think I've figured out what's the problem with the spectral library generation: it cannot launch python because the path contains spaces. I guess the solution would be to put the path in quotes, i.e. ""C:/Program Files (x86)/.../python.exe" [args]" instead of just "C:/Program Files (x86)/.../python.exe [args]". But manual conversion to .mrm  with SpectraST works.

[2019-12-08 22:14] #157 closed

[2019-12-09 15:56] zrpeak opened #158 "Questions on IMQuant"
**Is your feature request related to a problem? Please describe.**
I was analyzing a set of timsTOF data. During quantification with IMQuant, the program met an out-of-memory error at the 10th file of the 12 and stopped.

**Describe the solution you'd like**
Is there a parameter for IMQuant to skip the quantified files (***_quant.csv files was generated) and restart from the unquantified files? It

[2019-12-09 16:47] fcyu commented on #158
Thanks for your interest in IMQuant. This can be done by using command line. Following is an example:
[code]
There can be multiple `--psm <path to psm.tsv>` flags according to your data. IMQuant will process all `*_quant.csv` files by skipping peak tracing and quantifying.

You may get detailed help info by typing
[code]

Best,

Fengchao

[2019-12-09 16:54] fcyu commented on #158
Sorry I forgot to mention that you can find those jar files by checking the command line printed by FragPipe. Here is an example from my computer:

[code]

Best,

Fengchao

[2019-12-11 16:44] fcyu commented on #158
You are welcome.

[2019-12-11 16:44] #158 closed

[2019-12-12 21:59] Dmorgen opened #159 "Crashed and won't run anymore"
Hi,

I've got 193 Raw files for non-specific search to run. started FragPipe running. during the file checks the software crashed (didn't save log... :( ). i've restarted the software and tired again. now when I hit the run button, the run doesn't start.

Thanks!
D.

[2019-12-12 21:59] appleorange opened #160 "MSFragger version 2.2 crashed"
Crashed when running the demo data set of Jesse G. Meyer "Fast Proteome Identification and Quantification from Data-Dependent Acquisition–Tandem Mass Spectrometry (DDA MS/MS) Using Free Software Tools"
[fragger.params.log](https://github.com/Nesvilab/FragPipe/files/3957983/fragger.params.log)
[log_2019-12-12_16-52-44.txt](https://github.com/Nesvilab/FragPipe/files/3957987/log_2019-12-12_16-52-44.t

[2019-12-12 22:04] fcyu commented on #159
Could you please try to close FragPipe, start it, run it, and copy the outputted text in the `Run` tab and paste it here?

Thanks,

Fengchao

[2019-12-12 22:19] Dmorgen commented on #159
here it is, thanks!

[log_2019-12-13_00-18-54.txt](https://github.com/Nesvilab/FragPipe/files/3958036/log_2019-12-13_00-18-54.txt)

[2019-12-12 23:03] chhh commented on #159
@Dmorgen is there a chance you could try that on a non-Windows Server machine? There's something about older Windows Servers (2008 and 2012) that makes it crash without any explanation.

[2019-12-12 23:04] Dmorgen commented on #159
I will check it – most of our assets are in VMs…

Thanks!
David.

From: Dmitry Avtonomov <notifications@github.com>
Sent: Friday, December 13, 2019 1:04 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: David Morgenstern <david.morgenstern@weizmann.ac.il>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Crashed and won't run anymore (#159)

@Dmorgen<https://github.co

[2019-12-12 23:06] chhh commented on #160
@fcyu We did include the "possible" fix for some of the raw-reader crashes in Fragger 2.2 release, right?

[2019-12-12 23:16] fcyu commented on #160
Yes, we let it try multiple times before crash. But this is the only change
I can remember.

On Thu, 12 Dec 2019 at 6:06 PM, Dmitry Avtonomov <notifications@github.com>
wrote:

--
Dr. Fengchao Yu
University of Michigan

[2019-12-12 23:17] chhh commented on #160
@fcyu Well, this is something different as there's no indication of what's happened. For those old cases it would report that it couldn't start the server, for example, or something similar.

[2019-12-12 23:29] armadillocommander opened #161 "ArrayIndexOutOfBoundsException during peak picking in Open Search"
The error happened during open search, while the peak picking step:
[code]
[log_2019-12-12_15-28-01.txt](https://github.com/Nesvilab/FragPipe/files/3958211/log_2019-12-12_15-28-01.txt)

[2019-12-12 23:49] chhh commented on #161
@danielgeiszler
[code]

[2019-12-13 00:07] chhh commented on #160
@appleorange At the link below you'll find a file `thermo.zip`. Unpack it somewhere, and first try manually running the executable there `BatmassIoThermoServer.exe` from command line. Should print something like:
[code]
Type `stop` and hit `Enter` to stop the application.

If that worked: Next to your `MSFragger.jar` file there is a folder `ext` with subfolder `thermo`. Rename it to something else

[2019-12-13 00:10] chhh commented on #159
@Dmorgen Another thing to try, this time on the same Win Server machine:

At the link below you'll find a file `thermo.zip`. Unpack it somewhere, and first try manually running the executable there `BatmassIoThermoServer.exe` from command line. Should print something like:
[code]
Type `stop` and hit `Enter` to stop the application.

If that worked: Next to your `MSFragger.jar` file there is a fold

[2019-12-13 06:28] Dmorgen commented on #159
Awesome, thanks!

D.

From: Dmitry Avtonomov <notifications@github.com>
Sent: Friday, December 13, 2019 2:10 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: David Morgenstern <david.morgenstern@weizmann.ac.il>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Crashed and won't run anymore (#159)

@Dmorgen<https://github.com/Dmorgen> Another thing to try, this time o

[2019-12-13 16:03] danielgeiszler commented on #161
Hi armadillocommander,

It looks like an issue with parameter parsing. This was corrected and will be fixed next release, but in the meantime you should be able to change the PTM-Shepherd variable mods parameter to "None:0" to fix the issue.

Let me know if this doesn't work so we can dig deeper.

[2019-12-13 18:19] Nazrath10R commented on #138
I have a follow-up question about combining different MS fractions/runs.

The feature in FragPipe to do this is very elegant and I really like it. Is there a way this can be done using command line MS-Fragger and philosopher? I am guessing I have to run MS-Fragger for each fraction but how do I combine the pepXML's before philosopher?

Thank you for your time.
Naz

[2019-12-13 18:32] nirkoty commented on #128
I am also very interested in this feature and have quite a lot of iTRAQ data to analyse. Will this be ready for the new year?

[2019-12-13 20:08] anesvi commented on #128
Are you using FragPipe or command line?

Sent from my iPhone

On Dec 13, 2019, at 1:32 PM, nirkoty <notifications@github.com> wrote:

﻿
External Email - Use Caution

I am also very interested in this feature and have quite a lot of iTRAQ data to analyse. Will this be ready for the new year?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https:

[2019-12-13 20:12] nirkoty commented on #128
I'm using command line

[2019-12-13 20:15] anesvi commented on #128
Then Felipe has a pipeline, and I believe the next release of philosopher (which is ready) has iTRAQ support. If you want to use TMT-Integrator, I think this should be ready soon too. Felipe?

From: nirkoty <notifications@github.com>
Sent: Friday, December 13, 2019 3:13 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Mention <mention@noreply.gi

[2019-12-13 20:39] Nazrath10R commented on #128
fantastic! Looking forward to it

[2019-12-16 12:12] Peer2011 opened #162 "Problem with FreeQuant"
Hey guys,
Trying your new FragPipe. Unfortunately, I got this error message during the Freequant task. Any idea how to solve this issue? Thanks for your efforts.

Best, Peer

Freequant [Work dir: D:\Mass_Spectrometry\Anal_Carcinoma_Projekt\MSFRAGGER_Analysis]
C:\Users\Public\Massenspektrometrie\FragPipe\philosopher.exe freequant --ptw 0.4 --tol 10 --isolated --dir D:\Mass_Spectrometry\Anal_Carcino

[2019-12-16 13:45] prvst commented on #162
there seems to be something wrong with your spectra file AK_03_Z_01533_13 , could you convert it again to mzML and try one more time ?

[2019-12-16 15:11] prvst commented on #138
please read [this](https://github.com/Nesvilab/philosopher/issues/90#issuecomment-557176932)

[2019-12-17 12:41] Dmorgen commented on #159
I’ve got error again, though different one… please see attached.

Thanks!
D.

From: Dmitry Avtonomov <notifications@github.com>
Sent: Friday, December 13, 2019 2:10 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: David Morgenstern <david.morgenstern@weizmann.ac.il>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Crashed and won't run anymore (#159)

@Dmorgen<https

[2019-12-17 14:23] fcyu commented on #159
I am sorry but I cannot find the attachment.

Best,

Fengchao

On Tue, Dec 17, 2019 at 7:41 AM Dmorgen <notifications@github.com> wrote:

--
Dr. Fengchao Yu
University of Michigan

[2019-12-17 15:07] Dmorgen commented on #159
How about now?

From: Fengchao <notifications@github.com>
Sent: Tuesday, December 17, 2019 4:24 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: David Morgenstern <david.morgenstern@weizmann.ac.il>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Crashed and won't run anymore (#159)

I am sorry but I cannot find the attachment.

Best,

Fengchao

On Tue, Dec 17, 2019

[2019-12-17 15:53] fcyu commented on #159
Still no. I think GitHub truncate the email somehow. You may need to login
GitHub, find the issue, and upload your file there.

On Tue, Dec 17, 2019 at 10:07 AM Dmorgen <notifications@github.com> wrote:

--
Dr. Fengchao Yu
University of Michigan

[2019-12-17 15:54] anesvi commented on #159
Or Just email directly

Sent from my iPhone

On Dec 17, 2019, at 10:53 AM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution
Still no. I think GitHub truncate the email somehow. You may need to login
GitHub, find the issue, and upload your file there.

On Tue, Dec 17, 2019 at 10:07 AM Dmorgen <notifications@github.com> wrote:

--
Dr. Fengchao Yu
University of Michigan

—
Y

[2019-12-17 20:26] appleorange commented on #160
Dear All,

Thanks for the prompt reply.  I tried the attached zip file: it does not
recognize the raw files, only mzXML files. Is this correct?

On Thu, Dec 12, 2019 at 7:07 PM Dmitry Avtonomov <notifications@github.com>
wrote:

[2019-12-17 20:29] chhh commented on #160
@appleorange No, that's strange. I believe you must have unpacked files to a wrong location.

But first things first - have you tried running `BatmassIoThermoServer.exe` to confirm that it at least starts properly on your machine as I asked?

[2019-12-17 20:38] appleorange commented on #160
Yes it seems to work.

On Tue, Dec 17, 2019 at 3:29 PM Dmitry Avtonomov <notifications@github.com>
wrote:

[2019-12-17 20:40] chhh commented on #160
Ok, at least that is good. I don't believe this last zip would work for you as there turned up an incompatibility with the released version of fragpipe, I'll send you another one today in a couple of hours, working on another possible solution that would be compatible.

[2019-12-18 00:20] chhh commented on #160
@appleorange Please try this one:
https://drive.google.com/file/d/1hKbAUzzaD9yFWH2_7skR-2hv0nyITEhP/view?usp=sharing
The files must be in `<somewhere MSFragger.jar is at>/ext/thermo`

[2019-12-18 00:23] chhh commented on #159
@Dmorgen There was an incompatibility with the last released version of fragpipe, I was testing against development version.
Please try this one :
https://drive.google.com/file/d/1hKbAUzzaD9yFWH2_7skR-2hv0nyITEhP/view?usp=sharing
Start with just one input file to see if the search works or not.

[2019-12-19 10:40] chhh commented on #159
Yet another thing to try:
This updated version of FragPipe - https://github.com/chhh/FragPipe/releases/tag/12.2-build9
And this updated version of the Thermo file reading layer - https://drive.google.com/file/d/1qQoHheVt8Kq42G3AASsSqlpzeTGw7wOZ/view?usp=sharing
This time not self-contained, but considering you could run the previous version, this one should most likely work as well (requires .NET

[2019-12-19 10:40] chhh commented on #160
@appleorange
Yet another thing to try:
This updated version of FragPipe - https://github.com/chhh/FragPipe/releases/tag/12.2-build9
And this updated version of the Thermo file reading layer - https://drive.google.com/file/d/1qQoHheVt8Kq42G3AASsSqlpzeTGw7wOZ/view?usp=sharing
This time not self-contained, but considering you could run the previous version, this one should most likely work as well (r

[2019-12-20 19:16] Tai-Du opened #163 "Crash of PTMShepherd"
Hey

Thanks for providing so useful search engine.
I am trying to use the open search for my research.
When I run the Fragpipe, it always crashed of PTMShepherd.
[log_2019-12-20_09-24-38.txt](https://github.com/Nesvilab/FragPipe/files/3989858/log_2019-12-20_09-24-38.txt)
The log file is too big to attach then I deleted some information of it.

I hope you can help solve this issue, as I would reall

[2019-12-20 19:23] fcyu commented on #163
Hi TaiDu,

Could you please delete the spaces in your folder name and try again?

Also, you'd better upgrade FragPipe and MSFragger to the latest version. There are a lot of improvements.

Best,

Fengchao

[2019-12-20 19:51] Tai-Du commented on #163
Thank you very much, Fengchao
I did not have any spaces in my folder name.
I will use the latest version to try again and report the result

TaiDu

[2019-12-20 19:55] fcyu commented on #163
Hi TaiDu,

Is this your folder name:
`E:\Public\TaiDu\SnaSS\20191219_Open_HC and T1D_with abundace variation PTM and CAcy`?

Best,

Fengchao

[2019-12-20 20:31] chhh commented on #163
Interesting how there's a mix of underscores and spaces. I'll add a guard for this one.

[2019-12-20 20:45] chhh commented on #163
@Tai-Du There definitely were spaces in paths like this one:
`E:\Public\TaiDu\SnaSS\20191219_Open_HC and T1D_with abundace variation PTM and CAcy\HC\interact.pep.xml`

[2019-12-20 21:01] chhh commented on #163
Fixed in development version. Added extra check for whitespaces in output directory path.

[2019-12-20 21:02] chhh commented on #161
I guess this can be closed as fixed in dev version, will appear in the next release?

[2019-12-20 21:46] danielgeiszler commented on #161
Yes, I need to merge dev and master.

[2019-12-20 21:48] #161 closed

[2019-12-20 21:49] Tai-Du commented on #163
Sorry for attaching the wrong file.
Please check this file for the problem.
I am using the new version to run again
Thank you very much~

[log_2019-12-20_10-58-46.txt](https://github.com/Nesvilab/FragPipe/files/3990413/log_2019-12-20_10-58-46.txt)

[2019-12-20 21:53] chhh commented on #163
@Tai-Du I don't know what the issue is so far, that's a question to @huiyinc.
In the meantime, just disable Crystal-C - go to the downstream tab and uncheck `Run Crystal-C`. It's supposed to do some cleanup of search results, but that's absolutely not critical to get you going for now.

[2019-12-20 22:46] chhh commented on #163
@Tai-Du One more important thing. You  don't actually have to redo the whole analysis. You can keep your search files and pick up where you left off the last time. To do that:
- specify the same input LCMS files
- uncheck `Run MSFragger` checkbox
- check the checkboxes for the downstream tools that you do want to run
- try it out - Run
You can redo the downstream analyses as many times as you need

[2019-12-20 22:50] Tai-Du commented on #163
Thank you for your recommendation!
I will try it

[2019-12-20 23:14] anesvi commented on #163
Crystal-C error I should be fixed in the latest FragPipe

Please update to the latest version of all tools

Sent from my iPhone

On Dec 20, 2019, at 4:49 PM, Tai-Du <notifications@github.com> wrote:

﻿
External Email - Use Caution

Sorry for attaching the wrong file.
Please check this file for the problem.
I am using the new version to run again
Thank you very much~

log_2019-12-20_10-58-46.txt<ht

[2019-12-20 23:46] Tai-Du commented on #163
Thank you, Alexey and Dmitry.
I had try to use the latest version, FragPope v12.1, for MSFragger open search.
However, it still crashed of PTMShepherd.

[log-fragpipe-run-at_2019-12-20_15-29-51.log](https://github.com/Nesvilab/FragPipe/files/3990696/log-fragpipe-run-at_2019-12-20_15-29-51.log)

[2019-12-20 23:49] chhh commented on #163
@Tai-Du Almost there, this is a known bug in PTMShepherd, will be fixed in the next public release, read this thread for the temporary fix: https://github.com/Nesvilab/FragPipe/issues/161

[2019-12-21 02:08] huiyinc commented on #163
Hi Tai-Du,

Could you please share your mzML, pepXML, and fasta files so we can take a
look of the error: Can't find target peptides.
Thank you.

Huiyin

Dmitry Avtonomov <notifications@github.com> 於 2019年12月20日 週五 下午6:49寫道：

--
Hui-Yin Chang, 張彙音
Research Fellow
Department of Pathology
University of Michigan

[2019-12-21 09:19] huiyinc commented on #163
Hi Tai-Du,

Thanks for sharing us your files.
After checking, there is no error when running Crystal-C and I get the
cleaned pepXML file (as attached)
Do you reprocess the file with different parameter setting?
Thank you.

Huiyin
 UC4_HumanIslets_Flo_01_3Feb17_Oak_16-11-39_c.pe...
<https://drive.google.com/file/d/1yuelE_gmj2mLc1kZNTiDUFHGsQ-tdmrD/view?usp=drive_web>
.
UC4_HumanIslets_Flo_01_3Feb17

[2019-12-21 10:59] Dmorgen commented on #159
Looks like it’s working. Thanks!

D.

From: Dmitry Avtonomov <notifications@github.com>
Sent: Thursday, December 19, 2019 12:40 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: David Morgenstern <david.morgenstern@weizmann.ac.il>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Crashed and won't run anymore (#159)

Yet another thing to try:
This updated version of F

[2019-12-21 17:17] Tai-Du commented on #163
Hi Chuiyin,

The attach is my parameter setting.
Is it correct?
Thank you very much

TaiDu

[log-fragpipe-run-at_2019-12-20_15-29-51.log](https://github.com/Nesvilab/FragPipe/files/3991634/log-fragpipe-run-at_2019-12-20_15-29-51.log)

[2019-12-22 02:17] huiyinc commented on #163
Hi TaiDu,

According to your log file, there is no error in Crystal-C, and the error
happens in PTMshepherd:

Exception in thread "main" java.lang.ArrayIndexOutOfBoundsException: 1
at java.util.Arrays$ArrayList.get(Arrays.java:3841)
at
edu.umich.andykong.ptmshepherd.peakpicker.PeakAnnotator.init(PeakAnnotator.java:192)
at edu.umich.andykong.ptmshepherd.PTMShepherd.main(PTMShepherd.java:328)
create

[2019-12-22 13:20] Dmorgen commented on #159
Just FYI - it works well

[2019-12-22 14:01] anesvi commented on #159
Good to hear!

And let us know if you have any feedback, e.g. suggestions for options we lacking compared to other tools for PTM analysis

Sent from my iPhone

On Dec 22, 2019, at 5:20 AM, Dmorgen <notifications@github.com> wrote:

﻿
External Email - Use Caution

Just FYI - it works well

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github

[2019-12-23 18:48] appleorange commented on #160
Hi Dmitry,

Thanks for your replies.  I tried these new updates, but none of them
worked.  The log files are attached.

On Thu, Dec 19, 2019 at 5:40 AM Dmitry Avtonomov <notifications@github.com>
wrote:

[2019-12-24 08:59] chhh commented on #160
@appleorange You replied by email to this GitHub issue thread, but GitHub does not support email attachments in replies. You need to log into github and reply to the issue directly, attaching the file. Thank you and happy holidays!

[2019-12-25 14:21] Dmorgen commented on #159
Hi,

I think the most useful thing for us would be a good viewer with a very good annotator, especially for open/mass shift searches. The more outrageous the finding, the more we need to visually validate things… this is something byonic does extremely well and is lacking also with MM.

Thanks!
D.

From: Alexey Nesvizhskii <notifications@github.com>
Sent: Sunday, December 22, 2019 4:01 PM
To: Nesv

[2019-12-25 14:55] fcyu commented on #159
Thanks for your suggestion. For now, we recommend using [PDV](https://github.com/wenbostar/PDV) that supports our output files.

Best,

Fengchao

[2019-12-25 14:55] #159 closed

[2019-12-25 15:00] Dmorgen commented on #159
Just to make sure – does it support the mass shift annotation?

Thanks!
D.

From: Fengchao <notifications@github.com>
Sent: Wednesday, December 25, 2019 4:55 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: David Morgenstern <david.morgenstern@weizmann.ac.il>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Crashed and won't run anymore (#159)

Thanks for your sugge

[2019-12-25 15:03] fcyu commented on #159
Automatically, no. But you can manually edit the peptide by adding the mass shift to certain residue inside PDV.

[2019-12-25 15:08] Dmorgen commented on #159
Thanks!

From: Fengchao <notifications@github.com>
Sent: Wednesday, December 25, 2019 5:03 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: David Morgenstern <david.morgenstern@weizmann.ac.il>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Crashed and won't run anymore (#159)

Automatically, no. But you can manually edit the peptide by adding the mass shift to cer

[2019-12-25 21:15] chhh commented on #159
@Dmorgen you can try DeltaMass (https://github.com/chhh/deltamass) for some sort of visualization with annotations. Not sure if that's what you're looking for

[2019-12-25 21:23] Dmorgen commented on #159
Thanks!

From: Dmitry Avtonomov <notifications@github.com>
Sent: Wednesday, December 25, 2019 11:15 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: David Morgenstern <david.morgenstern@weizmann.ac.il>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Crashed and won't run anymore (#159)

@Dmorgen<https://github.com/Dmorgen> you can try DeltaMass (https://github.com/

[2020-01-05 11:21] Dmorgen opened #164 "Defining N-terminal protease"
Hi,
 I'm using some N-temrinal enzymes (lysN, LysArginase, AspN) alone or in combination with other enzymes. Can you add the possibility of using these to the GUI?

Thanks!
D.

[2020-01-05 13:51] fcyu commented on #164
Thanks for your interest in FragPipe and MSFragger. Currently, it doesn't support N-terminal enzymes.

Best,

Fengchao

[2020-01-05 13:53] #163 closed

[2020-02-04 14:56] fcyu commented on #160
No feedback.

[2020-02-04 14:56] #160 closed

[2020-02-04 14:56] fcyu commented on #162
No feedback.

[2020-02-04 14:56] #162 closed

[2020-02-05 23:59] pavanu-niper opened #165 "Java issue error in when using Windows 10"
**Describe the bug**
A clear and concise description of what the bug is.

----------------------
## If you're submitting a bug report, please attach log file

The log file can be saved from FragPipe:

- by clicking the `Export Log` button on the `Run` tab.
- or just copy text from the output console on `Run` tab to a text file.

[2020-02-06 00:00] pavanu-niper commented on #165
[log_2020-02-05_18-51-49.txt](https://github.com/Nesvilab/FragPipe/files/4162594/log_2020-02-05_18-51-49.txt)

[2020-02-06 00:01] pavanu-niper commented on #165
[log-fragpipe-run-at_2020-02-05_18-51-45.log](https://github.com/Nesvilab/FragPipe/files/4162597/log-fragpipe-run-at_2020-02-05_18-51-45.log)
[log-fragpipe-run-at_2020-02-05_18-47-23.log](https://github.com/Nesvilab/FragPipe/files/4162598/log-fragpipe-run-at_2020-02-05_18-47-23.log)

[2020-02-06 00:03] chhh commented on #165
Can you share the file `HCC1806_F-2_E-1_M22_5µl_I-1_01.mzML`? Looks like the file is corrupted or something.

[2020-02-06 00:41] pavanu-niper commented on #165
Hi

My raw data file is generated from Agilent Q-TOF with format.d. I have converted this file to .mxML.

How to share the raw data file.

[2020-02-06 00:50] chhh commented on #165
How did you convert? With ProteoWizard's MsConvert program?
How to share a file? - Upload it somewhere, maybe to dropbox or google drive or some ftp server.

[2020-02-06 00:54] chhh commented on #165
Or send your email to dmitriya@umich.edu and we will create a public folder for you to upload the files

[2020-02-06 00:55] pavanu-niper commented on #165
Hi
Here is the link
https://drive.google.com/open?id=1qCNbh5yHBnRMafEqyyTjMM5U7xKSlet8

Yeah used MSConvertGUI

[2020-02-06 14:20] melechco opened #166 "'SpecLibGen' Error"
I am trying to generate a library but it failed (both Windows and Linux). Everything is updated. Thanks!
[log_2020-02-06_18-18-43.txt](https://github.com/Nesvilab/FragPipe/files/4165538/log_2020-02-06_18-18-43.txt)

[2020-02-06 14:26] fcyu commented on #166
Thanks for your interest in FragPipe and MSFragger.

@guoci Can you take a look when you have time?

@melechco May I ask a not-so-relevant question: could you help to check if your data was from high resolution MS2?

Thanks,

Fengchao

[2020-02-06 14:27] anesvi commented on #166
Guo Ci can you take a look. Things looked fine until one of the last steps

Sent from my iPhone

On Feb 6, 2020, at 9:21 AM, melechco <notifications@github.com> wrote:

﻿
External Email - Use Caution

I am trying to generate a library but it failed (both Windows and Linux). Everything is updated. Thanks!
log_2020-02-06_18-18-43.txt<https://github.com/Nesvilab/FragPipe/files/4165538/log_2020-02-06_

[2020-02-06 14:31] melechco commented on #166
Thanks for your quick response!
Yes, the data were acquired in high resolution (MS1 and MS2, Q-E HF-X).
Thanks

On Thu, Feb 6, 2020 at 11:26 AM Fengchao <notifications@github.com> wrote:

[2020-02-06 14:40] anesvi commented on #166
Some quick observations

I think there are files where only few peptides were identified and PeptideProphet failed

This could cause a crash (Guo Ci - maybe we can find a way to skip pep.xml with no peptides identified with high probability)

But I am not sure why you have such runs. I noticed you used 5 ppm mass tolerance for precursor. It is too narrow. Try with 20ppm.

Alexey

Sent from my iPho

[2020-02-06 14:52] melechco commented on #166
Thanks Dr. Nesvizhskii,
The data came from a fractionation experiment (24 fractions) and some of them have few peptides.
I've been using only 5 ppm to try to be more stringent. Our instrument is well calibrated and typically we've got sub 2 ppm. We would like to include only nice spectra in this library. We've been using SearchGui/Peptide Shaker and Skyline and it seemed to us to improve library q

[2020-02-06 15:09] anesvi commented on #166
You can share a few files with us, we can take a look on our side too

We are wondering why our calibration step selects The highest (30ppm ) tolerance for ms2. Usually it is below 20

Sent from my iPhone

On Feb 6, 2020, at 9:52 AM, melechco <notifications@github.com> wrote:

﻿
External Email - Use Caution

Thanks Dr. Nesvizhskii,
The data came from a fractionation experiment (24 fractions) and s

[2020-02-06 17:58] melechco commented on #166
Same problem searching with 20 ppm.
How many mzML files would help?
Can I share mzML within GitHub?
Thanks
[log-fragpipe-run-at_2020-02-06_20-21-37.log](https://github.com/Nesvilab/FragPipe/files/4166913/log-fragpipe-run-at_2020-02-06_20-21-37.log)

[2020-02-06 18:00] fcyu commented on #166
@melechco Can you send me your email address? I can share a MBox folder with you to upload the data.

My email address is yufe@umich.edu

Thanks,

Fengchao

[2020-02-06 18:08] anesvi commented on #166
Looks like the error is not with empty pep.xml files. I was wrong

I see this

SpecLibGen [Work dir: /home/valdemir/Data/plasmaproteomics_15min/Fragpipe_closedsearch20ppm]
/usr/bin/python3.7 -u /tmp/fragpipe/speclib/gen_con_spec_lib.py /home/valdemir/Data/FASTA/2019-08-30-td-rev-UP000005640.fas /home/valdemir/Data/plasmaproteomics_15min/Fragpipe_closedsearch20ppm /home/valdemir/Data/plasmaproteomi

[2020-02-06 18:59] guoci commented on #166
@melechco try this fix
https://drive.google.com/file/d/15EwKVm4tajyIjG6jvuaaQti6fhebuwa_/view?usp=sharing

[2020-02-07 08:15] chhh commented on #165
@pavanu-niper Most likely problem is file naming - file name has a greek "mu" symbol in the name. This symbol is then used inside mzml and causes problems with indexing scans inside the file.
Inserting special symbols in file names / paths is not a very good idea in general, a lot of tools won't like it.
Try renaming the original file (`μ` -> `u`), converting with msconvert, and running again.

[2020-02-07 10:28] chhh commented on #165
This will likely be fixed in the next release though

[2020-02-07 14:25] BR-metal commented on #145
When I installed Python 3.0.1 and added it's location on the config tab the error about the spectral library generation was resolved.

[2020-02-07 16:42] melechco commented on #166
Just an update...
I'm going to upload the data from home this weekend because the firewall is
blocking everything.
Thanks!

On Thu, Feb 6, 2020 at 9:26 AM Fengchao <notifications@github.com> wrote:

[2020-02-07 16:47] prvst commented on #166
@guoci you can try using Box to request him for a file, we can send the file upload request from our accounts.

[2020-02-07 18:56] melechco commented on #166
Hi all,
I've just finished processing with the updated FragPiep-12.2.jar.
It advanced in the speclib generation process but interrupted in the middle.
This evening I'll upload mzML files from home.
Thank you all!
Have a nice weekend!

[log_2020-02-07_22-47-01.txt](https://github.com/Nesvilab/FragPipe/files/4172466/log_2020-02-07_22-47-01.txt)

[2020-02-07 19:08] guoci commented on #166
@melechco Please send me a `tar.gz` of your `/tmp/fragpipe/` directory, through the Box invite.

[2020-02-10 22:57] melechco commented on #166
Hi. I upload it in two large tar.gz this weekend. They will uncompress into 48 files from two fractionation experiment and could be processed together. Thanks

[2020-02-11 17:50] Tai-Du opened #167 "Crash of PeptideProphet"
Hi guys,

Thanks for providing so useful search engine.
Recently, the PeptideProphet fails to establish the mixture model when I use the open search in FragPipe.
I attached the log file
[log-fragpipe-run-at_2020-02-10_13-48-14.log](https://github.com/Nesvilab/FragPipe/files/4187230/log-fragpipe-run-at_2020-02-10_13-48-14.log)

Thank you in advance,
TaiDu

[2020-02-11 17:53] fcyu commented on #167
The log (pasted in the following) shows that your data doesn't have many high quality PSMs. Could you please double check your data and parameters?
[code]

Best,

Fengchao

[2020-02-11 17:53] #167 closed

[2020-02-11 18:13] chhh commented on #165
@pavanu-niper Has this solved the problem?

[2020-02-12 14:04] BR-metal opened #168 "missing iproph.pep.xml and not recognising python installed programs"
There is a failure of Fragger to recognize the installed python modules (see attached screen shot). I have restarted the computer etc. ). this is preventing the generation of the iproph.pep.xml file required to build the library in skyline and continue the analysis. Log file from a run witht he test data described in Meyer 2019 Methods and protocols is attached.

Blaine

![Intalled](https://user-i

[2020-02-12 15:45] fcyu commented on #168
Thanks for your interest in FragPipe and MSFragger. Building a spectral library using Skyline only needs interact-*.pep.xml, which you already have. The python environment is only used for building a spectral library with SpectraST shipped with FragPipe. If you don't need to run SpectraST, it is totally fine without Python.

The warning message in your third picture is due to the wrong path of Phi

[2020-02-12 15:46] fcyu commented on #166
@guoci Did you solve the problem?

Thanks,

Fengchao

[2020-02-12 16:48] BR-metal commented on #168
I had the skyline error you mentioned too. I tried to generate the library directly from the pep.xml files generated by dragged but it said no spectra were found . so I thought I must require the iproph.pep.xml thanks for clarifying the spectraST library part.

Let me know when there is a fix for skyline files.

Thank you,
Blaine

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________

[2020-02-12 16:49] fcyu commented on #168
No problem. Will let you know when it is ready.

Best,

Fengchao

[2020-02-12 17:21] guoci commented on #166
@melechco I am still waiting for your file.

[2020-02-12 17:40] melechco commented on #166
Hi @guoci, I uploaded it.
Is there something wrong with it?

[image: image.png]

On Wed, Feb 12, 2020 at 2:21 PM guoci <notifications@github.com> wrote:

[2020-02-12 18:20] guoci commented on #166
I need the above.

[2020-02-13 01:02] melechco commented on #166
Done.
Thanks!

On Wed, Feb 12, 2020 at 3:20 PM guoci <notifications@github.com> wrote:

[2020-02-13 20:19] guoci commented on #166
@melechco Thanks for the uploads.
I have updated the jar, please download it again and rerun.
https://drive.google.com/file/d/15EwKVm4tajyIjG6jvuaaQti6fhebuwa_/view?usp=sharing

[2020-02-14 12:43] AaronMillOro commented on #166
Hi everyone.
I was testing FragPipe to generate Spectral libraries from DDA samples generated in a TIMS-TOF Pro. This in a Debian-based local computer.  When I run DDA analysis everything goes well. But there is an error appearing each time that I try to generate a Spectral Library.  I would appreciate any suggestion. Thanks!

The two logs

This try was run using the updated jar file provided by @

[2020-02-14 14:21] fcyu commented on #166
Hi @AaronMillOro

Thanks for your interest in FragPipe and MSFragger. Current version cannot build a spectral library using timsTOF data. We will release a new version by adding another spectral library building module in the future.

Best,

Fengchao

[2020-02-14 14:46] AaronMillOro commented on #166
Thank you for your feedback @fcyu ! Looking forward for the future module releases. I found really nice the way FragPipe exploits the pasef technology. Best regards!
Aaron :shipit:

[2020-02-14 20:49] jgmeyerucsd opened #169 "iProphet within/after multiple MS-fragger searches?"
Related to combining multiple search results in fragpipe, should I be running:

philosopher iprophet interact*

after my FragPipe finishes to combine my results?

At one point I thought FragPipe ran iProphet for me, but I can't figure out how...

Trying to get the best input to Skyline

[2020-02-14 20:57] fcyu commented on #169
Thanks for your interest in FragPipe and MSFragger. The latest version uncheck "Generate peptide level summary" by default. You may check it and see if it is what you want.

![image](https://user-images.githubusercontent.com/6926299/74566961-b61cd480-4f42-11ea-8b98-e24c7f44c696.png)

Best,

Fengchao

[2020-02-14 21:44] jgmeyerucsd commented on #169
Thanks for the info, trying now. Is it correct that iProphet is the most statistically rigorous way to combine the results?

[2020-02-14 21:46] fcyu commented on #169
I think @anesvi is a better person than me answering this question.

[2020-02-14 21:49] anesvi commented on #169
It generally works well. But it depends on the application too. What are you trying to do? Build a spectral library filtered to certain FDR? At what level?

Sent from my iPhone

On Feb 14, 2020, at 4:44 PM, Jesse G. Meyer <notifications@github.com> wrote:

﻿
External Email - Use Caution

Thanks for the info, trying now. Is it correct that iProphet is the most statistically rigorous way to combine

[2020-02-14 21:59] jgmeyerucsd commented on #169
I want to build a spectral library in skyline based on all the peptide identifications at 1% FDR - i ask about iProphet because it seems that you can also get a single pep.xml from fragpipe (that does not use iProphet, right?)

[2020-02-14 22:24] anesvi commented on #169
Yes, in FragPipe you can get either single pep.xml or multiple ( one for each file). We only do iprophet in fragpipe  when specifying experiments to group subsets of the data. I am happy to tell you more, but we actually first need to address some issue with loading pep.xml in Skyline. We are getting an error now.

Sent from my iPhone

On Feb 14, 2020, at 4:59 PM, Jesse G. Meyer <notifications@git

[2020-02-14 22:47] jgmeyerucsd commented on #169
I've been getting that error on and off too. That would be great if you
could tell me when you fix it.

Meanwhile I'll keep doing iprophet to combine my files

On Fri, Feb 14, 2020, 4:24 PM Alexey Nesvizhskii <notifications@github.com>
wrote:

[2020-02-15 02:49] anesvi commented on #169
We are told it will be fixed in the next release of Skyline-daily

Sent from my iPhone

On Feb 14, 2020, at 5:47 PM, Jesse G. Meyer <notifications@github.com> wrote:

﻿
External Email - Use Caution
I've been getting that error on and off too. That would be great if you
could tell me when you fix it.

Meanwhile I'll keep doing iprophet to combine my files

On Fri, Feb 14, 2020, 4:24 PM Alexey Nesvi

[2020-02-16 15:30] andyzim111 opened #170 "ddaPASEF searches error."
**Describe the bug**
A clear and concise description of what the bug is.
I used FagePipe to search ddaPASEF RAW data. Error happened, and it shows "Bruker native libraries not found."
The FagePipe version is 12.2, and MSFagger version is 2.3.
[log-fragpipe-run-at_2020-02-16_23-21-04.log](https://github.com/Nesvilab/FragPipe/files/4210020/log-fragpipe-run-at_2020-02-16_23-21-04.log)

--------------

[2020-02-16 15:34] fcyu commented on #170
Thanks for your interest in FragPipe and MSFragger. Do you have the `ext` folder along with MSFragger-2.3.jar?

Best,

Fengchao

[2020-02-17 05:50] andyzim111 commented on #170
Yes, I have the ext folder.
you can see the attached screenshot.
![image](https://user-images.githubusercontent.com/46341795/74626904-33875580-518c-11ea-9f82-fbdf590b78d4.png)
![ext](https://user-images.githubusercontent.com/46341795/74626965-5dd91300-518c-11ea-99ba-e599dbc3e3d4.png)

[2020-02-17 14:44] fcyu commented on #170
Thanks for your prompt reply, Another possible reason is that Bruker's library needs [Visual C++ Redistributable for Visual Studio 2017](https://aka.ms/vs/16/release/VC_redist.x64.exe). In few cases, Windows doesn't have this installed. Could you please help to check and install it?

@chhh This is the only reason I can figure out. Could you please take a look and see if there is any other reasons?

[2020-02-17 17:58] chhh commented on #170
@fcyu Unfortunately there's not much to look at. It should be working..

@andyzim111 Could you please try the following: Start fragpipe from command line (`cmd.exe` or `powershell`) with an additional parameter, like this:

[code]

and try a TIMS file again?

[2020-02-17 18:01] fcyu commented on #170
@chhh I had a similar problem with our Linux server because the C++ std library was too old. The error message is still "Bruker native libraries not found.". I wonder if it is possible to print a more informative message.

[2020-02-17 22:15] melechco commented on #166
Hi all,
I've just finished processing with the updated FragPiep-12.2.jar.
It advanced in the speclib generation process but interrupted in the middle.
This evening I'll upload mzML files from home.
Thank you all!
Have a nice weekend!

[log_2020-02-07_22-47-01.txt](https://github.com/Nesvilab/FragPipe/files/4172466/log_2020-02-07_22-47-01.txt)

[2020-02-17 22:18] melechco commented on #166
Hi,
I've just finished with the updated jar but it is still returning an error.
I'll upload this /tmp/fragpipe this evening.
Thanks a lot!

On Thu, Feb 13, 2020 at 3:19 PM guoci <notifications@github.com> wrote:

[2020-02-18 08:35] andyzim111 commented on #170
I used "java -Dbruker.lib.path="D:\Fragpipe\MSFragger-2.3\ext\bruker" -jar FragPipe-12.2.jar"
It shows "Error: Unable to access jarfile FragPipe-12.2.jar".

[2020-02-18 08:39] chhh commented on #170
@andyzim111 This error is shown when it can't find the file. Did you change (`cd`) to the directory where the jar file is? Alternatively specify the full path to the jar file.

[2020-02-18 08:47] andyzim111 commented on #170
I downloaded the FragPipe.exe file to run.
I will download the FragPipe.jar to try.

[2020-02-18 09:10] andyzim111 commented on #170
I used "java -Dbruker.lib.path="D:\Fragpipe\MSFragger-2.3\ext\bruker" -jar FragPipe-12.2.jar"
It shows " cannot find or load .lib.path=D:\Fragpipe\MSFragger-2.3\ext\bruker".

[2020-02-18 12:04] andyzim111 commented on #170
I successfully search RAW files from thermo lumos and mzML files converted from .d files.

[2020-02-18 13:10] andyzim111 commented on #170
@fcyu, I have downloaded Visual C++ Redistributable for Visual Studio 2017 and installed it.
FragPipe can search .d files now. Thanks.

[2020-02-18 13:46] anesvi commented on #170
I am glad to hear it is resolved

Looks like we need to add a note somewhere (on the Website? Informative error message from FragPipe or MSFragger? ) that using .d files may require installing Visual C++ Redistributable for Visual Studio 2017

From: andyzim111 <notifications@github.com>
Sent: Tuesday, February 18, 2020 8:10 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <sub

[2020-02-18 14:18] fcyu commented on #170
Sounds great! Added the notes to [https://github.com/Nesvilab/MSFragger/blob/master/README.md](https://github.com/Nesvilab/MSFragger/blob/master/README.md) and [https://github.com/Nesvilab/MSFragger/blob/master/tutorial_fragpipe_pasef.md](https://github.com/Nesvilab/MSFragger/blob/master/tutorial_fragpipe_pasef.md).

Best,

Fengchao

[2020-02-18 14:18] #170 closed

[2020-02-18 16:53] guoci commented on #166
I can see the error in your log:
`PermissionError: [Errno 13] Permission denied: '/tmp/fragpipe/speclib/linux/spectrast'`
which I have fixed in the updated jar. In fact, I can run `/tmp/fragpipe/speclib/linux/spectrast` successfully.
Can you delete `/tmp/fragpipe/speclib/`, then restart FragPipe?

[2020-02-18 20:54] melechco commented on #166
Hi Guoci,
I deleted  /tmp/fragpipe/speclib/, restarted FragPipe and run again.
Unfortunatelly it is stopping at SpecLibGen. I´m going to upload this
evening.
Thanks once again.

On Tue, Feb 18, 2020 at 1:53 PM guoci <notifications@github.com> wrote:

[2020-02-19 17:38] guoci commented on #166
@melechco thanks for the upload. Can you try the following? It will take a minute.
1. Start Fragpipe.
2. open a `python` terminal, paste the following, and show me the output.
    `import subprocess;subprocess.run('/tmp/fragpipe/speclib/linux/spectrast')`

[2020-02-19 17:49] melechco commented on #166
Sure!
Just a question:
Should I just load Fragpipe and execute the python command  or should I
press run and execute it anytime, or only while Fragpipe is doing the
spectral lib generation?
Thanks!

On Wed, Feb 19, 2020 at 2:38 PM guoci <notifications@github.com> wrote:

[2020-02-19 17:53] guoci commented on #166
@melechco Just start FragPipe, make sure the spectral library generation is enabled, no need to press run.

[2020-02-19 17:58] melechco commented on #166
The output was:

subprocess;subprocess.run('/tmp/fragpipe/speclib/linux/spectrast')
SpectraST (version 5.0, TPP v5.0.0 Typhoon, Build 201610181424-exported
(Linux-x86_64)) by Henry Lam.

(I) CREATE MODE
Usage: spectrast [ options ] <FileName1> [ <FileName2> ... <FileNameN> ]
where: FileNameX = Name of file containing spectra from which library is to
be created.
                          Extension

[2020-02-19 18:04] guoci commented on #166
@melechco In your log from your latest run, did you see the following line?
`PermissionError: [Errno 13] Permission denied: '/tmp/fragpipe/speclib/linux/spectrast'`

[2020-02-19 18:13] melechco commented on #166
No.

SpectraST started at Wed Feb 19 00:43:10 2020.
Processing
"/home/valdemir/Data/plasmaproteomics_15min/closedsearch20200218/interact-B_pHgrad15min_1.pep.xml"...500...DONE!
Processing
"/home/valdemir/Data/plasmaproteomics_15min/closedsearch20200218/interact-B_pHgrad15min_10.pep.xml"...DONE!
Processing
"/home/valdemir/Data/plasmaproteomics_15min/closedsearch20200218/interact-B_pHgrad15min_11.pep

[2020-02-19 20:34] guoci commented on #166
@melechco thanks. The bug was resolved. The current error was caused by a missing module.
Can you install the python module `matplotlib` and rerun?

[2020-02-19 20:37] anesvi commented on #166
Guo Ci and Dmitry, can you create a tutorial for installing/running FragPipe on Linux? What python modules need to be installed?

I think our current document
https://msfragger.nesvilab.org/tutorial_setup_fragpipe.html
covers only Windows

Thanks
Alexey

From: guoci <notifications@github.com>
Sent: Wednesday, February 19, 2020 3:35 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizh

[2020-02-20 00:09] melechco commented on #166
Excellent!
Thanks for your dedication Guoci.
Very much appreciated!

On Wed, Feb 19, 2020 at 3:34 PM guoci <notifications@github.com> wrote:

[2020-02-22 22:00] anesvi commented on #166
Were you finally able to run it?
We appreciate your feedback,  and thank you for using the tools.
Best,
Alexey

Sent from my iPhone

On Feb 19, 2020, at 7:10 PM, melechco <notifications@github.com> wrote:

﻿
External Email - Use Caution
Excellent!
Thanks for your dedication Guoci.
Very much appreciated!

On Wed, Feb 19, 2020 at 3:34 PM guoci <notifications@github.com> wrote:

—
You are receiving t

[2020-02-24 15:22] melechco commented on #166
Sorry for the delay.
It is ultrafast! Amazing!
I still exploring the output.
Should I expect a .splib file or tsvs?
Thank you

On Sat, Feb 22, 2020 at 5:00 PM Alexey Nesvizhskii <notifications@github.com>
wrote:

[2020-02-24 17:16] guoci commented on #166
@melechco you should get a file named `con_lib.tsv`.

[2020-02-24 23:05] anesvi commented on #166
What software are you planning to use with the spectral libraries?

Sent from my iPhone

On Feb 24, 2020, at 10:22 AM, melechco <notifications@github.com> wrote:

﻿
External Email - Use Caution
Sorry for the delay.
It is ultrafast! Amazing!
I still exploring the output.
Should I expect a .splib file or tsvs?
Thank you

On Sat, Feb 22, 2020 at 5:00 PM Alexey Nesvizhskii <notifications@github.com>
w

[2020-02-25 15:01] AaronMillOro commented on #166
Hi again,
I wanted to test the Spectral Library generation but this time I used different files.
These 8 mzML files were obtained in  an Orbitrap Fusion Lumos Tribrid on DDA mode. Then I followed the recommended tutorial but it stopped in the last step

[code]
I ran this in a Debian workstation and installed the recommended python 3 modules.

I attach the log file here:

[log-fragpipe-run-at_2020-

[2020-02-25 15:47] anesvi commented on #166
First, and this is why it probably crashed, you need to run the Filter command. It is missing in your log. Did you unckeck ‘Generate Report’ box FragPipe Report tab? Please put it back

Second, something wrong with your fasta. Try using the database downloaded by philosopher first.
2020-02-18-decoys-one_fasta_file.fasta
I see some weird warnings from ProteinProphet like:
WARNING: Trying to compute

[2020-02-26 13:07] AaronMillOro commented on #166
Hi, thanks for the quick response.

I tried this time with the two recommendations:
i) selected the generate report option, and
ii) downloaded the database from uniprot using philosopher (no custom database as in the previous post)

It seems to stop in the last step. Here the log file:

[log-fragpipe-run-at_2020-02-26_13-41-14.log](https://github.com/Nesvilab/FragPipe/files/4255797/log-fragpipe-ru

[2020-02-26 13:35] melechco commented on #166
Good morning,
Skyline.
Thanks

On Mon, Feb 24, 2020 at 8:05 PM Alexey Nesvizhskii <notifications@github.com>
wrote:

[2020-02-26 13:59] anesvi commented on #166
if you succeed at getting con_lib.tsv in Skyline, please let us know what you did. With Skyline we have been importing interact.pep.xml files
Alexey

Sent from my iPhone

On Feb 26, 2020, at 8:35 AM, melechco <notifications@github.com> wrote:

﻿
External Email - Use Caution
Good morning,
Skyline.
Thanks

On Mon, Feb 24, 2020 at 8:05 PM Alexey Nesvizhskii <notifications@github.com>
wrote:

—
You ar

[2020-02-26 19:39] guoci commented on #166
@AaronMillOro Please try the following jar and let me know the outcome.
https://drive.google.com/file/d/1aHqb_BRgWPRK0zzVpyulBsYw0ycwcJgH/view?usp=sharing

[2020-02-26 21:08] stephvanstich opened #171 "MAc OS X"
Good day, I have run into issue trying to run this program on a mac althought I have seen that it is feasible. my issue is with philosopher. I have been able to make the fasta on a PC we have around but the memory is kindof low so can not use it for the full program. on my mac, I am not sure which of the philosopher exe file I need, it always comes back as an error when I run the pipeline MS fragg

[2020-02-26 21:11] anesvi commented on #171
Sorry, bad news. The key components of Philosopher (PeptideProphet etc.) do not run on Mac.

You would have to find a Windows or Linux machine
Speaking of memory, what do you have and what kind of searches are you trying to do? For regular searches, memory requirements are quite low.

Alexey

From: Stephanie OLIVIER_VAN STICHELEN <notifications@github.com>
Sent: Wednesday, February 26, 2020 4:08 P

[2020-02-27 16:37] stephvanstich commented on #171
Thanks, i have successfully(almost) run the software on a windows until this pop up. Any idea why and how to fix it?!

Stephanie Olivier-Van Stichelen
Assistant professor
Dpt of Biochemistry, Medical College of Wisconsin

________________________________
From: Alexey Nesvizhskii <notifications@github.com>
Sent: Wednesday, February 26, 2020 3:11 PM
To: Nesvilab/FragPipe
Cc: Stephanie OLIVIER_VAN ST

[2020-02-27 16:40] fcyu commented on #171
That's mainly because PeptideProphet and ProteinProphet used by Philosopher do not compatible with OS X.

[2020-02-27 16:40] #171 closed

[2020-02-27 16:41] stephvanstich commented on #171
sorry forgot to attached the issue. here it is:

Exception in thread "main" java.lang.reflect.InvocationTargetException
 at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
 at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
 at sun.reflect.DelegatingMethodAccessorImpl.invoke(Unknown Source)
 at java.lang.reflect.Method.invoke(Unknown Source)
 at com.simontuffs.onejar.Boot.r

[2020-02-27 16:41] stephvanstich commented on #171
I am on windows now!

On Thu, Feb 27, 2020 at 10:40 AM stéphanie OLIVIER <
stephanie.olivier.etud@gmail.com> wrote:

[2020-02-27 16:44] fcyu commented on #171
Sorry, I thought your question is "Any idea why (Philosopher doesn't support OS X) and how to fix it?!"

For your error, that's because of not enough memory. Can you share your whole log and fragger.params with us?

Thanks,

Fengchao

[2020-02-27 17:31] stephvanstich commented on #171
Yes I have find a computer that has enough. here is the parameter for that
run.

On Thu, Feb 27, 2020 at 10:44 AM Fengchao <notifications@github.com> wrote:

[2020-02-27 18:01] #169 closed

[2020-02-27 18:02] fcyu commented on #165
No feedback.

[2020-02-27 18:02] #165 closed

[2020-02-28 15:18] AaronMillOro commented on #166
@guoci Thanx for your last message and sorry for the delay. I tested the last jar file and I got the following error message, just after the SpecLibGen line code:

`Traceback (most recent call last):
    File "/tmp/fragpipe/speclib/gen_con_spec_lib.py", line 82, in <module>
    os.environ['PATH'] = pathlib.Path(sys.executable).parents[1] / 'bin' + os.pathsep + os.environ['PATH']
TypeError: unsuppo

[2020-02-28 17:59] guoci commented on #166
@AaronMillOro Please try the updated jar [FragPipe-12.3-build7.jar](https://drive.google.com/file/d/1aHqb_BRgWPRK0zzVpyulBsYw0ycwcJgH/view?usp=sharing).

[2020-03-01 07:24] andyzim111 opened #172 "How to know the position of the observed modifications in an opensearch?"
**Describe the bug**
A clear and concise description of what the bug is.
I have performed an opensearch using a phosphopeptide mzML data converted from RAW files.
In peptide.tsv, ion.tsv and psm.tsv, I can see many modifications at one peptide.
For example, "PSATSHSGSGSK" has no assigned modification and two observed modifications, "Phospho(79.966331), Sulfo(79.956815)". I can not find which amino

[2020-03-01 15:39] anesvi commented on #172
This is more a question for Philosopher, but I can explain

Assigned modifications are those that were specified as variable modifications in MSFragger search

Observed modifications are what open search finds. If there is a mass shift on the peptide, it will map it to UniMod and shows the mappings in the Observed column. Phospho and Sulpho have similar mass, so both are shown. But there is only o

[2020-03-01 17:57] fcyu commented on #172
Hi @andyzim111,

If you would like to know the open modifications your data have, I have a small suggestion additional to Alexey's detailed explanation: you can use PTMShepherd (your log shows that you've checked that box, but because you were using the raw file, which is not supported by PTMShepherd for now, PTMShepherd could not produce any result) by converting your raw file into mzML according

[2020-03-02 07:15] andyzim111 commented on #172
@anesvi , thanks for the explanation of "assigned modifications" and "observed modifications".
@fcyu , I used the mzML file not the RAW file.
I was wondering why the log shows the RAW file.
I am trying the opensearch again.

[2020-03-02 09:00] andyzim111 commented on #172
@fcyu , I have tried three mzML files, and PTMShepherd did not run in all cases.
These centroid mzML files were converted from RAW files using MSconvert (Version: 3.0.19311-2045238a9).

[log-fragpipe-run-at_2020-03-02_16-52-42.log](https://github.com/Nesvilab/FragPipe/files/4274390/log-fragpipe-run-at_2020-03-02_16-52-42.log)

[log-fragpipe-run-at_2020-03-02_15-49-37.log](https://github.com/Nesvil

[2020-03-02 14:22] fcyu commented on #172
Hmm, that is weird because there is an error message from PTMShepherd but the input is indeed mzML:
[code]

@danielgeiszler and @chhh  Do you have any suggestion?

Best,

Fengchao

[2020-03-02 17:14] danielgeiszler commented on #172
Hi @andyzim111,

Do you happen to have both raw and mzML file sin the same directory? It looks like PTMShepherd might trying to read both mzML and raw files if that's the case.

I'll fix this for the next release, but in the meantime if you need results you could simply move the raw files into a different directory so that PTM-Shepherd does not detect both raw and mzML.

[2020-03-03 06:39] andyzim111 commented on #172
@danielgeiszler ,I removed raw files to another folder, and PTMShepherd still can not run.
I deleted the *mgf files generated by FragPipe, then PTMShepherd finally works.

[2020-03-03 06:48] andyzim111 commented on #172
@anesvi , I find the peptide "PSATSHSGSGSK" in file.tsv.
There is a column named "best_locs", where the peptide "PSATSHSGSGSK" is shown as "PSATSHsgsGSK". I do not know the meaning of the amino acids in lower case.
 Does this mean the amino acids in lower case "s" or "g" or "s" are probably modified with "Phospho(79.966331)" or "Sulfo(79.956815)"?

[2020-03-03 13:02] NotValdemaras opened #173 "Insufficient memory! error"
Hi, I am trying to identify some phosphopeptides from Ti-IMAC enrichment, however I get Insufficient memory error and I do not understand what I am doing wrong. Could you please help me out here?

[log_2020-03-03_13-56-02.txt](https://github.com/Nesvilab/FragPipe/files/4281366/log_2020-03-03_13-56-02.txt)

[2020-03-03 13:08] fcyu commented on #173
The log has -Xmx8g, which may be not enough for some cases, in the
MSFregger’s command. Since this value was based on your memory size, we
suggest you increasing your memory.

Best,

Fengchao

On Tue, 3 Mar 2020 at 8:02 AM, NotValdemaras <notifications@github.com>
wrote:

--
Dr. Fengchao Yu
University of Michigan

[2020-03-03 13:34] NotValdemaras commented on #173
Is there anything I can change in the identification so that 8GB would be enough? That is all the RAM I have on my laptop.

[2020-03-03 13:38] fcyu commented on #173
You can try to reduce the max missed cleavages to 0, reduce the max
digested length to 40, and reduce max mod per peptide to 1.

We also noticed that a recent change overestimates the required memory. We
can give you a bleeding edge version fixing that if you want.

Best,

Fengchao

On Tue, 3 Mar 2020 at 8:34 AM, NotValdemaras <notifications@github.com>
wrote:

--
Dr. Fengchao Yu
University of Mic

[2020-03-03 13:59] anesvi commented on #173
Phospho search? I do not see phosphorylation specified as variable modification, based on the log file.That will increase the search space even more, but you can also try the split option ( if python installed)

Sent from my iPhone

On Mar 3, 2020, at 8:09 AM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution
The log has -Xmx8g, which may be not enough for some cases, in t

[2020-03-03 14:10] NotValdemaras commented on #173
Ups, that one is on me. I added the log file for the run attempt where I switched STY off, to see if it would solve the memory problem.

I tried changing the parameters you suggested, but I still get the memory error. I noticed that the max modification parameter does not change and the log shows this message:

Unknown parameters:
	max_variable_mods_per_mod = 3

[2020-03-03 14:23] fcyu commented on #173
@NotValdemaras That unknown parameter is a deprecated one. It won't affect the result.

Also, as Alexey mentioned, adding phosphorylation as variable modifications requires much more memory. You can try split database if you have python environment set up as [this tutorial](https://github.com/Nesvilab/MSFragger/blob/master/tutorial_setup_fragpipe.md).

Best,

Fengchao

[2020-03-03 14:23] anesvi commented on #173
8Gb should be fine for regular (no phospho search). Perhaps you do need to get Fengchao’s new version with a  memory estimation fix.
For phospho, I think you will need to use Split option in FragPipe if you only have 8G.

From: NotValdemaras <notifications@github.com>
Sent: Tuesday, March 3, 2020 9:11 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.e

[2020-03-03 14:28] anesvi commented on #166
What is the latest on that? Was the issue resolved?

[2020-03-03 14:38] fcyu commented on #172
@andyzim111 Yes, the lower case character(s) indicate the possible location(s) of the open modification.

Best,

Fengchao

[2020-03-03 14:41] anesvi commented on #172
To add to that, if several AA are marked (with lower case letter) it means that those positions are equally scoring (same highest score) and we cannot say which site is modified exactly

From: Fengchao <notifications@github.com>
Sent: Tuesday, March 3, 2020 9:39 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Mention <mention@noreply.github.com

[2020-03-03 14:54] AaronMillOro commented on #166
Dear @guoci and @anesvi ,
I ran this morning the latest jar update. Unfortunately it did not generate the spectral library. Below you could find the log file.

[log-fragpipe-run-at_2020-03-03_11-56-28.log](https://github.com/Nesvilab/FragPipe/files/4281897/log-fragpipe-run-at_2020-03-03_11-56-28.log)

[2020-03-03 15:53] guoci commented on #166
@AaronMillOro Where is your file `spectrast2spectrast_irt.py` installed at?

[2020-03-03 16:28] AaronMillOro commented on #166
it is in the Anaconda directory, more precisely in this path:

/home/amillan/anaconda3/bin

It was added on 15/03/2019

[2020-03-03 16:51] guoci commented on #166
@AaronMillOro You need to use the Python from Anaconda, or add `/home/amillan/anaconda3/bin` to your `PATH` environment variable when starting FragPipe.

[2020-03-03 17:28] AaronMillOro commented on #166
Oh, now it works, and is really fast!

Thanks a lot for all these exchanges and for the time to develop great tool !

Here the successful  log :

[log-fragpipe-run-at_2020-03-03_18-25-30.log](https://github.com/Nesvilab/FragPipe/files/4282688/log-fragpipe-run-at_2020-03-03_18-25-30.log)

[2020-03-04 03:21] andyzim111 commented on #172
@anesvi, The explanation is clear.
@fcyu , @danielgeiszler , Thanks for your quick reply.
BTW. I have a little suggestion, the peptide.tsv or ion.tsv should include the modification localization information.

[2020-03-04 05:33] anesvi commented on #172
Thanks, we would like to add it. Philosopher needs to be able to parse that info. It does not do it now.
Best,
Alexey

Sent from my iPhone

On Mar 3, 2020, at 10:21 PM, andyzim111 <notifications@github.com> wrote:

﻿
External Email - Use Caution

@anesvi<https://github.com/anesvi>, The explanation is clear.
@fcyu<https://github.com/fcyu> , @danielgeiszler<https://github.com/danielgeiszler> , Thank

[2020-03-04 16:07] #172 closed

[2020-03-04 16:08] #166 closed

[2020-03-05 16:34] tobiasko opened #174 "out of memory error when running IonQuant"
Hi FragPipe team,

[code]
How much memory is recommended for IonQuant? Does it scale with the size & number of the tdf_bin? Are memory settings on the FragPipe MSFragger tab also used for IonQuant.

[log-fragpipe-run-at_2020-03-05_15-05-31.log](https://github.com/Nesvilab/FragPipe/files/4294017/log-fragpipe-run-at_2020-03-05_15-05-31.log)

Thx,
Tobi

[2020-03-05 16:37] fcyu commented on #174
Hi Tobi,

Thanks for your interest in IonQuant. For a 2h timsTOF run, we recommend at least 20 GB, while you provided 15GB. And yes, the memory settings on the FragPipe is used for IonQuant.

Best,

Fengchao

[2020-03-05 16:38] tobiasko commented on #174
I just realized one of my questions is answered by this:

[code]

[2020-03-05 16:39] tobiasko commented on #174
So 15 Gig is hard coded in FragPipe?

[2020-03-05 16:40] fcyu commented on #174
No, if you set 0 here
![image](https://user-images.githubusercontent.com/6926299/76003503-21205200-5ed6-11ea-8cd4-0518432540da.png)

FragPipe would automatically pick a value based on the free memory on you PC.

[2020-03-05 16:44] tobiasko commented on #174
ok. thx!

[2020-03-05 16:44] fcyu commented on #174
No problem.

[2020-03-05 16:44] #174 closed

[2020-03-05 20:28] Usman095 opened #175 "Unable to handle spaces in path strings"
Hi,
I'm getting the following error near the end of the execution:
![image](https://user-images.githubusercontent.com/6886675/76022787-d4e50a00-5ef5-11ea-9c10-0678634697d3.png)

Is there a workaround for this or is there a timeline on when it might get a fix?

Thanks,
Usman

[2020-03-05 21:13] guoci commented on #175
@Usman095 try this fix:
https://drive.google.com/file/d/1aHqb_BRgWPRK0zzVpyulBsYw0ycwcJgH/view?usp=sharing

[2020-03-05 21:16] guoci commented on #175
@Usman095 try this fix:
https://drive.google.com/file/d/1aHqb_BRgWPRK0zzVpyulBsYw0ycwcJgH/view?usp=sharing

[2020-03-09 17:19] BR-metal commented on #168
Hi Fencahao,
Is the incompatibility issue with the lasses skyline on MSFragger results resolved? And if so does it require anything more than downloading the latest version?

Blaine

On Feb 12, 2020, at 11:50 AM, Fengchao <notifications@github.com<mailto:notifications@github.com>> wrote:

No problem. Will let you know when it is ready.

Best,

Fengchao

—
You are receiving this because you authore

[2020-03-09 17:32] fcyu commented on #168
Not yet.

[2020-03-11 16:14] chliu1992 opened #176 "TMT labelquant after MSFragger search results downstream post-processing through FragPipe"
Hi,
   I take a test with three TMT-6plex mzML files using FragPipe. After downstream post-processing,I try to perform the philosopher labelquant function directly in the output directory setted in the FragPipe . So I create an annotation.txt and run the command:

philosopher labelquant --brand tmt --plex 6 --dir F:\MSFragger_test\TMT6_data_analysis2

And it does not work., errors appear with"Cann

[2020-03-11 18:19] fcyu commented on #176
@prvst, No, it's Philosopher's problem. FragPipe even does not have labelquant.

Could you please transfer it back?

[2020-03-11 18:21] prvst commented on #176
@chliu1992 could you explain better what you did ? Did you used the graphical interface ?

[2020-03-11 18:28] chhh commented on #176
@prvst They ran fragpipe to get search results. Afterwards they try to run philosopher labelquant manually and it fails for them.

[2020-03-11 18:32] anesvi commented on #176
It is because of this workspace thing in philosopher. FragPipe removes it after the analysis complete ( clean command)

Sent from my iPhone

On Mar 11, 2020, at 2:29 PM, Dmitry Avtonomov <notifications@github.com> wrote:

﻿
External Email - Use Caution

@prvst<https://github.com/prvst> They ran fragpipe to get search results. Afterwards they try to run philosopher labelquant manually and it fails

[2020-03-12 02:44] chliu1992 commented on #176
Yes,I ran fragpipe to get search results.After that I tried to run philosopher labelquant followed the command"philosopher labelquant --brand tmt --plex 6 --dir F:\MSFragger_test\TMT6_data_analysis2" and it falied.

[2020-03-12 02:56] anesvi commented on #176
As I said, not going to work. FragPipe cleans the workspace as the last step. Which you still need to continue the analysis. You need to run all commands outside of FragPipe for now. We plan to add label-quant and TMT support in FragPipe  the future. For now just run all command line.

From: Conghui Liu <notifications@github.com>
Sent: Wednesday, March 11, 2020 10:45 PM
To: Nesvilab/FragPipe <Frag

[2020-03-12 03:01] chliu1992 commented on #176
I checked the .meta filefolder and It seems that the philosopher needs some files which are not in the reports generated by FragPipe.
Another question,why not put the labelquant function on the Fragpipe interface?

[2020-03-12 03:02] chliu1992 commented on #176
@anesvi Get it.Thank you very much!

[2020-03-12 09:14] chhh commented on #176
@chliu1992 This will be added to fragpipe, just not there yet

[2020-03-12 11:04] bhavya5vinay opened #177 "failed opening file: The system cannot find the file specified.​"
[log_2020-03-12_15-04-52.txt](https://github.com/Nesvilab/FragPipe/files/4323725/log_2020-03-12_15-04-52.txt)
**Describe the bug**
I am trying to run mzxml files on fragpipe to get mass spec data output but I am getting struck with error saying file isnt there. I uploaded mzxml files and reference fasta file and ran MSfragger with default parameters in fragpipe. Please help resolve this issue. `Sy

[2020-03-12 11:48] anesvi commented on #177
It looks like you did not run MSFragger. Did you uncheck that box on MSFragger tab?

Sent from my iPhone

On Mar 12, 2020, at 7:04 AM, bhavya5vinay <notifications@github.com> wrote:

﻿
External Email - Use Caution

log_2020-03-12_15-04-52.txt<https://github.com/Nesvilab/FragPipe/files/4323725/log_2020-03-12_15-04-52.txt>
Describe the bug
I am trying to run mzxml files on fragpipe to get mass spec

[2020-03-12 13:36] mcundell opened #178 "non-specific search issues"
Hi,

I am having difficulty running non-specific search.  I load the default non-specific search configuration and add a few variable mods (oxidation MHW, deamidation NQ).  However, I cannot get the job to complete and I have various errors.  I can get the search to complete with the default mods selected with the non-specific search configuration.  I presume therefore that all my issues are due t

[2020-03-12 13:42] anesvi commented on #178
You may need to set Split to a higher value than 2. However, I am not sure if the error is actually memory related.
Guo Ci, can you take a look.

From: mcundell <notifications@github.com>
Sent: Thursday, March 12, 2020 9:37 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Nesvilab/FragPipe] non-specific search issues (#178)

External E

[2020-03-12 15:54] guoci commented on #178
It looks like there is some error with the parsing.
[code]

[2020-03-13 14:39] mcundell commented on #178
Do you think it looks like a bug or might I have set something up wrong?  Let me know if you need me to test any variables.  Thank you for looking into this!

[2020-03-13 15:52] fcyu commented on #178
@mcundell I am not sure about the reason. Can you try it one more time? If still failed, could you convert raw files to mzML according to [this tutorial](https://github.com/Nesvilab/MSFragger/blob/master/tutorial_convert.md) and try it?

Best,

Fengchao

[2020-03-13 16:04] mcundell commented on #178
I tried again with slightly different mods and it failed at main search:
[log_2020-03-13_15-58-27.txt](https://github.com/Nesvilab/FragPipe/files/4330425/log_2020-03-13_15-58-27.txt)

I will try the convert.  It may take me a few days as I will have to wait for our IT department to do the install of Proteowizard.  I will let you know how i get on.  Thank you for the help.

Best,

Michael

[2020-03-13 16:06] fcyu commented on #178
Sorry to hear that. If appropriate, we can try your data for you. Send an email to yufe@umich.edu if you want.

Best,

Fengchao

[2020-03-13 18:07] chhh commented on #177
Definitely did not run MSFragger. Make sure the checkbox `Run MSFragger` is checked at the top of MSFragger tab. Before starting analysis also click `Print commands` on the `Run` tab, and check that there are commands relating to running MSFragger.

[2020-03-13 18:08] #176 closed

[2020-03-14 09:00] bhavya5vinay commented on #177
The MS fragger tab is frozen to make changes in the software but the run msfragger bar was checked already. However I couldn't make any modifications in that tab of the software.

[2020-03-14 09:14] chhh commented on #177
@bhavya5vinay

[2020-03-14 09:16] chhh commented on #177
@bhavya5vinay Did you download MSFragger? The tab is frozen if you don't have MSFragger configured. What does the first tab say - the one where you configure paths to MSFragger jar file and Philosopher?

[2020-03-14 09:45] bhavya5vinay commented on #177
Yes, I have given the path of MS fragger, but it notifies me saying it requires 64-bit java. I clicked the java download link and downloaded it, but the suggestion is still notifiedi in the first tab.
I sincerely thank you for your quick support

[2020-03-14 12:18] fcyu commented on #177
You need to uninstall your old 32 bit java, then install 64 bit java to
make sure that the system path has the path pointing to the 64 bit one. Or,
if you know how to edit the system path, replacing the 32 bit one with 64
bit one.

Best,

Fengchao

On Sat, 14 Mar 2020 at 5:45 AM, bhavya5vinay <notifications@github.com>
wrote:

--
Dr. Fengchao Yu
University of Michigan

[2020-03-16 03:55] bhavya5vinay commented on #177
Thanks, I'll try to fix system path to 64 bit and get back

[2020-03-16 06:57] bhavya5vinay commented on #177
Hello,
I uninstalled the 32 bit java and installed 64 bit as suggested. The MSFragger tab was not frozen anymore and I could check the run option here for closed search (I did not change any other parameters in this tab). However, when I ran the fragpipe software, It still gives me error attached below. Kindly help me resolve it.

`System info:
System OS: Windows 10, Architecture: AMD64
Java Info:

[2020-03-16 07:45] chhh commented on #177
@bhavya5vinay At the top of MSFragger tab increase allocated memory.

This is strange, @guoci - didn't you make `0` ram be `autodetect` or am I mixing it up?

[2020-03-16 10:59] bhavya5vinay commented on #177
Do you mean RAM space increase? It was auto set to 0 RAM and 3 threads. I did not change any settings. Do you suggest I increase RAM ?

[2020-03-16 14:12] mcundell commented on #178
Hi,

I tried converting the files with msconvert as described in your guide but I still have an issue when it gets to database splitting:
[log_2020-03-16_14-09-21.txt](https://github.com/Nesvilab/FragPipe/files/4338593/log_2020-03-16_14-09-21.txt)

Unfortunately I am not allowed to share these files i was working with.  What I will do is grab a public dataset and try and process that, then, if nec

[2020-03-16 14:15] fcyu commented on #178
Hi @mcundell

This time, the error was due to the number of modified peptides exceeding the maximum number allowed by Java. This is a hard limit that we cannot go break. You may need to increase the number of split database.

Best,

Fengchao

[2020-03-16 14:33] mcundell commented on #178
Thanks, I will increase the split value and rerun.  Is there some rule I can follow to know what split database value I will need to get a dataset processed?

[2020-03-16 14:36] fcyu commented on #178
Unfortunately, there is analytical expression to calculated the needed number of split databases. Normally, we try different values and find the smallest workable one.

Best,

Fengchao

[2020-03-16 14:52] fcyu commented on #173
No feedback after 13 days.

[2020-03-16 14:52] #173 closed

[2020-03-16 14:52] fcyu commented on #175
No feedback after 11 days.

[2020-03-16 14:52] #175 closed

[2020-03-16 16:32] guoci commented on #177
@bhavya5vinay @chhh `0` ram will trigger a substitution of `available memory` for Windows. How much available memory do you have?

[2020-03-16 22:18] chhh commented on #177
@bhavya5vinay yes, of course, set to some non-zero value. E.g. 2 or 4 for starters.

[2020-03-17 09:18] bhavya5vinay commented on #177
I tried with 2 GB and also with 4 GB RAM. I had earlier added 3 mzxml files as input where none of the tasks were completed after I ran the program, later, I added only 1 input mzxml file and ran the program with 4 gb ram, it completed 12 tasks and gave the following error. My system maximum ram speed is 4GB. Should I add more RAM space to system and then try again or is the issue something else.

[2020-03-17 09:24] bhavya5vinay commented on #177
Each of my mzxml file size is between 1.6-1.9 GB

[2020-03-17 09:30] chhh commented on #177
@bhavya5vinay Ok, reading the log I can see at the end `Insufficient memory!` how much memory does your system have total?
Also how much is currently available? You're on Windows, so press `Ctrl+Shift+Esc` at the same time, which will start `Task Manager`, switch to `Performance -> Memory` tab and see how much you have total and how much you have available (e.g. your browser might be eating a good

[2020-03-17 09:42] tobiasko opened #179 "IonQuant"
Dear FragPipe team,

we (FGCZ) are intensifying our testing of MSFragger for PASEF data. Could you share some info regarding how IonQuant works?

- How do you detect features?
- How are features aligned in which space?
- Are you using an approach similar to "macth-between-runs" (ID migration)?
- In which dimensions is the data recalibrated (I assume the m/z dim. is recalibrated)?
- Is is possible

[2020-03-17 11:55] fcyu commented on #179
Hi Tobi,

Thanks for your interest in IonQuant. The paper will be available soon. You
will be able to see all the details from the paper.

Best,

Fengchao

On Tue, 17 Mar 2020 at 5:43 AM, Tobias Kockmann <notifications@github.com>
wrote:

--
Dr. Fengchao Yu
University of Michigan

[2020-03-17 12:39] tobiasko commented on #179
ok. will there be a preprint?

[2020-03-17 16:21] mcundell commented on #178
Thank you for the explanations.  I reduced the search space and used split database as recommended and the data processed fine after conversion to mzML with msconvert.

After that ran fine, I replaced the files to be processed with the parent .raw files and set the search going again.  As such all settings should be identical.  However, using identical settings i was not able to process the .raw f

[2020-03-17 16:34] fcyu commented on #178
Hi @mcundell ,

If I understand correctly, the error occurs only when using raw and checking the calibrated_mzBIN after calibration. The error looks like related to raw file reader but I cannot figure out why it was thrown during checking the calibrated_mzBIN. Need the help from @chhh

Best,

Fengchao

[2020-03-17 16:39] mcundell commented on #178
Yes I believe that to be the case.

I think I suffered from two issues.  Firstly on my part I was not controlling the split database function properly and had too many peptides (>2billion) so I hit a number of issues there.

Secondly, this raw file issue.  In my first post the same can be seen in "so I set split database from 1 to 2: log_2020-03-12_12-18-43.txt"

[2020-03-18 20:17] chhh commented on #178
Hm, I thought I replied to this one already.
@fcyu I don't think I can help here - we have bascially zero diagnostic info and can't get the files to test it with. It's a little suspicious that the problem occurs with the final file.
@mcundell Coud you try a few things please:
- run with just the last file that gave the error: MS0295_A2_F9.raw
- run the whole thing without recalibration
Looks like

[2020-03-18 22:35] mcundell commented on #178
Thanks for the input.

If I remove MS0295_A2_F9 leaving 13 .raw files that seems to process fine.  It suggests there was an issue with that file.

But... MS0295_A2_F9 processed fine on its own:
[log_2020-03-18_15-42-56.txt](https://github.com/Nesvilab/FragPipe/files/4351639/log_2020-03-18_15-42-56.txt)

I tried an alternate dataset and that failed on the final file after mass recalibration also:
[

[2020-03-19 21:21] mcundell commented on #178
FYI, the RAW files processed with mass recalibration turned off (I am running non-specific search but these are actually tryptic peptide runs, but i only cared to test if it could process to completion rather than the actual data).
[log-fragpipe-run-at_2020-03-19_17-01-01.log](https://github.com/Nesvilab/FragPipe/files/4356938/log-fragpipe-run-at_2020-03-19_17-01-01.log)

I loaded up 4 more Hela 1

[2020-03-19 21:27] anesvi commented on #178
Looks like some bug when using raw files + calibration + Split?  Is that something for Guo Ci to take a look?

From: mcundell <notifications@github.com>
Sent: Thursday, March 19, 2020 5:21 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] non-specific search issues (#178)

Exte

[2020-03-20 13:21] fcyu commented on #179
Hi @tobiasko ,

Yes, we just put our manuscript to BioRxiv ([https://www.biorxiv.org/content/10.1101/2020.03.19.999334v1](https://www.biorxiv.org/content/10.1101/2020.03.19.999334v1)).

We also have match-between-runs (MBR) done and will release it soon. Please feel free to contact us if you have any questions.

Best,

Fengchao

[2020-03-20 22:34] melechco opened #180 "Error when loading LC/MS"
Suddenly, I can't load my LC/MS files anymore...
Even after reinstalling  java it doesn't work.
Could you please take a look in the error message?
Thanks

java.lang.NullPointerException
	at umich.msfragger.cmd.CmdMsfragger.lambda$null$1(CmdMsfragger.java:163)
	at java.base/java.util.stream.MatchOps$1MatchSink.accept(MatchOps.java:90)
	at java.base/java.util.ArrayList$ArrayListSpliterator.tryAdvanc

[2020-03-20 22:46] chhh commented on #180
Not exactly sure what's happening there, looks like maybe you don't have access permissions to some cached location. Try clicking `Clear cache` button on the config tab.

[2020-03-20 22:52] melechco commented on #180
Clearing cache and running sudo FragPipe didn't solve the problem...

On Fri, Mar 20, 2020 at 6:46 PM Dmitry Avtonomov <notifications@github.com>
wrote:

[2020-03-20 22:54] melechco commented on #180
Sorry for the false alarm...
Wrong msfragger selected.

[2020-03-20 22:54] #180 closed

[2020-03-20 22:56] chhh commented on #180
Still should not have happened. Thanks for the report.

[2020-03-21 06:44] tobiasko commented on #179
WOW! Very nice. Thanks for sharing the manuscript. Should you need any beta testers or additional data let us know.

[2020-03-25 18:16] fcyu commented on #168
@BR-metal FYI, the latest Skyline-daily fixed that issue. It works well with MSFragger's output now.

[2020-03-25 18:16] #168 closed

[2020-03-25 20:34] chhh commented on #177
no response

[2020-03-25 20:34] #177 closed

[2020-03-25 22:39] mcundell opened #181 "Question: Fixed PSM FDR without protein level filter."
Hi,

Quick FDR question.  I read a previous FDR post (https://github.com/Nesvilab/MSFragger/issues/16) and you mention that "if you do not want to apply any protein level filter, uncheck 'Report Protein FDR' box.".  I cannot seem to find that checkbox in fragpipe v12.2.  I am trying to simply apply a fixed 5% FDR to my PSM (I added --psm 0.05) without applying any additional protein level filter t

[2020-03-25 23:31] fcyu commented on #181
Hi Michae,

You can check `Do not use ProteinProphet file` in the `Report` tab:
![image](https://user-images.githubusercontent.com/6926299/77595250-0dfa1400-6ecf-11ea-9103-d5c312868606.png)

Best,

Fengchao

[2020-03-25 23:31] #181 closed

[2020-03-30 09:55] chscho opened #182 ""shepherd.config" does not exist"
While performing an open search (of DDA data), the analysis stops at PTM-Shepherd, because the shepherd.config file is missing (see below). - Despite the fact, that the respective file is there!

Closer analysis of the shepherd.config-file shows, that 2 out of 33 analyzed mzML files (organized in 6 experimental groups with 3 replicates each) are not listed in the automatically generated shepherd.c

[2020-03-30 16:19] chhh commented on #182
@danielgeiszler Is that the same problem you and Sarah had? How was that resolved?

[2020-03-30 20:50] danielgeiszler commented on #182
@chhh Yes, it is.

@chscho Can you do a couple things for me to help resolve this?

1. Send us your shepherd.config file so we can see what is missing. That is not a known issue, although probably not related.
2. Try rerunning FragPipe, but with everything turned off except for PTM-Shepherd. I.e., start from where it died and see if it will finish.

Thanks!

[2020-03-31 04:56] chscho commented on #182
Thank you for the quick reply.

The machine I'm using, runs on Ubuntu 18.04.4 LTS.

Here is the content of the shepherd.config file:

[code]

Re-running FragPipe with only PTM-Shepherd activated results in the same error message as reported before:
[code]

I've just realized, that the two samples which seemed to be missing, were actually assigned to the wrong replicate... - Hence not missing. But

[2020-04-01 14:18] tobiasko opened #183 "LC-MS file annotation -> MSstats"
Dear FragPipe developers,

I would like to make you aware of the following:

Your [FragPipe tutorial](https://msfragger.nesvilab.org/tutorial_fragpipe.html) suggests to use `Replicate` labels that are only unique within levels of `Experiment`, but not across! This information is also passed on to the `MSstats.csv`. This will lead to potentially unexpected results when running MSstats on this outpu

[2020-04-01 14:26] tobiasko commented on #183
Please also check the latest [MSstats manual section 2.1.2](http://msstats.org/wp-content/uploads/2020/02/MSstats_v3.18.1_manual_2020Feb26-v2.pdf) regarding Condition, BioReplicate, Run as evaluated by MSstats to determine the experimental design.

[2020-04-01 14:28] tobiasko commented on #183
There might be even more traps in this area when tech. replication or fractionation is used!

[2020-04-01 14:42] danielgeiszler commented on #182
Would you mind also trying to run this command as well?

/home/bioinf/bioinf_data/49_scch/Projects/SPP2002_SIHUMI/PTX/MSFragger/tryp4]
java -Dbatmass.io.libs.thermo.dir="/home/bioinf/bioinf_data/49_scch/Tools/msfragger/MSFragger-2.3/ext/thermo" -cp /tmp/fragpipe/batmass-io-1.17.2.jar:/tmp/fragpipe/commons-math3-3.6.1.jar:/tmp/fragpipe/ptmshepherd-0.2.16.jar edu.umich.andykong.ptmshepherd.PTMShephe

[2020-04-01 16:55] chhh commented on #183
@tobiasko Hi Tobias,
I've taken a look at the manual you linked - MSStats uses terms "Condition", "BioReplicate" and "Run". This is the same as in FragPipe. Mapping:
- "Condition" -> "Experiment"
- "BioReplicate" -> "Replicate"
- "Run" -> "corresponding input LCMS file".
There are no limitations on how the "Replicates" are labled across experiments - if some lableling scheme has a meaning in a par

[2020-04-01 16:59] anesvi commented on #183
Hi @tobiasko<https://github.com/tobiasko> Hi Tobias,
To add to what Dmitry wrote,  if it is the question of explaining to users how to label the files, we would appreciate your help with making some examples/tutorials based on what you find works best for you
Thanks!
Alexey

From: Dmitry Avtonomov <notifications@github.com>
Sent: Wednesday, April 1, 2020 12:55 PM
To: Nesvilab/FragPipe <FragPipe@no

[2020-04-02 04:54] chscho commented on #182
Hi Daniel

Thank you very much for your help. PTM-Shepherd executed from the command line worked like a charm.
Tell me, if I can try running something else to help you figure out what caused the problem with the FragPipe GUI.

Best,
Christian

[2020-04-02 08:22] tobiasko commented on #183
Hi Alexey,  Hi chhh,

my suggest is indeed to expand the tutorial or at least include a warning that reusing levels of `Replicate` will instruct downstream software like MSstats to assume that repeated sampling has been performed.

You could keep the screenshots, but mention that

Experiment | Replicate
----------- | ----------
treatment | 1
treatment | 2
treatment | 3
control | 1
control | 2
cont

[2020-04-02 08:36] tobiasko commented on #183
...or FragPipe could even check the LC-MS file table and give warnings if it detects something strange (repeated sampling is already not what most people do). Other things could be unequal group sizes (could mean somebody forgot to add files or there is a spelling error in one of the experiment labels).

[2020-04-02 13:21] anesvi commented on #183
Thanks! We will explain things better based on your suggestions.

Sent from my iPhone

On Apr 2, 2020, at 4:22 AM, Tobias Kockmann <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi Alexey, Hi chhh,

my suggest is indeed to expand the tutorial or at least include a warning that reusing levels of Replicate will instruct downstream software like MSstats to assume that repeated sam

[2020-04-02 13:54] fcyu commented on #183
Hi @tobiasko ,

Thank you very much for your insightful suggestion.

We have updated the [tutorial](https://github.com/Nesvilab/MSFragger/blob/master/tutorial_fragpipe.md) and will let FragPipe assign unique `Replicate` by default when clicking `Consecutive` in the next release.

Thanks,

Fengchao

[2020-04-02 13:54] #183 closed

[2020-04-02 15:48] tobiasko commented on #179
I finally managed to read your manuscript today! Nice work! In addition, we now have a running FragPipe-like installation on unix incl. IonQuant. Related to this:

- Will it be possible in the future to use only the mzBIN file as input for IonQuant (I tried but failed)?
- In the manuscript it says:

"When used with Philosopher summary tables as input, IonQuant adds quantification information
direc

[2020-04-02 16:09] anesvi commented on #179
I think the problem is, we would need to write MS1 in mzBIN which will make the file too big?
Fengchao, what was your explanation for not doing it?

From: Tobias Kockmann <notifications@github.com>
Sent: Thursday, April 2, 2020 11:49 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] IonQuant (#179)

External Email

[2020-04-02 16:49] fcyu commented on #179
Hi @tobiasko ,

Currently mzBIN only has MS/MS scans. The reasons of not putting MS scans to mzBIN are
1) It would increase mzBIN's size a lot, which would slow down the identification step (MSFragger).
2) I am not sure if putting MS scans to mzBIN would speed up the whole process because reading MS scans from .d doesn't need those fancy pre-processing steps which take most of the time in loading

[2020-04-02 17:02] tobiasko commented on #179
Thx! I just used:
[code]
and the console reports:

[code]
but the folder is not created. Does it need to exist already?

I also can not see a modification on the files you mentioned. Any idea why this might happen?

[2020-04-02 17:08] fcyu commented on #179
For an multi-experiments like this:
![image](https://user-images.githubusercontent.com/6926299/78277679-ddc00000-74e2-11ea-8701-e6b87ee55eee.png)

The command would be
[code]

In this example, the `exp_1`, `exp_2`, `exp_3`, and `exp_4` folders should be exist and you are in the parent folder (i.e., `./`).

Best,

Fengcao

[2020-04-02 17:19] tobiasko commented on #179
Ahhh wait...what happens if you only have 1 file? Could that be the reason?

[2020-04-02 17:22] fcyu commented on #179
Yes, that's one of the reasons. I am not sure if it make sense to use MSstats with only 1 file. There is not much to normalize and perform differential analysis.

[2020-04-02 17:27] tobiasko commented on #179
Clear. I am just trying if IonQuant works as expected on a very basic test case. But I should still get the modification of the .tsv files, right?

[2020-04-02 17:36] fcyu commented on #179
Yes, you will still get those modified .tsv files as long as you provide `--psm`.

[2020-04-03 08:56] chscho opened #184 "Out of Memory during PASEF OpenSearch at Crystal-C"
Dear FragPipe-Team,

I'm currently trying to process PASEF-data (converted to mzML with MSconvert with activated "combine ion mobility" option) with OpenSearch parameters (default settings). I'm using a Xubuntu 18.04.4 LTS machine with 32 cores (x86_64) with 200GB RAM. After successful MSFragger search (pepXML and corresponding tsv files are generated) FragPipe crashes at the Crystal-C step.

[cod

[2020-04-03 11:07] tobiasko commented on #179
@fcyu I am now executing a sh script as suggested by the linux tutorial. This time with 4 *.d folders. It runs through, but I still don't get a multi dir, or the 'MSstats.csv' file. I also checked the `protein.tsv` file. All intensity columns are filled with `0`. Could it be that IonQuant has problems with file access rights?

[2020-04-03 12:39] fcyu commented on #179
Hi @tobiasko , can you send me your script and the log from IonQuant?

Thanks,

Fengchao

[2020-04-03 12:44] fcyu commented on #184
Hi Christian,

Looks like there is no `-Xmx` flag for Crystal-C. @chhh Can you help to add it to FragPipe?

The optimial peak threshold is decided during the parameter optimization step in MSFragger. You can see a table in the consol after mass calibration.

Best,

Fengchao

[2020-04-03 12:49] anesvi commented on #184
Do we even support crystal-c for TimsTOF when using .d?

Sent from my iPhone

On Apr 3, 2020, at 8:44 AM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi Christian,

Looks like there is no -Xmx flag for Crystal-C. @chhh<https://github.com/chhh> Can you help to add it to FragPipe?

The optimial peak threshold is decided during the parameter optimization step in MSFrag

[2020-04-03 12:51] fcyu commented on #184
Hi @anesvi

He/She is using mzML converted from .d. I think Hui-Yin test a little bit using a mzML from timsTOF months ago.

Best,

Fengchao

[2020-04-03 13:55] huiyinc commented on #184
Hi,

Yes, I think it's good to add -Xmx (as Fengchao suggests) to FragPipe.
Thanks.

Huiyin

從我的iPhone傳送

Fengchao <notifications@github.com> 於 2020年4月3日 上午8:51 寫道：

﻿

Hi @anesvi <https://github.com/anesvi>

He/She is using mzML converted from .d. I think Hui-Yin test a little bit
using a mzML from timsTOF months ago.

Best,

Fengchao

—
You are receiving this because you are subscribed to this t

[2020-04-03 14:25] tobiasko commented on #179
Hi @fcyu Does IonQuant write any log files? Can't see any.

[2020-04-03 14:27] fcyu commented on #179
It prints some info to console. If you were using FragPipe, FragPipe would save it to a file. If not, you may need to redirect the printed info to a file.

If you didn't have it now, you can send me your command/shell script first.

Best,

Fengchao

[2020-04-04 05:43] tobiasko commented on #179
I repeated only the IonQuant execution and redirected std out and std error to a file.

[code]
[ionquant.1.txt](https://github.com/Nesvilab/FragPipe/files/4430812/ionquant.1.txt)
std error was empty.

The bash script for FragPipe functionality is (had to rename to .txt for upload):

[tutorial_linux.txt](https://github.com/Nesvilab/FragPipe/files/4430816/tutorial_linux.txt)

[2020-04-04 06:13] chhh commented on #184
I don't remember why it wasn't there in the first place, but I'll add it to
the next release

On Fri, Apr 3, 2020 at 6:55 AM chuiyin <notifications@github.com> wrote:

[2020-04-04 06:18] chhh commented on #182
Seconds time that happens and I don't have an idea what might be wrong. The only thing in common is linux.

Command from fragpipe doesn't work, but the same command (composed by fragpipe) executed by the user from terminal works, right?
Sounds like it must be some sort of permissions stuff. Or working folder stuff mixed with permissions.

@chscho When the command worked from the terminal for you,

[2020-04-04 06:34] tobiasko commented on #179
@fcyu I just had the idea to review a log file that was written by FragPipe on Windows. Could it be that the unix script you published is...let's say far away from what FragPipe does (more like a skeleton)? At least I can see some striking difference in how data is organised into folders and how workspaces are handled. What is the logic we have to follow?

[2020-04-04 12:40] chscho commented on #182
@chhh: Yes, I did execute the command directly from: `/home/bioinf/bioinf_data/49_scch/Projects/SPP2002_SIHUMI/PTX/MSFragger/tryp4`
Shall I try execution from the home directory?

[2020-04-04 13:35] fcyu commented on #179
Hi @tobiasko ,

You need to provide `--psm` and the corresponding `psm.tsv` path Without `--psm` flag, IonQuant would quantify all PSMs in the pepXML then stop because it didn't know where to find the tsv tables.

You may check the example I gave you again.

Best,

Fengchao

[2020-04-04 13:40] fcyu commented on #179
The logic is that each `experiment` has it own folder. In the folder there are pepXML and tsv tables from Philosopher. In running IonQuant, one `--psm` flag indicates one experiment's `psm.tsv`'s path. So, there will be multiple `--psm` flags in multi-experiments case. Finally, the `--multidir` flag indicates the parent folder of all experiments.

Best,

Fengchao

[2020-04-05 19:32] tobiasko commented on #179
Hi  @fcyu,

wait...do it understand you correctly? The LC-MS table in the FragPipe GUI is represented by a folder structure on the linux command line? So given the table would look like:
[code]

I would need to generate folders named `expA_1` and `expB_2` and place `file1` and `file2` respectively? Do I have to use `_` as a separator? Would placing multiple files in the same folder be treated as a

[2020-04-05 19:40] fcyu commented on #179
Hi @tobiasko ,

Yes, FragPipe generates folders and puts files into the corresponding folders according to the LC-MS table.

You need to have the tsv tables and the pepXML files in their corresponding folders. The spectral files (e.g., mzML, mzXML, or .d) can be in somewhere else. But need to provide the paths to IonQuant.

Yes, you need to use `_` as a separator.

Multiple spectral files in the s

[2020-04-05 19:42] tobiasko commented on #179
Ok! And all philosopher commands need to be executed in every folder?

[2020-04-05 19:48] fcyu commented on #179
Yes, and you need to run `Philosopher proteinprophet` with all interact-*.pep.xml files and generate a combined interact-*.prot.xml. You also need to run `Philosopher abacus` to generate combined tsv files.

I suggest you borrowing the commands generated by FragPipe by clicking `Dry Run`.

Best,

Fengchao

[2020-04-05 21:58] anesvi commented on #179
Tobi

This is why we developed FragPipe -to generate scripts for execution of commands. FragPipe runs on Linux too. As Fengchao said, you can use it to see what commands need to be executed. You can then modify it.

Best
Alexey

Sent from my iPhone

On Apr 5, 2020, at 3:48 PM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

Yes, and you need to run Philosopher proteinpr

[2020-04-07 16:03] tobiasko commented on #179
Hi @anesvi,

I think the dry run on Linux is very nice idea. Did it yesterday for a closed search and we are now modifying our bash script accordingly.

Thx for the tip,
Tobi

[2020-04-07 16:16] tobiasko commented on #179
Hi @fcyu,

I checked the listing for a dry run of a closed search and most is clear. What I still don't fully understand is the PeptideProphet section. Why are you using tmp DIRs here? Are they created by an upstream process or is there some kind of util function that isn't logged?

[code]

Greetings,
Tobi

[2020-04-07 16:21] chhh commented on #179
@tobiasko Peptide prophet is single threaded, separating stuff out into different folders allows fragpipe to run multiple instances of peptide prophet at once, speeding up the process. This is the only reason.

[2020-04-08 09:08] tobiasko commented on #179
Another question... sorry! I am not familiar with Philosopher, but the [pipeline concept](https://github.com/Nesvilab/philosopher/wiki/Pipeline) looks really attractive to me. Have you tried moving parts of a FragPipe-like linux workflow (a closed search) into a Philosopher pipeline? Pros and Cons versus a pure bash script?

[2020-04-08 13:43] fcyu commented on #179
Hi @tobiasko ,

Don't need to be sorry. I personally prefer shell script because I have the full control of the commands and know exactly what commands are going to run. But Philosopher Pipeline may be easier to run and maintain. Unfortunately, I never used it. Alexey @anesvi and Felipe @prvst are better persons than me answer this question.

Best,

Fengchao

[2020-04-08 14:11] prvst commented on #179
@tobiasko running a full analysis via pipeline mode is a more robust solution than relying on bash scripts. It is also ideal to maintain reproducibility, specially if you are aiming for having a publication. You will need only one configuration file for every program and every analysis step, won't need to bother with command sintaxes and won't need to bother with file names and paths. The pipeline

[2020-04-08 14:21] tobiasko commented on #179
@prvst That sounds pretty convincing! I am working my way through the example. If I need additional modules not included in the example (like IonQuant) how would I add them?

[2020-04-08 14:25] prvst commented on #179
the current version works with Comet, MSFragger, the Prophets and TMT-Integrator. Any other tool that you want to add in will need to be executed manually

[2020-04-08 15:51] tobiasko commented on #179
IMPRESSIVE! I just executed a complete spectral counting workflow with PASEF data (4 files).

[2020-04-08 16:52] #179 closed

[2020-04-09 14:28] Angrist75 opened #185 "why?"
the old version (msfragger 2019 and philosopher 2.1.2) works the last no (msfragger 2.4 and philosopher 3.2.3) on the same file
[log_2020-04-09_16-09-04.txt](https://github.com/Nesvilab/FragPipe/files/4456700/log_2020-04-09_16-09-04.txt)

log:
Traceback (most recent call last):
  File "C:\Users\ADMINI~1\AppData\Local\Temp\2\fragpipe\speclib\gen_con_spec_lib.py", line 705, in <module>
    edit_raw_

[2020-04-09 15:32] guoci commented on #185
@Angrist75 please upgrade your python modules with `conda update --yes --all` in Anaconda prompt.

[2020-04-09 16:49] Angrist75 commented on #185
I did as you asked, but the problem persists, I enclose logs.
[log_2020-04-09_18-33-41.txt](https://github.com/Nesvilab/FragPipe/files/4457525/log_2020-04-09_18-33-41.txt)

[2020-04-09 16:58] guoci commented on #185
Can you type `python -c "import pandas; print(pandas.__version__)"` in your Anaconda Prompt and tell me what you get?

[2020-04-09 19:19] Angrist75 commented on #185
0.20.3

[2020-04-09 19:19] #185 closed

[2020-04-09 19:22] guoci commented on #185
that module was not updated, you should get `1.0.3`

[2020-04-09 19:51] Angrist75 commented on #185
so what should I type? I'm just a poor chemist :)

[2020-04-09 19:54] guoci commented on #185
try `conda update pandas`
and show me the output

[2020-04-09 20:33] Angrist75 commented on #185
![Screenshot 2020-04-09 22 31 21](https://user-images.githubusercontent.com/63410174/78938237-2adb3d80-7ab2-11ea-9bd1-d679ff1f6459.png)

[2020-04-09 20:39] guoci commented on #185
try reinstalling Ananconda, and then `conda update --yes --all`

[2020-04-10 13:39] Angrist75 commented on #185
Thank you very much I solved it as you told me to. Everything's working out for the best now.

[2020-04-14 10:06] Angrist75 opened #186 "Open Search"
I'm trying to use the open search on raw files converted to mzML (RAWs are left too). The closed search ends successfully, however, the open search ends with an error that I report below. I also attach the export Log file. The software is updated to the latest version.
unrecognized extension: raw (the file is in the folder but has not been indicated in the select LC|MS! should I remove all the raw

[2020-04-14 13:20] fcyu commented on #186
Hi @Angrist75 ,

Your issue seems to be the same as this one (https://github.com/Nesvilab/PTM-Shepherd/issues/1). You may address this issue by moving the raw files to somewhere else to prevent PTM-Shepherd from reading them.

Best,

Fengchao

[2020-04-14 13:50] Angrist75 commented on #186
ok, I will try and I'll let you Known.
thanks for your suggestion!
all the best
Andrea

[2020-04-14 13:56] Angrist75 commented on #186
I have just read
and I found this  (Nesvilab/PTM-Shepherd#1).
"Once you do that, you should be able to restart your fragpipe process from PTM-Shepherd by unchecking everything else."
Does this mean that if I encountered a process error I can restart the partial process?
can you be kind enough to extend the concept so that I can avoid repeating everything from the beginning every time I make a mist

[2020-04-14 14:01] fcyu commented on #186
Yes, you can start from the middle by unchecking the tools that have been successfully finished as long as all files are there.

Best,

Fengchao

[2020-04-14 14:27] Angrist75 commented on #186
ok thanks!
Andrea

[2020-04-14 14:27] #186 closed

[2020-04-15 11:57] Angrist75 commented on #186
I have successfully finished the open search in order to identify the largest number of PTMs in the different samples (and groups). I am satisfied with the speed with which the software was able to handle a large amount of data.
I have some questions to maximize the result.
1) Is it possible to view the search result with a viewer?
2) is it possible to import the data in skyline? This option would

[2020-04-15 13:25] Angrist75 opened #187 "open search"
connected to
https://github.com/Nesvilab/FragPipe/issues/186

I have successfully finished the open search in order to identify the largest number of PTMs in the different samples (and groups). I am satisfied with the speed with which the software was able to handle a large amount of data.
I have some questions to maximize the result.

Is it possible to view the search result with a viewer?
is it

[2020-04-15 13:36] fcyu commented on #186
Hi @Angrist75

1. You can use [PDV](https://github.com/wenbostar/PDV) which supports MSFragger's outputs. The only issue is that for PSMs with open modification (big mass diff), you have to manually put the mass to a certain residue because such a modification is not coded in the sequence.
2. Yes, you can use Skyline. Need the [Skyline-daily](https://skyline.ms/project/home/software/Skyline/daily/

[2020-04-15 13:37] fcyu commented on #187
Answered here https://github.com/Nesvilab/FragPipe/issues/186#issuecomment-614044956

[2020-04-15 13:59] Angrist75 commented on #186
is there a reference paper that helps me understand the different voices what they mean?

PeakApex | PeakLower | PeakUpper
(PSMs)
(PSMs/million)
and what columns to use to make statistics?

[2020-04-15 14:02] fcyu commented on #186
It's from PTM-Shepherd. The paper is under preparation.

@danielgeiszler, can you answer this question when you have time?

Thanks,

Fengchao

[2020-04-15 14:36] Angrist75 commented on #186
**thank you it would be really helpful to have a couple of guidelines on data processing in order to give it biological meaning.**
a general question: are the peptides found with the open search also integrated into the protein file as for example new accessions for peptides-proteins excluded from the closed search but also for intensity or are the results kept separate and need separate considera

[2020-04-15 14:40] fcyu commented on #186
I am not sure if I understand your question correctly. All of the PSMs, peptides, and proteins from one task are included in those tables.

[2020-04-15 14:55] Angrist75 commented on #186
let me explain better, if on the same samples I do a closed search and an open search the results of the combined protein table is different?

[2020-04-15 15:01] fcyu commented on #186
Since the closed search and the open search have to be performed separately, there must be two `combined_protein.tsv` files. These two files are very likely to be different because open search finds more peptides and proteins.

[2020-04-15 15:49] mcundell opened #188 "Help processing AB SCIEX 6600 Triple TOF data"
Hello,

Thanks to your help, I have my Orbitrap data processing nicely with Fragpipe.  However, I need some help/suggestions on how to process my lower res AB SCIEX 6600 Triple TOF data.  I converted my data with AB SCIEX's own data converter (with proteinpilot settings) to mzXML.  I loaded the default non-specific search parameters but change precursor mass tolerance to 25ppm (+/- 12.5ppm).

In F

[2020-04-15 16:20] fcyu commented on #188
Hi Michael,

I think 25 ppm mass tolerance means +- 25 ppm.

Bests,

Fengchao

[2020-04-15 16:31] anesvi commented on #188
Hi Michael,

AB Sciex 66000 data is high mass accuracy data, similar to Q Exactive really in mass accuracy.

You should use 20ppm fragment ion accuracy (better in ppm than 0.02 Da for high mass accuracy data), and ~ 20ppm for precursor.

If you do not want protein-level FDR filter added, you need to check “Do not use ProteinProphet file” box in Report tab

I noticed you sue a lot of modifications:

[2020-04-15 20:44] danielgeiszler commented on #186
Hello Andrea,

You can find a description of those columns here:

https://github.com/Nesvilab/PTM-Shepherd/wiki/PTM-Shepherd

Mass shifts in open search are subject to instrumental error. The result is a distirbution of mass shifts corresponding to the same modification. The Peak Apex is essentially the most common mass shift we observe for a particular modification.

The number of PSMs are the nu

[2020-04-15 23:12] mcundell commented on #188
Thank you both for your comments.  Initially it was intentional to include all those mods. Deamidation appears to constitute around a tenth of the PSMs in this dataset.  However, certainly some of those other mods can go (namely phospho and nE for sure).

In HLA immunopeptidomics datasets  the --sequential or --2d filtering (at least in my hands) removes quite a lot of PSMs (I presume that protein

[2020-04-15 23:19] fcyu commented on #188
I think the easiest and closest solution is changing `--prot 0.01` to `--prot 1`. But it is still a little bit different from `Do not use ProteinProphet file`. Without ProteinProphet, PSMs and peptides are filtered at 1% PSM and peptide FDR, respectively. With `--prot 1` and `--sequential`, all of PSMs, peptides, and proteins are filtered at 1% PSM and 100% protein FDR.

Best,

Fengchao

[2020-04-16 00:09] anesvi commented on #188
Yes, this is what I usually do with nonspecific searches:
-sequential -prot 1
While still having prot.xml (‘do not use ProteinProphet’ box unchecked)

This performs protein inference but does not apply protein level FDR filter to PSM.tsv file. The PSM.tsv will be filtered to PSM level FDR. Peptide.tsv to peptide level FDR. Protein.tsv will have everything ( no FDR filter).

Alexey

Sent from my iP

[2020-04-16 00:18] anesvi commented on #188
By the way, I noticed from Michael’s log file that the calibration step did not have enough data. A bit unusual if it is MHC type 1 ( calibration search is restricted to peptides of length 7-15). Not sure why.

Also, for AB Sciex data I would suggest proteowizard converter. A few people in the past had an issue with the ProteinPilot  converted files. But in this dataset it seems ok

Best
Alexey

S

[2020-04-16 00:20] fcyu commented on #188
@anesvi There are 8 splits and the first search uses the first one. Can it be the reason?

[2020-04-16 00:23] anesvi commented on #188
I though the calibration search was done without the Database Split? Ok, let’s discuss internally first

Sent from my iPhone

On Apr 15, 2020, at 8:21 PM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

@anesvi<https://github.com/anesvi> There are 8 splits and the first search uses the first one. Can it be the reason?

—
You are receiving this because you were mentioned

[2020-04-16 22:51] mcundell commented on #188
Thank you for your input on the "--sequential --prot 1".  I have set some searches running overnight using that strategy using MSconvert mzXMLs.  Thats great.  It looks like using more sensible tolerances on ms2 fragments has solved my missing PSM/peptides also.

On the mass calibration, I have found that I get "not enough data" on my Orbi data also (although not in every file unlike this 6600 dat

[2020-04-17 00:39] anesvi commented on #188
We would need to get some of your data to see why not enough for calibration. You can transfer a few files to us if you like. But calibration is not critical and for nonspecific searches I often turn it off

Sent from my iPhone

On Apr 16, 2020, at 6:51 PM, mcundell <notifications@github.com> wrote:

﻿
External Email - Use Caution

Thank you for your input on the "--sequential --prot 1". I have se

[2020-04-17 10:56] mcundell commented on #188
Let me try and recreate with some other files that I can send without the company bureaucracy police coming for me.  I will get back to you.  Thanks.

[2020-04-17 11:20] anesvi commented on #188
Try some publicly available HLA data of which there is plenty. We have run it on a lot of data and our pipeline worked great, although as I said I tend to turn off calibration for such searches anyway (since it adds quite a bit of time for nonspecific searches).

Also, since we added deisotoping in MSFragger, you may want to increase the number of peaks allowed from 150 to 200-300. And remove min

[2020-04-17 14:17] #187 closed

[2020-04-20 21:04] mcundell commented on #188
I looked into the mass calibration not having enough data.  I was wrong, on my Orbitrap data lack of mass calibration occurs in 2d fractions with limited peptide IDs (so genuinely not enough data).  Mass calibration works fine on tryptic Hela QC data off our orbitraps or sciex instruments (plenty of data).  It works fine on public HLA datasets also.  I am not sure why in this particular dataset I

[2020-04-20 21:27] fcyu commented on #188
Thanks for your positive feedback. Please feel free to contact us if you have any question in the future.

Best,

Fengchao

[2020-04-20 21:27] #188 closed

[2020-04-29 12:43] jgmeyerucsd opened #189 "LFQ for each modified peptide from open search?"
***question/request**
Is there currently a way to get separate precursor LFQ values for each of the modified peptide forms detected in open search? I am able to get the combined_peptides.tsv with intensity values, and there is a column "assigned modifications" that only lists the variable modifications set during my search, not any of the mass shifts discovered by open search.

** desired solution

[2020-04-29 12:48] jgmeyerucsd opened #190 "Every peptide in combined_peptide.tsv oxidized?"
**Describe the bug**
In the combined_peptide.tsv report containing peptide LFQ, under "assigned modifications", the report always lists at least 15.994900 despite the fact that most peptides do not contain methionine. Is this a bug or did it really detect oxidation of every single peptide (44,527 total peptides)?
[fragpipe_2020-04-17_14-40-49.config.txt](https://github.com/Nesvilab/FragPipe/files/

[2020-04-29 13:19] fcyu commented on #190
Hi Jesse,

I saw that you were using Philosopher 2.0.0. Can you try the latest version?

Best,

Fengchao

[2020-04-29 13:27] jgmeyerucsd commented on #189
Hi Fengchao,

Thanks for the quick reply. I wasn't sure which component does the quantification. Sorry if I posted this in the wrong github page.

Best regards,
Jesse

[2020-04-29 13:30] fcyu commented on #189
No no. It's totally fine. I just want to confirm which tool are you using.

Is this panel you are talking about:
![image](https://user-images.githubusercontent.com/6926299/80601578-006b0900-89fc-11ea-9c1f-8c78a1eeeaf4.png)

[2020-04-29 13:40] jgmeyerucsd commented on #189
Yes, this is the panel.

[2020-04-29 13:42] jgmeyerucsd commented on #189
Does it combine all the modified quantities into one quantity right now?

[2020-04-29 13:44] fcyu commented on #189
If you are looking at ion.tsv, peptide.tsv, or combined_peptide.tsv, yes. Entries with different modifications in those tables are collapsed. I am not sure if Philosopher has a way to output each PSM's quantified intensity. Need @prvst 's help.

[2020-04-29 14:47] prvst commented on #189
@jgmeyerucsd

You should use the PSM or the ion report. We take into account the modifications for each peptide when collapsing entries for the ions table. However, we do not consider their position. Regarding the precursor quantification, we report the apex peak intensity, not the peak area.

[2020-05-22 11:56] yb47620 opened #191 "Processing interrupted, stopping Crystal-C"
**Describe the bug**
A clear and concise description of what the bug is.
Hello, a problem always occur when I am runing a open search.Could you help me figur it out. Thank you very much.
Part oof the log file said:
**Process 'Crystal-C' finished, exit code: 1

Process returned non-zero exit code, stopping**
Crystal-C [Work dir: D:\zpw\MSFragger-20171106]
java -Dbatmass.io.libs.thermo.dir="D:\zpw\M

[2020-05-22 14:41] huiyinc commented on #191
Hi, can you please download the latest version of FragPipe and try again?
Thanks

Huiyin

yb47620 <notifications@github.com> 於 2020年5月22日 上午7:56 寫道：

﻿

*Describe the bug*
A clear and concise description of what the bug is.
Hello, a problem always occur when I am runing a open search.Could you help
me figur it out. Thank you very much.
Part oof the log file said:
**Process 'Crystal-C' finished, ex

[2020-05-22 14:47] anesvi commented on #191
Not just FragPipe, but MSFragger and philosopher
MSFragger looks a bit old

From: chuiyin <notifications@github.com>
Sent: Friday, May 22, 2020 10:41 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Processing interrupted, stopping Crystal-C (#191)

External Email - Use Caution
Hi, can you please download the lat

[2020-05-23 15:39] yb47620 commented on #191
Hello every one, thank all of your suggestions. After I updated all the software. The search stopped again and log file said:
	[progress: 51708/53691 (96%) - 4 spectra/s]Exception in thread "main" java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(Unknown Source)
	at sun.reflect.DelegatingMetho

[2020-05-23 15:45] fcyu commented on #191
Yes, not enough memory. Try to increase the number after `-Xmx` if you still have more memory.

[2020-05-24 07:27] yb47620 commented on #191
It is a bit strange. because I have finished a open search of 10 raw files using the same parameters before. This time I only searched 2 raw files, and it reported this problem. does it mean the new version software take more memory?
________________________________
From: Fengchao <notifications@github.com>
Sent: Saturday, May 23, 2020 11:45 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
C

[2020-05-24 13:53] fcyu commented on #191
There is no big difference in terms of memory usage comparing to old versions. However, memory usage is the only thing that we don't have a fully control: it is managed by JVM's GC. There can be different reasons causing out-of-memory: MSFragger happens to use more memory because the GC doesn't managed to release the used memory, operator system level fluctuation, memory is being used by other sof

[2020-05-25 01:51] yb47620 commented on #191
Thank you very much, Fengchao. To save the memory, I didnot use the mass calibrate option in MSfragger. However, it report a nother error, could you help me find what is the problem?
#####################################################
Error at: 20190704_ZJ_DJB_5.1452.1452.3
java.lang.NullPointerException
at crystalc.p_Operator.CalculatePepMonoMass(p_Operator.java:21)
at crystalc.p_ProcessPSM.Fin

[2020-05-25 01:54] fcyu commented on #191
This error is from Crystal-C. Need @huiyinc 's help.

Best,

Fengchao

[2020-05-25 02:15] huiyinc commented on #191
Hi,

One possible reason is that there are some characters (other than amino acids) in you protein fasta file. Could you please check if there is ‘*’ in your fasta file? If yes, please remove ‘*’. If not, could you please send us the pepxml files, fasta and mzML files? Thanks.

Huiyin

[2020-05-26 02:20] yb47620 commented on #191
Thank all of you. I find there is a‘*’ in my fasta file. After remove it, the MsFragger fisnished a open search. Thank you again!
________________________________
From: chuiyin <notifications@github.com>
Sent: Monday, May 25, 2020 10:15 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: yb47620 <yb47620@um.edu.mo>; Author <author@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Process

[2020-05-26 02:24] anesvi commented on #191
Great

Hui-yin:
maybe we can make it more robust by skipping * and other similar characters in Crystal-C and just giving a warning?

Thanks
Alexey

From: yb47620 <notifications@github.com>
Sent: Monday, May 25, 2020 10:21 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Proces

[2020-05-26 11:18] yb47620 commented on #191
Hello all,
   The MSfragger said it can  ‘Generate Spectral Library from search results’ , could anyone tell me which file is the generated spectra library in the output file?
   Thank you very much!
    Pengwei
________________________________
From: Alexey Nesvizhskii <notifications@github.com>
Sent: Tuesday, May 26, 2020 10:24 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: yb47620 <y

[2020-05-26 11:24] anesvi commented on #191
Not MSFragger. FragPipe has SpecLib module, currently with SpectraST. You need to check the box. You can also wait a few days for the new release of FragPipe that will make SpecLib module better

Sent from my iPhone

On May 26, 2020, at 7:18 AM, yb47620 <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hello all,
The MSfragger said it can ‘Generate Spectral Library from search res

[2020-05-26 13:26] fcyu commented on #191
@yb47620 Just in case, the spectral library generating is for closed search only.

Best,

Fengchao

[2020-05-26 13:54] huiyinc commented on #191
Hi Prof. Alexey,

Sure, I will add a warming message if characters (not amino acids) are in
the fasta file. Thanks.

Huiyin

[2020-05-26 16:29] chhh commented on #191
there's also BJOUX

[2020-05-27 17:10] #105 closed

[2020-06-02 01:21] fcyu commented on #184
Fixed.

[2020-06-02 01:21] #184 closed

[2020-06-06 03:26] andyzim111 opened #192 "The error happened when running FragPipe-13."
[log_2020-06-06_11-20-32.txt](https://github.com/Nesvilab/FragPipe/files/4739306/log_2020-06-06_11-20-32.txt)
**Describe the bug**
When I used the FragPipe-13 to analyze the ddaPASEF data from phospho samples, the error happened. I have used FragPipe-12.2 to process the same data, and it work fine.
The log file is attched.

----------------------
## If you're submitting a bug report, please attach

[2020-06-06 14:17] fcyu commented on #192
Hi @andyzim111 ,

Thank for your interest in our new versions. Looks like your error was from Java VM:
[code]

Could you please tell us how much memory in total does your computer have?

Also, could you try with 300 or 200 GB memory using the following setting?

![image](https://user-images.githubusercontent.com/6926299/83946427-cfda7400-a7de-11ea-915b-de3b3bcfc036.png)

Best,

Fengchao

[2020-06-06 14:36] andyzim111 commented on #192
My computer has 512G memory.
OK, I will try you suggested.

[2020-06-06 15:41] anesvi commented on #192
Please let us know if it solves the problem

Sent from my iPhone

On Jun 6, 2020, at 10:36 AM, andyzim111 <notifications@github.com> wrote:

﻿
External Email - Use Caution

My computer has 512G memory.
OK, I will try you suggested.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/Nesvilab/FragPipe/issues/192#iss

[2020-06-06 16:58] andyzim111 commented on #192
The memory is set to 300G, and the problem is solved.
By the way, I want to try the easypqp function of FragPipe-13, and the easypqp failed.

[log_2020-06-07_00-57-15.txt](https://github.com/Nesvilab/FragPipe/files/4740642/log_2020-06-07_00-57-15.txt)

[2020-06-06 17:02] fcyu commented on #192
Can you try to re-install your easypqp with the following commands:
[code]

BTW, after re-installing, you only need to re-run easypqp by unchecking rest of the tools.

Best,

Fengchao

[2020-06-06 17:03] anesvi commented on #192
You need to reinstall easyPQP , but Guo Ci can provide more info

Sent from my iPhone

On Jun 6, 2020, at 12:59 PM, andyzim111 <notifications@github.com> wrote:

﻿
External Email - Use Caution

The memory is set to 300G, and the problem is solved.
By the way, I want to try the easypqp function of FragPipe-13, and the easypqp failed.

log_2020-06-07_00-57-15.txt<https://github.com/Nesvilab/FragPipe

[2020-06-06 17:12] andyzim111 commented on #192
I uninstall easypqp and reinstall the easypqp as you said.
But it still failed.
[log_2020-06-07_01-10-49.txt](https://github.com/Nesvilab/FragPipe/files/4740655/log_2020-06-07_01-10-49.txt)

[2020-06-06 17:35] fcyu commented on #192
Could you try to select `IM-MS` data type and try again?
![image](https://user-images.githubusercontent.com/6926299/83950669-84ce5a00-a7fa-11ea-8812-4ec4e83994ab.png)

[2020-06-07 00:50] andyzim111 commented on #192
the easypqp still failed.
[log_2020-06-07_08-46-38.txt](https://github.com/Nesvilab/FragPipe/files/4741243/log_2020-06-07_08-46-38.txt)

[2020-06-08 15:58] guoci commented on #192
Hi @andyzim111, can you try this fix?
https://drive.google.com/file/d/1519JzkOdFH9FQZe21kFBa6SXxco_cMYG/view?usp=sharing

[2020-06-09 00:01] xLinkKnight opened #193 "Fatal Error at PeptideProphet FragPipe v13"
Fatal error during timsTOF ddaPASEF data analysis. I receive this error when attempting to use the MSFragger 3.0/FragPipe 13 combination for timsTOF data analysis and spectral library generation (EasyPQP). MSFragger 2.4/FragPipe 12.2 was successful in the past with this same data.

Log file is attached:
[log_2020-06-08_17-18-09.txt](https://github.com/Nesvilab/FragPipe/files/4749118/log_2020-06-08

[2020-06-09 01:13] fcyu commented on #193
@xLinkKnight Can you try an old version of Philosopher, for example 3.2.3? You can uncheck MSFragger since you already have all those files.

@prvst Can you take a look when you have time?

Thanks,

Fengchao

[2020-06-09 03:42] xLinkKnight commented on #193
Appreciate the quick response! The downgrade to 3.2.3 helped. I haven't checked any of the intermediate version between 3.2.3 and 3.2.7. The problem is now at the last step, spectral library generation. It fails to execute the easypqp conversion and I'm not sure what to make of the log file interpretation.

Log file:
[log_2020-06-08_21-04-14.txt](https://github.com/Nesvilab/FragPipe/files/4749775/

[2020-06-09 09:11] andyzim111 commented on #192
@guoci, the version you provided works.
I want to ask there is any filter in the spectral library building?

[2020-06-09 12:26] anesvi commented on #192
The library is built using PSM.tsv files. By default (can be changed in Validation tsv, filter command) they are filtered to 1 protein FDR and 1 percent PSM-level FDR
Alexey

Sent from my iPhone

On Jun 9, 2020, at 5:12 AM, andyzim111 <notifications@github.com> wrote:

﻿
External Email - Use Caution

@guoci<https://github.com/guoci>, the version you provided works.
I want to ask there is any filte

[2020-06-09 13:42] anesvi commented on #193
Regarding the Philosopher crash, none of us have seen such an error in the past.  Not sure what Felipe (cc’ed) can do -  he is the main Philosopher developer.

Regarding EasyPQP: when did you install easyPQP ? You may need to re-install it unless you installed it very recently. If this does not solve, need to check with Guo Ci

Alexey

From: xLinkKnight <notifications@github.com>
Sent: Monday, Jun

[2020-06-09 13:46] prvst commented on #193
@xLinkKnight The issue you see with Philosopher and PeptideProphet seems to be between your computer system and the language compiler. Unfortunately, this is beyond what I can do in terms of support. Out of curiosity, could you give me more details about the (first) computer that you tried running our programs?

[2020-06-09 14:42] MuhammadAli-ai opened #194 "Running MSFragger & Philosopher on HPC: Error: file update failed (did not find closing tag "</msms_pipeline_analysis>")"
Hi Nesvilab Team,

I'm new to using MSFragger & Philosopher & am running it on my universities HPC due to the high resources needed that my 8RAM macbook can't provide and the HPC being linux makes it easier to run MSFragger & Philosopher

I used the non-ion mobility workflow on your github - http://msfragger.nesvilab.org/tutorial_linux.html

I attempted to run it for the first time and got the fol

[2020-06-09 14:45] fcyu commented on #194
@MuhammadAli-ai Thanks for your interest in our tools. Can you send the whole log so that we can investigate the reason.

Best,

Fengchao

[2020-06-09 15:05] MuhammadAli-ai commented on #194
@fcyu

Here is the rest of the log

[code]

it seems to have a problem with moving pepXML files

please be aware I specified the paths in my script as shown below:

[code]

Please advise - many Thanks

[2020-06-09 15:08] fcyu commented on #194
I am sorry but we need the part before the error, especially the msfragger part.

[2020-06-09 15:55] chhh commented on #193
@prvst apparently the reason must be somewhere in the chages between between those 4 minor versions.

[2020-06-09 15:57] chhh commented on #192
@guoci The fixed version is not in FP-13 release, right? We might need to deliver it via an update.

[2020-06-09 15:58] fcyu commented on #192
@chhh Guo Ci is making some other changes, I think. May need to wait a little bit.

[2020-06-09 17:01] guoci commented on #192
@chhh yes, I have pushed a critical bugfix for `SpecLib`, update it first. The other changes I need to make to `SpecLib` can wait.

[2020-06-09 17:22] guoci commented on #193
@xLinkKnight there should be some log files from `easypqp` named as `easypqp_convert_*.log`. Please upload them.
Also, update EasyPQP if it is outdated, with:
[code]

[2020-06-10 02:24] xLinkKnight commented on #193
@guoci Thank you for the tip. I must have not seen the EasyPQP 0.1.7 release. I was on 0.1.6 at the time of the errors.
[code]
I processed the data once again from start to finish just for completeness. I've attached one of the ```easypqp``` log files. The others are the same except for file name differences. No report of errors, unless it's missing the library generation part.

[easypqp_convert_0

[2020-06-10 13:06] grazzilybear opened #195 "Processing interrupted, stopping PhilosopherReport"
Please see my attached file.

I am running the LFQ-MBR function but didn't get the result table.
It shows "Processing interrupted, stopping PhilosopherReport"

Thanks

[2020-06-11 01:57] xLinkKnight commented on #193
I'll try it with both DIA-NN and Spectronaut. Have to extend my Spectronaut trail as I haven't had time to thoroughly test it.

[2020-06-11 14:00] anesvi commented on #193
I do not recall if you have Thermo or Bruker data. DIA-NN has limited support for diaPASSEF at the moment, although I am sure that will change in the future.
At any rate, let us know if you have any other questions.
Best
Alexey

From: xLinkKnight <notifications@github.com>
Sent: Wednesday, June 10, 2020 9:58 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.

[2020-06-11 18:21] MuhammadAli-ai commented on #194
as I ran this on a HPC Cluster (which I'm fairly new to using along with MSFragger) it gave me the output of the job via 2 files one an error file and an output file

The two initial messages i sent are the 2 outputs of the job there's nothing else I can provide other than that
- I believe what you're looking for is in the first message which I sent
i've pasted it below you an tell it's the part a

[2020-06-11 18:28] fcyu commented on #194
If that that's everything from the log, MSFragger didn't run correctly because MSFragger was supposed to print info during its running. This line (`...read in 0 1+, 0 2+, 0 3+, 0 4+, 0 5+, 0 6+, 0 7+ spectra with min prob 0.05`) from your log also implies that.

You need to troubleshoot your script and the computational environment. You also need to update your tools.

[2020-06-11 18:31] anesvi commented on #194
Unless you can ask someone to help you, running on Linix is harder. Unfortunately we cannot provide much support.
I recommend you get a good windows desktop, where it will be easier for you.
Best,
Alexey

From: Fengchao <notifications@github.com>
Sent: Thursday, June 11, 2020 2:28 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Ne

[2020-06-11 21:42] chhh commented on #194
@MuhammadAli-ai
1) MSFragger-20171106 has been deprecated for at least 2 years now. Update here: https://msfragger.arsci.com/upgrader/
2) Run via FragPipe with, use dry-run option to just generate the scripts and compare to yours.

[2020-06-11 21:42] #194 closed

[2020-06-12 16:57] MuhammadAli-ai commented on #194
Thank you all particularly @chhh  this was the problem

I updated my MSFragger and it worked

[2020-06-13 04:49] xLinkKnight commented on #193
@anesvi Primarily used for the processing of Bruker data (timsTOF). Building up my knowledge for when we utilize diaPASEF more frequently. I was able to process some of my data using the ciRT option. My fractionated dataset fails no matter what I try. It was my mistake of not included iRT peptides when they were ran.

@prvst @chhh I did some basic testing of the different Philosopher versions. The

[2020-06-14 15:44] stharan opened #196 "timsTOF spec library generation"
**Describe the bug**
Error when running easypqp to create spectral library.

----------------------
## If you're submitting a bug report, please attach log file
Log files attached.
[log_2020-06-14_11-35-23.txt](https://github.com/Nesvilab/FragPipe/files/4776773/log_2020-06-14_11-35-23.txt)
[easypqp_convert_0.log](https://github.com/Nesvilab/FragPipe/files/4776774/easypqp_convert_0.log)

[2020-06-14 16:53] guoci commented on #196
@stharan please update EasyPQP with the following:
[code]

[2020-06-14 21:13] stharan commented on #196
@guoci I get the following error when trying to install with the command you gave.

(base) C:\Users\BrukerDemo>pip uninstall --yes easypqp
Uninstalling easypqp-0.1.7:
  Successfully uninstalled easypqp-0.1.7

(base) C:\Users\BrukerDemo>pip install git+https://github.com/grosenberger/easypqp.git@master
Collecting git+https://github.com/grosenberger/easypqp.git@master
  Cloning https://github.com/gr

[2020-06-15 01:02] hayse1 commented on #196
You can install git using this link: https://gitforwindows.org/

[2020-06-15 11:49] stharan commented on #196
After installing gitforwindows, I was able to to install easypqp.  The version was still the same (0.1.7), but now library generation works.  Thanks for the help.

[2020-06-15 13:58] anesvi commented on #193
I hope Felipe @prvst can take a look at why v3.2.7 fails when v3.2.6 and earlier are fine. There were minor changes related to finding the pep.xml files when the full path to the folder is passed to philosopher. You can use the previous version, maybe Felipe can fix your problem in the next release.

If you use human data, I am not sure why fractionated data fails. Even with plasma, I expected eno

[2020-06-15 16:18] karlssoc commented on #196
I had the same convert pep.xml error as @stharan.

@guoci's solution the trick for me too.

[2020-06-15 16:22] #196 closed

[2020-06-15 16:32] anesvi commented on #196
That’s great.
EasyPQP is outside of FragPipe, so we do not have a good way to check and let people know they need to update easyPQP. We will see if we can improve that part of the tutorial

Can I ask you take a look at our current tutorial
https://msfragger.nesvilab.org/tutorial_fragpipe.html#spectral-library-generation

And see if we can add something to make it more clear, based on your experien

[2020-06-15 16:49] anesvi commented on #192
Were you able to resolve the issues? Any feedback that you can provide, including improving our tutorials, based on your experience?
https://msfragger.nesvilab.org/tutorial_fragpipe.html

Thanks
Alexey

From: andyzim111 <notifications@github.com>
Sent: Saturday, June 6, 2020 8:51 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@

[2020-06-15 16:54] fcyu commented on #192
@anesvi I think the issue has been solved. In term of the bug from Java, there is nothing we can do and I think it is triggered randomly. So, there might be nothing needed to be changed in the tutorial.

[2020-06-16 05:35] andyzim111 commented on #192
@anesvi , FragPipe 13 is a big improvement, especially for the workflow setting. The workflow setting saves much time to perform a search, and there are some exciting more features such as match between runs, bulit-in TMT workflow and the new spectral library building tool easyPQP. The version that guoci provided worked for easyPQP. FragPipe has been my only DDA proteomics tool for a while, and I

[2020-06-16 11:08] anesvi commented on #192
Thank you so much for your comments!

For most people they should set memory to 0, so FragPipe will use all available. But your computer is a special case since you have a lot of memory. Setting to 0 allocates so much memory it exceeds some java limit. Please try with 300, if crashes try 200. But even 200 is way more than enough!

Best,
Alexey

Sent from my iPhone

On Jun 16, 2020, at 1:35 AM, and

[2020-06-16 11:22] stharan commented on #196
Hi Alexy,

I think the only thing needed would be an extra step of installing Git for
Windows before updating to the latest version of EasyPQP.  So maybe just a
small modification to the note as below would do.

Best,

Tharan

*Note:* To use EasyPQP, you will need to update to the latest version. *First
install Git (**https://github.com/git-for-windows/git/releases/download/v2.27.0.windows.1/Git-2

[2020-06-16 11:31] anesvi commented on #196
Thanks! We will add it
Best
Alexey

Sent from my iPhone

On Jun 16, 2020, at 7:22 AM, stharan <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi Alexy,

I think the only thing needed would be an extra step of installing Git for
Windows before updating to the latest version of EasyPQP. So maybe just a
small modification to the note as below would do.

Best,

Tharan

*Note:* To us

[2020-06-17 01:01] cesarrivera opened #197 "Process 'IonQuant' finished, exit code: 1"
Hello. I was analyzing 12 TIMS TOF samples and this error appeared: Process 'IonQuant' finished, exit code: 1.

Log file:
----------------------
System OS: Windows 10, Architecture: AMD64
Java Info: 1.8.0_242, OpenJDK 64-Bit Server VM, AdoptOpenJDK

Version info:
FragPipe version 13.0
MSFragger version 3.0
Philosopher version 3.2.7 (build 1591393649)

LCMS files:
  Experiment/Group: Control_1
  -

[2020-06-17 01:11] fcyu commented on #197
The critical information was masked by a non-English language: "Error: no se ha encontrado o cargado la clase principal espectrometr�a". Could someone translate it for me (google translate's result seems not right)? :sweat_smile:

If let me try, I guess it's because IonQuant cannot find Bruker's library. @cesarrivera could you delete those spaces in your folder name and try again?

Thanks,

Fengch

[2020-06-17 01:58] cesarrivera commented on #197
Thanks for your quick response!
The translation would be: "* _Error: main spectrometry class not found or loaded_"
I deleted all spaces from routes/folders.
I am trying again. I will notify the result!

[2020-06-17 13:09] cesarrivera commented on #197
Hello! all samples ran.
My doubts now, are the following "warnings" in **ProteinProphet**:

Process 'PeptideProphet' finished, exit code: 0
WARNING: Mixture model quality test failed for charge (6+).
WARNING: Mixture model quality test failed for charge (7+).
model complete after 28 iterations

WARNING: Found the following zero-mass residues in protein entry rev_sp|O60613|SEP15_HUMAN : U
WARNING:

[2020-06-17 13:35] andyzim111 commented on #192
@anesvi, I get it. Thanks for your reply.

[2020-06-17 13:44] fcyu commented on #197
Hi @cesarrivera ,

Those warning can be ignored. Your log looks good.

Best,

Fengchao

[2020-06-17 14:32] cesarrivera commented on #197
Thanks for your quick response!
Best,
César Rivera
Universidad de Talca
Chile

[2020-06-17 14:33] #197 closed

[2020-06-23 15:01] roberthardt opened #198 "IonQuant error when trying to access bruker folder"
**Describe the bug**
While processing Orbitrap (Lumos) data in a closed search with MSFragger trough FragPipe the following error occured during label-free quantification:

Fehler: Hauptklasse Files\MSFragger-3.0\ext\bruker konnte nicht gefunden oder geladen werden
Process 'IonQuant' finished, exit code: 1

Its German basically saying: major class Files\MSFragger-3.0\ext\bruker could not be found

[2020-06-23 15:12] fcyu commented on #198
Hi,

According to your log, IonQuant tried to file the library from `C:\Program Files\MSFragger-3.0\ext\bruker`, but your screenshot shows that it was in `C:\MSFragger-3.0\ext\bruker`. Did you move it later? Also, can you put all those tools, including the library, in a folder other than system folders?

Best,

Fengchao

[2020-06-23 15:18] roberthardt commented on #198
Yeah your right I moved it later, because I was suspecting it to been caused by spaces in the file path. Afterwards I changed the path of MSFragger within Fragpipe, but obviously this only takes effect after restarting the software. I did this now and it is running trough smoothely.

Thanks

[2020-06-23 15:18] #198 closed

[2020-06-25 11:54] roberthardt opened #199 "Can ptmProphet be also used in closed searches run trough FragPipe?"
Dear developers,

philosopher also contains the PTMprophet module for predicting site localisation probabilities. I wonder if this is also implemented in FragPipe-run searches? Or is this currently only possible via the command line?

Best

Robert

[2020-06-25 11:57] anesvi commented on #199
We are hoping to add this in the next FragPipe release. We need to correct paths to mzML files inside philosopher generated pep.xml files for PTMProphet to work.
Best
Alexey

Sent from my iPhone

On Jun 25, 2020, at 7:54 AM, Lotushanz <notifications@github.com> wrote:

﻿
External Email - Use Caution

Dear developers,

philosopher also contains the PTMprophet module for predicting site localisation

[2020-07-01 12:23] andyzim111 commented on #199
It is great to hear PTMProphet to be added in the next FragPipe.

[2020-07-02 02:49] daniswan opened #200 "Summary file"
I would love to see a summary file that reports the samples analyzed (rows) vs. some overall statistics (columns), like psms, peptides, proteins per sample, PTM modified peptides per sample.

[2020-07-02 02:54] anesvi commented on #200
Yes, that’s a good idea. I think MaxQuant reports something like that. We can discuss with Felipe if philosopher can generate some simple summary table.

Thanks for using our tools!

Best
Alexey

Sent from my iPhone

On Jul 1, 2020, at 10:49 PM, daniswan <notifications@github.com> wrote:

﻿
External Email - Use Caution

I would love to see a summary file that reports the samples analyzed (rows) vs

[2020-07-02 11:51] andyzim111 opened #201 "LFQ failed when runing FragPipe 13."
I used FragPipe 13 to analyze two mzML files and wanted to try LFQ functions, and the error happened.
The log file is attached.
[log_2020-07-02_19-46-48.txt](https://github.com/Nesvilab/FragPipe/files/4864026/log_2020-07-02_19-46-48.txt)

[2020-07-02 13:50] fcyu commented on #201
Thanks for your interest in our tools. We have pushed updates to FragPipe 13.0. After you restart FragPipe, you will see a dialog like

![image](https://user-images.githubusercontent.com/6926299/86366865-5309b100-bc49-11ea-843c-efe953d1e2e6.png)

You need to click "OK". Then, FragPipe will download the updates.

Best,

Fengchao

[2020-07-02 17:56] #178 closed

[2020-07-03 00:54] andyzim111 commented on #201
@fcyu , I have restarted FragPipe 13 several times, and nothing happened. No update dialog appeared.

[2020-07-03 01:02] chhh commented on #201
@andyzim111
1) Please check your FragPipe installation folder (where you unpacked the zip file). Do if you have `udpdates` subfolder there? If yes, then what's in it.
2) Is the computer where that happens connected to internet?

[2020-07-03 01:14] andyzim111 commented on #201
1.There is no subfolder named updates in FragPipe installation folder.
2. The computer is connected to the internet.

[2020-07-03 01:28] andyzim111 commented on #201
@chhh, the message showed in the console.

08:46:32 WARN : Something happened while checking for MSFragger updates
java.net.ConnectException: Connection timed out: connect
	at java.net.DualStackPlainSocketImpl.connect0(Native Method)
	at java.net.DualStackPlainSocketImpl.socketConnect(Unknown Source)
	at java.net.AbstractPlainSocketImpl.doConnect(Unknown Source)
	at java.net.AbstractPlainSocketImp

[2020-07-03 05:08] chhh commented on #201
Ok, so FP can't connect to github. It's either your computer's firewall blocking it or your organization firewall or something like that. No way to tell what's causing the connection to fail, but it's not caused by FP itself.

You can update manually though. Like really really manualy:
- Go to: https://github.com/Nesvilab/FragPipe/tree/updates/MSFragger-GUI/updates
- Download `ionquant-132.zip` th

[2020-07-03 11:29] andyzim111 commented on #201
@chhh, I have updated FP manually. Now LFQ works. Thanks.

[2020-07-03 14:03] fcyu commented on #201
Put it to [wiki](https://github.com/Nesvilab/MSFragger/wiki/Frequently-Asked-Questions).

[2020-07-03 14:03] #201 closed

[2020-07-06 14:44] neely opened #202 "RefSeq Download/Usage"
It would be great to be able to download a RefSeq assembly within FragPipe, with automagical addition of decoys and cRAP.

The current FragPipe (specifically Philosopher within) seems to work seamlessly with UniProtKB and the main model species. It would be great to add in the ever growing list of RefSeq releases, maybe via taxon ID and NCBI API (see below via datasets). Another benefit of using t

[2020-07-06 15:06] anesvi commented on #202
Thank you so much for your comments!

Everything is compatible with RefSeq once you have the database.

Felipe would need to make that functionality in philosopher to download RefSeq database automatically. Felipe, is that something that we can add in the future?

Best
Alexey

From: neely <notifications@github.com>
Sent: Monday, July 6, 2020 10:45 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.

[2020-07-06 17:38] prvst commented on #202
So far I have no intention of adding support for downloading sequences from NCBI. Unfortunately, NCBI never had a friendly API, or something that we could easily use to quickly get a reference proteome, for example. They have developed their own set of [tools](https://www.ncbi.nlm.nih.gov/books/NBK25499/) that you can use to fetch sequences, which are not that popular for being too complicated and