[2020-07-06 17:38] #202 closed

[2020-07-06 17:48] anesvi commented on #202
Perhaps we can add a tutorial specifically for manual RefSeq download + adding decoys and contaminants with philosopher. We already have something on the website, maybe just add additional instructions for RefSeq download.

From: Felipe Leprevost <notifications@github.com>
Sent: Monday, July 6, 2020 1:39 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umic

[2020-07-06 18:13] neely commented on #202
Thank you both for the consideration. I really only suggested this since Alexey asked for feature requests.

Since NCBI recently (or maybe "currently in progress" is a better term) revamped their API (linked above and [here](https://api.ncbi.nlm.nih.gov/datasets/v1alpha/)), I wasn't sure if this was a functionality to add. I only ask since UniProt is very inconsistent about what species they updat

[2020-07-06 18:20] prvst commented on #202
I totally agree with you. UniProt has a different rationale behind their updates and on the way, they maintain the organisms up to date.

If you have a database already downloaded, you can use Philosopher to build a target-decoy version of it. Check the examples we have [here](https://github.com/Nesvilab/philosopher/wiki/Database) with the `--custom` flag.

[2020-07-06 18:20] anesvi commented on #202
Thanks for the feedback. Note that even now you can add decoys and contaminants, but you have to run philosopher command line. So the manual steps are 1) download RefSeq and 2) add decoys and contaminants using philosopher run command line. Since Felipe thinks it would be hard to automate RefSeq download,  what we at least can do is to enable addition of decoys and contaminants in FragPipe (using

[2020-07-10 06:47] csang66 opened #203 "Failed search using DIA-Umpire"
Hi,

I'm trying to do a DIA-Umpire search using Fragpipe (V13.0). Not sure what happened but runs kept stopping. I've got data from spectronaut so quite sure there is no fault with the raw files. Have already converted them to mzxml format.

Would appreciate if you can advise what I can do or fix my method..

Thanks!

[log_2020-07-10_16-39-04.txt](https://github.com/Nesvilab/FragPipe/files/4901444

[2020-07-13 23:47] daniswan opened #204 "Condition and replicate annotation"
For large experiments using the GUI for annotating conditions and replicates is tedious.  It would be great to offer the ability to upload that information via text file.  For example, in MaxQuant you load your MS filles, and then there is a function where you click a button and it will write a template file for you with all of your MS file names, and then you can use a text editor to fill in cond

[2020-07-14 00:19] anesvi commented on #204
This is a good suggestion, thank you
Alexey

From: daniswan <notifications@github.com>
Sent: Monday, July 13, 2020 7:47 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Nesvilab/FragPipe] Condition and replicate annotation (#204)

External Email - Use Caution

For large experiments using the GUI for annotating conditions and replicates

[2020-07-14 21:21] javanOkendo opened #205 "Setting PSM score probability on fragpipe linux version"
I would like to identify the PSMs which are assigned and unassigned from my data. The data I have is close to 250 raw files and because of this I use Linux version of fragpipe to do my analysis. Is there a way in which I can set the probability score within the linux version of fragpipe?

[2020-07-14 21:26] fcyu commented on #205
Thanks for your interest in our tools. Sorry, I am not sure about the meaning of "setting PSM score probability", but if you want to set a min probability threshold, you can add `--minprob x` to the PeptideProphet's `Cmd line opts`.

Best,

Fengchao

[2020-07-14 21:31] javanOkendo commented on #205
this may look spammy; so when I set minimum probability to 0.05 whle the results having > 0.05 be reported? I am keen to know the identities of the PSMs have a probaility > 0.05

[2020-07-14 21:34] fcyu commented on #205
Yes. If what you want is knowing the probability of the PSMs passing the FDR threshold, they are listed in the `PeptideProphet Probability` column of the `psm.tsv` file.

[2020-07-14 21:43] javanOkendo commented on #205
Another one last question:
If I get you correctly then it mean that `protein.tsv' only contains the proteins which <= 0.05 PSM probability? Is my interpration right?

[2020-07-14 21:45] fcyu commented on #205
No. `protein.tsv` and `peptide.tsv` are from the PSMs in the `psm.tsv`, and most of the PSMs in `psm.tsv` have probability > 0.05.

[2020-07-14 21:54] javanOkendo commented on #205
So will I be wrong to say that the PSMs having probability > 0.05 are unassigned and the ones having prob <= 0.05 are assigned? The reason I want to understand this is because my project is about understanding the contents of these PSMs with the prob > 0.05

[2020-07-14 21:57] fcyu commented on #205
No. if "assigned" means "identified", most identified PSMs have > 0.05 probability. I guess you may be confused by the difference of probability and FDR.

[2020-07-14 22:01] javanOkendo commented on #205
if "assigned" means "identified" this is correct. If I get you correctly then it means prob <= 0.05 is unassigned and prob > 0.05 is assigned.......this now makes sense. I will filter my data using this creteria and thanks for having sometime to discuss this. Am a student at the University of Cape Town South Africa. I am a new bae in proteomics

[2020-07-14 22:26] fcyu commented on #205
If a PSM is assigned or not is decided by its FDR, which is estimated using probability, most of the time. So, 0.05 prob is not a threshold to separate assigned from unassigned. Also, all the PSMs in the `psm.tsv` are assigned.

[2020-07-14 22:26] #205 closed

[2020-07-15 04:22] smalaker13 opened #206 "20:56:17 ERROR: Error delivering events through the bus"
Trying to analyze glycoproteomic data and received this error:

20:56:17 ERROR: Error delivering events through the bus
java.util.NoSuchElementException: Sticky note not on the bus: com.dmtavt.fragpipe.messages.NoteConfigPhilosopher
	at com.dmtavt.fragpipe.Fragpipe.getStickyStrict(Fragpipe.java:681)
	at com.dmtavt.fragpipe.FragpipeRun.configureTaskGraph(FragpipeRun.java:603)
	at com.dmtavt.fragpip

[2020-07-15 14:09] dpolasky commented on #206
Hi,
Can you please attach the full log file generated by FragPipe for this run? It should be in the output folder, called `log_[date_time].txt`.

[2020-07-15 19:15] javanOkendo opened #207 "Linux version not running on HPC"
I am trying to run this fragpipe in hpc and I seems not to be getting the linux scripts in the `bin directory`. Where can I get the latest linux version of fragpipe which runs `PTM_prophet`?

[2020-07-15 19:22] smalaker13 commented on #206
Hi Daniel,

First of all, great talk at ASMS this year! I am really excited about your
program and look forward to using it.

Secondly, attached is the log. Please let me know if you need anything
else.

Best,
Stacy

On Wed, Jul 15, 2020 at 7:10 AM Daniel Polasky <notifications@github.com>
wrote:

--
Stacy A. Malaker, PhD
NIH Postdoctoral Fellow
Bertozzi Laboratory
Stanford University Department o

[2020-07-15 19:27] fcyu commented on #207
FragPipe is the same one. It cross-platform.

And there is no PTMProphet in FragPipe.

[2020-07-15 19:27] #207 closed

[2020-07-15 19:28] anesvi commented on #207
Hopefully in the next release…

From: Fengchao <notifications@github.com>
Sent: Wednesday, July 15, 2020 3:28 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Linux version not running on HPC (#207)

External Email - Use Caution

FragPipe is the same one. It cross-platform.

And there is no PTMProphet in FragPipe

[2020-07-15 19:40] dpolasky commented on #206
Hi Stacy,
Thanks so much - I hope it can be helpful! I don't see anything attached to your previous message - could you double check that it was uploaded? If it's not working, you can also email it to me directly (dpolasky [at] umich.edu). Thanks!

[2020-07-15 19:42] anesvi commented on #206
I think github removes attachments. Need to email directly

From: Daniel Polasky <notifications@github.com>
Sent: Wednesday, July 15, 2020 3:41 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] 20:56:17 ERROR: Error delivering events through the bus (#206)

External Email - Use Caution

Hi Stacy,
Thanks so much -

[2020-07-15 21:24] chhh commented on #206
Looks like philosopher wasn't configured. Could you please try re-downloading it and pointing to the binary on config tab?

[2020-07-15 21:30] smalaker13 commented on #206
Sorry, redownloading what, exactly? MSFragger? Or FragPipe?

Best,
Stacy

On Wed, Jul 15, 2020 at 2:25 PM Dmitry Avtonomov <notifications@github.com>
wrote:

--
Stacy A. Malaker, PhD
NIH Postdoctoral Fellow
Bertozzi Laboratory
Stanford University Department of Chemistry
(650)-721-4783

[2020-07-15 22:25] hayse1 commented on #206
Sorry I accidentally closed the issue! Can you try re-downloading [Philosopher](https://github.com/nesvilab/philosopher/releases/tag/v3.2.9)? This [tutorial](https://msfragger.nesvilab.org/tutorial_setup_fragpipe.html) might also help.
--Sarah

[2020-07-15 22:42] smalaker13 commented on #206
Thank you, that seemed to work!

Best,
Stacy

On Wed, Jul 15, 2020 at 3:25 PM Sarah Haynes <notifications@github.com>
wrote:

--
Stacy A. Malaker, PhD
NIH Postdoctoral Fellow
Bertozzi Laboratory
Stanford University Department of Chemistry
(650)-721-4783

[2020-07-15 22:55] smalaker13 commented on #206
Except now I have an issue with the output, it seems? There is no excel
file in the output directory. I have attached the log for this search.

Best,
Stacy

On Wed, Jul 15, 2020 at 3:42 PM Stacy Malaker <smalaker@stanford.edu> wrote:

--
Stacy A. Malaker, PhD
NIH Postdoctoral Fellow
Bertozzi Laboratory
Stanford University Department of Chemistry
(650)-721-4783

System OS: Windows 10, Architecture:

[2020-07-15 22:59] fcyu commented on #206
Hi @smalaker13 ,

According to your log, you should be able to find `psm.tsv`, `ion.tsv`, `peptide.tsv`, and `protein.tsv` from your result directory. However, PTM-Shepherd crashed. @danielgeiszler Can you take a look when you have time?

Thanks,

Fengchao

[2020-07-15 23:04] #195 closed

[2020-07-15 23:04] #193 closed

[2020-07-16 03:00] daniswan opened #208 "Computer freezes"
I am trying to search a set of 56 timsTOF files, closed search, with LFQ.  I have tried to search several times and it consistently freezes/crashes my computer.  It is a 128GB RAM computer with over 1 TB of free hard drive space.  It seems to make it through the search, as I see the filter.txt files for individual runs, but not the overall filter.txt or the MSstats input file.  Any suggestions as

[2020-07-16 03:02] fcyu commented on #208
Can you share the log with us?

[2020-07-16 04:00] daniswan commented on #208
It doesn't seem to have generated one unfortunately.  Maybe I will try to search without the LFQ function and see if it will finish?

[2020-07-16 08:11] Pierref29 opened #209 "Error: Could not find or load main class Files\MSFragger-3.0\ext\bruker"
**Describe the bug**
A clear and concise description of what the bug is.
Running files from Thermo Eclipse, program stop at Error: Could not find or load main class Files\MSFragger-3.0\ext\bruker

Thanks for your help
----------------------
## If you're submitting a bug report, please attach log file

The log file can be saved from FragPipe:
[log_2020-07-16_17-47-22.txt](https://github.com/Nesvila

[2020-07-16 13:27] dpolasky commented on #206
Hi Stacy,
Glad it's running now! The output .tsv files Fengchao mentioned can be opened and viewed in Excel (they are just tab separated text files) to see the results. The psm.tsv file is the best place to start for now, as glycans are not propagated completely to peptide.tsv and protein.tsv files (that will be fixed in an upcoming release soon though!).

It looks like PTM-Shepherd (our tool for

[2020-07-16 13:54] fcyu commented on #208
That is weird. You should be able to find a file with the name like `log_2020-07-03_10-57-43.txt` if you were using FragPipe. If not, could you copy the text in the `Console` of the `Run` tab?

Thanks,

Fengchao

[2020-07-16 13:57] fcyu commented on #209
Thanks for your interest in our tools. Could you delete all those spaces in your folder names and try again?

Thanks,

Fengchao

[2020-07-16 23:47] smalaker13 commented on #206
Oh, thank you! I changed that to -10 to +10 because I thought that was the
precursor mass tolerance. I'll try it again with those parameters.

Thanks again,
Stacy

On Thu, Jul 16, 2020 at 6:27 AM Daniel Polasky <notifications@github.com>
wrote:

--
Stacy A. Malaker, PhD
NIH Postdoctoral Fellow
Bertozzi Laboratory
Stanford University Department of Chemistry
(650)-721-4783

[2020-07-20 06:54] zhutiansheng opened #210 "fragpipe in linux when building library using easypqp"
**Describe the bug**
A clear and concise description of what the bug is.
when using window fragpipe, the command in log file is:

d:\Users\sky\anaconda3\python -u C:\GreenProgram\fragpipe13\lib\..\tools\speclib\gen_con_spec_lib.py D:\FragPipe\fas\2020-07-17-decoys-UP000005640_reviewed_human_20200401_irt_fragpipe.fasta D:\temp D:\FragPipe\data\X20181025yix_HCC_SCX_DDA_7A.mzXML;D:\FragPipe\data\X201

[2020-07-20 17:23] guoci commented on #210
You need to do the following on Linux:
1. use Anaconda Python 3 (other Python version may work, but Anocanda is well tested.)
2. for the command, it is specific to Windows, so on Linux replace it with:
[code]

[2020-07-21 01:39] zhutiansheng commented on #210
I used the command: docker pull grosenberger/easypqp:latest
And ran the docker and installed lxml package in the docker container。
Then I ran the command you provided, got the following errors:
Traceback (most recent call last):
  File "../fragpipe13/tools/speclib/gen_con_spec_lib.py", line 155, in <module>
    easypqp = get_bin_path('easypqp', 'easypqp')
  File "../fragpipe13/tools/speclib/gen_co

[2020-07-21 18:07] guoci commented on #210
@zhutiansheng that doesn't work, you need to install EasyPQP with `pip`

[2020-07-21 18:47] guoci commented on #203
Please try the following fix:
https://drive.google.com/file/d/1YhIo-wxLP232txhqWA-Cmpg4kckIDf8m/view?usp=sharing

[2020-07-22 05:53] zhutiansheng commented on #210
thanks

[2020-07-23 07:33] csang66 commented on #203
Thanks! The new version of FragPipe works.

[2020-07-23 16:56] #209 closed

[2020-07-23 16:56] #208 closed

[2020-07-23 16:57] #203 closed

[2020-07-23 18:01] daniswan commented on #208
I was able to solve the issue by setting my computers max CPU usage to
90%.  I think this is likely a problem specific to my system.

-Danielle

On Thu, Jul 23, 2020 at 9:57 AM Fengchao <notifications@github.com> wrote:

[2020-07-24 00:24] jkelabora opened #211 "Bruker native libraries not found"
**Describe the bug**

After following the [setup instructions](https://msfragger.nesvilab.org/tutorial_setup_fragpipe.html) on a clean Windows machine i received the following error when processing a single `.d` folder. I've replicated the issue on a separate Windows machine.

----------------------
Folder structure:
![Screen Shot 2020-07-24 at 10 19 34 am](https://user-images.githubusercontent.co

[2020-07-24 00:29] fcyu commented on #211
Thanks for your interest in out tools. Can you install [Visual C++ Redistributable for Visual Studio 2017](https://aka.ms/vs/16/release/VC_redist.x64.exe) and try again?

Thanks,

Fengchao

[2020-07-24 00:48] jkelabora commented on #211
Worked! Thanks for such a quick response - much appreciated🥇

[2020-07-24 00:48] #211 closed

[2020-07-24 13:31] Clovernana opened #212 "About spectra library buliding"
Hi,
I am going to build a spectra library with MSFragger and I have already checked the  'Generate spectral library from search results' option in the report tab of FragPipe. But this did not produce a spectral library in .tsv format and no  file name like con_lib.tsv or something like that.Here is the whole ouput.

![image](https://user-images.githubusercontent.com/50875585/88396188-c63fb680-cdf4

[2020-07-24 13:35] fcyu commented on #212
Hi Clover,

Can you delete the spaces in your folder names and try again?

Thanks,

Fengchao

[2020-07-24 13:38] Clovernana commented on #212
Hi，
But there‘s no spaces in my folder names.I am sure.

[2020-07-24 13:41] fcyu commented on #212
What about this one: `D:\installation package\FragPipe-13.0\fragpipe\....`?

[2020-07-25 00:54] krschaefer opened #213 "How to add a peptide N-terminal aminobutyric acid modification"
Hi, I'm not sure what the correct code is to add the mass tag, abu, to the n-terminus of peptides during MSfragger set-up. Any thoughts?

[2020-07-25 00:58] fcyu commented on #213
Adding a modification to peptide N-terminus? Using `number n^ 1`.

[2020-07-25 17:56] krschaefer commented on #213
Do I need to include an annotation for the aminobutyric acid--like a single amino acid code?

[2020-07-25 17:59] fcyu commented on #213
Sorry, but I am not sure if I follow your question.

[2020-07-25 18:06] anesvi commented on #213
I think you specify it like all other modifications.

 If you want the mass shift to be on n-term, use n^

If on a specific amino acid, list that amino acid

E.g. 79.96 STY 1
43.0 n^ 1

Sent from my iPhone

On Jul 25, 2020, at 1:56 PM, krschaefer <notifications@github.com> wrote:

﻿
External Email - Use Caution

Do I need to include an annotation for the aminobutyric acid--like a single amino acid

[2020-07-25 18:19] krschaefer commented on #213
Ok! I think that should work. Thank you!

[2020-07-25 18:19] #213 closed

[2020-07-25 18:52] javanOkendo opened #215 "Not enough memory allocated to MSFragger."
I am running fragpipe on metaproteomic database and I ge the following error. I have tried to split the database into different chunks but it still does not work. Could you advise on how to overcome this problem? I am running the linux version of fragpipe on HPC.

Not enough memory allocated to MSFragger.
If running using FragPipe: in MSFragger tab, increase the amount of memory allocated using RA

[2020-07-25 18:54] fcyu commented on #215
I think other than splitting the database into more chunks, there is no better way to solve this for now.

[2020-07-25 18:54] #215 closed

[2020-07-29 23:51] chhh commented on #182
@danielgeiszler Try the `linux-fix` branch in PTMS repo, posted possible bugfix there

[2020-07-30 20:02] danielgeiszler commented on #182
Fixed for FragPipe on Linux systems in release v0.3.5

https://github.com/Nesvilab/PTM-Shepherd/releases

[2020-07-30 20:02] #182 closed

[2020-07-31 14:42] #212 closed

[2020-07-31 14:44] fcyu commented on #191
I think Crystal-C 1.3.1 fixes this.

[2020-07-31 14:44] #191 closed

[2020-07-31 16:54] #210 closed

[2020-07-31 19:54] xLinkKnight opened #216 "Inconsistent Scaling"
The designated parallelism value under global settings isn't completely adhered to when performing a search.

For example, the limit is ignored when first parsing raw timsTOF data and during the LFQ-IonQuant routine. Its behavior seems to overrule/ignore the setting and utilize complete CPU resources. However, the setting seems to be enforced at other processing steps.

The result is minimal diffe

[2020-07-31 20:01] fcyu commented on #216
When reading timsTOF data, we call Bruker's library, which we cannot control the number of used threads, to reading the raw data. I think that is why you saw "_Its behavior seems to overrule/ignore the setting and utilize complete CPU resources. However, the setting seems to be enforced at other processing steps._".

Also, as you can see from the log, most of the time was spent on loading the tims

[2020-07-31 20:06] anesvi commented on #216
Just an additional comment, fortunately, the conversion needs to be done only once. If running again, mzBIN files will be found and used, without doing the conversion from .d to mzBIn again.

Alexey

From: Fengchao <notifications@github.com>
Sent: Friday, July 31, 2020 4:02 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvilab/

[2020-07-31 20:09] xLinkKnight commented on #216
Thanks! I totally forgot about the constraints imposed by the Bruker library.

I guess this can be closed as it's all working as intended.

[2020-07-31 20:36] #216 closed

[2020-08-02 02:59] xLinkKnight opened #217 "Bruker File Loading - Wasting Cycles"
It looks like I might have prematurely had the previous post of mine closed. I looked more into the system scaling behavior and observed a major inefficiency with the loading of Bruker data. I tested with the same system and compared the file load times between 8, 16, 32, and 64 cores through the use of AMD software to deactivate cores.

In each case the file load times (~715-740 sec) were close t

[2020-08-02 13:10] fcyu commented on #217
I think your observation is correct. We also observed some weird behavior when loading the raw file. We will contact Bruker's engineers regarding this. Can you contact us by email: nesvi@med.umich.edu and yufe@umich.edu ?

Regarding reading multiple .d files, I think memory will become an issue since the data is normally big.

Best,

Fengchao

[2020-08-03 00:26] xLinkKnight commented on #217
Briefly using MSConvert (3.0.20210-c0fceb89a (developer build)) to generate mzML files makes it seem as though they can process multiple files in parallel by allocating 4 threads per file. (My brief look at it.) Even their implementation in Windows is hindered by the fact MSConvert only utilizes one node of the CPU. No matter what I try, MSConvert will only use 32 cores and not our systems full 64

[2020-08-03 00:37] fcyu commented on #217
That's a good point. My question is that what would happen if MSFragger loading multiple files simultaneously since loading one file already makes the CPU usage nearly 100% percentage in Windows (although it is not supposed to be so).

Also, it is important to note that MSConvert is converting the files in a different way: it loads raw scans and performs scan summing by itself (there should be no

[2020-08-03 01:22] xLinkKnight commented on #217
Fair point. Just hope the Bruker engineers can get at it quickly. It also affects their own software so it should be enough of a priority. You can't advertise a MS with the claim of fast acquisition times when the processing takes significantly longer than the competitor.

Thanks for the support!

[2020-08-03 01:25] anesvi commented on #217
Dear XlinkKnight
I am suspecting MSConvert was not run the right way in your test. Maybe we need to check our instructions (you mentioned you used our old instructions). I recall it being slower than our conversion using .d. Also, I believe MS1 scans have only 150 peaks with those settings, so you cannot do quant using those mzML files. I need to refresh my memory, we stopped using MSConvert about

[2020-08-03 01:32] fcyu commented on #217
Hi Alexey,

I guess the reason of his MSConvert running faster than we thought is that they convert 32 files simultaneously (using 32 threads).

Best.

Fengchao

[2020-08-03 01:38] xLinkKnight commented on #217
I too think my settings were wrong. I didn't have access to the exact settings I typical use since my testing system didn't have the saved preset. It too has almost been a year since I last used MSConvert. My apologies for the not so apples-to-apples comparison.

[2020-08-03 01:42] anesvi commented on #217
Ok. Fengchao, please email Sven, see if they have any insights or maybe already improved the conversion.

Cheers,
Alexey

From: Fengchao <notifications@github.com>
Sent: Sunday, August 2, 2020 9:33 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Bruker File Loading - Wasting

[2020-08-05 03:50] xLinkKnight commented on #217
I also compared the use of either the timsdata.dll v2.4.500.18 from MSFragger v3 and v2.7.103.49 from the latest ProteoWizard. I see a load time reduction of 200 sec (~740 sec/file down to ~510 sec/file). I still notice the uneven loading of cores and full CPU utilization.

I believe we should see load times near the 100 sec mark if near perfect scaling/threading was achieved (64 core system).

I

[2020-08-05 12:46] fcyu commented on #217
Thank you very much for your testing. Looks like there are newer version of the library. We have emailed the engineer. Hopefully, they can solve the threading issue, which will speed up the whole workflow a lot since most of the time is spending on data loading now.

Best,

Fengchao

[2020-08-05 12:54] #206 closed

[2020-08-10 19:22] jd690764 opened #218 "Same peptide has different razor proteins from Philosopher"
**Describe the bug**
A clear and concise description of what the bug is.
Hi,
I am uploading the log file.
[log_2020-08-08_09-19-30.txt](https://github.com/Nesvilab/FragPipe/files/5052911/log_2020-08-08_09-19-30.txt)

Any help would be greatly appreciated.

Thanks,
Janos

----------------------
## If you're submitting a bug report, please attach log file

The log file can be saved from FragPipe:

-

[2020-08-10 19:42] fcyu commented on #218
Hi @jd690764

The warnings from IonQuant looks weird. Can you share all psm.tsv files to us? I can send a link for you to upload.

Thanks,

Fengchao

[2020-08-10 19:48] jd690764 commented on #218
Hi Fangchao,

Thank you for your help. Yes, I can do that.

Janos

On Mon, Aug 10, 2020 at 12:42 PM Fengchao <notifications@github.com> wrote:

[2020-08-11 20:33] fcyu commented on #218
Hi Janos,

Thanks. Please upload your files to https://umich.app.box.com/f/bc3183ac9ec44c318c2cd43fa3f36e32

Best,

Fengchao

[2020-08-11 20:55] jd690764 commented on #218
Hi Fengchao,

I uploaded them in a zip file.

Thank you,
Janos

On Tue, Aug 11, 2020 at 1:33 PM Fengchao <notifications@github.com> wrote:

[2020-08-11 21:14] fcyu commented on #218
Thanks Janos,

I checked one peptide `HGYIGEFEIIDDHR` in `psm_1.tsv` and `psm_2.tsv`, and it has two different razor proteins:

In `psm_1.tsv`:
![image](https://user-images.githubusercontent.com/6926299/89949138-6a976a80-dbf5-11ea-9210-7563c502b415.png)

From `psm_2.tsv`:
![image](https://user-images.githubusercontent.com/6926299/89949298-afbb9c80-dbf5-11ea-9a24-0be4b9ae9338.png)

If you process t

[2020-08-12 12:56] prvst commented on #218
How were these tables generated? Are these from the same experiment? Different data sets? Is it a combined analysis?

[2020-08-12 13:01] fcyu commented on #218
There is a log here (https://github.com/Nesvilab/FragPipe/issues/218#issue-676360024). Look like all runs were processed together.

[2020-08-12 13:05] prvst commented on #218
I suggest using the latest version of Philosopher

[2020-08-12 13:39] anesvi commented on #218
Also, can you try with philosopher generated UniProt database. Download it with FragPioe. Philosopher sometimes has issues with custom  databases ( although RefSeq should be fine)

Sent from my iPhone

On Aug 12, 2020, at 9:07 AM, Felipe Leprevost <notifications@github.com> wrote:

﻿
External Email - Use Caution

I suggest using the latest version of Philosopher

—
You are receiving this because y

[2020-08-12 19:03] jd690764 commented on #218
Yes, these were run as a single batch. I actually ran this twice and it
gave the exact same error. I have used the same library in the past and had
no issues with it.

I'll repeat the run with the newest version of philosopher and
report back to you probably tomorrow or Friday.

Thank you,
Janos

On Wed, Aug 12, 2020 at 6:05 AM Felipe Leprevost <notifications@github.com>
wrote:

[2020-08-14 02:32] Tangpoyang opened #221 "ERRO_Cannot hide file"
Hi,
I am a new user of MSfragger, and I was trying to do an open search with .raw file acquired on the Thermo orbitrap. When I ran the program, I got the following errors. Attached is the log. txt for your reference. Could someone help me out? Thanks so much!

ERRO[19:22:41] Cannot hide file
FATA[19:22:41] Cannot write file. open .meta\meta.bin: Access is denied.

[Error_log_2020-08-13_19-23-10.tx

[2020-08-14 05:36] Tangpoyang opened #222 "Error: multiple databases"
Hi,
I am a new user of MSfragger, and I was trying to do an open search with .mzmL file acquired on the Thermo orbitrap. When I ran the program, I got the following errors. Attached is the log. txt for your reference. Could someone help me out? Thanks so much!

**Error: multiple databases referenced by C:/Users/tpoya/Documents/ytp_6_63_OpenSearch_Output2/interact.pep.xml
Use RefreshParser to updat

[2020-08-14 05:37] #221 closed

[2020-08-14 06:37] Tangpoyang commented on #222
Problem solved!

[2020-08-14 06:37] #222 closed

[2020-08-14 21:57] Tangpoyang opened #223 "No delta-mass.html file generated"
Hi,
I was trying to do an open search for two .mzmL files acquired on the Thermo orbitrap. I did the search separately, but with almost the same settings. One gave me delta-mass.html output, the other didn't. Does anyone know what was going on? BTW, is there any other way to generate the plot like the following from the FragPipe outputs? Thanks!
TP

![Capture](https://user-images.githubusercontent

[2020-08-14 22:08] anesvi commented on #223
That plot is generated if you use --mapmods
(in Filter command)
It is default for open search. Perhaps your second search did not have it.
You can also use DeltaMAss viewer
https://github.com/chhh/deltamass

Alexey
From: Tangpo Yang <notifications@github.com>
Sent: Friday, August 14, 2020 5:58 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Sub

[2020-08-14 23:46] Tangpoyang commented on #223
Thanks! It works!

[2020-08-14 23:46] #223 closed

[2020-08-15 00:06] ChemBioYang opened #224 "No expected modified PSMs found"
Hi,

Sorry to bother you with these questions! I was doing an open search for a covalent small-molecule probe enriched sample, which was run on the orbitrap. I expected to see some probe-modified PSMs, but the delta-mass plot (attached below) suggests no probe-mod at all (probe-mod peptides should have mass adduct of 800+). However, >500 probe-mod PSMs were identified from the MaxQuant search. Sin

[2020-08-15 00:13] fcyu commented on #224
I guess your probe's mass (800+) is out of the range of the plot. You need to open `psm.tsv` with Excel and check the `Delta Mass` column. You can also open `global.profile.tsv` (if you checked PTM-Shepherd) to see if your probe is listed.

BTW, I suggest you using the default open search setting except for setting the `precursor_mass_upper` to 1000

Best,

Fengchao

[2020-08-15 00:19] anesvi commented on #224
Did you increase the upper mass range from the default 500 Da to say 1000?

Sent from my iPhone

On Aug 14, 2020, at 8:06 PM, Tangpo Yang <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi,

Sorry to bother you with these questions! I was doing an open search for a covalent small-molecule probe enriched sample, which was run on the orbitrap. I expected to see some probe-modified

[2020-08-15 00:20] anesvi commented on #224
Ok it looks like you did increase

Send us some mzML files, hard to see what you are doing wrong

Sent from my iPhone

On Aug 14, 2020, at 8:06 PM, Tangpo Yang <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi,

Sorry to bother you with these questions! I was doing an open search for a covalent small-molecule probe enriched sample, which was run on the orbitrap. I expected to s

[2020-08-15 00:21] anesvi commented on #224
Oh yes, I forgot about that Limit in the plot

Sent from my iPhone

On Aug 14, 2020, at 8:13 PM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

I guess your probe's mass (800+) is out of the range of the plot. You need to open psm.tsv with Excel and check the Delta Mass column. You can also open global.profile.tsv (if you checked PTM-Shepherd) to see if your probe is l

[2020-08-15 00:34] Tangpoyang commented on #224
Hi Fengchao and Alexey,

Thank you both so much for answering my questions! I did find the expected probe-mod peptides from the modifications.tsv file. Is it possible to fix the plotting bug in the future?
TP

![Capture1](https://user-images.githubusercontent.com/55924400/90301373-5604dd80-de54-11ea-9485-2fbc9ed35e98.PNG)
![Capture](https://user-images.githubusercontent.com/55924400/90301377-5a30f

[2020-08-15 00:43] fcyu commented on #224
You can plot `PeakApex` column from `global.profile.tsv` file (checking PTM-Shepherd) using Excel. It is also very handy and that file can tell a lot more information regarding the modifications found from your data.

Best,

Fengchao

[2020-08-15 00:54] Tangpoyang commented on #224
Hi Fengchao,

A related question. I didn't see a global.profile.tsv file from the output files, although I did check PTM-Shepherd (see attached screenshot below). Is that possible that that feature doesn't work on my version?

Thanks,
TP

![PTM-Sheherd](https://user-images.githubusercontent.com/55924400/90301848-125fa300-de57-11ea-95ef-3e9e84edef62.PNG)

[2020-08-15 00:56] fcyu commented on #224
Can you send us the log file with the name starts with `log-`?

Thanks,

Fengchao

[2020-08-15 01:06] Tangpoyang commented on #224
log_2020-08-14_16-43-11.txt was generated, but it was empty (0KB).

[2020-08-15 01:07] fcyu commented on #224
This means that something crashed in the middle. Do you still have the FragPipe opened with the messages in `Run` tab?

[2020-08-15 01:11] Tangpoyang commented on #224
Yes. It was exported and attached.
[log_2020-08-14_18-09-48.txt](https://github.com/Nesvilab/FragPipe/files/5077969/log_2020-08-14_18-09-48.txt)

[2020-08-15 01:13] fcyu commented on #224
Thanks.

@danielgeiszler It's your turn :)

Best,

Fengchao

[2020-08-15 01:41] danielgeiszler commented on #224
Can you please also share the shepherd config file that was produced? It couldn’t find the mzML file attached to your run.

[2020-08-15 01:46] ChemBioYang commented on #224
Is it this fie? Thanks for your time!

[shepherd.zip](https://github.com/Nesvilab/FragPipe/files/5077986/shepherd.zip)

[2020-08-15 07:54] jd690764 commented on #218
Hi,

I updated philosopher to the latest version (3.2.9) and recreated the
protein library. I used a smaller dataset that doesn't take as much time to
run, but it produced the same error.

Here is one peptide that produced these conflicts:

1: TFNQVEIKPEMIGHYLGEFSITYKPVK NP_001009922 NP_001009562

All these ids are valid, they are in the library. But the peptide is only
present in 2 proteins:

gre

[2020-08-15 23:14] danielgeiszler commented on #224
Can you also send me your psm.tsv please? It couldn't find your mzML file. Was it just one file that you used to produce yc_XO44_DMTP\psm.tsv?

[2020-08-17 12:57] prvst commented on #218
@jd690764

Could you share with me all your reports and the database? I also need you to confirm the commands you executed in the last run.

[2020-08-17 16:07] ChemBioYang commented on #224
Yes, I converted one .raw file to a mzML file, and used that mzML file to do the search.
[psm.zip](https://github.com/Nesvilab/FragPipe/files/5085332/psm.zip)

[2020-08-17 17:28] jd690764 commented on #218
Hi Felipe,

here are the files:

https://office365stanford-my.sharepoint.com/:f:/g/personal/jdemeter_stanford_edu/Ej3jarHuaatHlpvqr9f2OGEBC_zKorCAR5Z8XFRMECwj2A?e=LHwa2b

Let me know if you need anything else.

Thank you,
Janos

On Mon, Aug 17, 2020 at 5:57 AM Felipe Leprevost <notifications@github.com>
wrote:

[2020-08-17 18:25] prvst commented on #218
How did you get this database?

[2020-08-17 18:28] jd690764 commented on #218
I have my own library that I made manually and then ran the latest
philosopher according to the instructions online.

Janos

On Mon, Aug 17, 2020 at 11:25 AM Felipe Leprevost <notifications@github.com>
wrote:

[2020-08-17 18:33] prvst commented on #218
I suspect that there might be an issue with the parsing of the FASTA sequences. I suggest that you take a look at our [documentation](https://github.com/Nesvilab/philosopher/wiki/How-to-Prepare-a-Protein-Database) on how to work with the pre-existing database, and how to format it for Philosopher properly.

[2020-08-17 18:39] fcyu commented on #218
@prvst I think one possible reason may be Philosopher matching substring rather than a whole string of protein IDs. That is why it messes up NP_001009 with all other proteins starting with NP_001009 (e.g., NP_001009922, NP_001009562, NP_001009608).

[2020-08-17 18:42] prvst commented on #218
Yes, it could be. But we need to be sure first that the formatting is OK, that way we can eliminate it from the possible problems.

[2020-08-17 19:22] jd690764 commented on #218
Hi Felipe,

I looked at the library again - before adding the contaminants - and it
seems correct to me. (The library I sent you is a derivative of a library I
successfully used before, but which is also giving the same error now - see
my original report.)

After adding the contaminants it also looks good, the only differences are
the added contaminants and reformatting of the protein sequences (r

[2020-08-18 08:09] hcadre opened #225 "IonQuant quits with error message"
Executing FragPipe on a single Bruker .d file results in a protein.tsv file, that contains 3500 IDed proteins, but with Intensity columns filled with 0 values only. Apparently, IonQuant cannot locate or load "Files\MSFragger-20171106\MSFragger-3.0\MSFragger-3.0\ext\bruker" after the philosopher report has been generated. However, the path seems to be correct.

The corresponding part of the console

[2020-08-18 12:42] fcyu commented on #225
Can you move our tools to a place where there is no space in the paths?

[2020-08-18 13:00] hcadre commented on #225
Many thanks for your quick reply! I did as you suggested and FragPipe worked like a gem! Now all the intensity values are there. Thank you very much again!

[2020-08-18 13:00] #225 closed

[2020-08-18 17:38] danielgeiszler commented on #224
Hey ChemBioYang,

So it looks like the issue is a that a file was moved between PTMShepherd checking how many files were in that directory and trying to access it. Since it looks like you're running this with your mzMLs in your Documents folder, it probably gets a lot of traffic. Is it possible to try running it again with your mzML in a different folder?

[2020-08-19 06:52] HiteshKore opened #226 "Unable to run .mgf files"
Hi,

I want to search my proteomic data using MSFragger. I converted the RAW mass-spectrometry files to mgf files using  MSConvert. I was able to successfully run MSFragger on some of the mgf files. However, for several files I got below java error:

Failed in checking Gel_Elite_69_f24.mgf
java.lang.ArrayIndexOutOfBoundsException

Here is my command:

java -Xmx100G -jar MSFragger-3.0.jar Gel_Elite

[2020-08-19 12:56] fcyu commented on #226
Hi Hitesh,

Since MGF format is quite flexible in its header, it is quite difficult to support all flavors well. We suggest you converting your raw file to mzML according to the [tutorial](https://github.com/Nesvilab/MSFragger/blob/master/tutorial_convert.md).

Best,

Fengchao

[2020-08-19 13:04] fcyu commented on #226
Hi Hitesh,

Can you send us your mgf (Gel_Elite_69_f24.mgf) to us? We would like to figure out the reason of the failure.

Thanks,

Fengchao

[2020-08-19 14:44] JRKrieger37 opened #227 "Consistent error on TimsTOF files with split database"
Hi -
I've tried running many files and just 1 file and I continuously see the same error. I've tried re-installing python but I get the same error.

concurrent.futures.process._RemoteTraceback:
"""
Traceback (most recent call last):
  File "C:\Users\kjonathan\Anaconda3\lib\concurrent\futures\process.py", line 239, in _process_worker
    r = call_item.fn(*call_item.args, **call_item.kwargs)
  File

[2020-08-19 19:54] guoci commented on #227
Please try the following fix, if it doesn't work, send me the pepXML files.
https://drive.google.com/file/d/13za-0YKsAw8Hw4EKzjHB6MY_6wfbYFWH/view?usp=sharing

[2020-08-20 04:30] ChemBioYang commented on #224
Hi Daniel,

I will try running the program in a different folder, and let you know how that goes.
Thanks so much for your help!
TP

[2020-08-21 00:23] HiteshKore commented on #226
Hi Fengchao,

Thank you for the quick response.

The mgf file can be downloaded from the link below-

https://drive.google.com/drive/folders/1ZH9kIzsbL3eae3IM_aBq35sOqL6WLbG_?usp=sharing

Please let me know the error.

I ran the same pipeline by converting raw files to mzML and It's  working fine.

Thank you once again.

Kind regards,
Hitesh

[2020-08-21 23:10] LakminiSenavirathna opened #228 "Labile modifications Search mode"
I am trying to identify glycation modifications ( either in K/R or D/E), but there are no Y Ion masses and Diagnostic Fragment masses.
If I try to run with labile mode in MSFragger, without Y Ion and Diagnostic Fragment masses (those are selected as 0 or none), it gives an error.
("0' can be put to Y ion masses, but the issue is diagnostic fragment masses can not be left "0")

Only way  I can do t

[2020-08-24 13:32] fcyu commented on #226
Hi @HiteshKore ,

Thanks, could you please accept my request of downloading your file from your link?

Best,

Fengchao

[2020-08-25 07:02] animesh opened #229 "Philosopher 3.2.9: a protein from protein.tsv cannot be found from any psm.tsv"
Trying to do label-free quantification via the FragPipe but it fails with error "Process 'IonQuant' finished, exit code: 1... java.lang.ArrayIndexOutOfBoundsException: -1075"

** 	at m.a(Unknown Source) 	at m.<init>(Unknown Source) 	at ionquant.IonQuant.main(Unknown Source)**

## attached the log file
[log_2020-08-25_08-57-14.txt](https://github.com/Nesvilab/FragPipe/files/5121878/log_2020-08-25_0

[2020-08-25 12:40] fcyu commented on #229
Thanks for your interest in our tools. The information from the log is not enough to locate the problem. Can you upload your files to https://umich.app.box.com/f/5cbf8baf456d403c8c05b01df1c93fa8?

Thanks,

Fengchao

[2020-08-25 14:49] HiteshKore commented on #226
Hi Fengchao,

Please let me know if you are able to download the file.

Thanks,
Hitesh

[2020-08-25 15:14] fcyu commented on #226
Hi Hitesh,

Thanks for your file. Looks like it was converted without peak picking, which results in a huge number of peaks, which reaches a limit (at most 8192 peaks) in MGF parsing. If you still want to use MGF format, could you convert your files according to the [tutorial](https://github.com/Nesvilab/MSFragger/blob/master/tutorial_convert.md) and change the format from 'mzML' to 'MGF'? At the

[2020-08-26 08:15] animesh commented on #229
I was trying to debug but failed :( attached log
[log_2020-08-26_09-54-14.txt](https://github.com/Nesvilab/FragPipe/files/5128435/log_2020-08-26_09-54-14.txt)
 but ended up creating a smaller ~3GB zip version of the same experiment (raw+result files) which has been upload to the link you provided :) hope this helps?
![image](https://user-images.githubusercontent.com/21457/91278863-0ba12c00-e785-11

[2020-08-26 12:48] fcyu commented on #229
Thanks @animesh ,

I reproduced your error and it is due to the bug from Philosopher: protein `sp|P32053|INTA_ECOLI` is in `protein.tsv` but it cannot be found from any `psm.tsv`

@prvst Can you take a look when you have time? All files are in https://umich.box.com/s/8bwd8jfqvzeary2gvjqfczv1zkh945pt.

Thanks,

Fengchao

[2020-08-26 12:56] anesvi commented on #229
Fengchao, can you try with philosopher RC4. I think I asked Felipe to endure nothing makes to PSM.tsv if not in protein.tsv, and he fixed. But I have not tested myself. This could be a good test
Thanks
Alexey

Sent from my iPhone

On Aug 26, 2020, at 8:48 AM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

Thanks @animesh<https://github.com/animesh> ,

I reproduced your

[2020-08-26 13:50] animesh commented on #229
update: removing the IonQuant from workflow seems to have worked
[log_2020-08-26_15-48-12.txt](https://github.com/Nesvilab/FragPipe/files/5130220/log_2020-08-26_15-48-12.txt) 👍

[2020-08-26 13:53] fcyu commented on #229
Hi Alexey,

Sure. Tested 4.0.0-rc4 and the issue is gone.

Best,

Fengchao

[2020-08-26 13:55] fcyu commented on #229
@animesh ,

This is an issue from Philosopher and you have to wait for the next release. Removing IonQuant can surely prevent the crashing because there will be no program to use inconsistent information.

Best,

Fengchao

[2020-08-26 14:01] anesvi commented on #229
Good. Perhaps Felipe can send them that new philosopher version, or wait for the official release

Sent from my iPhone

On Aug 26, 2020, at 9:53 AM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi Alexey,

Sure. Tested 4.0.0-rc4 and the issue is gone.

Best,

Fengchao

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<htt

[2020-08-26 15:56] foreverwander opened #230 "Only use CrystalC results in "Running a FragPipe-equivalent workflow on Linux"?"
**Describe the bug**
I am following the instructions on "Running a FragPipe-equivalent workflow on Linux", here: [https://msfragger.nesvilab.org/tutorial_linux.html](url)

Specifically for Non-ion mobility data and open-search.

I have a question about the following lines:

[code]

Essentially, this code instructs for the moving of MSFragger outputs to the working directory, and running CrystalC o

[2020-08-26 15:59] fcyu commented on #230
Yes, you are right. Should use `*_c.pepXML`. I will correct the script soon.

Thanks,

Fengchao

[2020-08-26 15:59] #230 closed

[2020-08-27 15:37] CKFF opened #231 "Error: Could not find or load main class Files\MSFragger-3.0\ext\thermo"
**Describe the bug**
Running an open search via fragpipe results in this error:

Error: Could not find or load main class Files\MSFragger-3.0\ext\thermo
Process 'Crystal-C' finished, exit code: 1

A closed search with the same raw files as input works just fine without errors. When I run an open search without Crystal-C the same error occurs at the PTM Shepherd step. I suspect it has something to

[2020-08-27 15:57] fcyu commented on #231
Can move your `FragPipe-jre-13.0` folder to a place where there is no space in the name?

Best,

Fengchao

[2020-08-27 15:57] #231 closed

[2020-08-27 17:45] CKFF commented on #231
I moved fragpipe, msfragger and philosopher folders into a new directory without spaces in the directory names. Also the raw data has no spaces in the directory names.
Still, the same error occurs, see the log file attached here

[log_2020-08-27_19-43-27.txt](https://github.com/Nesvilab/FragPipe/files/5137920/log_2020-08-27_19-43-27.txt)

[2020-08-27 17:50] fcyu commented on #231
The cache was not been refreshed. Could you click 'Clear Cache and Close' in the 'Config' tab?

Best,

Fengchao

[2020-08-28 13:46] Usman095 opened #232 "java.lang.NumberFormatException: Too many digits - Overflow"
**Describe the bug**
When parsing the mzML file generated by msconvert from an mgf file, it throws the NumberFormatException.
The error log is given below:
[code]

**To Reproduce**
Convert mgf file to mzML using msconvert. The mgf file has the following fields:
BEGIN IONS
TITLE=20111219_EXQ5_KiSh_SA_LabelFree_HeLa_Proteome_Control_rep1_pH4.5.5.3
RTINSECONDS=1.3906311
PEPMASS=497.554892607892 69544

[2020-08-28 14:49] fcyu commented on #232
Hi @Usman095 ，

Neither of those two numbers (497.554892607892 or 695441.72387700004) will cause overflow. Can you paste the corresponding entry from the converted mzML?

Thank,

Fengchao

[2020-08-28 18:21] Usman095 commented on #232
The mzML file that I have is more than 10GBs. Is there a way to know which entry caused the error in mzML file?

[2020-08-28 18:23] fcyu commented on #232
Sorry, I though you already identify the location in MGF file since you send us this

Convert mgf file to mzML using msconvert. The mgf file has the following fields:
BEGIN IONS
TITLE=20111219_EXQ5_KiSh_SA_LabelFree_HeLa_Proteome_Control_rep1_pH4.5.5.3
RTINSECONDS=1.3906311
PEPMASS=497.554892607892 695441.72387700004
CHARGE=3+
...

If you cannot identify the location, there is no way for us to rep

[2020-08-28 18:48] LakminiSenavirathna commented on #228
Hi Dan,

Thank you for your reply. I tried your suggestion. It ran without error messages. But, in the both situations, 1). labile modification mode "off" and 2). labile modification mode is "labile" with Y Ion masses and Diagnostic Fragment masses are zero, I get the similar results. In labile mode with with zero for Y ion and Diagnostic fragment masses , I set the allowed residues to"KR". I am e

[2020-08-28 19:14] Usman095 commented on #232
Here's the mzML file that I used:
https://fiudit-my.sharepoint.com/:u:/g/personal/mutariq_fiu_edu/EQLlewA2O0NItbB71Rd-5SABmZgWpEkAuhaoEz8-C7-J7w?e=oM0bcN

[2020-08-28 19:16] fcyu commented on #232
Thank you very much. We will take a look soon.

Best,

Fengchao

[2020-08-28 19:28] fcyu commented on #232
Hi @Usman095 ,

I confirmed that this is a bug in data loading. It will be fixed in the next MSFragger release.

Thanks,

Fengchao

[2020-08-28 19:28] dpolasky commented on #228
Yes, that is how it currently works, but this been fixed for next release: modifications will only be localized to the specified residues (in both "labile" and "off" modes). We are planning to release the update soon - thanks for your patience!

[2020-08-29 00:51] Usman095 commented on #232
Awesome! Thank you!

[2020-08-29 00:52] #232 closed

[2020-08-29 02:41] Usman095 commented on #232
Is there a quick fix that I can apply to get around the bug?

[2020-08-29 02:44] fcyu commented on #232
You can round the numbers in your MGF to, for example, 6 decimal points.

[2020-08-29 10:56] HiteshKore commented on #226
Thank you so much.

Kind regards,
Hitesh

On Wed, Aug 26, 2020 at 1:14 AM Fengchao <notifications@github.com> wrote:

[2020-08-29 13:37] #226 closed

[2020-08-29 13:38] #229 closed

[2020-09-03 08:27] daijie106 opened #233 "Split Database Issues"
I am trying non-specific  search. I have been suggested to use split database and I tried it. The processing failed and show the message as following:
 Process 'MsFragger' finished, exit code: 1
Process returned non-zero exit code, stoppingTraceback (most recent call last):
  File "G:\Software\MSFragger\Fragpipe13.0\tools\msfragger_pep_split.py", line 47, in <module>
    params_txt = param_path.re

[2020-09-04 00:43] jd690764 commented on #218
Hi Felipe,

Indeed, the error was due to the library. Description lines like this:

produce errors, but lines like this:

don't. The first form of description used to work with earlier versions of
msfragger/philosopher.

Thank you for your help,
Janos

On Mon, Aug 17, 2020 at 12:22 PM jd690764 <notifications@github.com> wrote:

[2020-09-04 02:25] daijie106 commented on #233
Thank you guoci!

I tried the new version of FragPipe. And new problem jumped as following:
RawFileReader reading tool. Copyright (c) 2016 by Thermo Fisher Scientific, Inc. All rights reserved.
System OS: Windows 7, Architecture: AMD64
Java Info: 1.8.0_242, OpenJDK 64-Bit Server VM,
JVM started with 9 GB memory
Checking database...
Y_type_masses has an empty value.
Traceback (most recent call last

[2020-09-04 13:40] fcyu commented on #233
@guoci The dev version of FragPipe is not well compatible with released MSFragger. Could you send the updated script to Jie?

@daijie106 After you receiving Guo Ci's script, you need to put it to `tools` folder inside `fragpipe` folder.

Thanks,

Fengchao

[2020-09-04 13:41] fcyu commented on #227
No response.

[2020-09-04 13:41] #227 closed

[2020-09-04 14:04] guoci commented on #233
@daijie106 please download at:
https://raw.githubusercontent.com/Nesvilab/FragPipe/develop/MSFragger-GUI/tools/msfragger_pep_split.py

[2020-09-04 14:51] prvst commented on #218
I'm glad that you were able to find the issue.

[2020-09-05 00:56] JRKrieger37 commented on #227
Hi - sorry for the delay. The build you shared gave me the same issues unfortunately. This, uninstalled and reinstalled philosopher and associated packages and that seemed to do the trick. Thanks!

[2020-09-05 06:23] daijie106 commented on #233
@fcyu，@guoci，

Thank you both for help.
I replaced the mafragger_pep_split.py with the new one, and tried the FragPipe again.
The same problem happened as described as following:

Y_type_masses has an empty value.
Traceback (most recent call last):
  File "G:\Software\MSFragger\FragPipe-jre-13.1-build39\fragpipe-13.1\tools\msfragger_pep_split.py", line 470, in <module>
    main()
  File "G:\Softwa

[2020-09-05 06:29] daijie106 commented on #233
When I tried it without split database, and it showed:
Checking database...
Y_type_masses has an empty value.
Process 'MsFragger' finished, exit code: 1
Process returned non-zero exit code, stoppingMsFragger move pepxml
G:\Software\MSFragger\FragPipe-jre-13.1-build39\fragpipe-13.1\jre\bin\java.exe -cp G:\Software\MSFragger\FragPipe-jre-13.1-build39\fragpipe-13.1\lib\fragpipe-13.1-build39.jar com.g

[2020-09-21 23:15] hdesai17 opened #234 "Identifying cysteine modifications in closed search"
I've been having issues searching data from isotopically labeled cysteines (heavy and light modifications ~460 and ~470).
I've been setting variable modifications in closed search mode for cysteines (e.g. var_mod = ## C), but the results are only outputting the heavy modified peptides. I have also expanded the upper mass range to 600 instead of 20.
Any way to fix this?

Thanks much

[2020-09-21 23:51] fcyu commented on #234
Can you send us your fragger.params and log?

Thanks,

Fengchao

[2020-09-22 08:24] PDiracDelta opened #235 "bug on Ubuntu 18.04: Error delivering events through the bus"
When I click 'Run', it shows the following error. I tried to do an open, nonspecific search, but I'm guessing my settings will not be related to something like "Sticky note". I tried again with other search settings; the same error occurs. Perhaps this is functionality that does not have to crash the program in case of failure?
MSFragger v3.0
[code]

[2020-09-22 13:03] fcyu commented on #235
It looks like a GUI-related exception specific to your operating system. I am afraid that we cannot fix it. Can you try to upgrade/troubleshoot your OS, or try FragPipe with another operating system, such as Windows?

Best,

Fengchao

[2020-09-22 13:03] #235 closed

[2020-09-22 13:41] #224 closed

[2020-09-24 21:36] hdesai17 commented on #234
[log_2020-09-14_12-09-26.txt](https://github.com/Nesvilab/FragPipe/files/5279318/log_2020-09-14_12-09-26.txt)

[fragger.params.zip](https://github.com/Nesvilab/FragPipe/files/5279325/fragger.params.zip)

[2020-09-24 21:42] fcyu commented on #234
Thanks for your files.

First, should you change `add_C_cysteine = 57.021460` to `add_C_cysteine = 0` if your data doesn't not have 57+C as the fixed modification?

Second, the `fragment_mass_tolerance = 600` you changed is for MS2 mass tolerance, but your data looks like from high resolution MS2 (ignore this if I am wrong). Could you double check it?

Best,

Fengchao

[2020-09-24 22:02] hdesai17 commented on #234
We normally include 57 as a static modification in other searches with heavy and lights masses as variable mods.
The data is from lower res iontrap
Thanks,
Heta

[2020-09-24 22:06] fcyu commented on #234
OK, then, your parameters look good if the modifications' masses are correct. I cannot see any reason of missing heavy ones if your data has it.

Best,

Fengchao

[2020-09-24 22:06] #234 closed

[2020-09-25 00:37] danielgeiszler commented on #234
What are the masses of your cysteines after labeling?

[2020-09-25 00:42] hdesai17 commented on #234
464.28595
470.29976 (only this one is showing up after the search)

after initial labeling with IAA the mass is 137.08352

[2020-09-25 02:03] anesvi commented on #234
Can you try with allow_multiple_variable_mods_on_residue = false.

But we may need to get some data if still does not work, can you transfer a file to us

Thanks
Alexey

From: hdesai17 <notifications@github.com>
Sent: Thursday, September 24, 2020 8:43 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Identifying c

[2020-09-25 12:57] 1-stephan opened #236 "LFQ is not working for TIMS TOF PASEF DDA"
**Describe the bug**
I wanted to use FragePipe and MSFragger to perform protein LFQ for Bruker TIMS TOF PASEF DDA data. When I start the pipeline with LFQ Match between runs and MaxLFQ, I get protein identifications but no LFQ values. All columns are zero values.

The pipeline stops ion quant with following error message:

_Error: Could not find or load main class Software\fragpipe\tools\MSFragger

[2020-09-25 13:00] fcyu commented on #236
Thanks for your interest in our tools. Could you please move all the tools to a folder without any space in the path? Right now, there is a space in `C:\MS Software\fragpipe...`.

Thanks,

Fengchao

[2020-09-25 13:00] #236 closed

[2020-09-25 14:49] 1-stephan commented on #236
Many Thanks for the quick reply. I have renamed the folder in MS_software and restarted the analysis. Ionquant seems to work now. I'll let you know if everything has worked for LFQ.

Best,
Stephan

[2020-09-27 03:35] danielgeiszler commented on #234
I know this is already closed, but I think your masses are wrong.

Cysteine + IAA should be 160.03065, not 137.08352.

If the final masses of your labeled cysteines are 464 and 470, you can't do this:

variable_mod_06 = 464.28595 C 1
variable_mod_07 = 470.29976 C 1

These masses are added *on top of* the IAA-labeled Cysteine. It looks like you're putting the expected masses of the residues in, but

[2020-09-27 22:15] hdesai17 commented on #234
thanks you! I'll try out the other mods and get back to you

[2020-09-28 10:55] 1-stephan commented on #236
Thanks again Fengchao,
Ionquant has worked now and I got the LFQ intensities in the output table.
Compared to Maxquant, I even got more IDs and Quantifications.

Best,
Stephan

[2020-09-28 12:37] fcyu commented on #236
Thanks, and glad to hear that. Please feel free to contact us if you have any further questions.

Best,

Fengchao

[2020-09-28 18:38] hdesai17 commented on #234
I tried 304.2553 and 310.2691. I also tried 333.21624 and 327.20243 but none of these identified the amount of peptides we'd expect. In other search engines, we use the 137 and the 464/470 masses.

Should I send a file over?

[2020-09-30 15:54] fcyu commented on #233
Hi Jie,

We just released [FragPipe-14.0 ](https://github.com/Nesvilab/FragPipe/releases/latest) which should solve your problem.

Please feel free to let us know if there is any further questions.

Best.

Fengchao

[2020-09-30 15:55] fcyu commented on #228
Hi @LakminiSenavirathna ,

We just released [FragPipe-14.0](https://github.com/Nesvilab/FragPipe/releases/latest) which should solve your problem.

Please feel free to let us know if there is any further questions.

Best.

Fengchao

[2020-09-30 15:57] fcyu commented on #217
Hi @xLinkKnight ,

We released [MSFragger-3.1](https://msfragger.arsci.com/upgrader/) which contains timsdata library 2.7.0, which is supposed to be faster than 2.4.4. And we also changed to single thread in loading the data because it is the faster than multi-threading.

Please feel free to contact us if there is any questions.

Best,

Fengchao

[2020-09-30 15:59] fcyu commented on #204
Hi @daniswan ,

The released [FragPipe-14.0](https://github.com/Nesvilab/FragPipe/releases/latest) has this function.

Please feel free to let us know if there is any further questions.

Best,

Fengchao

[2020-09-30 16:00] fcyu commented on #199
Hi @andyzim111 ,

The released [FragPipe-14.0](https://github.com/Nesvilab/FragPipe/releases/latest) has PTMProphet.

Please feel free to let us know if there is any further questions.

Best,

Fengchao

[2020-09-30 16:35] andyzim111 commented on #199
Great! I will try the new version of FragPipe. 钟传奇 邮箱：andyzcq@gmail.com 签名由 网易邮箱大师 定制 On 10/01/2020 00:00, Fengchao wrote: Hi @andyzim111 , The released FragPipe-14.0 has PTMProphet. Please feel free to let us know if there is any further questions. Best, Fengchao — You are receiving this because you were mentioned. Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-30 21:34] stharan opened #238 "FragPipe 14 - unable to load .d files"
**Describe the bug**
I'm unable to add .d files to Fragpipe 14 and MSFragger 3.1.  I had no issues previously using Fragpipe 13.0.

Please see attached screenshots.
![image](https://user-images.githubusercontent.com/40571915/94741971-f9497d80-0342-11eb-811e-66b8ff2dbbb2.png)
![image](https://user-images.githubusercontent.com/40571915/94742042-11b99800-0343-11eb-967b-da66a8426ea0.png)
![image](http

[2020-09-30 21:36] fcyu commented on #238
Thanks for your feedback. We also found and fixed this issue. Can you download FragPipe 14.0 again? After downloading and unzip, you may need to click 'Clear cache and close'. Then start FragPipe again.

Sorry for the trouble,

Fengchao

[2020-09-30 22:01] stharan commented on #238
Worked after 'clear cache and close'!  Thanks again.

[2020-09-30 22:01] #238 closed

[2020-09-30 23:41] melechco opened #239 "Error with SpecLibGen"
Dear friends.
I am trying to generate a spectral library using either SpectraST or EasyPQP but it failed in all attempts.
For EasyPQP the following error is presented:

FileNotFoundError: [Errno 2] No such file or directory: '/usr/local/lib/python3.7/dist-packages/easypqp/data/unimod.xml'
EasyPQP convert error END
Process 'SpecLibGen' finished, exit code: 1
Process returned non-zero exit code, sto

[2020-10-01 00:57] guoci commented on #239
try reinstalling EasyPQP with:
[code]

[2020-10-01 11:36] stharan opened #240 "no calibrated mgf created"
**Describe the bug**
Despite checking off the box for create calibrated mgf (see config file) no mgf is created.

[fragpipe_2020-09-30_21-33-04.config.txt](https://github.com/Nesvilab/FragPipe/files/5311610/fragpipe_2020-09-30_21-33-04.config.txt)
[fragger.params.txt](https://github.com/Nesvilab/FragPipe/files/5311611/fragger.params.txt)

----------------------
## If you're submitting a bug report

[2020-10-01 13:23] animesh opened #241 "WARNING Found the following zero-mass residues"
Running a search against the Salmon proteome UP000087266 results in the following warning for sequences containing "U"

[code]
Wondering how are atypical letters in protein sequences are being handled by Fragpipe?

[2020-10-01 13:37] fcyu commented on #241
This is the warning from ProteinProphet, which won't affect the result much. In FragPipe/MSFragger, we using the real masses of U and O in the analysis.

Best,

Fengchao

[2020-10-01 13:37] #241 closed

[2020-10-01 21:20] xLinkKnight commented on #217
Thank you for the wonderful support. May I ask if I need to register with Bruker in order to view the tims SDK pipeline? I ask because I've noticed version 2.8.801.56 (4/15/2020) of timsdata in the wild. All I wish is for Bruker to publish release notes or to have a software portal where this information could easily be accessible.

I have yet to attempt loading data or searching with the new vers

[2020-10-01 21:51] fcyu commented on #217
I am not sure if there is a formal release channel/website from Bruker. We got the library by email. We did try 2.8.7 but rolled back to 2.7.0 because the newer one requires a relatively new glibc library in Linux.

Thanks again for your interest in our tools, and please feel free to contact us if there is any further question.

Best,

Fengchao

[2020-10-01 21:51] #217 closed

[2020-10-01 22:57] anesvi commented on #217
Speaking of diaPASEF, I keep asking Vadim to add support for it in DIA-NN. He is just busy with other things , but hopefully it will happen one day!

Sent from my iPhone

On Oct 1, 2020, at 5:21 PM, xLinkKnight <notifications@github.com> wrote:

﻿
External Email - Use Caution

Thank you for the wonderful support. May I ask if I need to register with Bruker in order to view the tims SDK pipeline? I

[2020-10-02 12:16] andyzim111 opened #242 "About outputs of FragPipe 14 processing phospo-DDA data."
I have used FragPipe-14 to analyze phospho-DDA data. PTMProphet option is enabled.

I can find the PTMProphet probability of phosphopeptide in psm.tsv file, but there is no PTMProphet probability in ion.tsv or peptide.tsv [file.]

So how can I get the phosphopeptide ion list with PTMProphet probability?

[2020-10-02 13:54] prvst commented on #242
@andyzim111 Can you share the log?

[2020-10-02 14:04] andyzim111 commented on #242
[log_2020-10-01_23-01-00.txt](https://github.com/Nesvilab/FragPipe/files/5318402/log_2020-10-01_23-01-00.txt)

[2020-10-02 14:18] fcyu commented on #240
Hi @stharan ,

Thanks for your feedback. That is indeed a bug in MSFragger. We fixed it in version 3.1.1. Could you please download ([https://msfragger.arsci.com/upgrader/](https://msfragger.arsci.com/upgrader/)) and try it?

Best,

Fengchao

[2020-10-02 17:37] guoci opened #243 "java.lang.UnsupportedOperationException thrown"
Using FragPipe 14 on Linux with workflow `open` on a single `.raw` file, I got the following error.
[code]
[log_2020-10-02_12-27-47.txt](https://github.com/Nesvilab/FragPipe/files/5319455/log_2020-10-02_12-27-47.txt)

[2020-10-02 17:38] fcyu commented on #243
Can MSFragger search the raw file?

[2020-10-02 17:39] guoci commented on #243
@fcyu yes. The log is attached.

[2020-10-02 17:40] fcyu commented on #243
@hayse1 Told me the same issue yesterday but I cannot reproduce it in Windows. `-Dbatmass.io.libs.thermo.dir="/home/ci/msfragger/target/ext/thermo"` also looks correct. So, I don't know what the issue is.

[2020-10-02 20:30] xLinkKnight commented on #217
Sorry to beat a dead horse about timsTOF file loading. May I ask if some form of simultaneous execution is possible for the data loading stage? To spawn multiple instances equal to the number of compute threads and no more than the total file count in order to load multiple files as efficiently as a single threaded operation will allow.

I'm not sure about code dependencies or shared resources, an

[2020-10-02 20:35] fcyu commented on #217
We didn't made such a change, which requires lots of effort, in MSFragger. But that might be a solution to speed up the loading.

[2020-10-03 02:07] guoci commented on #243
Fixed in commit 6b0434b0282a2cbb595bf23802f0915f4464294a.

[2020-10-03 02:07] #243 closed

[2020-10-05 17:18] melechco commented on #239
Thanks Guoci!
You nailed it.

[2020-10-05 17:18] #239 closed

[2020-10-05 19:35] hhabra opened #244 ""Cannot Run Program mono""
I'm not sure if this error has been covered in the issues, but I tried running Fragpipe with five or six .raw files and almost immediately got this error. I'm not sure how to overcome it.

![image](https://user-images.githubusercontent.com/8129799/95123168-89127180-071f-11eb-9f75-293dd70158b7.png)

The full error log will be attached to my next post.

[2020-10-05 19:49] anesvi commented on #244
Hani, please also upgrade to FragPipe 14. Isee you are running v 13
And we still recommend conversion to mzML (except for Bruker data)
Best,
Alexey

From: Hani Habra <notifications@github.com>
Sent: Monday, October 5, 2020 3:36 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Nesvilab/FragPipe] "Cannot Run Program Mo" (#244)

External

[2020-10-05 19:54] hhabra commented on #244
@fcyu and @anesvi  Thank you so much for the quick replies. I'm not sure if I missed that instruction somewhere or it's just a lack of linux familiarity on my part.

By the way @anesvi, this fragpipe was assigned for the BIOINF 551 class. Since some of these students don't have Macs, I got them access to a Linux server, which unfortunately has only 6 GB total RAM. Do you think this is sufficient f

[2020-10-05 19:58] fcyu commented on #244
Hi @hhabra ,

No, you didn't miss anything. We forgot to add a note regarding installing Mono. I just put it to our tutorial [https://msfragger.nesvilab.org/tutorial_setup_fragpipe.html](https://msfragger.nesvilab.org/tutorial_setup_fragpipe.html).

Best,

Fengchao

[2020-10-05 20:06] anesvi commented on #244
FragPipe does not run on mac. Windows or Linux.
I am not sure about 6 GB of RAM. Only basic analyses would work with so little memory I think

From: Hani Habra <notifications@github.com>
Sent: Monday, October 5, 2020 3:55 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] "Canno

[2020-10-05 20:16] hhabra commented on #244
@fcyu Ah okay. Having the added instruction helps

@anesvi I meant to say they have macs and not windows, not that they "don't have macs". Sorry for the confusion there. Yeah that was my thought about memory as well. I will try it, but I suspect that it may not complete and the server does time out, which I think may cause all progress to be lost. Bummer.

[2020-10-06 12:47] Angrist75 opened #245 "DIA"
Dear developer
I can't run both DIA workflows because of an error with MSConverter.
What are the differences between DIA Umpire and DIA MSFragger?
all the best
Andrea
[HELP_log_2020-10-06_14-12-53.txt](https://github.com/Nesvilab/FragPipe/files/5333822/HELP_log_2020-10-06_14-12-53.txt)

[2020-10-06 13:00] fcyu commented on #245
Hi Andrea,

Thank you for using our tools. You may need to specify your msconvert.exe in DIA Umpire tab.

DIA Umpire extracts pseudo MS/MS scan based on peak tracing. Then, MSFragger searches those MS/MS scan in DDA approach. MSFrgger-DIA directly searches the DIA data, refine scores, and report top-N hits.

From my-point-of-view, DIA Umpire is suitable for wide-window DIA and MSFragger-DIA is sui

[2020-10-06 13:11] Angrist75 commented on #245
![image](https://user-images.githubusercontent.com/63410174/95205713-0bfdff80-07e6-11eb-9143-0ea787077b1f.png)
I did it but the error remains!
why?

[2020-10-06 13:13] Angrist75 commented on #245
![image](https://user-images.githubusercontent.com/63410174/95205983-68f9b580-07e6-11eb-9691-57a3f42291e1.png)
I apologize, I made the wrong copy-screen!

[2020-10-06 13:15] fcyu commented on #245
Could you send us your log this time?

Thanks,

Fengchao

[2020-10-06 13:15] Angrist75 commented on #245
[HELP_log_2020-10-06_14-12-53.txt](https://github.com/Nesvilab/FragPipe/files/5334014/HELP_log_2020-10-06_14-12-53.txt)

[2020-10-06 13:18] anesvi commented on #245
For some reason it points to MY folder (on my computer). Must be because I created the workflow, and it remembered the path. Obviously you need to change that to where you have it on YOUR computer

From: Angrist75 <notifications@github.com>
Sent: Tuesday, October 6, 2020 9:12 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvila

[2020-10-06 13:20] fcyu commented on #245
Hi @Angrist75

Your new log shows that

I think the path is still not corrected.

Best,

Fengchao

[2020-10-06 13:23] Angrist75 commented on #245
![image](https://user-images.githubusercontent.com/63410174/95207064-baef0b00-07e7-11eb-889e-3652f7fbf7d1.png)
the directory you see is the Output directory, I don't understand why it relates to the MSConvert directory.

[2020-10-06 13:25] fcyu commented on #245
No, the key point is this: Cannot run program "C:\Users\nesvi\AppData\Local\Apps\ProteoWizard 3.0.20255.0b0ffcfd5 64-bit\msconvert.exe"

[2020-10-06 13:28] anesvi commented on #245
You need to change in DIA-U tab from
C:\Users\nesvi\AppData\Local\Apps\ProteoWizard 3.0.20255.0b0ffcfd5 64-bit\msconvert.exe
To
Your msconvert folder. You need to find where Proteowizard is installed on your machine, and select msconvert.exe from that folder

From: Fengchao <notifications@github.com>
Sent: Tuesday, October 6, 2020 9:26 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nes

[2020-10-06 13:30] anesvi commented on #245
We do not have a good tutorial for DIA analysis yet, but I am happy to send you a zoom link (contact me directly) and do a hands-on tutorial via zoom for you.
Best
Alexey

From: Angrist75 <notifications@github.com>
Sent: Tuesday, October 6, 2020 9:24 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: R

[2020-10-06 13:35] Angrist75 commented on #245
I understood and immediately try to correct the error. In case it turns out to be true, I apologize for the naivety but I was convinced I marked the directory in the right way, but the LOG does not lie :)

[2020-10-08 09:05] merbllab commented on #229
Hi , I just have the same problem described here with Philosopher version 3.3.11. the IonQuant stop working on an error as describe above. the protein.tsv contain a protein with zero intensity  in all samples and that cause the IonQuant to quit.
is that problem solved?
thanks

[2020-10-08 09:31] mziehm opened #247 "Error: philosopher-ProteinProphet filename or extension is too long"
I'm receiving the error given below.
MSFragger and PeptideProphet has run before without error.
Can you either please fix it or advice on what the problem is and which restrictions apply were. So I can circumvent this.

...
D:\DATA\MZ\FragPipe-14.0\tools\philosopher_v3.3.11\philosopher.exe proteinprophet --maxppmdiff 2000000 --output combined
_[a long list of files follows ending with "D:\DATA\MZ\

[2020-10-08 09:54] merbllab opened #248 "issue 229 return in philosopher 3.3.11"
Hi , I just have the same problem described in issue 229 with Philosopher version 3.3.11. the IonQuant stop working on an error. the protein.tsv contains a protein with zero intensity in all samples and that cause the IonQuant to quit.

2020-10-07 14:36:28 [ERROR] - Protein sp|O75448|MED24_HUMAN from D:\PXD003790-fragpipe_test\analysis_2\PXD003790-fragpipe_test/protein.tsv cannot be found from any

[2020-10-08 12:42] fcyu commented on #247
Hi @mziehm ,

Could you rename your fasta to a shorter name and try again?

Best,

Fengchao

[2020-10-08 12:47] fcyu commented on #248
Hi @merbllab ,

Sorry for the trouble. I thought this bug was fixed in Philosopher. I will check with Felip.

Hi @prvst ,

Could you take a look when you have time? I think these it is related to these two issues:
https://github.com/Nesvilab/FragPipe/issues/229#issuecomment-705435780
https://github.com/Nesvilab/Project-Management/issues/209

Thanks,

Fengchao

[2020-10-08 15:10] prvst commented on #248
@merbllab Can you share your database file?

[2020-10-08 15:14] anesvi commented on #248
Fengchao, what happens now? IonQuant crashes? Since this philosopher bug keep re-occurring, should we just ignore those peptides in IonQuant? But yes, need to fix in philosopher. I also thought it was fixed

From: Felipe Leprevost <notifications@github.com>
Sent: Thursday, October 8, 2020 11:11 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Su

[2020-10-08 15:39] fcyu commented on #248
IonQuant has already ignored some non-critical errors, such as
[code]

But this one
[code]
will cause other errors in calculating protein intensities and other stuff. So, IonQuant has to stop.

Best,

Fengchao

[2020-10-08 15:45] mziehm commented on #247
Yes, startet it again with "D:\DATA\MZ\SpikeIn\dec-con-UP_human+ecoli_iso_up_2019-07.fasta".
I'll report back with what happend.
I previously already shortend the path to the raw-files and the results folder, which didn't help.

[2020-10-08 16:32] fcyu commented on #248
Hi @merbllab

Could you please share your files with us, including mzml, fasta, parameters, logs, and tsv files? I can give you a link to upload if it is appropriate.

Thanks,

Fengchao

[2020-10-08 18:48] stharan opened #249 "Philosopher creating empty fasta files instead of concatenated forward/reverse fasta files"
**Describe the bug**
Either using the "add decoy" button in Fragpipe or running Philisopher v3.3.10 in command line (philosopher.exe database --custom d:\FASTA_databases\Homo_sapiens_SwissProt_TaxID_9606.fasta --contam) an empty .fas file is created.

c:\FragPipe\fragpipe14.0\tools\philosopher>philosopher.exe database --custom d:\FASTA_databases\Homo_sapiens_SwissProt_TaxID_9606.fasta --contam
INF

[2020-10-08 18:50] fcyu commented on #249
Hi @stharan ,

Thanks for using our tools. This bug was fixed in Philosopher [3.3.11](https://github.com/Nesvilab/philosopher/releases/tag/v3.3.11).

Best,

Fengchao

[2020-10-08 18:50] #249 closed

[2020-10-08 22:08] merbllab commented on #248
Hi
Yes!! I can share all the relevant files.
I will arrange it share through google drive.
Assaf

נשלח מה-iPhone שלי

[2020-10-08 22:42] merbllab commented on #248
Hi Fengchao ,

Please let me know if you received the link for the files.

Regards

Assaf

From: Fengchao <notifications@github.com>
Sent: Thursday, October 8, 2020 7:32 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: merbllab <assafkacen@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] issue 229 return in philosopher 3.3.11 (#248)

Hi @merbllab <https:/

[2020-10-08 22:44] fcyu commented on #248
Hi Assaf,

No, I didn't. Did you send them to my email (yufe@umich.edu)?

Best,

Fengchao

[2020-10-08 23:14] merbllab commented on #248
I reshared it with your email

From: Fengchao <notifications@github.com>
Sent: Friday, October 9, 2020 1:45 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: merbllab <assafkacen@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] issue 229 return in philosopher 3.3.11 (#248)

Hi Assaf,

No, I didn't. Did you send them to my email (yufe@umich.edu <mailto:yufe

[2020-10-08 23:53] fcyu commented on #248
Hi Assaf,

I received files. Will investigate them and get back to you soon.

Thanks,

Fengchao

[2020-10-09 01:16] fcyu commented on #248
Hi Assaf,

After looking into your files, we found that it is because the protein FDR threshold is 1 in filtering (which is the default setting in nonspecific search). We have "muted" the error in IonQuant and now everything should work well.

Please find a fixed FragPipe from [https://umich.box.com/s/6u6mm070133bs6onkyxh3ay4vwhluwvn](https://umich.box.com/s/6u6mm070133bs6onkyxh3ay4vwhluwvn)

Plea

[2020-10-09 13:16] fcyu commented on #248
Hi Assaf,

Could you please also share your fasta with us?

Thanks,

Fengchao

[2020-10-09 20:13] #244 closed

[2020-10-11 13:19] #245 closed

[2020-10-11 13:22] #240 closed

[2020-10-11 13:22] #233 closed

[2020-10-11 13:22] #228 closed

[2020-10-11 13:23] #199 closed

[2020-10-11 13:23] #204 closed

[2020-10-12 06:48] mziehm commented on #247
Unfortunately, also this didn't solve the error.
(I again ommited [...] the long list of files in the proteinprophet line below)

[code]

[2020-10-12 11:15] anesvi commented on #247
I think the error is because you have a lot of files listed as input to ProteinProphet

D:\DATA\MZ\FragPipe-14.0\tools\philosopher_v3.3.11\philosopher.exe proteinprophet --maxppmdiff 2000000 --output combined
[a long list of files follows ending with "D:\DATA\MZ\SpikeIn\result\Library\interact-20170405_QEp2_PhGe_SA_LC12-14_Library7_F22.pep.xml"]

This is a windows limitation on the length of the l

[2020-10-14 07:34] mziehm commented on #247
Many thanks. I guess that make sense.
I've now tried as you suggested and get the following new error at the peptideProphet.

[code]

I guess this has to do with the fact that I'm trying to combine a large part of the long list of raw files into a 'Library' experiment (which I am trying to use for MBR) and the same problem with the windows cmd length limit applies.
I'll try renaming the rawfiles t

[2020-10-14 11:20] anesvi commented on #247
I am sorry but We have no solution to that windows limitation; run on Linux where the line limit is much longer, or shorten mzML file names

Sent from my iPhone

On Oct 14, 2020, at 3:34 AM, mziehm <notifications@github.com> wrote:

﻿
External Email - Use Caution

Many thanks. I guess that make sense.
I've now tried as you suggested and get the following new error at the peptideProphet.

PeptidePr

[2020-10-19 09:00] mziehm commented on #247
Thank you. With renamed raw files to very short names the analysis now successfully ran through.

I understand that you don't have any other work around at the moment under Windows, and I am not shure how many users this might effect. My suggestion was to consider changing (or including as option) in a future version the filename handover from directly as commandline parameter to writing the filen

[2020-10-20 11:16] DanielConole opened #250 "Process returned non-zero exit code, stoppingTmtIntegrator"
Hi there Alexey and team,

I tried to run a site-ID and TMT quant analysis on some files, which went well up until the TMT integrator part. Not sure what went wrong here - can you help?

Log is as below:

System OS: Windows 10, Architecture: AMD64
Java Info: 14.0.2, Java HotSpot(TM) 64-Bit Server VM, Oracle Corporation

Version info:
FragPipe version 14.0
MSFragger version 3.1.1
Philosopher versio

[2020-10-20 13:16] jgriss opened #251 "MSFragger DIA search mode not compatible with easypqp"
In FragPipe 14.0 the new DIA mode creates `_rank[1-3].pep.xml` files while the respective mzML files do not exist.

In order to create the specral library with easypqp we had to

  1) change the reference mzML file in the pep.xml file
  2) merge the converted easypqp data (the pkl files of the rank[1-3] into a single pkl file

I don't know if this is more leated with easypqp or with FragPipe. But

[2020-10-20 13:27] anesvi commented on #251
Strange. I am able to build the library without any file renaming. Using DIA-MSFragegr_SpecLib
EsyPQP can find mzML even though the files are called _rank[1-3].pep.xml
I will run again just in case now, and can post the log.

Alexey

From: Johannes Griss <notifications@github.com>
Sent: Tuesday, October 20, 2020 9:17 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed

[2020-10-20 13:34] jgriss commented on #251
Thanks for the quick reply @anesvi !

I realised that in FragPipe you ship a python script to adapt several settings to the library creation. Unfortunately, on a fresh install of anaconda on a Windows system easypqp failed to find the unimod.xml file in its own package. That's why I moved to a manual creation of the spectral library.

I used the `grosenberger/easypqp` docker container for my test.

[2020-10-20 13:37] fcyu commented on #251
Hi @jgriss ,

I think you can still use the python script in FragPipe with command line. You can have a dry run in FragPipe to get the commands. That python script should be able to solve the problems for you.

Best,

Fengchao

[2020-10-20 13:40] jgriss commented on #251
Hi @fcyu ,

Thanks for the information! Is there any specific mapping you do in order to get easypqp working?

The reason I ask is that I try to replicate FragPipe in [nextflow](https://nextflow.io) in order to better use our compute resources.

[2020-10-20 13:43] fcyu commented on #251
Hi @jgriss ,

Nothing special, just the pepxml being `<run name>_rankN.pep.xml`. I think you can get all the command and options with FragPipe's dry run.

Best,

Fengchao

[2020-10-20 13:44] anesvi commented on #251
For FragPipe, the user needs to install EasyPQP
https://msfragger.nesvilab.org/tutorial_fragpipe.html#spectral-library-generation

What happens is that you may have an older version of it. So we recommend uninstalling and reinstalling
pip uninstall --yes easypqp
pip install git+https://github.com/grosenberger/easypqp.git@master

Other than doing this, I am personally not doing anything special, an

[2020-10-20 13:44] prvst commented on #250
I would take another look at the data or the parameters ...
[code]

[2020-10-20 13:54] anesvi commented on #250
Hi Daniel,

I see you are running an unususual workflow.

First, if you are using narrow precursor tolerance, you do not need Crystal-C
Second, I see the following modifications in your main search:

variable_mod_01 = 15.994900 M 3
variable_mod_02 = 42.010600 [^ 1
variable_mod_06 = 254.105500 C 1
variable_mod_07 = 304.088100 C 1

There is no TMT modification. Assuming this is TMT lkabeled, you nee

[2020-10-20 14:48] DanielConole commented on #250
Thanks Alexey – this makes sense. I accidently replaced the TMT variable mods with my own ones (stupid!).

I have made all the suggested changes and resubmitted – let’s see how this goes.

It’s a Site ID experiment for chemical probe modified peptides, and yes it is TMT labelled to quantify greater labelling with increasing concentrations of the probe. So I need both modifications as you recommend

[2020-10-20 15:02] anesvi commented on #250
Feel free to contact us directly and also share some mzML files, so we can test and help optimize the workflow, if you like

From: DanielConole <notifications@github.com>
Sent: Tuesday, October 20, 2020 10:49 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Process returned no

[2020-10-20 15:30] jjGG opened #252 "Huge Gut-Metagenomics DB (decoy version = 135G, you dont wanna know how many # of sequences ;)))"
Hello Alexey and Contributors,

I would like to process this huge gut-microbiomeDB (closed search, no fancy VarMod parameters) with FragPipe (incl. LFQ-MBR).
Do you think this is realistic on a strong linux computer?
I think it should be doable using the splitting-DB option but I cannot find any information how to set this flag and the number of "splits". There is a lot of instructions how to inst

[2020-10-20 15:36] anesvi commented on #252
If you are running FragPipe, you should be able to set Split to a number above 1. There is a parameter in MSFragger tab

If you cannot change that value, it means you do not have python located.
Does it say (in Config tab)
DB Splitting: Enabled Used for searching very large databases by splitting into smaller chunks.
?

Now, what parameter to set is a trial and error process. Each slice should be

[2020-10-20 15:48] jjGG commented on #252
Hei Alexey,

I use FragPipe14 under Linux (and ssh -X window-forwarding). I would have expected this option either on the database tab (where there is not too much) or the MSFragger tab but I cannot find it anywhere. I would assume it is among the "advanced options" but I only see..
mass offsets, glyco/labile mods, spectral processing, open search options, advanced output options, advanced peak ma

[2020-10-20 15:55] anesvi commented on #252
In MSFragger tab, Protein Digestion section, there is a parameter ‘Split database’. Set to 1 by default

Guo Ci: can you describe how to run Split with CMD?

Fengchao, Guo Ci – what about
default tmp-dir away from /tmp/fragpipe/ ??

From: Grossmann <notifications@github.com>
Sent: Tuesday, October 20, 2020 11:49 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@

[2020-10-20 16:00] jjGG commented on #252
Great - my sight obviously is definitely poor and I should change my glasses ;) - Thanks Alexey I found it now!
I will do a dry-run and then see what is the CMD option!

Still the change of /tmp/fragpipe would be great to know..

AMAZING is your response time. ;) I should have asked earlier ;).
Best regards and hope to see you soon-  jonas

[2020-10-20 16:35] fcyu commented on #252
Dear Both,

I don't think there is a way to change the temp dir in the current version. May I ask the reason of doing that?

Thanks,

Fengchao

[2020-10-20 16:39] anesvi commented on #252
By the way, I worry your database will break philosopher

Before going any search, can you run philosopher database —annotate command

Sent from my iPhone

On Oct 20, 2020, at 12:35 PM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

Dear Both,

I don't think there is a way to change the temp dir in the current version. May I ask the reason of doing that?

Thanks,

Feng

[2020-10-20 17:53] jjGG commented on #252
@anesvi, OK I will annotate it beforehand
@fcyu - the temp-dir resides on a rather small parition of only 20gigs and already the generation of the decoy-db was problematic and we had to find work-arounds.
--> could potentially be a useful feature in the future. (let me know if I shall do a feature request)

Best regards to both of you
jonas

Best regards - jonas

[2020-10-20 17:54] guoci commented on #252
@jjGG for now the temp dir can be changed by setting a environment variable, for example, you can execute it in a shell with the following:
`$ JAVA_OPTS=-Djava.io.tmpdir=<your_preferred_tempdir> ./fragpipe`

[2020-10-20 17:54] jjGG commented on #252
@guoci - GREAT. Thanks I will give it a try in the next days. Best regards- jonas

[2020-10-21 11:39] jgriss commented on #251
Hi,

Thanks for the great help!

I'll keep on trying to get it to work without merging the easypqp intermediate files.

Kind regards,
Johannes

[2020-10-21 11:39] #251 closed

[2020-10-21 13:42] jjGG commented on #252
@guoci - I am giving it a try - like this:
$ JAVA_OPTS=-Djava.io.tmpdir=/scratch/jonas/fragpipe_tmp

Only afterwards I started the fragpipe-gui. As of now - the directory does not seem to be changed but it seems to be still generating folders in /tmp/..

This is no real problem as long as only small things are written in there but if it starts to temporarily write large files (>2gb) in there we do

[2020-10-21 14:08] guoci commented on #252
@jjGG you need to do this
`$ JAVA_OPTS=-Djava.io.tmpdir=/scratch/jonas/fragpipe_tmp ./fragpipe`
or
[code]
to pass the environment variable into FragPipe.

[2020-10-21 21:39] xLinkKnight opened #253 "Multi-Organism Database Generation Error"
Benign error when creating a fasta database from a combination of two organisms through the FragPipe GUI. The task appears to finish successfully despite the error message, as the generated fasta file seems to be complete. I've compared it to the combined file when creating separate human and mouse databases (which don't error). The only "off" thing is that the temporary .meta folder remains in th

[2020-10-21 22:46] fcyu commented on #253
Thanks for your feedback.

[code]
has the code
[code]

It looks like Philosopher didn't return a exit value. I cannot reproduce this error in my Windows. Are you also using Windows?

Regarding the `.meta` folder, we also noticed this issue. We may be able to figure out a way to run the `clean` command if something went wrong, but it is not easy because FragPipe needs to recursively run the `clean`

[2020-10-21 23:09] xLinkKnight commented on #253
Hello Fengchao,

This was on a Windows system.

I now believe the issue is isolated to my end and not an issue with the software. I too can't reproduce the issue, where as I constantly observed it earlier in the day. Monitoring internet traffic, I noticed impaired throughput during the times it errored. Now it's stable and consistently works as intended.

Sorry for taking up your time.

[2020-10-21 23:15] fcyu commented on #253
No problem. Please feel free to contact us if there is any further questions.

Best,

Fengchao

[2020-10-21 23:15] #253 closed

[2020-10-22 06:22] mlocardpaulet opened #254 "Empty spectral library in pipeline DIA data -> DIA-Umpire -> MSFragger -> EasyPQP"
Hi,

I have 15 DIA files (5 samples x 3 replicates) and I want to generate a library from these files to then search them in DIA-NN (and get some quantification).
I have used FragPipe default config "DIA-Umpire_SpecLib" and MSFragger "closed search default config" to set up the run (with minor modifications).
It seems to work fine, I get all the run-specific "..run_peaks.tsv" (Q1, Q2 and Q3) files

[2020-10-22 10:58] anesvi commented on #254
Everything looks absolutely fine. I cannot understand at the moment why library.tsv is empty

Guo Ci, are there any other log files generated that can help us here?

Sent from my iPhone

On Oct 22, 2020, at 2:22 AM, Marie Locard-Paulet <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi,

I have 15 DIA files (5 samples x 3 replicates) and I want to generate a library from these f

[2020-10-22 12:05] anesvi commented on #254
Also, there is another library file generated, with _opensath in the name I think. Is it also empty?
We may need to ask you to transfer pkl files that are used at the last stage of EasyPQP. But let‘S wait for Guo Ci to respond

Sent from my iPhone

On Oct 22, 2020, at 2:22 AM, Marie Locard-Paulet <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi,

I have 15 DIA files (5 samples

[2020-10-22 12:33] guoci commented on #254
@mlocardpaulet can you look for some log files with filenames
`easypqp_convert_*.log`
and attach it here?

[2020-10-22 12:53] mlocardpaulet commented on #254
Hello and thank you for this quick response :).
I see a file "easypqp_lib_openswath.tsv": also empty.
I attach all the files I found that correspond to `easypqp_convert_*.log`
Let me know if you need anything else.
[IssueEasyPQP.zip](https://github.com/Nesvilab/FragPipe/files/5422911/IssueEasyPQP.zip)

[2020-10-22 13:14] guoci commented on #254
@mlocardpaulet thanks, please also send the `*.psmpkl` and `*.peakpkl` files

[2020-10-22 13:16] anesvi commented on #254
Can send to us directly (e.g. email nesvi at med.umich.edu) since it is probably unpublished data

Sent from my iPhone

On Oct 22, 2020, at 9:14 AM, guoci <notifications@github.com> wrote:

﻿
External Email - Use Caution

@mlocardpaulet<https://github.com/mlocardpaulet> thanks, please also send the *.psmpkl and *.peakpkl files

—
You are receiving this because you commented.
Reply to this email di

[2020-10-22 15:56] mlocardpaulet commented on #254
I don't find them. Here are the files I have.
[FileNames.txt](https://github.com/Nesvilab/FragPipe/files/5423986/FileNames.txt)

[2020-10-22 17:34] guoci commented on #254
@mlocardpaulet The files were deleted by FragPipe. Please try the modified version below to retain the `*.psmpkl` and `*.peakpkl` files.
https://drive.google.com/file/d/1IwRhoXUhDVuzWAkFOyjKM5yTlYNPGeG4/view?usp=sharing

[2020-10-23 01:37] xLinkKnight commented on #254
I had a similar issue where an empty spectral library was generated for a task that finished successfully. I didn't report it as my usage scenario was atypical/unusual.

I was attempting to generate a SL from data where only iRT peptides were of interest. (For some downstream QC work) The main search produced the expected results but the generated SL was empty. I assumed the database was too small

[2020-10-23 11:28] WeiqiangChen opened #255 "Issues of own fasta file causing Fragpipe stop processing!!"
**Describe the bug**
FragPipe stopped processing when I search it against my fasta file. The error is that psm.txt is empty (1kb).

I found the problem is that the extra enters(\n) in my fasta sequence caused process stop, although fragpipe read out the correct numbers of sequences in my fasta.

My fasta file has following sequence:

MATPVRDETRNVIDDNISARIQSKVKTNDTVRQTPSSLRKVSIKDEQVKQYQRNLNRFKTILNG

[2020-10-23 12:46] fcyu commented on #255
Your format looks good. Could you please send us your log and the whole fasta file?

Thanks,

Fengchao

[2020-10-23 12:48] #247 closed

[2020-10-23 16:28] WeiqiangChen commented on #255
Thanks for the quick feedback.

The log file:
[log_2020-10-23_18-23-55.txt](https://github.com/Nesvilab/FragPipe/files/5430664/log_2020-10-23_18-23-55.txt)

problematic fasta:
[2020-10-22-decoys-20201022_human_20595_yeast_6049_contaminant_309_total_26953.fasta.fas.zip](https://github.com/Nesvilab/FragPipe/files/5430676/2020-10-22-decoys-20201022_human_20595_yeast_6049_contaminant_309_total_26953.f

[2020-10-24 15:43] mlocardpaulet commented on #254
@guoci I could not open the modified version of FragPipe you sent me. I have this error message. Anything I can do about it?
Thanks again for your help.
[ErrorFragPipe_20201024.txt](https://github.com/Nesvilab/FragPipe/files/5433117/ErrorFragPipe_20201024.txt)

[2020-10-24 17:07] anesvi commented on #254
You can just open command prompt and run spec lib  command Manually. You can copy and paste it from the log file.

Sent from my iPhone

On Oct 24, 2020, at 11:43 AM, Marie Locard-Paulet <notifications@github.com> wrote:

﻿
External Email - Use Caution

@guoci<https://github.com/guoci> I could not open the modified version of FragPipe you sent me. I have this error message. Anything I can do about

[2020-10-24 17:58] guoci commented on #254
@mlocardpaulet there was a bug in that version, please try the one below
https://drive.google.com/file/d/1DEtW-VXKGIlSwI0JHQzJsiHgmWJ_a0jJ/view?usp=sharing

[2020-10-27 13:53] prvst commented on #255
Hi @WeiqiangChen, it looks like the extra hidden characters are breaking the database parsing. I suggest you clean or remove them before moving on. I see things like this for example:

`>xx|CBP-tag|CBP-tag
GVMPREETDSKTASPWKSARLMVHTVATFNSIKELNERWRSLQQLA`

[2020-10-27 13:53] #255 closed

[2020-10-27 13:59] #250 closed

[2020-10-28 20:16] xLinkKnight commented on #254
I've attached a zip containing the peakpkl, psmpkl, and pepXML files. I know this isn't the situation that the OP described, but it could help. What file type or format are the .peakpkl and .psmpkl files?

[log_2020-10-28_14-02-46.txt](https://github.com/Nesvilab/FragPipe/files/5454565/log_2020-10-28_14-02-46.txt)
[peakpkl_psmpkl_pepXML.zip](https://github.com/Nesvilab/FragPipe/files/5454554/peakp

[2020-10-28 20:20] guoci commented on #254
@xLinkKnight Please post your fasta file.
The problem OP got was caused by invalid headers in the fasta file.

[2020-10-28 20:29] anesvi commented on #254
Can you check your PSM.tsv file. Is GENE column empty?
If so, Guo Ci issued a fix to EasyPQP to duplicate Protein for Gene column

From: guoci <notifications@github.com>
Sent: Wednesday, October 28, 2020 4:21 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Empty spectral libr

[2020-10-28 21:03] xLinkKnight commented on #254
Thank you for the feedback. The incomplete fasta header was the issue. I just added a generic comment section and it generated a SL without issue.

[2020-10-28 23:45] pieeye75 opened #256 "IonQuant for novel PTMs"
First off, thanks for making such great software freely available!

We are using FragPipe to search for novel PTMs and we want to quant those using IonQuant. From my searches so far, it appears to me that I need to do an Open search and then pick which PTMs I want to quant and specifically list those as variable PTMs in MSFragger in order to get quant values. Is this correct, or am I doing somethi

[2020-10-28 23:55] fcyu commented on #256
Hi Peter,

Thanks for your interest in our tools. Your approach is correct in general. However, there are some alternatives:

1. You can select 'yes' for 'Report mass shift as a variable mod' in MSFragger tab. With this setting, the mass shifts will be reported as variable modifications so that IonQuant can catch them. But there is an issue in open search: the mass shifts are not theoretical masse

[2020-10-29 00:57] anesvi commented on #254
The output library.tsv can then be loaded in DIA-NN or Spectronaut. Send us some feedback if you are doing any benchmarking again other tools. We would love to hear from people who are using DIA-Umpire as we consider making some optimizations and improvements in this tool.
Alexey

Sent from my iPhone

On Oct 28, 2020, at 5:03 PM, xLinkKnight <notifications@github.com> wrote:

﻿
External Email - Us

[2020-10-29 02:13] pieeye75 commented on #256
Thanks for the advice, I'll give that a go.

[2020-10-30 14:29] jjGG opened #257 "Out of memory error w/ large MetaproteomicsDB (170M sequences, 136gb)"
Dear Developers,

Finally I run my fragpipe-workflow (LFQ-MBR) completely from a script (that was developed with a smaller DB and it run successfully).
Using now my large MetaproteomicsDB I end up with a "out-of-memory" error in PeptideProphet (and also later in ProteinProphet) for the combined results.. (it looks like in the individual experiments it is possible to do it but not on the combined o

[2020-10-30 14:47] jjGG commented on #257
Dear Fengchao,

Thanks for the comment. Do you have by experience an "upper bound" for the fasta file?
We can process the DB with Mascot easily but dont get quants out.. therefore my idea would be to first only see what genomes are identified in these samples and then down-size the large DB to only genomes that are identified by Mascot.
But it will still be a huge DB..

Best regards - jonas

[2020-10-30 14:50] fcyu commented on #257
Hi Jonas,

The only limitation is from Philosopher (the quantification after than won't need to read fasta). I think @prvst is a better person than me to answer this question.

Best,

Fengchao

[2020-10-30 14:54] anesvi commented on #257
I do not think you should run ProteinProphet in such case. What is ‘protein group’ in this case? Complicated. May need protein inference for metaproteomics done differently.

However, I am surprised by ‘out of memory in PeptideProphet’. Should not be related to the database size.

Is it this part you are referring to?
INFO[00:16:00] Done
Error: Could not find or load main class .export.data01.Frag

[2020-10-30 14:59] jjGG commented on #257
Hello Alexey,

Yes - in each individual exp_X I have the pepXMLs.
///////
[code]
/////
also I have the combined ones:
[code]

and they look complete to me:
////////
[code]

[2020-10-30 15:18] anesvi commented on #257
That’s good. So the Prophets run fine actually.

As Fengchao said, the crash is in Philosopher. It parses the whole database and stores it in memory.
Unfortunately it makes it incompatible with applications requiring huge database.

Alexey

From: Grossmann <notifications@github.com>
Sent: Friday, October 30, 2020 11:00 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey

[2020-10-30 15:45] prvst commented on #257
Hi @jjGG

As Alexey pointed, the issue is not with the Prophets. It's also not related to the quantification. Philosopher was designed for shotgun proteomics pipelines. Its methods were not tuned for huge database files like yours. I'll plan some changes to the code to have this fixed. Hopefully, I will have something working soon. Would you mind sharing your database file with me? A real-world te

[2020-10-30 15:49] jjGG commented on #257
Hei @prvst,

Of course I can share the database .. Do you have an FTP server where I can upload it?
or here would be a link that you could use to download it via http (but it is the not-yet-the-decoyed version).
We had to re-route the tmp-dir to get it decoyed with FragPipe.

https://fgcz-r-035.uzh.ch/fasta/p3635_db3_UHGP_20200930.fasta

thanks for looking into it
best regards- jonas

[2020-10-30 16:02] prvst commented on #257
Thanks, the link will do. I need the database without decoys. I'll let you know when the download is done.

[2020-10-30 16:05] jjGG commented on #257
No worry - the database will stay there..

just realize - in case you have issues with r-035 .. you can use:
http://fgcz-ms.uzh.ch/fasta/p3635_db3_UHGP_20200930.fasta

cheers - jonas

[2020-11-03 10:34] 1-stephan opened #258 "Experimental Grouping for separate normalization"
Hi,

I want to analyze a project which includes 2 fractions, membrane and soluble proteins from the same samples.

For this project, LFQ normalization should be performed separately for the membrane and soluble fractions. Therefore, I would like to know if there is an option for this in fragpipe or not. It is not planned to directly compare soluble and membrane fractions. I will have two compariso

[2020-11-03 13:19] fcyu commented on #258
Hi Stephan,

Thanks for your interest in our tools. Unfortunately, we don't have this functionality. You may uncheck normalization for now.

Best,

Fengchao

[2020-11-03 13:19] #252 closed

[2020-11-03 13:37] anesvi commented on #258
Stephan,
You can control MBR, and allow MBR between runs from two experiments only with setting ‘top MBR runs’ to  1 ( in your case, since you only have 2 fractions in each). I think it should be a good way.
In addition, You may want to use top-N instead of maxLFQ option

Sent from my iPhone

On Nov 3, 2020, at 8:19 AM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

Hi

[2020-11-03 13:59] 1-stephan commented on #258
Thanks a lot for the comments. I will check the options for the quantification settings.

Especially for subcellular fractionation, I think many users would appreciate a grouping functionality and the option for separate normalization within in the individual groups. When you have one output table with all samples of different fractions, it is more convinient than separate tables for each fraction

[2020-11-03 14:19] anesvi commented on #258
Hi Stephan

What are other scenarios where such an option of defining parameter groups and doing LFQ separately for each set is useful, in your experience?

But we will discuss with Fengchao what we can do.

Thanks
Alexey

Sent from my iPhone

On Nov 3, 2020, at 9:01 AM, 1-stephan <notifications@github.com> wrote:

﻿
External Email - Use Caution

Thanks a lot for the comments. I will check the opt

[2020-11-03 17:34] 1-stephan commented on #258
Hi Alexey,

basically it is always useful when you have different sample types that belong to the same experiment. This might be:
- subcellular fractionation
- Cell supernatant and cell lysates from the same tissue culture experiment
- Exosomes and cell lysates from the same experiment
- different body fluids from (i.e. plasma, cerebrospinal fluid) from the same patients
- FACS sorted cells (i.e.

[2020-11-04 19:14] xLinkKnight commented on #254
May I ask for your opinion about the OpenSWATH analysis path? I haven't attempted this, but I was hoping to use the output library (converted to .pqp) with diaPASEF data (converted with the MOBI-DIK tool) for use in the OpenSwathWorkflow. The recently released QuantPipe program seems to try and streamline this process.

I actually wanted to ask a question about how CiRT peptides are stored after r

[2020-11-04 20:09] anesvi commented on #254
We have not used OpenSwath for a while. We generate a file library_openswath.tsv that is supposed to be in OpenSwath format, but not tested. Let us know what you find!

As CiRT we use the file that is included in FragPipe, you can find it in
Fragpipe/tools/speclib
File hela_irtkit.tsv

We got it from Hannes Roest or George Rosenberg, I think, but I do not recall the original source/publication now

[2020-11-10 20:44] Debora211088 opened #259 "Error PeptideProphet"
Dear all,

I am trying to analyze my N-terminome data using the open search option in FragPipe, to check if it is unpredicted modifications.
Usually, in this type of data, I consider the enzyme ArgC in the semispecific mode, as I can expect anything from the N-termini.

However, when I try the open search in the Fragpipe,  I am getting errors from the validation step (peptide prophet and protein p

[2020-11-10 20:49] fcyu commented on #259
Thanks for your interest in our tools.

It looks like that there is no ID from your data. Could you help to check
1. Is your data from low resolution MS2 (ion trap)?
2. Does your data have any PTM enrichment?

Thanks,

Fenghao

[2020-11-10 21:02] Debora211088 commented on #259
Hi, Fenghao

Thanks for your answer!

About your questions:

1. Yes, the data is from low resolution MS2
2. I dimethylated the proteins, to label the N-termini. Then, after trypsin digestion, I made an enrichment of the peptides containing blocked N-termini using a resin that reacts with free primary amines (that came from the trypsin digestion step).

Thanks again

Debora

[2020-11-10 21:13] fcyu commented on #259
Hi Debora,

Thanks for your info.

First of all, we don't suggest doing an open search with low resolution MS2.
Second, although I don't fully understand this fancy wet-lab stuff, I have a feeling that you need to set dimethylation as variable modifications (you already set 28.030000 (it actually should be 28.0313) on K as a fixed modification, but what about peptide N-terminus?), set 'Calibration

[2020-11-10 21:56] Debora211088 commented on #259
Hi Fengchao,

Thank you very much for your answers.

You were right in your considerations. These are changes that I forgot in the setup.
Unfortunately, all my data from this experiment came from low-resolution MS2, but I will try the tool in other data that I got with high resolution.

Thank you very much,

Best regards,
Debora

[2020-11-10 21:57] #259 closed

[2020-11-12 03:13] boluosuannai opened #260 "Process returned non-zero exit code"
Dear MSFragger group,
When I run a data file, the following error occurred and I put the log file below：
[log_2020-11-11_09-37-16.txt](https://github.com/Nesvilab/FragPipe/files/5528029/log_2020-11-11_09-37-16.txt)

If you can help to answer, it would be greatly appreciated

[2020-11-12 03:16] fcyu commented on #260
Thanks for your interest in our tools.

Your log has an error: `It is a closed search while localize_delta_mass = 1. Please change localize_delta_mass to 0.`. Please double check your parameters.

Best,

Fengchao

[2020-11-12 10:50] animesh opened #261 "return value of "java.util.HashMap.get(Object)" is null"
I am running the PTM shepherd via Fragpipe without success. Log mentions that Process "'PTMShepherd' finished, exit code: 1"
[code]
**Version info:**
FragPipe version 14.0
MSFragger version 3.1\MSFragger-3.1.jar)
Philosopher version 3.3.11 (build 1601497354)

----------------------
## log file: [log_2020-11-12_11-47-17.txt](https://github.com/Nesvilab/FragPipe/files/5529999/log_2020-11-12_11-47-17

[2020-11-12 11:36] boluosuannai commented on #260
Thanks for your reply，
According to your answer, I checked the MSFragger, Validation, and PTMS parameters in FragPipe, but I don’t know how to modify “localize_delta_mass” parameter.
If you can give me a screenshot of the “localize_delta_mass” parameters, thank you very much

[2020-11-12 15:25] fcyu commented on #260
Sorry for the confusion. The corresponding UI is
![image](https://user-images.githubusercontent.com/6926299/98959505-581d1d80-24d1-11eb-8798-22bbe056abd9.png)

[2020-11-17 03:32] fcyu opened #262 "EasyPQP: No iRT protein in built spectral library"
Hi @guoci ,

This is an issue from a user.

There are iRT proteins in fasta and Philosopher's tsv files have entries from the iRT proteins, but the built library does not have it.

Following is the screenshot of the iRT proteins.

![image](https://user-images.githubusercontent.com/6926299/99343155-4f26a600-285b-11eb-9a28-c7d2a707ff87.png)

I don't have that user's data but I think it should be eas

[2020-11-17 13:57] guoci commented on #262
@fcyu Is it generated with EasyPQP or SpectraST?

[2020-11-17 14:11] guoci commented on #262
@fcyu You should post this in the EasyPQP's github page too. Please send me the files needed to test this.

[2020-11-17 14:19] fcyu commented on #262
@guoci I'm sorry that I don't know which part causes this issue (your python script or easypqp itself). Could you please take over from here and look into it (by you or George) when you have time?

I don't have specific files for testing. I think you should be able to reproduce this issue with any mzml and a fasta with iRT.

Thanks,

Fengchao

[2020-11-18 00:47] lifeinfo commented on #262
I put the test file temp.zip includes one mzXML file and one fasta file in the following link.
https://westlakeu-my.sharepoint.com/:u:/g/personal/zhutiansheng_westlake_edu_cn/EdR46sTI8ShLnBPz7uzvAsUBGq1iN2X066QvY79QCStOng?e=bNBjQg

[2020-11-18 21:00] guoci commented on #262
@lifeinfo can you also send `*.pep.xml`,  `psm.tsv`, `peptide.tsv` and your library?

[2020-11-19 00:50] lifeinfo commented on #262
[data2.zip](https://github.com/Nesvilab/FragPipe/files/5563580/data2.zip)

It seems fragpipe can't build a library with one mzXML file, I used two files to build the library (empty file except header line).

[2020-11-20 08:41] MiguelCos opened #263 "Philosopher cannot parse a custom fasta header."
Hello,

I am trying to run an LFQ search using IonQuant in combination with an MSFragger OpenSearch without Crystal-C but I am receiving the error in the title just after "2020-11-19 19:08:04 [INFO] - Updating Philosopher's tables..." appears in the log.

What could be the source of this error? Please let me know if you need further information. I am attaching the log
[log_2020-11-20_09-31-57.txt]

[2020-11-20 14:38] fcyu commented on #263
Thanks for your interest in our tools.

IonQuant doesn't support open search now. You can use mass offset search if you have a list of potential modifications and set 'Report mass shift as a variable mod' to 'Yes'.

Best,

Fengchao

[2020-11-20 16:51] MiguelCos commented on #263
Thanks!

[2020-11-20 16:53] fcyu commented on #263
You are welcome.

[2020-11-20 21:16] MiguelCos commented on #263
Hello,

I just ran a new test with the same data, closed  search + IonQuant, no cristal-C. The same error appears.

It seems to stop at this point
[code]

[2020-11-20 21:38] fcyu commented on #263
Hmm, I have no clue now. Could you please send us your raw files and fasta files? I need to reproduce the error. We will keep it confidential. I can give you a link to upload if it is appropriate.

Thanks,

Fengchao

[2020-11-20 22:24] MiguelCos commented on #263
Many thanks for taking a look!

I would gladly send a link with the data to the email on your GitHub page if you don't mind.

Best,
MIguel

[2020-11-21 02:15] fcyu commented on #263
Hi Mlguel,

I received your file and reproduced the error. It turns out that most of the entries of `Protein` column in `psm.tsv` are empty:
![image](https://user-images.githubusercontent.com/6926299/99865091-7f30ba80-2b75-11eb-9550-809b2e6a360c.png)

I guess this is because Philosopher cannot parse your fasta file. Following is an example of your fasta file's header.
[code]

@prvst Could you plea

[2020-11-21 09:43] MiguelCos commented on #263
I see! Many thanks for taking a look! I might as well do some tweaking on the fasta file to make readable by philosopher. This is a proteogenomics database as you might have noticed, so I didn't want to modify the header and loose some info.

[2020-11-23 06:00] lifeinfo commented on #262
@https://github.com/guoci

[2020-11-23 06:01] lifeinfo commented on #262
@guoci

[2020-11-23 06:59] lifeinfo commented on #262
https://github.com/grosenberger/easypqp/issues/37

[2020-11-23 13:47] miriamfou opened #264 "DB splitting issue"
Hello,

I'm quite new in using fragpipe. I started with a basic proteomic setup which worked well. Now I'm trying peptidomic (unspecific search) workflow which didn't finish properly. It cannot find the file "...Peptidomics/split_peptide_index_tempdir/Qplus_00027635.mzBIN_calibrated" (see below). I can see that the folder "split_peptide_index_tempdir" was not created.

Do you think this is as well

[2020-11-23 14:14] prvst commented on #263
Hi @MiguelCos, please read our [documentation](https://github.com/Nesvilab/philosopher/wiki/How-to-Prepare-a-Protein-Database) on how to format and prepare your FASTA file to be used with Philosopher.

[2020-11-23 19:16] #260 closed

[2020-11-23 19:17] #254 closed

[2020-11-24 07:02] MiguelCos commented on #263
Hello @prvst, thanks! I will prep my fasta file accordingly

[2020-11-27 23:26] xLinkKnight opened #265 "mzID Report Output"
A suggestion to add the ability to generate mzIdentML reports through the FragPipe interface.

Issue with Philosopher:
Unsuccessful in using Philosopher with the pipeline mode to generate mzID files.
Error message: ```Cannot read file:open .meta\ev.param.bin: The system cannot find the file specified.```
The .meta folder is created but no ev. files are ever generated.

I've attached the philosophe

[2020-11-28 22:05] xLinkKnight commented on #265
I was able to create the .mzid file by following the Simple-Data-Analysis tutorial: https://github.com/Nesvilab/philosopher/wiki/Simple-Data-Analysis

This route works well for one raw file. Is there a way to do this analysis for a larger data set? I'm still verifying that the mzIdentML file will submit to PRIDE without error.

[2020-11-30 00:16] miriamfou commented on #264
Hello,
I have an update regarding my issue. I tried to convert raw into mzML files with Proteo Wizard (MSConvert). Since I'm not really sure about all the settings I didn't change anything. I used those mzML files for Fragpipe again and I guess something went wrong with converting. It gives the error "There are non-centroid MS2 spectra. Please prepare the spectral file with peak picking."
and I'm

[2020-11-30 15:05] hayse1 commented on #264
We've got an MSConvert tutorial [here](http://msfragger.nesvilab.org/tutorial_convert.html), can you check that you used the settings shown there?

[2020-11-30 15:10] prvst commented on #265
So far the program will generate one file per data set or project.

[2020-11-30 15:27] anesvi commented on #265
Felipe, does mzID represents the filtered PSM.tsv tables, and the razor protein assignment for each shared PSM? I think (?) we need to have mzID files represent the final analysis results (and not MSFragger pepXML or PeptideProphet pep.xml).
What about precursor m/z? Do we need to write original m/z or calibrated value that was used for identification? Also before or after monoisotopic correction?

[2020-11-30 15:36] prvst commented on #265
The mzID is like a report for each data set or experiment folder. If you have 10 data sets, you will have 10 files. If the experiment is processed together, theoretically, it is possible to merge them all into one file, but I don't think it will be feasible due to the size of the files. Each mzID contains all data and all information about PSMs, peptides, proteins, PTMs, the protein database, and

[2020-12-01 03:41] lifeinfo commented on #262
@guoci how are things going? We are still waiting.

[2020-12-01 03:50] ndtivendale opened #266 "Errors when running protein and peptide prophet"
I have been trying to analyse a batch of mzml files using Fragpipe and have been getting the errors shown in the attached output code. Please advise what I need to do to fix this.
[FragPipeErrors_NTivendale.txt](https://github.com/Nesvilab/FragPipe/files/5620177/FragPipeErrors_NTivendale.txt)

[2020-12-01 14:00] fcyu commented on #266
The error from PeptideProphet is
[code]

Not sure about the reason. Hopefully, Felipe @prvst can take a look.

Best,

Fengchao

[2020-12-01 14:19] prvst commented on #266
That's a "file not found' error. I suggest taking a look at all your files, folders and paths. Make sure all drives are mounted, and that you don't have white spaces or special characters anywhere.

[2020-12-01 18:33] guoci commented on #262
@lifeinfo I am putting this on hold, I have some urgent matters to work on for now.

[2020-12-02 00:18] mwakabayash opened #267 "Philosopher: there are peptides shown to be not unique but don't have any mapped proteins"
Hello MSFragger team,

I'm trying to run LFQ searches with MBR, but receive the error attached.
Sometimes it occurs, and somtimes it doesn't.
Each file seems to have good quantification results, but MSstats file is not produced.
What could be the cause of the error?

Thanks,
Masaki
[log_2020-12-02_08-34-06.txt](https://github.com/Nesvilab/FragPipe/files/5626164/log_2020-12-02_08-34-06.txt)

[2020-12-02 00:38] fcyu commented on #267
Hi Masaki,

I think some runs don't have any data. Such as
[code]
[code]

My guess is that these runs triggered this error
[code]

Could you please remove the runs with 0 PSM and try again?

Also, there are a lot of peptides shown to be not unique but don't have any mapped proteins. Not sure if it is related. Could you please help to check if those peptides are indeed not unique but don't have any

[2020-12-02 01:02] ndtivendale commented on #266
I did that. Still have the same issue. Is there a limit to file names? How long can they be? Does PeptideProphet need to be running from the same directory as FragPipe?

[2020-12-02 01:34] ndtivendale opened #268 "Is it possible to do partial processing, so I don't need to re-run the whol process when it falls over towards the end?"

[2020-12-02 01:38] fcyu commented on #268
Yes, it is. You just need to uncheck finished tools.

Best,

Fengchao

[2020-12-02 01:51] ndtivendale commented on #268
Where do I do that?

[2020-12-02 01:56] fcyu commented on #268
![image](https://user-images.githubusercontent.com/6926299/100818017-4ca97c00-3417-11eb-976f-3c322046d08b.png)
![image](https://user-images.githubusercontent.com/6926299/100818074-61860f80-3417-11eb-9272-3eedb553da00.png)
![image](https://user-images.githubusercontent.com/6926299/100818109-7662a300-3417-11eb-907f-14289439fc1b.png)
![image](https://user-images.githubusercontent.com/6926299/10081816

[2020-12-02 01:57] ndtivendale commented on #268
Ohhhh, I feel kind of stupid now.

[2020-12-02 01:59] fcyu commented on #268
Not at all.

Please feel free to contact us if you have any questions.

Best,

Fengchao

[2020-12-02 01:59] #268 closed

[2020-12-02 02:14] hayse1 commented on #266
Did you happen to move the pepXML files? I can get the same error if I start from the PeptideProphet step and set the output to an empty directory. FragPipe will handle all the filepaths for you, so all the steps in the workflow for a particular analysis should be run with the same output directory.

[2020-12-02 02:25] ndtivendale commented on #266
No, I didn't move the pepXML files, but when I look in the directory where FragPipe is looking for them, they are not there.

I've moved python to the same directory now. I'm not sure if that will help...

[2020-12-02 03:03] ndtivendale commented on #266
Moving Python didn't help. When I just try running PeptideProphet, this is the output. Which file is the 'failed opening file: The system cannot find the file specified.' referring to? the pep.XML file? How could that have been written to any other directory.

​
PeptideProphet [Work dir: C:\data\Nathan\new-v-old\HPG_enriched_1]
C:\data\Nathan\philosopher_v3.3.12\philosopher.exe peptideprophet --de

[2020-12-02 03:52] prvst commented on #266
Can you check your database file ? see if the path is correct.

[2020-12-02 04:10] ndtivendale commented on #266
Yes it is correct.

[2020-12-02 04:12] ndtivendale commented on #266
The error seems to have evolved. Now it's saying: Cannot execute program. There was an error with PeptideProphet, please check your parameters and input files.

Is that just referring to mzml files and my fasta file?

[2020-12-02 05:25] ndtivendale commented on #266
I think I've figured it out. I had set the output in the MSFragger tab to 'TSV'. I've now changed it to 'PEPMXML' and it's running again. Hopefully that does it.

[2020-12-02 06:15] mwakabayash commented on #267
Hi Fengchao,

Some runs lack many data (peptide.tsv, ion.tsv, psm.tsv, ....) as you said. (e.g. lack in sample 54 in attached file)
![PSMnull](https://user-images.githubusercontent.com/75050252/100831167-84accf80-34a8-11eb-88b7-77e8cf9b842b.png)
What I don't understand is that the error is not happening every time. It seems to be inconsistent.
(e.g.  At first sample1 lacks data, next time sample1

[2020-12-02 13:34] fcyu commented on #266
Yes, that explains everything. I suggest you loading the built-in workflows and only making necessary changes (e.g., variable modifications, mass tolerance, digestion).

Best,

Fengchao

[2020-12-02 13:34] #266 closed

[2020-12-02 13:37] fcyu commented on #267
HI Masaki,

Regarding the randomness, I don't think the ID numbers have any randomness. The same run should have the same result. Can you double check it based on the run name?

Regarding the peptide assignments, you may send some psm.tsv to us for check if you want.

Best,

Fengchao

[2020-12-04 04:46] mwakabayash commented on #267
Hi Fengchao,

I verified some problems.
The error basically seems due to poor or 0 psm as you said. When all runs have sufficient psm, the error has not happened so far.
If a run doesn't have enough data, the run can have different results in different batches (see attached file)
The difference between the two batches is just combination of files. (sample 1-5, or sample 1-10)
![differentSize_samer

[2020-12-04 13:32] fcyu commented on #267
Sure. I will take a look at your files. I will also try to reproduce the error that happens when there is 0 PSMs to make IonQuant not crash in this case.

Best,

Fengchao

[2020-12-04 14:15] fcyu commented on #267
Hi Masaki,

I verified that those warning are true. Those are peptides shown to be not unique but don't have any mapped proteins:
![image](https://user-images.githubusercontent.com/6926299/101173844-1899ab00-3611-11eb-9d43-d2e83f25c115.png)

Felipe @prvst, could you take a look when you have time?

Thanks,

Fengchao

[2020-12-04 20:07] Dmorgen opened #269 "Error in installing msproteomicstools package"
I have the latest version of Visual C++, but for some reason it's not recognized.  please see the error log below.

Thanks!
David.

Building wheel for PyMSNumpress (setup.py) ... error
  ERROR: Command errored out with exit status 1:
   command: 'C:\ProgramData\Anaconda3\python.exe' -u -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\protolab\\AppData\\Local\\Temp\\pip-install-f

[2020-12-04 20:11] guoci commented on #264
@miriamfou in your log, you have:
`There are non-centroid MS2 spectra. Please prepare the spectral file with peak picking.`
Did you select `peak picking` at step 5?
![image](https://user-images.githubusercontent.com/1260178/101209958-b6f23480-3642-11eb-81bc-41220916b97e.png)

[2020-12-04 20:23] guoci commented on #269
Can try you installing `Cython` and `biopython` with `conda` before installing `msproteomicstools`?
[code]

[2020-12-04 20:26] Dmorgen commented on #269
Thanks! - I'm getting the following error:
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current c

[2020-12-04 20:33] guoci commented on #269
@Dmorgen there was a typo, I have edited it, please retry.

[2020-12-04 20:37] Dmorgen commented on #269
I've write permissions issue here. I will talk to our IT guys. thanks for the help!

[2020-12-07 16:07] fcyu opened #270 "There are zero intensity peaks in the spectral library built by easypqp"
Hi Guo Ci @guoci ,

This is an issue from users. They find that some fragments in the spectral library have zero intensity. Could you please follow up and fix this?

Thanks,

Fengchao

[2020-12-07 16:10] fcyu opened #271 "FragmentSeriesNumber from easypqp is truncated"
Hi Guo Ci @guoci ,

This is an issue from users. The FragmentSeriesNumber is truncated, for example, the FragmentSeriesNumber of `y15` is 5 and the truncated of `b12` is 2. Could you please check and fix this issue?

Thanks,

Fengchao

[2020-12-07 16:13] fcyu opened #272 "Normalized retention time need to be restricted in the range"
Hi Guo Ci @guoci ,

There are outliers in normalized retention time (out of [-100, 200]). It looks like the range needs to be restricted in the range during the fitting. Could you please check and fix this issue?

Thanks,

Fengchao

[2020-12-07 17:28] danielgeiszler commented on #261
Hi animesh,

Sorry for the delay, I didn't see this before. This error means it couldn't find an intermediate file, so it may have been moved or locked. Were you able to get this to work after? It should be solvable by rerunning it.

[2020-12-07 18:25] guoci commented on #271
Fixed at e064c42b02911c2386d92bcaf344b2cb6eab2559

[2020-12-07 18:25] #271 closed

[2020-12-07 18:26] #269 closed

[2020-12-07 18:27] #264 closed

[2020-12-07 18:32] guoci commented on #262
Resolved at https://github.com/grosenberger/easypqp/issues/37

[2020-12-07 18:32] #262 closed

[2020-12-08 01:22] mwakabayash commented on #267
Hi Fengchao,

Thanks you for the verification.
I'm a bit confused.
The Wiki describes that Mapped protein means "additional proteins the peptide may originate from".
Why are the peptides (without Mapped protein) shown to be not unique ??

[2020-12-08 01:27] fcyu commented on #267
Yes, you are right. If a peptide is shown to be not unique, there should be mapped proteins. So, this is a bug and we are trying to fix it.

BUT, if a peptide is shown to be unique, there MIGHT BE mapped proteins because of the definition of uniqueness in ProteinProphet.

Best,

Fengchao

[2020-12-09 09:53] miriamfou commented on #264
Thank you a lot for your help! I tried both algorithms but indeed forget to klick on "Add" button.
Sorry for bothering you!

[2020-12-09 11:54] kabalak opened #273 "Open searches -> combined.peptide file missing observed mods"
Hi,

we are performing open searches on QE data from mouse and I feel that something is missing in FragPipe: if I label several experiments, then I get a nice peptide.tsv in each experiments' directory featuring the Assigned & Observed Modifications for each peptide.

But the global combined.peptide file for the whole search does **not** feature this information which is very annoying, as we want

[2020-12-09 12:19] hkim-scripps opened #274 "Philosopher: Cannot execute program. There was an error with PeptideProphet, please check your parameters and input files"
The results file (pepXML) is not generated normally.

[log_2020-12-09_04-16-38.txt](https://github.com/Nesvilab/FragPipe/files/5665773/log_2020-12-09_04-16-38.txt)

[2020-12-09 13:56] fcyu commented on #274
Can you share your `EK293T_tryptic_2ug.pepXML` and `EK293T_tryptic_2ug_c.pepXML` with us?

Thanks,

Fengchao

[2020-12-09 13:57] singhsk2622 opened #275 "Fragger_output"
Hi
I ran MSFragger LFQ MBR script and i have different form of intensity which one correspond to  normalize LFQ. I see same values in all three forms of intensity (total, unique and razor). My LFQ-MBR did not work? I am using combined proteins file. could someone explain output file of MSFragger?
I am also seeing ION count error msg? could someone suggest any solution?
[log_2020-12-05_06-15-26.txt

[2020-12-09 14:05] fcyu commented on #275
All of `total`, `unique`, and `razor` are normalized LFQ. The difference is the peptides (total/all peptides, unique peptides, or unique+razor peptides) used in calculating protein intensity.

For most cases, you can use `razor` intensity column which has the same definition as MaxQuant's LFQ intensity (unique+razor).

Regarding the 'ION count error msg', is `2020-12-05 06:04:46 [WARNING] - Peptid

[2020-12-09 14:06] #256 closed

[2020-12-09 14:17] singhsk2622 commented on #275
Hi Fengchao,
Thanks for detail information. regarding format, it was just suggestion. I ran 72 raw files in MSFragger and then i took that to perseus and it was bit hectic and risky to look for all razor intensity for all 72 files (they were separated by spectra, peptides, unique intensity, total intensity) as if all razor intensity are grouped in place and others grouped separately that will be e

[2020-12-09 16:00] fcyu commented on #275
Thanks Sachin,

We will discuss this change internally.

Best,

Fengchao

[2020-12-09 16:00] #275 closed

[2020-12-09 16:42] prvst commented on #273
@kabalak, I'm sorry that you are feeling annoyed. I do not include the observed modifications to the combined peptide table because it would probably be impractical to consume the column's information. On open-search reports from single experiments, we often see peptides containing dozens of possible mapped modifications. If we pull that information from multiple experiments into one table, there

[2020-12-09 16:42] #273 closed

[2020-12-09 21:41] singhsk2622 opened #276 "Maxquant and MSFragger comparison"
Hi compared MSFragger and Maxqunat result in perseus. i found big difference of significant quantification between Maxquant and MSfragger. I dont know if anyone have compared this. i am wondering if i am using or selecting any wrong parameter in MSFargger.
[MQ_Vs_Fragger.pptx](https://github.com/Nesvilab/FragPipe/files/5668878/MQ_Vs_Fragger.pptx)

[2020-12-09 21:44] fcyu commented on #276
Your information is too little to figure out the reason. I suggest you start from comparing identification results, then quantified intensities of ions, then quantified intensities of proteins.

Best,

Fengchao

[2020-12-10 16:43] LakminiSenavirathna commented on #228
Hi,

 I am trying to identify glycation modifications in K and R. But, when I tried to switch to labile mode in MSFragger in Fragpipe-14.0, there is no option to select amino acids as in previous release 13.0. In release 13.0, there is a option " allowed residues" to put the amino acids.

In new release (FragPipe 14.0) is that, under MSFragger--> advanced options--> restric delta masses to ---, wh

[2020-12-10 16:45] fcyu commented on #228
Hi Lakmini,

'Restrict delta mass to' is the replacement of the old 'allowed residues'. They are basically the same.

Best,

Fengchao

[2020-12-10 21:34] LakminiSenavirathna commented on #228
Hi Fengchao,

OK thank you !

Lakmini

[2020-12-11 20:05] singhsk2622 commented on #276
Hi Fengchu,
Why in my fragger output total intensity, unique and razor intensity values are same? any comment on that?
[combined_protein.xlsx](https://github.com/Nesvilab/FragPipe/files/5681383/combined_protein.xlsx)

[2020-12-11 20:11] #276 closed

[2020-12-13 12:10] andyzim111 opened #278 "Is there any way to export phosphosites on proteins from FragPipe analyzing phosphoproteomics data?"
I used Fragpipe to analyze phosphoproteomics data, and I can not find a way to export the phosphosites on proteins.

So could you tell me how to obtain the list of phosphosites?

Any solution processing output of Fragpipe will be welcomed.

BTW. I do not want to use Maxquant.

[2020-12-13 14:17] andyzim111 opened #279 "Philosopher: ions with different modified sites are collapsed in ion.tsv file."
When I used Fragpipe to analyze phsphoproteomics data, I found there are many phosphopeptides with >3 phosphorylated amino acids. Some phosphopeptides have 5 or 6, even 10 phosphosites.
I noticed max occurrence of phosphorylated STY is 3, so I do no know why this issue happened.
[log_2020-12-08_23-14-36.txt](https://github.com/Nesvilab/FragPipe/files/5684682/log_2020-12-08_23-14-36.txt)

[2020-12-13 14:25] anesvi commented on #279
That should not happen

You need to send us an example

What column you are looking showing more than 3 sites? Modified peptide column in PSM.tsv?

Sent from my iPhone

On Dec 13, 2020, at 9:18 AM, andyzim111 <notifications@github.com> wrote:

﻿
External Email - Use Caution

When I used Fragpipe to analyze phsphoproteomics data, I found there are many phosphopeptides with >3 phosphorylated amino a

[2020-12-14 02:07] andyzim111 commented on #279
I was looking at the "Assigned Modifications" column.
The example file is attached.

[example.txt](https://github.com/Nesvilab/FragPipe/files/5686042/example.txt)

[2020-12-14 02:14] fcyu commented on #279
Your file is quite strange: 'Modified Sequence' column and 'Assigned Modifications' column don't match.
![image](https://user-images.githubusercontent.com/6926299/102032924-15788a80-3d88-11eb-8b77-815313ee5e03.png)

Could you send us your pepXML file?

Thanks,

Fengchao

[2020-12-14 02:30] andyzim111 commented on #279
The pepXML file is about 180M, how can I send the file to you?

[2020-12-14 02:32] fcyu commented on #279
Could you upload your file here ([https://umich.app.box.com/f/b48d6bc6526d406bb3e7d07250ca09f3](https://umich.app.box.com/f/b48d6bc6526d406bb3e7d07250ca09f3))?

Thanks,

Fengchao

[2020-12-14 03:07] andyzim111 commented on #279
The pepXML file has been uploaded.

[2020-12-14 03:13] fcyu commented on #279
Hi @andyzim111 ,

It looks like your fasta file is prepared by yourself, so I need it to run Philosopher. Could you upload that too?

Thanks,

Fengchao

[2020-12-14 05:46] andyzim111 commented on #279
Do you need interact.pep.xml besides fasta file?
I have uploaded both.

[2020-12-14 16:07] fcyu commented on #279
I processed your file, but could not reproduce your issue. I uploaded my results here ([https://umich.box.com/s/kusala8jxidekjqnyy5p1ax4q2s8yw00](https://umich.box.com/s/kusala8jxidekjqnyy5p1ax4q2s8yw00)) (in the 'cannot_reproduce' folder). Could you double check and re-run your files?

Best,

Fengchao

[2020-12-14 18:31] cesarrivera opened #280 "Did not find any PeptideProphet results in input data! - Executing ProteinProphet v3.3.11"
Hello community, good morning.
I'm trying to identify bacterial proteins in human saliva.
I have had the same error in FragPipe v14 and v13:

**INFO[21:31:15] Executing ProteinProphet  v3.3.11
ProteinProphet (C++) by Insilicos LLC and LabKey Software, after the original Perl by A. Keller (TPP v5.2.1-dev Flammagenitus, Build 201906281613-exported (Windows_NT-x86_64))
 (no FPKM) (using degen pep inf

[2020-12-14 18:37] fcyu commented on #280
Your fasta file doesn't have any decoy proteins. You can add them by clicking 'Add decoys'
![image](https://user-images.githubusercontent.com/6926299/102121147-7b5d2480-3e11-11eb-8790-d61058408e5e.png)

Best,

Fengchao

[2020-12-14 19:09] cesarrivera commented on #280
@fcyu It is true, it does not have decoys. From where I download the files there is no base of decoys or contaminants. Analysis without decoys is not possible?
If not possible, is there an online tool to solve this challenge?
Thanks so much,
César

[2020-12-14 19:11] fcyu commented on #280
It is easy to add decoy.  Just clicking 'Add decoys' in FragPipe

![image](https://user-images.githubusercontent.com/6926299/102121147-7b5d2480-3e11-11eb-8790-d61058408e5e.png)

Best,

Fengchao

[2020-12-14 19:59] cesarrivera commented on #280
Excellent, I was looking at version 13 not 14.
Thanks!

[2020-12-14 20:02] fcyu commented on #280
No problem.

[2020-12-14 20:02] #280 closed

[2020-12-15 02:15] andyzim111 commented on #279
![example](https://user-images.githubusercontent.com/46341795/102159229-157aa680-3ebe-11eb-85f7-6583780fcb5d.png)

I downloaded the ion. tsv file in the ‘cannot_reproduce' folder and randomly picked two peptides.
The issue still exists.
You can search 'AALIPGGLSDGQFY[243]S[167]PPESEAGS[167]EEAEEK' in modified sequence column.

[2020-12-15 02:21] fcyu commented on #279
Wait, you are looking at ion.tsv....The entries in that file are collapsed in a certain way, which is a known issue of [Philosopher](https://github.com/Nesvilab/philosopher).  If you check the sequence (AALIPGGLSDGQFYSPPESEAGSEEAEEK) in psm.tsv, you will see that there are multiple PSMs with different modified sites. But in ion.tsv, they are collapsed. Hopefully, @prvst can fix this issue in the n

[2020-12-15 02:22] anesvi commented on #279
This question/issue should go to Felipe ( philosopher). I think it is just how ion and peptide level reports are generated, with some inconsistency. PSM.tsv files should be fine

We will take a look what philosopher does there

Sent from my iPhone

On Dec 14, 2020, at 9:15 PM, andyzim111 <notifications@github.com> wrote:

﻿
External Email - Use Caution

[example]<https://user-images.githubusercont

[2020-12-16 11:04] singhsk2622 opened #281 "de novo sequencing ?"
Hi
Is any possibility to use MSFragger for de novo sequencing ?

[2020-12-16 13:34] fcyu commented on #281
No.

[2020-12-16 14:48] jjGG commented on #257
Dear FragPipe Developers,

We are still trying to get LFQ quant data out of our Metaproteomics-gut
samples. Meanwhile we have a running workflow to "downsize" and subset
the ridiculously huge 185-gig-DB to "Gut_genomes" that have been
identified in a first comet-search.
We tried already multiple subset-DBs (45GB, 30GB, 7GB, 3.5GB) and
finally we can process one (7GB) that still is very comprehensi

[2020-12-16 15:00] fcyu commented on #257
Hi Jonas,

Following are my answers.
1. I don't think split database searching can split database in mass calibration step. @guoci Can you confirm that?
2. Yes, the split database module is only available in main search. You can disable mass calibration in GUI by setting 'Calibration and Optimization' to 'None':
![image](https://user-images.githubusercontent.com/6926299/102364540-90a69000-3f84-11e

[2020-12-16 15:07] jjGG commented on #257
Hei Fengchao

1) Yes - I confirm we had to switch-off `mass calibration` in order to process the 7gig DB because we still ran into "out-of-memory" issues although we used the splittin option and it would not work - only when we switched it off..
2) We changed the python-file (in the calibration search function) from split 1 to split 4 and then ran into the `Database does not exist` error.. -> so w

[2020-12-16 15:10] fcyu commented on #257
Hi Jonas,

Regarding the second question, I think it is possible to make the splitting support mass calibration if you modified the python script well. Maybe Guo Ci @guoci can help.

Regarding the third question, I am sorry that I don't have a good answer.

Best,

Fengchao

[2020-12-16 15:13] anesvi commented on #257
About #3, we talked with Felipe that maybe we can make some changes in philosopher to read larger databases. Maybe something we can discuss again

From: Grossmann <notifications@github.com>
Sent: Wednesday, December 16, 2020 10:08 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPip

[2020-12-18 15:52] #261 closed

[2020-12-21 13:37] BenSamy2020 opened #282 "FragPipe OpenSearch Failure using High Performance Desktop"
Greetings,

Thank you for providing such an amazing open source tool!

I was trying to run 30 .RAW file using fragpipe opensearch settings. Due to some reason I am experiencing search failure. Have attatched the error log here for your reference and high performance desktop specs.

I was monitoring the RAM usage, MSFragger did not reach its max capacity. Searching with a small set of files (~10) w

[2020-12-21 13:55] fcyu commented on #282
Thanks for your interest in our tools.

Your error was from JVM not our tools. It is likely due to some bugs in JVM. The reasons of causing this is not clear to us. We saw an example due to too much memory. Could you please reduce the memory in FragPipe and try again?

![image](https://user-images.githubusercontent.com/6926299/102784180-025a5180-436a-11eb-8126-7c934e3a17b8.png)

Best,

Fengchao

[2020-12-21 14:31] BenSamy2020 commented on #282
Greetings,

Setting it to 0=auto should be alright?
Will try that setting and up date you mate.
Thanks for your speedy reply!

Regards Ben

[2020-12-21 14:52] fcyu commented on #282
Hi Ben,

`0` means let FragPipe detects the free memory size. You may need to put something like 64 or 32 to it.

Best,

Fengchao

[2020-12-21 15:00] anesvi commented on #282
Yes, I also recall someone with HPC and 500Gb memory had a problem since ‘0’ allocated all 500Gb memory. Seem to be HPC related

From: Fengchao <notifications@github.com>
Sent: Monday, December 21, 2020 9:53 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] FragPipe OpenSearch Failure using High Performance Deskto

[2020-12-21 15:07] prvst commented on #282
Perhaps, instead of using all free memory, the program could allocate RAM equal to free RAM minus a certain percentage, like 5 or 10%. For certain shared environments like an HPC, the kernel will likely be configured not to allow users to take over all resources at once.

[2020-12-21 15:11] anesvi commented on #282
I would say if free memory is determined  to be above 120Gb (I doubt desktop people would have more than that, so more than 120 means HPC), then apply extra ‘minus 5-10%’ logic)

From: Felipe Leprevost <notifications@github.com>
Sent: Monday, December 21, 2020 10:08 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github

[2020-12-21 15:13] fcyu commented on #282
Sounds good. Will add this logic.

Best,

Fengchao

[2020-12-22 07:03] BenSamy2020 commented on #282
Greetings All,

I gave FragPipe 64GB worth of RAM and the runs were successful.
I also like to re-mention, that I am not using a HPC but a HPD (high performance desktop).
Interestingly, providing 120 GB worth of RAM seem to crash the searches, but 64GB is perfectly fine..

Anyways, thanks alot guys! OpenSearch is not just a tool, it a weapon!

Regards Ben

[2020-12-22 13:39] fcyu commented on #282
Hi Ben,

You are welcome. Please feel free to contact us if you have any further questions.

Best,

Fengchao

[2020-12-22 13:39] #282 closed

[2020-12-22 15:36] LakminiSenavirathna commented on #228
Hi,

I was trying to use MSFragger for identifying Advanced glycated end products (AGEs) in K and R amino acids. I used previous version 13.0 and used the labile modification search mode. Even though I used labile modification search mode in version 13.0 the AGEs modification appeared on other amino acids residues also. So, recently I installed latest version FragPipe 14.0 and trying to use this v

[2020-12-22 15:43] fcyu commented on #228
Hi Lakmini,

I don't think your memory issue is due to having both versions. Since you have in total 8GB RAM, it is possible that your available memory (free memory) variable a lot due to the programs running in your computer. You can restart your computer, close all other programs, and try the latest version.

BTW, what is "Labile Modifications search mode: labile Allowed residues: KR"? I think s

[2020-12-22 18:48] LakminiSenavirathna commented on #228
Hi Fengchao,

Thank you for your suggestion. I did restart my computer and tried to run my file in the latest version. But another error comes.

[Files_Lakmini.zip](https://github.com/Nesvilab/FragPipe/files/5731517/Files_Lakmini.zip)

I attached those files in the zip folder.

Please let me know your suggestions.

Thank you,
Lakmini

[2020-12-22 18:54] fcyu commented on #228
Hi Lakmini,

I found two issues from your log:
1. MSFragger cannot find the "ext" folder. After you download the MSFragger-3.1.1.zip and unzipped it, you need to keep the JAR file and the "ext" folder together when you move the files.
2. Your mzML is corrupted. You need to re-convert your file. Here is a [tutorial](https://msfragger.nesvilab.org/tutorial_convert.html).

Best,

Fengchao

[2020-12-22 19:10] LakminiSenavirathna commented on #228
Hi Fengchao,

Thank you !
The JAR file and ext folder seem together if you can see the image attached. OK I will re-convert the mzML file and try again.

Thanks,
Lakmini
![image](https://user-images.githubusercontent.com/70040193/102924066-75d98d00-4456-11eb-8df8-ef15672bad83.png)

[2020-12-22 19:13] fcyu commented on #228
Hi Lakmini,

Then, I think that is due to another reason: your computer doesn't have Visual C++ Redistributable for Visual Studio 2017. You can find the way of downloading if from here ([https://msfragger.nesvilab.org/tutorial_setup_fragpipe.html](https://msfragger.nesvilab.org/tutorial_setup_fragpipe.html)):

![image](https://user-images.githubusercontent.com/6926299/102924560-d4573900-445f-11eb-

[2020-12-22 21:14] LakminiSenavirathna commented on #228
Hi Fengchao,

I'll download and try it again.

Thank you !
Lakmini

[2020-12-27 21:02] fcyu commented on #274
No reply.

[2020-12-27 21:02] #274 closed

[2020-12-31 09:47] lifeinfo opened #283 "Parameter setting failure in building library by easypqp"
Hi Guo Ci @guoci ,

I used following command to build the library:
`python -u ../fragpipe13/tools/speclib/gen_con_spec_lib.py $fastaPath ./ ${mzfiles:1} $output True unused use_easypqp c
iRT 7 "--rt_lowess_fraction 0.01"
`
Is there any way to filter ions in the library conforming to the down criterions like spectrast2tsv?

1. Lower and upper mass limits of fragment ions
2. remove transitions with

[2020-12-31 14:23] guoci commented on #283
@lifeinfo Pleas post this issue at https://github.com/grosenberger/easypqp/issues

[2020-12-31 14:23] #283 closed

[2020-12-31 14:30] guoci commented on #272
Please provide data.

[2020-12-31 14:31] guoci commented on #270
Please provide data.

[2020-12-31 14:33] fcyu commented on #272
I also don't have the specific data, but I think every data has this issue since it is a systemic issue. You can start with the data you already have to see if there is this issue. I think you can also fix them by just checking the code.

[2020-12-31 14:33] fcyu commented on #270
I also don't have the specific data. You can start with the data you already have to see if there is this issue. I think you can also fix them by just checking the code.

[2020-12-31 14:39] fcyu commented on #270
But let me try to contact the users to get the data first.

[2020-12-31 14:39] fcyu commented on #272
But let me try to contact the users to get the data first.

[2021-01-05 02:17] Microbiomiao opened #284 "Error as MsFragger' finished, exit code: 1"
Hi,
I am new to MSFragger and would like to use it for my research work.
I got an error message as follow:
************MASS CALIBRATION AND PARAMETER OPTIMIZATION DONE IN 23.927 MIN*********
*******************************TOTAL TIME 163.672 MIN********************************
STARTED: slice 1 of 3
['C:\\Users\\User\\Downloads\\FragPipe-jre-14.0\\fragpipe\\jre\\bin\\java.exe', '-jar', '-Dfile.encod

[2021-01-05 17:41] guoci commented on #284
@Microbiomiao please post the full log

[2021-01-06 01:29] Microbiomiao commented on #284
Hi Guoci,

Full log as follow:

System OS: Windows 10, Architecture: AMD64
Java Info: 1.8.0_242, OpenJDK 64-Bit Server VM, AdoptOpenJDK

Version info:
FragPipe version 14.0
MSFragger version 3.1
Philosopher version 3.3.12 (build 1604525264)

LCMS files:
  Experiment/Group: 7_1
  - D:\ADP-ribo\iPSC_7_phos_01.raw
  Experiment/Group: 7_2
  - D:\ADP-ribo\iPSC_7_phos_02.raw
  Experiment/Group: 7_3
  -

[2021-01-06 05:39] clin888 opened #285 "Unrecognized mod token K[357] on peptide"
ERROR: Cannot initialize for the sequence: HQGVM[147]VGM[147]GQK[357], unknown mods may exist in spectrum
Unrecognized mod token K[357] on peptide: HQGVM[147]VGM[147]GQK[357]
I do not have this modification in the parameter...
please help,
Thanks,

[2021-01-06 13:42] fcyu commented on #285
Which tool threw this error? Could you send us the whole log?

Best,

Fengchao

[2021-01-06 17:41] clin888 commented on #285
[log_2021-01-05_12-40-23.txt](https://github.com/Nesvilab/FragPipe/files/5777282/log_2021-01-05_12-40-23.txt)
Thank you for help

[2021-01-06 17:43] fcyu commented on #285
The errors are from PTMProphet:
[code]

Felipe @prvst, can you take a look when you have time?

Thanks,

Fengchao

[2021-01-06 17:52] anesvi commented on #285
The user needs to pass the modification to PTM-Prophet (in Validation/PTM-Prophet)
E.g. for phospho it is
--mods STY:79.966331,M:15.9949
(assuming that phosphor and M+16 are specified)

If there is M+16 and K+mass modification, specify

--keepold --static --em 1 --nions b --mods K:mass,M:15.9949 --minprob 0.5
Where mass is exactly what specified in MSFragger tab
Regardless, I do not think Philosop

[2021-01-06 19:59] guoci commented on #284
can you send the following files:
`fragger.params`
`D:\ADP-ribo\split_peptide_index_tempdir\iPSC_7_phos_01.mzBIN_calibrated`
`D:\ADP-ribo\split_peptide_index_tempdir\iPSC_7_phos_02.mzBIN_calibrated`
`D:\ADP-ribo\split_peptide_index_tempdir\iPSC_7_phos_03.mzBIN_calibrated`
`D:\ADP-ribo\split_peptide_index_tempdir\iPSC_PT_phos_01.mzBIN_calibrated`
`D:\ADP-ribo\split_peptide_index_tempdir\iPSC_PT_pho

[2021-01-06 20:05] anesvi commented on #284
You are searching ADP-ribo data, as it looks from the file name, feel free to contact us directly. MSFragger/FragPipe has a workflow for labile peptide identification, and we can help you with the settings. I am not sure the labile mode (which is part of the Glyco mode really) is well documented in our tutorials. But we can help, and it works great in our tests based on the publicly available Niel

[2021-01-06 20:30] clin888 commented on #285
Attached is the log file of rerun PTMprophet
The error remains
[log_2021-01-06_12-20-55.txt](https://github.com/Nesvilab/FragPipe/files/5778052/log_2021-01-06_12-20-55.txt)

Thank you for your patient and help,

Cannot initialize for sequence: n[43]ADEK[242]PK[471]EGVK[357], unknown mods may exist in spectrum

[2021-01-06 20:34] anesvi commented on #285
variable_mod_06 = 229.162900 n^ 1
variable_mod_07 = 229.162900 K (lysine) 2
variable_mod_08 = 114.042900 K (lysine) 2

should be K, without ‘(lysine)’
variable_mod_06 = 229.162900 n^ 1
variable_mod_07 = 229.162900 K 2
variable_mod_08 = 114.042900 K 2

and what are these masses? iTRAQ AND TMT??? Why 229 and 114?

From: clin888 <notifications@github.com>
Sent: Wednesday, January 6, 2021 3:31 PM
To:

[2021-01-06 20:38] clin888 commented on #285
229 is TMT and 114 is for ubiquitined lysine
Thanks

[2021-01-06 20:43] anesvi commented on #285
Can you contact me at Nesvi at med.Umich.edu

I will send you my parameters for TMT + ubiquitin data

Sent from my iPhone

On Jan 6, 2021, at 3:38 PM, clin888 <notifications@github.com> wrote:

﻿
External Email - Use Caution

229 is TMT and 114 is for ubiquitined lysine
Thanks

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/Nesvil

[2021-01-07 10:43] BenSamy2020 opened #286 "Search failure using OpenSearch with high performance desktop - Error Message of Exception_Access_Violation"
Greetings,

I am trying to perform OpenSearch using 81 .raw files. I am consistently experience unsuccessful searches/ failed runs. I have attached the log file here for your reference. I had previous also submitted an issue with regards to this problem. Previously, I was using 30 .raw file and sorted out the issue by your suggestion of reducing memory usage to 64 GB. The previous issue was #282 F

[2021-01-07 13:52] fcyu commented on #286
These error are also from Java, not from our tools. It is rare that such errors appear so frequently. Maybe your system has some issues with the memory. You may try to upgrade your java to the latest version from ([https://www.oracle.com/java/technologies/javase-downloads.html](https://www.oracle.com/java/technologies/javase-downloads.html)). In order to use your system's java, you need to use `Fr

[2021-01-07 14:12] BenSamy2020 commented on #286
I am currently using FragPipe-14 with my current system.

So to get FragPipe working, I should install Java SE 15 on my current system?  (upgrading from Java 8.0 to Java SE15).
Will update you about the search outcome.

Regards, Ben

[2021-01-07 14:15] BenSamy2020 commented on #286
Opps, I just realized that both the FragPipe files are different. One already with Java and the other does not. Will down the one without Java and try.

[2021-01-07 14:20] fcyu commented on #286
Yes, the log shows that you were using the one with Java (java 8). In order to use a new java, you need to download the one without Java.

[2021-01-07 18:56] LakminiSenavirathna commented on #228
Hi Fengchao,

I could be able to run MSfragger when I free the memory of my computer. I am looking for glycation modifications in proteins. So I want to look at different glycation modifications occur in lysine (K) and Arginine (R) amino acids. I followed common-mass offsets workflow. So I followed following parameters in my analysis in MS Fragger. (attached screenshots). So I put detaM values of

[2021-01-07 20:18] fcyu commented on #228
Your diagnostic fragment mass and Y ion masses (0 is fine but not optimal) don't look right to me. I suggest you load the corresponding glyco workflow and change the mass offset based on your data. Here ([https://msfragger.nesvilab.org/tutorial_glyco-fragger.html](https://msfragger.nesvilab.org/tutorial_glyco-fragger.html)) is a tutorial about it.

Best,

Fengchao

[2021-01-07 20:29] dpolasky commented on #228
Hi Lakmini,
Two of the "increased" masses you mention are very close to the masses of other common modifications (114.0211 is very close to ubiquitination and 57.016 is very close to carbamidomethylation), and I suspect that these are being found rather than the glycations you're interested in, which is why you see more PSMs with delta masses. Are you sure that there are more glycations in your da

[2021-01-08 10:32] hcadre opened #287 "Process 'MsFragger' finished, exit code: 1"
When analyzing a set of 42 timsTOF files the Main Search unexpectedly stopped subsequently to the identification of 7.945.980 peptides with this error message:

"In total 7945980 peptides.
java.lang.reflect.InvocationTargetException
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.Deleg

[2021-01-08 13:30] fcyu commented on #287
Yes, you need to increase heap space: `Caused by: java.lang.OutOfMemoryError: Java heap space`.

Best,

Fengchao

[2021-01-08 15:00] BenSamy2020 commented on #286
Hi,

Would like to inform you that when I utilised the FragPipe-14.0.zip without Java, the runs were successful. Thanks for you support.

Regards Ben

[2021-01-08 15:00] #286 closed

[2021-01-08 18:53] LakminiSenavirathna commented on #228
Thank you Dan and Fengchao !

Thank you for bringing the points of ubiquitination and spectra which I have to carefully look.

My problem, that low number of modifications seems solved.
I re-run my mzML file with all the 9 modifications (actual deltaM) and it came up with what I expected. I got about 70-80 modifications which was I obtained in TPP analysis as well. The problem in TPP is, it took c

[2021-01-08 19:01] fcyu commented on #228
Since you set `0` for all `Y Ion Masses`, `Diagnostic Ion Minimum Intensity`, and `Diagnostic Fragment Masses`, you basically "disabled" the glyco mode. If you think you don't need these three settings, you can change `Labile Modifications Search mode` to `off` and put `KR-` to `Restrict delta mass to`, which will give you the same result but faster. The `-` in `KR-` tells MSFragger allow labile m

[2021-01-08 19:06] fcyu commented on #228
I think you also should add `0` to the mass offsets.

[2021-01-10 03:52] LakminiSenavirathna commented on #228
Thank you Fengchao !

Lakmini

[2021-01-11 00:14] BenSamy2020 opened #288 "~50% overlap in proteins identified between close and open search using FragPipe default parameters"
Greetings,

I performed open and closed searches using the same set of files with fragPipe default search parameters provided by the tool.
Based on your data searching experience with various data sets, do you observed ~50% overlap or a higher overlap percentage number compared to mine? (Ven diagram provided for your reference)
Does the difference in search space for both setting are drastically d

[2021-01-11 00:17] fcyu commented on #288
Hi Ben,

The number does not make sense because at least, open search is supposed to find more proteins than closed search. Can you send both logs to us?

Thanks,

Fengchao

[2021-01-11 03:37] danielgeiszler commented on #288
Is this a standard procedure as well? Number of IDs looks a bit low.

[2021-01-11 05:07] BenSamy2020 commented on #288
Greetings,

The .RAW files are from a non-complex sample. These are small protein enriched samples (<20 kDa) (in-house developed method - unpublished). I have attatched the open and close search log files here for your reference. I would not be expecting much protein from these searches, but higher amount of small proteins <20 kDa.

[CloseSearch_log_2021-01-07_18-59-11.txt](https://github.com/Nesv

[2021-01-11 05:08] BenSamy2020 commented on #288
Greetings Daniel,

Both the search options are fragPipe standard procedure.

[2021-01-11 05:17] Microbiomiao commented on #284
Hi Guoci,

Attached please find the files you requested.  However, I did not find any
file of the file type of mzBIN_calibrated.
Where can I find it? Thank you.

Best regards,

Miao-Hsia Lin, Ph.D.
Assistant professor
Department of Microbiology,
College of Medicine, National Taiwan University
E-mail: miaohsialin1012@ntu.edu.tw
Tel:02-23123456 ext.88285

guoci <notifications@github.com> 於 2021年1月7日

[2021-01-11 13:51] fcyu commented on #288
Hi Ben,

Thanks for your logs. Most of the parts of the logs look good to me, except for the numbers after FDR filtering:

from closes search
[code]

from open search
[code]

As you can see, after applying 1% PSM and protein FDR, open search got more PSMs (147910 vs 81556), more peptides (7046 vs 6433), but fewer proteins (1446 vs 1796). I guess the reason could be one of the following two
1. It i

[2021-01-11 14:00] BenSamy2020 commented on #288
Greetings FengChao,

Thank you for your rapid response.
I will be able to use a standard UniProt database.
But for my application I have to use a 3-frame translated database.
I am looking for novel protein products that are currently not annotated in reference proteome databases. (e.g https://www.openprot.org/p/download ----> the database utilised to perform the open and close searches)

By any ch

[2021-01-11 14:03] anesvi commented on #288
I think this is a bit unusual sample. There are a lot of PSMs but relatively low number of proteins. Perhaps most PSMs come from a small number of proteins, and the rest are identified by just 1-2 peptide. In such cases, open search may give more PSMs and peptides but fewer proteins.
So there may not be anything wrong. At least not something we need to fix.
Alexey

Sent from my iPhone

On Jan 11,

[2021-01-11 14:04] fcyu commented on #288
Hi Ben,

I am not sure of those proteins. Need Felipe @prvst 's help.

Also, if your fasta file contain contaminants, can you send their headers too?

I guess you comparing PSMs and peptides overlapping percentage first if you are analyzing some uncommon data.

Best,

Fengchao

[2021-01-11 14:05] anesvi commented on #288
Oh, ok. Searching for novel peptides.. this is more complicated...

Sent from my iPhone

On Jan 11, 2021, at 9:00 AM, BenSamy2020 <notifications@github.com> wrote:

﻿
External Email - Use Caution

Greetings FengChao,

Thank you for your rapid response.
I will be able to use a standard UniProt database.
But for my application I have to use a 3-frame translated database.
I am looking for novel prote

[2021-01-11 14:07] BenSamy2020 commented on #288
Hi FengChao,

the contaminants are as following:

MKWVTFISLLLLFSSAYSRGVFRRDTHKSEIAHRFKDLGEEHFKGLVLIA
FSQYLQQCPFDEHVKLVNELTEFAKTCVADESHAGCEKSLHTLFGDELCK
VASLRETYGDMADCCEKQEPERNECFLSHKDDSPDLPKLKPDPNTLCDEF
KADEKKFWGKYLYEIARRHPYFYAPELLYYANKYNGVFQECCQAEDKGAC
LLPKIETMREKVLASSARQRLRCASIQKFGERALKAWSVARLSQKFPKAE
FVEVTKLVTDLTKVHKECCHGDLLECADDRADLAKYICDNQDTISSKLKE
CCDKPLLEKSHCIAEVEKDAIPENLPPLTADFAEDKDVCKNYQE

[2021-01-11 14:09] BenSamy2020 commented on #288
Hi @anesvi,

Maybe we can work something out if you are open to collaboration?
I can schedule a meeting with you to discuss further of the project I am doing.

Regards Ben.

[2021-01-11 14:15] giorgiolivi opened #289 "error message"
Hi there,

I reported this error:

Cancelling 7 remaining tasks
Processing interrupted, stostopping WorkspaceClean

Process 'IonQuant' finished, exit code: 1
Process returned non-zero exit code, stoppingWorkspaceClean [Work dir: C:\Users\giorgio.DESKTOP-OR8T69I\Desktop\resultF\r_3]
C:\Users\giorgio.DESKTOP-OR8T69I\Downloads\philosopher_v3.3.12_windows_amd64\philosopher.exe workspace --clean --noch

[2021-01-11 14:15] anesvi commented on #288
Ben,
Yes, please contact me by email. We can close the issue on GitHub and discuss directly.
Best
Alexey

Sent from my iPhone

On Jan 11, 2021, at 9:10 AM, BenSamy2020 <notifications@github.com> wrote:

﻿
External Email - Use Caution

Oh, ok. Searching for novel peptides.. this is more complicated...
…
Sent from my iPhone On Jan 11, 2021, at 9:00 AM, BenSamy2020 notifications@github.com<mailto:not

[2021-01-11 14:16] #288 closed

[2021-01-11 14:18] fcyu commented on #289
Hi Giorgio,

Could you send the whole log?

Thanks,

Fengchao

[2021-01-11 14:29] prvst commented on #288
Hi @fcyu

This is not entirely true. Philosopher supports different formats, including a custom one. You can find more examples [here](https://github.com/Nesvilab/philosopher/wiki/How-to-Prepare-a-Protein-Database). The header that you pasted here seems to be OK. I believe that Alexey is right. I would not expect a database containing a 3 or 6-frame translated database to produce exactly the same

[2021-01-11 14:34] fcyu commented on #288
Hi @prvst ,

Yes, Philosopher can or cannot parse some formats other than UniProt. Could you list some reasons that cause the failure so that we can avoid them?  Also, the contaminant proteins seems to have a different format. Would two formats in one file cause any issue?

Thanks,

Fengchao

[2021-01-11 14:38] prvst commented on #288
The program will fail if you do not follow one of the recommended formats listed [here](https://github.com/Nesvilab/philosopher/wiki/How-to-Prepare-a-Protein-Database), and protein contaminants do not have a different format or header.

[2021-01-11 15:51] giorgiolivi commented on #289
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Mon, 11 Jan 2021 at 15:18, Fengchao <notifications@github.com> wrote:

System OS: Windows 10, Architecture: AM

[2021-01-11 16:08] fcyu commented on #289
Your log is truncated by GitHub. Can you send us a zipped file?

Thanks,

Fengchao

[2021-01-11 16:20] giorgiolivi commented on #289
Dear Fengchao,
Thanks for your quick response,
Hopefully the attached is the right one
Regards
On Mon, 11 Jan 2021 at 15:49, Giorgio Oliviero <giorgio.oliviero@ucd.ie>
wrote:

[2021-01-11 16:21] fcyu commented on #289
No, it is not. Can you send it to my email directly?

Thanks,

Fengchao

[2021-01-11 16:25] duselis opened #290 "error when running PhilosopherDbAnnotate"
My search (4 experiments, mostly default parameters for a closed search with Protein and PeptideProphet processing) exits when trying to complete the PhilosopherDbAnnotate process.  Can you give me some direction where I'm going wrong?  Attached are the log file and a truncated fasta (the actual fasta is 138k entries, so not an easy upload.) Thank you!
[trunc_fasta.fas.txt](https://github.com/Nesv

[2021-01-11 16:30] fcyu commented on #290
Hi @prvst,

Can you take a look when you have time?

Hi @duselis ,

For your search, I suggest you using 1 split database (no split) rather than 99.

Best,

Fengchao

[2021-01-11 16:48] prvst commented on #290
Hi @duselis, Philosopher needs to parse the protein FASTA headers to get some information from the entries, things like the gene name, protein existence, and organism. For that to happen, we require that the headers follow certain formats. It looks to me that some of your entries were edited, as they seem to have pieces from different online databases. For the program to work, you will need to cha

[2021-01-11 18:27] guoci commented on #284
There isn't any file attached.
The mzBIN_calibrated are deleted by FragPipe. Please try a modified FragPipe to retain the files:
https://drive.google.com/file/d/1JM-0TGPt6rZGOFrfzb1z0AXXx5jpDUzk/view?usp=sharing
Also, can you rerun with more memory, you are currently using 6G only.

[2021-01-11 19:26] duselis commented on #290
The original FASTA was downloaded directly from Uniprot.  Decoys and contaminants were added through philosopher v3.3.12, a la [https://github.com/Nesvilab/philosopher/wiki/How-to-Prepare-a-Protein-Database], which produced the above error. The same error occurred when I added decoys and contaminants in the same fashion with philosopher v3.2.3.

Thank you for pinpointing the error to the FASTA hea

[2021-01-11 19:42] #290 closed

[2021-01-12 13:46] BenSamy2020 commented on #288
Hi @anesvi, I have sent an email to nesvi_at_med.umich.edu

Hope to hear from you soon.

Regards Ben.

[2021-01-13 05:05] BenSamy2020 commented on #288
Greetings All,

FYI, I performed Open and Close searches using in-house QC samples and the overlap is ~ 85%.
The issue with my samples is due to a different sample processing style.

Regards Ben.

![image](https://user-images.githubusercontent.com/69944967/104408755-77f3bf00-55b0-11eb-8b2b-56161ef8cc0e.png)

[2021-01-13 21:01] #287 closed

[2021-01-18 21:16] #285 closed

[2021-01-19 18:43] #289 closed

[2021-01-20 18:50] LakminiSenavirathna commented on #228
Hi Fengchao and Dan,

Is there a place to look at corresponding peptide prophet probability for 1% FDR. I need to upload interact file generated from MSFragger to skyline and which requires peptide prophet probability.

Thank you !
Lakmini

[2021-01-20 19:03] fcyu commented on #228
Yes. There is actually a tutorial ([https://msfragger.nesvilab.org/tutorial_pasef_skyline.html](https://msfragger.nesvilab.org/tutorial_pasef_skyline.html)) about loading files to Skyline, and there is a way to get the probability threshold:

Best,

Fengchao

[2021-01-21 16:47] LakminiSenavirathna commented on #228
Thank you !
Please see the attached. I believe I can choose Converged to 0.99 % FDR with 4526 Ions decoy=45 threshold=0.9896 total=4571 in the below example log file. (0.99% FDR which is almost 1% FDR)
![Capture](https://user-images.githubusercontent.com/70040193/105382537-c834d780-5bd5-11eb-878d-37edd9efbd3d.JPG)

Thanks,
Lakmini

[2021-01-21 16:49] fcyu commented on #228
No problem.

Best,

Fengchao

[2021-01-22 12:56] christophgil opened #291 "EOFException and .NoClassDefFoundError"
I try to get started with msfragger.
I have an mgf file made on brukertimstof  and add it in the tab "Config" of msfragger.
I use java jdk 15 I am on a Windows server 2012 R2
at org.eclipse.jdt.internal.jarinjarloader.JarRsrcLoader.main(JarRsrcLoader.java:58)
Caused by: java.io.EOFException
	at java.base/java.io.RandomAccessFile.readInt(RandomAccessFile.java:846)
	at n.a(Unknown Source)
	at MSFrag

[2021-01-22 14:02] fcyu commented on #291
Hi Christoph,

First of all, MSFragger can load timsTOF raw file (.d). It can also read the MGF from Bruker's Compass DataAnalysis software. You don't need to convert anything.

this special class loader?

MSFragger uses the library to parse spectral files.

As long as all protein are from uniprot and unchanged, they should be OK.

Best,

Fengchao

[2021-01-22 15:57] anesvi commented on #228
Dear Lakmini,
Looks fine.
Once you are do with your analysis, let us know what you think overall regarding the results. Your suggestions/feedback that would help us to create a tutorial for people interested in similar analyses.
Best
Alexey

From: LakminiSenavirathna <notifications@github.com>
Sent: Thursday, January 21, 2021 11:48 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscri

[2021-01-22 20:32] christophgil commented on #291
Thanks,
I found my error, I downloaded an old jar version of fragpipe.
Cheers

Christoph

On Fri, Jan 22, 2021 at 3:02 PM Fengchao <notifications@github.com> wrote:

[2021-01-22 20:33] #291 closed

[2021-01-26 22:18] jossmi opened #292 "Error in PeptideProphet via FragPipe when using custom enzyme"
I am using MSFragger 3.1.1, Philopher 3.4.13, and FragPipe 14.0 in Windows.

I am doing an open search and have digested my samples using a fairly uncommon enzyme (wild-type alpha-lytic protease, aka WALP; citation: 10.1074/mcp.M113.034710), which cleaves after TASV. In the MsFragger tab of FragPipe, I have selected "custom" for enzyme rules, entered "WALP" for enzyme name, and entered "TASV" for

[2021-01-27 15:14] fcyu commented on #284
@guoci Is there any update?

Thanks,

Fengchao

[2021-01-27 17:43] jossmi commented on #292
Thanks, Felipe.

Just to be a bit more clear on my enzyme settings, In MSFragger, I selected "custom" from the dropdown menu, entered "nonspecific" in the enzyme name. See screenshot.

<img width="1440" alt="Screen Shot 2021-01-27 at 12 38 49 PM" src="https://user-images.githubusercontent.com/77409436/106031361-2d3c7180-609d-11eb-8d07-437e826b08e1.png">

Josh

[2021-01-27 19:19] jossmi opened #293 "Error in FragPipe when finishing PTM-Shepherd and generating spectral library"
I am using MSFragger 3.1.1, Philopher 3.4.13, and FragPipe 14.0 in Windows and doing an open search with PeptideProphet, ProteinProphet, PTM-Shepherd, and SpectraST library generation enabled.

Everything runs fine up until PTM-Shepherd, at which point it throws back an error, which is pasted between the asterisks below. I've attached my log and parameter files and a screenshot of the PTM-Shepherd

[2021-01-27 19:23] anesvi commented on #293
Unrelated to the PTM-Shepherd crash, I wonder why do you need SpectraST?
If you want to build a library from open search results, I think EasyPQP would be the way. Also, you would need to place the mass shift on the sequence in MSFragger (we have not tested it much ourselves yet though!)
Alexey

From: jossmi <notifications@github.com>
Sent: Wednesday, January 27, 2021 2:20 PM
To: Nesvilab/FragPipe

[2021-01-27 20:08] fcyu commented on #292
This issue has been solved. There is a new issue created.

Best,

Fengchao

[2021-01-27 20:39] jossmi commented on #292
Fengchao, sorry, I'm assuming you're referring to a new issue I posted in in PTM-S about a similar, but separate PTM-S issue (that was with a regular Trypsin digestion, this is with an uncommon enzyme; I'm unfortunately juggling a couple different issues). The issue for this particular thread has not been resolved yet.

I still would like any input on how to get PTM-S to accept my custom digestion

[2021-01-27 20:47] jossmi commented on #293
Thanks Alexey, I changed the library generation tool to EasyPQP. Haven't gotten that to work yet though, because it's
still hanging up at PTM-Shepherd. Same error as before, so I haven't attached the log again.

When you say,
"Also, you would need to place the mass shift on the sequence in MSFragger (we have not tested it much ourselves yet though!)"

are you referring to the deamidation I had lis

[2021-01-27 20:57] danielgeiszler commented on #293
Hi Josh,

1. I'm working on your issue now.
2. You probably don't want to add Deamidation as a custom modification for annotation if it was a variable mod in your search.
3. On the other issue: PTM-Shepherd does not deal with protein digestion and there is no need to pass your enzyme rules to it.

[2021-01-27 20:57] anesvi commented on #293
I was asking about the spectral library step, EasyPQP. Unrelated to PTM-Shepherd.

I think by mixing two separate issues:

1)      EasyPQP with open search

2)      PTM-Shepherd crash
I get confused

So, can you explain what you are trying to do?
Why do you need open search + deamidation as variable mod? Open search will get that.

Why do you need spectral library?

From: jossmi <notifications@git

[2021-01-27 21:03] danielgeiszler commented on #293
Josh, can you please upload your peaksummary.annotated.tsv file?

[2021-01-27 21:14] fcyu commented on #292
Hi Josh,

Sorry for the oversight. I will re-open it.

Best,

Fengchao

[2021-01-27 21:29] danielgeiszler commented on #292
PTM-Shepherd does not do anything with enzymes. This is an unrelated issue.

You only have 359 PSMs. This is simply not enough data to run PTM-Shepherd when you have such a large mass range. If you are certain your parameters are correct, I would suggest disabling it.

[2021-01-27 21:29] #292 closed

[2021-01-27 21:31] danielgeiszler commented on #293
Hi Josh,

I see what your issue is from your other ticket. I'm leaving this ticket open so you may continue to ask questions, because these are the same issue.

PTM-Shepherd does not have enough data and is crashing. The only solution is to disable PTM-Shepherd.

[2021-01-28 01:56] jossmi commented on #293
Thanks all for your help. Sorry for the confusion and the multiple posts.

Alexey,

First, I'll admit that I am not classically trained in proteomics, but have been learning "on the job" for the past couple years. So that may explain some puzzling choices/assumptions/dumb questions. Apologies for any of that.

The overall goal of this project is untargeted analysis of covalent modifications to ser

[2021-01-28 15:57] guoci commented on #284
@fcyu I am still waiting for the files. Please see my earlier comment

[2021-01-28 15:59] fcyu commented on #284
It's been a while, if @Microbiomiao hasn't sent you the file in a few days, I think we can close this issue.

Best,

Fengchao

[2021-01-28 17:26] anesvi commented on #293
Dear Josh,

You are doing some interesting things that have not been fully explored yet (although I did play with open searches on DIA data and adductomics before). But I propose that we take the conversation off the github forum. I would be happy to have a zoom call with you, with a few members of my lab, if you are willing to present a few slides about your project. We can provide a better advic

[2021-01-28 20:28] fazeliniah opened #294 "installing FragPipe on Linux Clutser"
Hi FragPipe developer team,
I am curious to know if there is a tutorial of how to use the FragPipe on linux HPC. I tried to use the provided shell script but wasn't successful. Please see the attached image of my terminal. I appreciate any help.
Thanks
<img width="831" alt="Screen Shot 2021-01-28 at 3 26 10 PM" src="https://user-images.githubusercontent.com/19155957/106194866-621ff580-617d-11eb-8e

[2021-01-28 20:29] fcyu commented on #294
[https://msfragger.nesvilab.org/tutorial_setup_x_forwarding.html](https://msfragger.nesvilab.org/tutorial_setup_x_forwarding.html)

Best,

Fengchao

[2021-01-29 01:23] Microbiomiao commented on #284
Hi Guoci,
Dan helps me out and it works well now.
Thank you for your help.
You can close this issue. Thanks again.
Best regards,

Miao-Hsia Lin, Ph.D.
Assistant professor
Department of Microbiology,
College of Medicine, National Taiwan University
E-mail: miaohsialin1012@ntu.edu.tw
Tel:02-23123456 ext.88285

guoci <notifications@github.com> 於 2021年1月12日 週二 上午2:27寫道：

[2021-01-29 01:24] #284 closed

[2021-01-30 08:52] fabianegli opened #301 "Path issue during philosopher workspace setup"
The workspace initialization throws a warning about not finding `.meta/meta.bin`.

[code]

Is the warning expected or is this a path handling issue?

Could it be related to having the philosopher binary stored on a NAS?

Setup: Windows Server 2016, MSFragger 3.1.1, FragPipe 14.0

[2021-01-30 09:22] fabianegli opened #295 "Parallelism setting not respected during fragment index slice generation"
I realized that the resource usage exceeds the set `Parallelism` value in the steps that precede the "Fragment index slice generated" log entry.

Is that again the issue of an "unconfigurable" library as in #216 or is there something you can do to make the analysis adhere to the limits set?

[2021-01-30 09:52] christophgil opened #296 "Raw file in read-only directory fails"
fragpipe works like a charm! Thanks for this cool tool.

It is not a good idea to create temporary files in the parent folder  when the raw file is in a read-only file system.
Please add the option to specify a temp folder.

Caused by: java.nio.file.AccessDeniedException: C:\Volumes\200ng_Hela_dda_referenzgradient_long_RE5_1_27.d.zip\200ng_Hela_dda_referenzgradient_long_RE5_1_27.d\200ng_Hela_dda_r

[2021-01-30 09:54] christophgil opened #297 "Mark contaminant proteins"

[2021-01-30 13:57] fcyu commented on #295
I don't think this is true. Maybe showing us your analysis and evidence can help us to troubleshoot it for you.

Best,

Fengchao

[2021-01-30 14:00] fcyu commented on #296
Thanks for your suggestion. Can you try to see if creating shortcuts/softlinks for your files helps?

Best,

Fengchao

[2021-01-30 14:45] fabianegli commented on #295
I spent quite some time looking at the CPU usage in the TaskManager and at the run tab in FragPipe in parallel. From the looks of it this issue definitely exists, although the spikes are relatively short in time.

Please let me know what kind of "evidence" you would like - and if there is some internal log that would help I would appreciate a short hint how to gather it.

PS: I try to avoid this k

[2021-01-30 14:51] fcyu commented on #295
You can use VisualVM (https://visualvm.github.io/) to see if there are indeed more **MSFragger's threads** running. You can send us your screenshot of VisualVM if you see such a case. Please note that, MSFragger can only control the threads in MSFragger. Other threads from Java is out of our control. To my experience, the usage of those threads are minor.

Best,

Fengchao

[2021-01-30 14:59] fabianegli commented on #295
It will take some time before I can troubleshoot this issue because I am running a big search at the moment, but I will do it once it runs through. The machine unfortunately doesn't have JDK, so visualvm won't work. Would screenshots of the TaskManager be of some value?

[2021-01-30 15:36] fcyu commented on #295
TaskManger is not very informative for this case because it is the total usage of all programs in your computer and the spike you mentioned may be due to other reasons or programs (for Windows, anti-virus could consume additional CPU resource when there is a program reading files). The troubleshooting can be performed on another computer with a small data (if there is such a bug in MSFragger, you

[2021-02-01 07:25] clin888 opened #298 "identify phosphpeptide sequence"
Is any quick way to find out the phosphopeptide sequence from the output file?
for example:
TALDO1_sp|P37837|TALDO_HUMAN_231_237_1_1_S237
Thanks

[2021-02-01 12:31] christophgil commented on #296
Hi Fengchao

I am impressed that you answer requests even on Weekends. That is cool!

Symlinks work fine. However, it requires an additional step and my
colleagues are already confused because
I bundle the  output files  of the instrument PCs in a zip. This zip  needs
to be mounted. This works fine  with Pismo mount.
This allows us to access the files in the zip through the file system
mounted on

[2021-02-01 13:44] fcyu commented on #296
Hi Christoph,

MSFragger writes the temp file, mzBIN file, and pepXML file to the spectral files' directory. We will not change it because there are too many tools dependending on it. Changing it may break them. If creating soft links helps, I suggest you using this approach.

Regarding using MSFrager and FragPipe in Ubuntu, it is quite easy because they are platform independent. You can also remo

[2021-02-01 14:15] christophgil commented on #296
Dear Dr Fengchao,

softlinks work - I will teach my colleagues.

In the next days I am going to install fragpipe on a Linux Ubuntu
and I guess I will run into problems with the proprietary formats.
mgf, raw and perhaps {.wiff .wiff.scan}
Is there any Howto which could help.

Cheers
Christoph

On Sat, Jan 30, 2021 at 3:00 PM Fengchao <notifications@github.com> wrote:

[2021-02-01 14:21] anesvi commented on #298
Dear “Clin888”,

What file are you looking at?

Our multi-site and single site reports from TMT-Integrator have peptide sequence columns

E.g.
sp|A0FGR8|ESYT2_HUMAN_S743

ESYT2

SSSSLLAsPGHISVK

Best,
Alexey

From: clin888 <notifications@github.com>
Sent: Monday, February 1, 2021 2:26 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Ne

[2021-02-01 14:30] fcyu commented on #296
[Here](https://github.com/Nesvilab/MSFragger/blob/master/tutorial_fragpipe.md) has a table regarding which formats are supported by our tools.

Soft link works well for mgf, mzML, and mzXML format. It won't work for raw format, and I am not sure about .d from timsTOF. As to .wiff and .wiff.scan, you need to convert it to mzML. Here is a [tutorial](https://github.com/Nesvilab/MSFragger/blob/master/

[2021-02-01 16:16] hcadre commented on #278
I would like to assist andyzim111, in that there is currently no possibility implemented in MSFragger to link back identified modifications within a particular peptide to the position in the protein sequence, from which this peptide is derived.

[2021-02-01 16:22] anesvi commented on #278
Unfortunately Philosopher does not generate those, yes.

For TMT data, TMT-Integrator generates site-level reports.
We discussed adding similar reports for label-free (generated using IonQuant), but have not implemented yet.

If someone already wrote some parsers/tools for doing it, please share it with us. I am sure other will benefit.

Thanks
Alexey

From: hcadre <notifications@github.com>
Sent:

[2021-02-01 16:30] hcadre opened #299 "Proteins identified, but no spectral counts, intensities...."
I am using MSFragger 3.1.1 to analyze Bruker .d files obtained on a timsTOF pro instrument. How do I have to interpret protein identifications that seem to be identified with a protein probability =1, top peptide probability = 0.999 and 2 or more stripped (unique unmodified) peptides, but for which total / unique / razor peptide / spectral count values and intensities are all zero - how does one h

[2021-02-01 16:35] fcyu commented on #299
If your data has more than one experiments, that protein should be from other experiment. Can you scroll to the right to see if there are non-zeros values from the columns corresponding to other experiments?

Best,

Fengchao

[2021-02-01 16:41] hcadre opened #300 "MSFragger Result Viewer"
The more I work with MSFragger, the more I think I can appreciate the quality of the results obtained. Being a long time MaxQuant user though, I am missing the Viewer functionality that serves as a common platform to access all result files from one central point (peptides, proteins, modifications, MSMS spectra etc). Are there any plans to implement a similar tool also for MSFragger?

[2021-02-01 16:44] hcadre commented on #299
Nope, the table ends at the right with the column "indistinguishable proteins" - no additional columns present.
Best,
Hannes

[2021-02-01 16:45] christophgil commented on #296
Thanks, I'll check it out.

On Mon, Feb 1, 2021 at 3:33 PM Fengchao <notifications@github.com> wrote:

[2021-02-01 16:46] anesvi commented on #299
Yes, this should only happen if you have multi-experiment setup.
You should look at combined_protein.tsv file then not the individual files in each experiment folder
Peptide-protein razor assigned, FDR 1% global protein filtering – all that is done based on data from all experiments
So the individual protein.tsv file may contain such entries. Perhaps Philosopher can be changed not to write them in

[2021-02-01 16:46] fcyu commented on #299
If there is 0 spectral count, it could be a bug from Philosopher.

Felipe @prvst, can you take a look when you have time?

Best,

Fengchao

[2021-02-01 16:47] fcyu commented on #296
You are welcome.

[2021-02-01 16:47] #296 closed

[2021-02-01 16:48] anesvi commented on #300
This is a good, valid suggestion. However, we also do not want to write another big viewer program. Perhaps there is something already available where we can feed our data into?
I have not looked at Peptide Shaker for a while. Not sure what else is there that is freely available

From: hcadre <notifications@github.com>
Sent: Monday, February 1, 2021 11:42 AM
To: Nesvilab/FragPipe <FragPipe@noreply

[2021-02-01 16:50] prvst commented on #299
I can't say if it is a bug or not solely based on that input. It is more likely that there's something wrong with the way the program was executed. Can you provide more information on what you are doing and how you are running the program?

[2021-02-01 16:54] anesvi commented on #299
Can you send us your log file too?

From: Fengchao <notifications@github.com>
Sent: Monday, February 1, 2021 11:47 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Proteins identified, but no spectral counts, intensities.... (#299)

External Email - Use Caution

If there is 0

[2021-02-01 16:58] anesvi commented on #301
This is a common question. You can ignore this warning

FragPipe always cleans the folder to remove old meta files from philosopher in case they exist. When nothing to clean, it gives a warning, but no problem

We will try to suppress this warning, or detect if there is something to clean before cleaning.

From: Fabian Egli <notifications@github.com>
Sent: Monday, February 1, 2021 11:48 AM
To: Nes

[2021-02-01 16:58] hcadre commented on #299
This was indeed a multi-experiment setup and all the "missing" data seem to be present in the combined_protein.tsv file. Thank you for pointing me to this feature of MSFragger!
The analysis was done with default values mostly on 7 samples, each one with biological triplicates, and each measured as technical replicate, so 42 files in total. The log file is attached below.

Best,

Hannes

[log_2021-

[2021-02-01 17:02] fcyu commented on #301
OK, I will let FragPipe don't print this warning. I have actually 'muted' `WARNING: CANNOT correct data file...` and `WARNING: cannot open data file...` from PeptideProphet.

Best,

Fengchao

[2021-02-01 17:04] anesvi commented on #299
I sopped a bigger problem in your log file

The FDR filtering gives strange results

I see you used the following database:
2021-01-06-decoys-contam-UP000005640_9606_hs_concatenated_target_decoy.fasta.fas

How did you create this database?
Philosopher already adds decoys. It looks like something wrong with the database….
Can you use just automatically downloaded database in Database tab?

Alexey

[2021-02-01 17:05] anesvi commented on #301
Sounds good

From: Fengchao <notifications@github.com>
Sent: Monday, February 1, 2021 12:03 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <comment@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Path issue during philosopher workspace setup (#301)

External Email - Use Caution

OK, I will let FragPipe don't print this warning. I

[2021-02-01 17:07] prvst commented on #299
@hcadre A small correction. This is not a feature of MSFragger. This is how Philosopher provides the reports based on the way you organize your data sets.

[2021-02-01 17:10] anesvi commented on #299
. PeptideProphet  (TPP v5.2.1-dev Flammagenitus, Build 201906281613-exported (Windows_NT-x86_64)) AKeller@ISB
read in 513 1+, 39034 2+, 17700 3+, 3693 4+, 984 5+, 0 6+, and 0 7+ spectra.
Found 89 Decoys, and 61835 Non-Decoys
MS Instrument info: Manufacturer: UNKNOWN, Model: UNKNOWN, Ionization: UNKNOWN, Analyzer: UNKNOWN, Detector: UNKNOWN

This is very strange.

I suspect you downloaded the datab

[2021-02-01 17:11] fcyu commented on #299
@hcadre Can you send us the screenshot of the 'Database' tab in FragPipe like this
![image](https://user-images.githubusercontent.com/6926299/106493050-a580a980-6486-11eb-8943-c7e3b26cad75.png)

Thanks,

Fengchao

[2021-02-01 17:20] hcadre commented on #300
Thanks for your suggestions! MSConvert is slow as molasses though in converting .d files to mgf format and converting dozens of files will take aeons then. And then I have access to the spectra only. But what about the combined.prot.xml file? Doesn´t it contain the all the combined protein data in a format that could be rendered accessible to PDV or maybe Peptide Shaker?

Best,

Hannes

[2021-02-01 17:22] fcyu commented on #300
PDV supports psm.tsv and pep.xml. Not sure about PeptideShaker.

Best,

Fengchao

[2021-02-01 17:37] clin888 commented on #298
Hi Alexei,

I apologize for the confusion. It is our fault.
I just checked this with our statistician. In fact, she manipulated the data to facilitate her pipeline (combined ids into a single entry). Now, I find all the phosphopeptide sequences.

Thank you for all your help,

Chenwei
________________________________
From: Alexey Nesvizhskii <notifications@github.com>
Sent: Monday, February 1, 2021

[2021-02-01 17:39] #298 closed

[2021-02-01 17:52] fcyu commented on #301
Muted in FragPipe. Will be available in the next release.

Best,

Fengchao

[2021-02-01 17:52] #301 closed

[2021-02-02 04:25] ndtivendale opened #302 "Error in locating pepXML files"
Trying to use Philosopher (within FragPipe) to analyse pepXML files, but keep getting this error. 'FATA[12:10:57] Missing input parameters. missing pepXML files'. But I have checked the directory in which Philosopher is looking for the pepXML files, and they are there (e.g. one of the files is called: 'NT_19-68-5.pepxml' and I'm pretty sure there is data in the files because they are each about 35

[2021-02-02 09:32] hcadre commented on #299
@anesvi: Yes, I indeed used philosopher to generate the database as described on the page " How to create a protein database", using the command lines
- philosopher workspace --init
- philosopher database --reviewed --contam --id UP000005640, but maybe I then clicked the button "Add decoys" in addition (I don´t actually remember). I missed the fact that decoys and contaminants are already added us

[2021-02-02 09:35] hcadre commented on #299
@anesvi ,@fcyu:  I think I am now back on track!

![image](https://user-images.githubusercontent.com/16349515/106580478-41bbb680-6542-11eb-8254-50c1c9c577a3.png)

Best,

Hannes

[2021-02-02 12:50] anesvi commented on #299
Ok, let us know how things turn out with the corrected database

We will see if we can prevent an accident like this happening in FragPipe (maybe asking for a confirmation that the database does not contain decoys)

Sent from my iPhone

On Feb 2, 2021, at 4:32 AM, hcadre <notifications@github.com> wrote:

﻿
External Email - Use Caution

@anesvi<https://github.com/anesvi>: Yes, I indeed used philos

[2021-02-02 13:52] fcyu commented on #299
Both of the databases contain the equal number of targets and decoys. But the first one double the target and the decoy?

[2021-02-02 13:55] anesvi commented on #299
So we need to check what that ‘add decoys’ function does. just calls philosopher? Need to test

Sent from my iPhone

On Feb 2, 2021, at 8:52 AM, Fengchao <notifications@github.com> wrote:

﻿
External Email - Use Caution

Both of the databases contain the equal number of targets and decoys. But the first one double the target and the decoy?

—
You are receiving this because you were mentioned.
Repl

[2021-02-02 14:01] fcyu commented on #299
[code]

FragPipe uses Philosopher's commands.

[2021-02-02 15:14] fcyu commented on #302
Felipe @prvst ,

Can you change the error message to `Missing input parameters. missing interact*-pep.xml files. Please check if PeptideProphet was run.`? The current error message is misleading.

Thanks,

Fengchao

[2021-02-04 21:12] JurajLenco commented on #300
PeptideShaker currently supports X!Tandem, MS-GF+, MS Amanda, OMSSA, MyriMatch, Comet, Tide, Mascot, Andromeda, MetaMorpheus, Novor, DirecTag, and mzIdentML. It would be great if it works with MSFragger too.
J. Lenco

[2021-02-05 01:08] anesvi commented on #300
Thank you for the suggestion. Our problem is we need to convert the output to mzIdentML.
We need to check the format, and I am hoping to find someone who can help us with the process a bit.
Best,
Alexey

From: JurajLenco <notifications@github.com>
Sent: Thursday, February 4, 2021 4:13 PM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Comment <com

[2021-02-05 09:45] hcadre commented on #299
I ran another analysis against the correct database (see previous comment), this time however, Ionquant stopped with an error message about the amount of available memory on the disk:

https://github.com/Nesvilab/FragPipe/issues
![image](https://user-images.githubusercontent.com/16349515/107015149-c144c200-679c-11eb-9543-3993146e1405.png)

This is kind of strange since there are about 650 GB of fr

[2021-02-05 10:00] hcadre commented on #299
Is it possible to restart a MSFragger analysis at a particular processing step that successfully had finished before at a subsequent step an error message was issued? Something like the "partial processing" option that MaxQuant offers.....

Cheers,

Hannes

[2021-02-05 14:24] hayse1 commented on #299
Hi Hannes, for your last question you can uncheck the steps you don't want to run (for example, you can skip the database search by unchecking this box on the MSFragger tab).
![image](https://user-images.githubusercontent.com/16582242/107045665-c4878000-6793-11eb-8035-2e007892cd3c.png)

[2021-02-05 14:31] hcadre commented on #299
Perfect! Thank you very much for your help!

[2021-02-05 14:35] anesvi commented on #299
I wonder if “out of disk space” problem is due to IonQuant saving quantindex files on the disk. For .d data, they are big files. Our next version of FragPipe will make that optional, Fengchao?

Sent from my iPhone

On Feb 5, 2021, at 9:31 AM, hcadre <notifications@github.com> wrote:

﻿
External Email - Use Caution

Perfect! Thank you very much for your help!

—
You are receiving this because you w

[2021-02-05 14:42] fcyu commented on #299
Yes, it could be due to the quantindex files. For this particular case, IonQuant has to write the quantindex files to the disk because MBR needs it later. Those files will be deleted after IonQuant finishes. FragPipe 14.0 already has the 'Keep index on disk' checkbox, and it is unchecked by default.

Best,

Fengchao

[2021-02-05 14:51] anesvi commented on #299
Yes, and we need to keep quantindexes for all runs until finished. Then they can be deleted (or kept as option). I think we should add to our tutorials that when running with .d files, the user need to have enough disk space for the duration of the run at least (like 2 * the size of .d files ?)

Alexey

From: Fengchao <notifications@github.com>
Sent: Friday, February 5, 2021 9:43 AM
To: Nesvilab/F

[2021-02-05 15:03] hcadre commented on #299
Disk space, which is 2 * the size of .d files, is probably not sufficient: The volume of my .d file is 312GB, while there is 650 GB of free disk space

[2021-02-05 15:06] anesvi commented on #299
Well, this is a problem with Bruker data…. Huge files. Not sure if Fengchao can suggest something

From: hcadre <notifications@github.com>
Sent: Friday, February 5, 2021 10:04 AM
To: Nesvilab/FragPipe <FragPipe@noreply.github.com>
Cc: Nesvizhskii, Alexey <nesvi@med.umich.edu>; Mention <mention@noreply.github.com>
Subject: Re: [Nesvilab/FragPipe] Proteins identified, but no spectral counts, intensi

[2021-02-05 15:11] fcyu commented on #299
The size of a quantindex file is smaller than the uncompressed .d but larger than the compressed .d. The 'compressed' means that if the data is compressed using the function inside Bruker's library. Taking a 2 hour gradient HeLa cell line data from MCP 2018 for example, the uncompressed .d is around 20 GB, the compressed .d is around 5 GB, and the quantindex is around 12 GB.

Best,

Fengchao