[2021-11-05 00:33] #509 closed

[2021-11-05 15:50] guoci commented on #506
@xuel12 you can close if this issue is resolved

[2021-11-05 16:01] xuel12 commented on #506
@guoci I don't think it is fully resolved. The database search with "B" seems not working yet for me.

[2021-11-05 18:06] treponeme commented on #502
Hello Fengchao

The analyses have been re-run using the latest software, but the issues still persist.

I have attached the fasta file database used for searching here.

Thanks.
[Tp_Cust_Rab_Crap.zip](https://github.com/Nesvilab/FragPipe/files/7488060/Tp_Cust_Rab_Crap.zip)

[2021-11-05 18:28] fcyu commented on #502
Thanks for your testing and fasta file.

Hi Felipe @prvst ,

Can you take a look at the fasta file? There are proteins from UniProt and non-UniProt. Maybe that's the cause.
[code]

Thanks,

Fengchao

[2021-11-05 18:30] jadv12 commented on #504
You were right. Well, I'm glad I've exhausted every way. I will stick with the 1-5% range for my project. Thank you both so much!

[2021-11-05 18:30] #504 closed

[2021-11-05 18:34] fcyu commented on #506
Hi @xuel12 ,

Sorry for the delayed reply. We just flew back from ASMS.

I think I can do some simple test with B and J as custom modification on my side first. Will keep you posted.

Best,

Fengchao

[2021-11-05 19:13] fazeliniah opened #1034 "Feature request for HLA analysis"
Dear MSFragger developing team,
Thank you again for this amazing software. We are making good progress with using the none-specific HLA workflow in MSFragger.
Our collaborator is interested to do cleavage signature analysis for some the identified peptide. For this purpose, we need the amino acids in the protein sequence that are located at either up or downstream of detected peptides (3 AA either

[2021-11-05 20:15] fcyu commented on #506
Hi @xuel12 ,

OK, I figured out the reason. MSFragger filters out all `B` before digestion.....

For now, you can use `O` or `U` if you are not expecting pyrrolysine or selenocysteine from your data. The logic is similar: adding a fixed modification to make the mass of `O` or `U` equals yours. Please note that the original mass of `O` is 237.14773 Da, and `U` is 150.95363 Da.

Best,

Fengchao

[2021-11-06 08:44] MNTsnowman opened #511 "Lists of proteins from IonQuant and MSstats does not match?"
Hi Fragpipe team

I have recently analyzed some data with FragpipeV16, here i noted that the list or proteins generated by IonQuant is not the same list as generated by MSstats when i use the MSstats.csv file generated by Fragpipe. To me this seems odd, I mean, I would expect the lists to be similar when they orriginate from the same analysis?

In my case, i got a list of 3755 Identified proteins

[2021-11-06 14:32] fcyu commented on #511
Hi Martin,

Can you tell us what file you are using to get the list of proteins from IonQuant?

As to the MSstatsPTM, we will discuss internally and keep you posted.

Best,

Fengchao

[2021-11-07 09:27] JesseIL opened #513 "Error when processing a TIMS-ToF data file with FP17"
Tried processing one Bruker raw file (TIMS-ToF Pro) with FragPipe 17 and it failed.
Here's a link to the log file: https://owncloud.incpm.weizmann.ac.il/index.php/s/aJ3XaNJwu5zqaU6

[2021-11-07 09:48] JesseIL opened #512 "DIA-Umpire seems to be not compatible with JRE 17?"
I tried processing DIA data with FragPipe 17. It includes 125 raw files (Thermo data). I used the DIA-NN workflow (I think..).
Not sure what went wrong.
Here's a link to the log file: https://owncloud.incpm.weizmann.ac.il/index.php/s/qVsINi4DPoecn8p
Thanks,

Yishai

[2021-11-07 14:00] fcyu commented on #512
Hi Yishai,

This is a known bug. We will release a fixed version soon.

Best,

Fengchao

[2021-11-07 14:03] fcyu commented on #513
This is a known issue: https://github.com/Nesvilab/FragPipe/issues/431. For now, you can install Visual C++ 2010 or put `msvcr100.dll` to the folder where Percolator is.

Best,

Fengchao

[2021-11-07 21:33] iortea commented on #507
Hi all,

I'm having the same issue: from a total of 18 DDA timstof runs, only got 5 edited.pin files by MSBooster. Then Percolator worked fine for one edited.pin, but failed for the second:

Reading tab-delimited input from datafile 20210702-12_2021027-HL3_1057_edited.pin
ERROR: Cannot open data stream.
ERROR: Failed to read in file, check if the correct file-format was used.
Process 'Percolator'

[2021-11-07 22:25] guoci commented on #462
@fabianegli has anything been done for the FragPipe-Nextflow workflow?
I have started working on a headless version of FragPipe.
The license of FragPipe is GPLv3.

[2021-11-07 22:45] fcyu commented on #507
Hi Kevin @yangkl96,

This one looks different from the previous one. Can you take a look?

Thanks,

Fengchao

[2021-11-08 04:06] xuel12 commented on #506
Thanks @fcyu , I can get the O and U identified in MSfragger now. However, how should I set up the calibration file for easyPQP? The new fix mod difference between Heavy K vs O and Heavy R vs U are not Unimod I guess.

[2021-11-08 07:28] kabalak opened #514 "Problems with PTMShepherd + SemiSpecNterm searches on N-termini data"
I have some N-termini enrichment data and wanted to give FragPipe 17.0 a run with the new semi-specific N-terminal search combined with the open search; but the search stalls during the PTMshepherd collection/counting step, but with no further error information. Maybe the open search cannot be combined with the semi-spec N-term. search strategy? The samples are duplex labelled with light / heavy F

[2021-11-08 08:44] MNTsnowman commented on #511
Hi Fengchao

Thanks a lot for the quick reply, and sorry for the delay.

I have tried to use both the combined_peptide.tsv and the combined_prptein.tsv files. Maybe I should look somewhere else?

However, as the MSstats file contains peptides, my best guess would be the combined_peptide.tsv file. I then sort the list of prtorein IDs from the combined_peptided.tsv file so that peptides with all "0"

[2021-11-08 09:49] JB91451 commented on #507
Hi Kevin,

I can confirm an identical issue as Ronghui during the MSBooster step. If it would be helpful to have a second set of files, I could send those:

_Edited pin file at E:\JB\211105_MSFragger_Prosit_Test\Results\Fe_DFur_2\150119_VE1_PM1_AO_FE_2_7_edited.pin
Loading 150119_VE1_PM1_AO_FE_2_8_uncalibrated.mgf
java.lang.NullPointerException
	at Features.mzMLReader.setPinEntries(mzMLReader.java

[2021-11-08 12:23] MiguelCos opened #515 "TMT-integrator: tmt-report folder is empty after search FragPipe 17"
First of all:

I am very enthusiastic about all the new implementations in FragPipe 17!

I have been testing it on some of my TMT datasets but sadly the `tmt-report` folder is empty. The rest of the search results seem to be OK.

Using the same parameters in FragPipe 16 yields the correct tables.

I am attaching the log file.

I can notice a series of warnings/errors at the start of the workflow,

[2021-11-08 13:34] Peer2011 opened #516 "Improved Match between runs MS1 feature detection"
Dear Alexey, Fengchao and  the rest of the FragPipe team
I have to say that you have done a really great job on the new Fragpipe version 17.0 which really improves IDs in our datasets even further. Our data are all recorded in the DDA mode and I am still puzzled even with IonQuant which is much better than LFQ from MaxQuant how to get rid off or at least improve the missing data problem.  I just w

[2021-11-08 13:45] anesvi commented on #516
I personally need to read IceR paper. At quick glance a while back all comparisons they did were with a very early version of IonQuant, before MBR etc. We should probably review that paper in more detail if you think it is doing something really well. What we do know is that, when people compare with MaxQuant and get less missing values, it is because we apply by default 1% FDR for MBR, and there

[2021-11-08 13:53] anesvi commented on #515
Hi Miguel,

Probably something database related
I see you are using
2021-04-19-decoys-contam-UP000000589_10090_Mus_musculus_1protein_1gene_2021_04_w_iRTs_modif.fasta

Could you please try using just a regular mouse UniProt download via FragPipe?
If that works OK, then can you send us your database and PSM.tsv files.
We will need to see if something in the new TMT-Integrator is not compatible with

[2021-11-08 13:58] anesvi commented on #514
Thanks for testing.
Danny can you get more info from Fatih and see why PTM-Shepherd stalls.

About the peptides you see with semi-spec N-term, let us know what you get from your extra tests

From: Fatih D. ***@***.***>
Sent: Monday, November 8, 2021 2:29 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Nesvilab/FragPipe] Problems with PTMShepherd + SemiSpecNterm searches

[2021-11-08 14:57] fcyu commented on #511
Hi Martin,

No worries!

I think I might know the reason if you were using FragPipe 16. In that version, the `combined_peptide.tsv` file is generated by Philosopher with 1% peptide FDR. While the `MSstats.csv` is generated by IonQuant with 1% PSM and protein FDR.

I just did a testing with FragPipe 17 and the numbers match.

As to the MSstatsPTMs, I never used that before. We will discuss how to g

[2021-11-08 15:00] danielgeiszler commented on #514
Hi @kabalak

Could you do me a favor to help debug? Just check PTM-Shepherd's extended output checkbox on the PTMs tab and rerun PTM-Shepherd. You shouldn't need to rerun anything else.

[2021-11-08 15:02] fcyu commented on #506
Hi @xuel12 ,

This is a good point. Then, I guess have to wait for the next release of MSFragger. I actually have already fixed this bug. We can send you a version to test if you like.

Best,

Fengchao

[2021-11-08 15:13] yangkl96 commented on #507
Hi @iortea,

Could you share with me your 20210702-05_2021027-HL5_1050_uncalibrated.mgf?

Thanks,
Kevin

[2021-11-08 15:14] yangkl96 commented on #507
Hi @JB91451,

No need to share the files, I have found the issue and it will be fixed soon.

Thanks,
Kevin

[2021-11-08 15:21] danielgeiszler commented on #516
I'll get back to this once I have time to read the paper more thoroughly because their method is quite extensive, but it seems like iceR also does a smart noise imputation step by default for missing values (step 12 in their methods). Looking at Figure 2B from the manuscript, they only have 0.2% missing peptide intensities which I don't think is possible if those are all real IDs and not just nois

[2021-11-08 16:24] iortea commented on #507
Hi Kevin,

please find the file at this shared link:
https://drive.google.com/drive/folders/1-4ehkjdBH6w-w5cMNI22MvgT2wROc47p?usp=sharing

Thanks,

Nacho

[2021-11-08 17:11] yangkl96 commented on #507
Hi @iortea,

When I tried reading in this specific mgf file, it worked fine. If you run just MSBooster again, does it have an error at the same file? If you analyze all files except this specific mgf file (by removing it from Workflow input LC-MS files), do you run into the same problem with another file?

[2021-11-08 17:21] kabalak commented on #514
Sure, I set up the search again (hopefully with same params) and get the same error but maybe you can elucidate better what could be the problem now.
[log_2021-11-08_18-13-03.txt](https://github.com/Nesvilab/FragPipe/files/7498849/log_2021-11-08_18-13-03.txt)

[2021-11-08 17:42] danielgeiszler commented on #514
Nope, I have no idea! It works fine for your first dataset and breaks for the second dataset, but it only the second time it reads your psm table in the second dataset.

Would you mind uploading your data here?

https://www.dropbox.com/request/yr70gVTQ6ZoB7t79y74P

[2021-11-08 19:14] anesvi commented on #506
Can you explain “However, how should I set up the calibration file for easyPQP”

Or was it resolved?

As a general comment, if you are building a library with some DIA data (via MSFragger-DIA or DIA-Umpire), then you do not need a separate calibration file. EasyPQP will select one of the runs and use it as a reference run for RT alignment. Select ‘automated selection of run as reference’ in EasyPQ

[2021-11-08 19:33] iortea commented on #507
Hi Kevin,

I've just repeated the processing without that run (HL5_1050), but Percolator failed again (now and also the previous time, when reading the same run: 20210702-12_2021027-HL3_1057_edited.pin).  And MSBooster finished when loading the same run too (HL1_1051_uncalibrated.mgf).

Please find attached the log.

Thanks,

Nacho

[log_2021-11-08_19-59-03.txt](https://github.com/Nesvilab/FragPip

[2021-11-08 19:57] danielgeiszler commented on #514
Do you have a nested folder structure where a PTMShepherd run was already performed in one of your subdirectories?

[2021-11-08 20:05] BrendonSeale commented on #507
We also have this issue. I am attempting to build as big a library from DDA-PaSEF data as I can and thought using MSbooster would give me a slight bump over not doing so. But I consistently run into this issue where files are not created/unreadable. I have attempted to run the analysis again after excluding certain files but it's like playing 'whack-a-mole'. Adding new files in just means previous

[2021-11-08 20:12] anesvi commented on #507
Thanks, we are working on fixing the bug
Alexey

From: BrendonSeale ***@***.***>
Sent: Monday, November 8, 2021 3:05 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Mention ***@***.***>
Subject: Re: [Nesvilab/FragPipe] Edited pin files not fully generated in MSBooster step (Issue #507)

External Email - Use Caution

We also have this issue. I am attempting to build as b

[2021-11-08 20:36] kabalak commented on #514
No, I normally delete the old main output folder before starting a new search, so there should be no existing PTMShepherd data inside this directory at least.

[2021-11-08 20:37] iortea commented on #507
Kevin,

I've run MSBooster+Percolator on the individual files: HL3-1057 works fine.
HL1_1051 failed.

[log_2021-11-08_20-47-26.txt](https://github.com/Nesvilab/FragPipe/files/7499701/log_2021-11-08_20-47-26.txt)

HL1 uncalibrated.mgf at: https://drive.google.com/drive/folders/1dacq8U_EqhLfH5mVsOjaOmxbhE5_nZZD?usp=sharing
(it's 2.3 Gb, while the other runs are around 0.6 GB, just in case it means s

[2021-11-08 20:44] prvst commented on #419
Fixed. Added to v4.1.1

[2021-11-08 20:44] #419 closed

[2021-11-08 20:52] prvst commented on #502
The database seems OK. @treponeme can you share your output tables?

[2021-11-08 21:17] xuel12 commented on #506
@anesvi I am spike-in heavy KR peptides as iRT, and I am using them as "custom calibration file". In MSfragger @fcyu suggested using O and U to for spike-in heavy peptide so that the search space won't be inflated with heavy KR mod for samples. However, the easyPQP needs Unimod to annotate calibration file (in this case, K + 8 - O and R + 10 - U), and that's what we are currently at.

@fcyu, if yo

[2021-11-08 21:25] anesvi commented on #506
Ok. I am not sure what to suggest at the moment. But I would think you should have enough unmodified peptide for calibration, really not sure why you need spike-in of any kind for RT alignment?

From: Liang Xue ***@***.***>
Sent: Monday, November 8, 2021 4:18 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Mention ***@***.***>
Subject: Re: [Nesvilab/FragPipe] User provi

[2021-11-08 21:31] yangkl96 commented on #507
Hi @iortea ,

Yes that information definitely helps. Fixing the issue now

[2021-11-08 21:32] fcyu commented on #506
Hi @xuel12 ,

Here (https://www.dropbox.com/s/9hkeqyikwy5h1pl/MSFragger-3.5-rc1.zip?dl=0) is the fixed version.

Best,

Fengchao

[2021-11-08 21:52] danielgeiszler commented on #514
I think it's fixed. Please download this prerelease, then deposit it into the fragpipe/tools/ subfolder. You shouldn't need to delete the current v1.2.5, but you might as well just to be safe.

https://www.dropbox.com/sh/19qsmurhyxendts/AADuMvQEwBJWrt3nObiwBlT3a?dl=0

[2021-11-08 23:33] treponeme commented on #502
?Hi

Here are the output tables. I will send the psm files separately.

Thanks

-----------------------------------------------------------
Simon Houston Ph.D.
Research Associate
Department of Biochemistry and Microbiology
University of Victoria
British Columbia

________________________________
From: Felipe da Veiga Leprevost ***@***.***>
Sent: November 8, 2021 12:52 PM
To: Nesvilab/FragPipe
Cc:

[2021-11-08 23:39] hcahaya opened #517 "Error with Protein Prophet"
Hello,
I tried to process my .d Bruker timsTOF data and encountered this error that I never saw before.
I saw an older post on the same error and it suggested that it could be due to the data. So I used an old data that was successfully processed by Fragpipe. Interestingly, it has the same Protein Prophet error as well. Any advise on what to do? Thank you

- Upload your log file
(If a log file has

[2021-11-08 23:40] treponeme commented on #502
Hi

Here are the output tables.

Thanks
[Output_tables samples 256 257 258 and Combined.zip](https://github.com/Nesvilab/FragPipe/files/7500771/Output_tables.samples.256.257.258.and.Combined.zip)

[2021-11-09 00:14] fabianegli opened #518 "Would wrapping FragPipe into a Nextflow pipeline make sense?"
Nextflow would be kind of an alternative to FragPipe and it would allow easy adoption, modification and extension of the workflow by the community.

This issue is to some extent a continuation of #462 but it is Nextflow specific.

Nextflow is the easiest to use if all software can simply be downloaded from the internet to the compute infrastructure running the pipeline. However, this is not possib

[2021-11-09 00:14] fabianegli commented on #462
@guoci Great to hear that. This will eventually solve this issue. Let's move the Nextflow related discussion into a new issue (#518) to try and keep topics separated.

[2021-11-09 00:38] fcyu commented on #518
I think we mostly care about if it is easy to use and fast (sensitivity and accuracy are not related to a user interface). We normally don't care too much about if it is easy to implement. I would rather write more code to make is faster. For example, to get a smaller file size and faster IO, we handcraft serialization and deserialization functions in MSFragger and IonQuant.

With this in mind, co

[2021-11-09 00:43] fcyu commented on #517
The log from PeptideProphet looks weird. I guess there are old temp `interact-*` files in your result folder, which caused the issue. Can you deleting all `interact-*` files and run from PeptideProphet again? You can uncheck MSFragger.

Best,

Fengchao

[2021-11-09 00:52] fabianegli commented on #518
The simple answer is yes, Nextflow provides benefits. Especially if it will end up being an nf-core pipeline it will be easier to use for biologist. Check out the web interface for the nf-core [proteomicslfq](https://nf-co.re/proteomicslfq) pipeline. The things to note: The self-documenting properties, the fact that code and documentation live in the same place makes it easier to keep it in sync,

[2021-11-09 01:03] fabianegli commented on #518
And what I forgot to mention is that Nextflow basically takes care of the software installation (apart form what can't be freely downloaded.)

Now, for  example one still has to install Anaconda, create an environment, install the dependencies and set the Python path in FragPipe. All manually. And of course the same goes for the philosopher installation. That's the work you can have Nextflow do fo

[2021-11-09 01:05] fabianegli commented on #518
And then there's reproducibility. Nextflow tracks all software versions and it's possible to use containers for even better reproducibility.

[2021-11-09 01:15] fcyu commented on #518
I am afraid I cannot agree with you regarding the installation.

Users don't need to install FragPipe if they don't use the split database and spectral library building modules. They just need to unzip it. Same applies to MSFragger and Philosopher. However, users need to install Nextflow and docker/singularity before really downloading and installing a specific workflow.

I am not sure about insta

[2021-11-09 02:24] fabianegli commented on #518
I feel your pain about the containerization, installation requirements and unsurmountable permission hurdles for users of shared resources. And I applaud you for making Software that allows users to easily use it!

I am more a unix than a Windows person, so please let me know if I get some Windows related things wrong.

Docker is just one way to run Nextflow pipelines, you can run them with conda

[2021-11-09 07:33] uonnet opened #519 "diaPASEF with FragPipe 17"
Hi,

I was using the latest FragPipe 17 on some diaPASEF data, trying to run DIA-NN on it. But I got the pop-up message that no LCMS files were provided after excluding diaPASEF runs. Does the lastest FragPipe release support diaPASEF? Thank you!
![2021-11-09-02](https://user-images.githubusercontent.com/54391198/140881288-4c5093bd-7a2f-493c-93bf-e5bbd717c681.png)
![2021-11-09-01](https://user-ima

[2021-11-09 08:16] Peer2011 commented on #516
Dear Alexey and Daniel,
We additionally had the feeling that using raw files instead of mzml files as FragPipe input generates lower missing values when we raised the Ion FDR incrementally from 0.01 to 0.05. Raising the Ion FDR from 0.01 to 0.05 for MBR  had only a minor effect for mzml files raising the FDR using raw files as input significantly improved missing values. Could it be that there are

[2021-11-09 11:45] tobiasko commented on #518
I would like to add some points to the discussion from a core facility perspective: We are more and more looking into scaleable data analysis workflows for proteomics and workflow managers like Galaxy or nextflow might be a good tool (we haven't really tested them yet) to get there. But we are already using docker containers. I just read this review https://pubmed.ncbi.nlm.nih.gov/31657527/ and mo

[2021-11-09 12:17] domthe opened #520 "Perocolator stopped_TimsTOF DDA data"
Hi all,
I was running six data files from timsTOF  for DDA LFQ analysis and ended up halting at Percolator step.

Does anyone have a clue on whats this is?
Thanks,

Issued command:
C:\Fragpipe_local\FragPipe-jre-17.0\fragpipe\tools\percolator-v3-05.exe --only-psms --no-terminate --post-processing-tdc --num-threads 35 --results-psms 061121_KP_M_4B_RD5_1_644_percolator_target_psms.tsv --decoy-result

[2021-11-09 13:19] fcyu commented on #519
FragPipe cannot build a spectral library using diaPASEF. To quantify diaPASEF, you need to have ddaPASEF to build a library.

Best,

Fengchao

[2021-11-09 14:15] MNTsnowman commented on #511
Hi Fengchao

Sorry for the delay, i just tried to reanalyze the dataset via FragpipeV17. And the issue remains.

So maybe i should go about this differently, therefore i was wondering, how do you get identical lists of proteins from the MSstats.csv file and the combined_peptide.tsv file from FragpipeV17?

Also, i noted that the MSstats.csv file contains PTM annotations in the form of [xx.xxx] whil

[2021-11-09 14:42] yangkl96 commented on #520
Hi @domthe,

Could you please attach your entire log file?

Thanks,
Kevin

[2021-11-09 15:05] xuel12 commented on #506
For one test example, yes. Ongoing, I am looking for using such method for routine including some sample with modified peptide or other species. For the library construction, I would like to have "normalized RT" in the iRT space, so CiRT or iRT or user calibrated iRT seem reasonable. My understanding of "automatic selection of one run for RT alignment" is not in iRT space? But correct me if I am w

[2021-11-09 15:09] fcyu commented on #506
All the RT alignment is in the normalized RT scale no matter if you are using iRT or not. With iRT, the tool uses the iRT peptides to do the alignment. Without iRT, the tool uses the overlapped peptides against the reference run to do the alignment. The reference run is the run with the most IDs.

Best,

Fengchao

[2021-11-09 15:17] xuel12 commented on #506
Actually I think if the tool use iRT for alignment, the normalized RT is in iRT scale. I saw negative value in that column when using CiRT.

[2021-11-09 15:19] fcyu commented on #506
I think you will see negative value with iRT too. It is how the normalized RT looks like. The only difference between ciRT and iRT are the list of the peptides.

Best,

Fengchao

[2021-11-09 15:25] xuel12 commented on #506
Yes, negative is what I am looking for as an indicator of iRT scale. iRT, CiRT can give negative value. Probably not in "automatic select a run for RT", right?

By the way, does iRT require spike-in iRT in the sample and add the sequence in Fasta? I know that CiRT uses peptides existed in normal samples most of time.

[2021-11-09 15:30] anesvi commented on #506
Yes, “automatic selection of one run for RT alignment" will put RT on 0-100 scale.
But that’s OK, since DIA quant tools like DIA-NN will have no problem rescaling back to the actual RT times in DIA data. The library does not need to be on the iRT scale for those tools to work.
OK, so maybe you can contact us directly and have a zoom call so we can understand how to add support for reference peptid

[2021-11-09 15:35] xuel12 commented on #506
Great! I will play around with different options first and see if there is significant difference. Thanks for your support!

[2021-11-09 15:36] #506 closed

[2021-11-09 15:49] anesvi commented on #506
Yes, iRT option requires you spike iRT peptides, ciRT does not (but only human and yeast peptides are in the ciRT list  I believe)

Both iRT and ciRT are on the  “iRT scale” (which goes from negative). ‘Automatic’ puts it on 0-100 scale

From: Liang Xue ***@***.***>
Sent: Tuesday, November 9, 2021 10:25 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Mention ***@***.***

[2021-11-09 16:29] domthe commented on #520
Hello there,
error log file attached.
Thanks,

[log_2021-11-09_16-26-10.txt](https://github.com/Nesvilab/FragPipe/files/7506394/log_2021-11-09_16-26-10.txt)

[2021-11-09 16:32] yangkl96 commented on #520
Is one of your uncalibrated mgf files ~2GB or greater?

[2021-11-09 17:01] domthe commented on #520
Yes, that's right, some of the uncalibrated mgf files are greater than 2GB. Would that be an issue and if so is there a way out? Thanks

[2021-11-09 17:05] yangkl96 commented on #520
No worries, we are working to fix the issue and should be fine in the update we release soon

[2021-11-09 17:16] MNTsnowman commented on #511
Hi Fengchao

I could send you the different combined_xx.tsv files as well as the MSstats.csv file. I guess the rest is way to big to send.. But please send a link and I'll look at it tomorrow. :)

Also, and this is a bit off topic, i noted that the output from v17 now has a STY_79.9663.tsv fil generated by PTMProphet, just out of curiosity would it be possible to make this lsit of PTMs sync with t

[2021-11-09 17:17] fcyu commented on #520
Hi @domthe ,

Here (https://www.dropbox.com/s/s8wlt6camz5wrhq/FragPipe-17.1-build2.zip?dl=0) is the fixed version. Can you try to see if it fixes your problem?

Thanks,

Fengchao

[2021-11-09 17:17] fcyu commented on #514
Hi @kabalak ,

Here (https://www.dropbox.com/s/s8wlt6camz5wrhq/FragPipe-17.1-build2.zip?dl=0) is the fixed version. Can you try to see if it fixes your problem?

Thanks,

Fengchao

[2021-11-09 17:17] fcyu commented on #512
Hi Yishai,

Here (https://www.dropbox.com/s/s8wlt6camz5wrhq/FragPipe-17.1-build2.zip?dl=0) is the fixed version. Can you try to see if it fixes your problem?

Thanks,

Fengchao

[2021-11-09 17:18] fcyu commented on #513
Hi @JesseIL ,

Here (https://www.dropbox.com/s/s8wlt6camz5wrhq/FragPipe-17.1-build2.zip?dl=0) is the fixed version. Can you try to see if it fixes your problem?

Thanks,

Fengchao

[2021-11-09 17:18] fcyu commented on #507
Here (https://www.dropbox.com/s/s8wlt6camz5wrhq/FragPipe-17.1-build2.zip?dl=0) is the fixed version. Can you try to see if it fixes your problem?

Thanks,

Fengchao

[2021-11-09 17:48] MiguelCos commented on #515
Dear Alexey,

Many thanks for taking a look into this.

The problem was indeed database-related.

I am sharing with you a OneDrive folder with the outputs of my two searches (with 'my' database and with the one generated by Philosopher). The databases are in a subfolder as well. I think the names of the subfolders should be self-explanatory.

My database was downloaded from EBI reference proteomes

[2021-11-09 17:55] anesvi commented on #515
Yes, formatting of custom sequences is most likely the problem
I hope Felipe and or Hui-yin can take a look.

From: Miguel Cosenza-Contreras ***@***.***>
Sent: Tuesday, November 9, 2021 12:49 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Assign ***@***.***>
Subject: Re: [Nesvilab/FragPipe] TMT-integrator: tmt-report folder is empty after search FragPipe 17 (Issue #515

[2021-11-09 18:06] jadv12 opened #521 "question about BLAS Bad memory unallocation"
Hi,

I recently ran my full cohort with 226 samples. Near the end of the log, I saw the following lines:

BLAS : Program is Terminated. Because you tried to allocate too many memory regions.
BLAS : Bad memory unallocation! :  128  (nil)
BLAS : Bad memory unallocation! :  128  (nil)
BLAS : Bad memory unallocation! :  128  (nil)
BLAS : Bad memory unallocation! :  128  (nil)
BLAS : Bad memory unalloc

[2021-11-09 18:07] prvst commented on #515
Hi Miguel,

The problem most likely happens because  TMT-Integrator is looking for a TMT channel called **Bridge**, while your annotation file, and PSM tables have a channel called **norm**, so I suggest you change that and try again. It will probably resolve your issue.

[2021-11-09 18:08] domthe commented on #520
Hi Fengchao,
That's great,  Shall try and let you know how it goes,
Thanks for this
Dom

On Tue, Nov 9, 2021 at 5:17 PM Fengchao ***@***.***> wrote:

[2021-11-09 19:13] fcyu commented on #521
I see that you have 128 threads, which seems too many for BLAS. Here (https://github.com/xianyi/OpenBLAS/issues/1882) is a discussion in the OpenBLAS repository.

Can try with, say 64 threads? I don't think there is much difference in terms of the run time because 1) IO is the bottleneck, not CPU; 2) Philosopher is single-thread except for the PeptideProphet (FragPipe runs multiple PeptideProphet

[2021-11-09 19:15] MiguelCos commented on #515
Hello Felipe,

thanks for the suggestion. Unfortunately, it does not solve the issue. Setting this ref sample tag to match the 'norm' tag in my annotation, but keeping my 'old' database with manually added iRT sequences still gives me an empty tmt-report folder. I also think that it shouldn't have solved the issue, because I am using virtual normalization and therefore the ref sample tag should be

[2021-11-09 19:29] MNTsnowman commented on #511
Hi Fengshao

I had a little time, so I uploaded the files. Have fun.

Best,
Martin

[2021-11-09 20:14] jadv12 commented on #521
Thanks for the feedback. I'll give the 64 thread a try. Would it matter though since the run was successful completed with the usual "DONE" and citations message?

[2021-11-09 20:31] jadv12 opened #522 "nonspecific peptidome search issue - likely related to python"
Hi (again),

I am also trying to run a peptidomic analysis using the default workflow on FragPipe with some minor changes:

- tims = selected
- precursor mass tolerancen = 70 ppm
- fragment mass tolerance= 40 ppm
- MS1 Quant turned on
- MBR turned on with minimim ion = 1
- Human UniProt database containing isoforms

I am running into an error, something about splitting. I checked previous issues a

[2021-11-09 20:31] prvst commented on #515
So, you are using a virtual channel even though you have dedicated channels for the normalization? Any specific reason for working like that?

I checked the PSM tables, and they look OK to me, I'll wait Hui-yin to give us some feedback about your issue.

[2021-11-09 20:32] fcyu commented on #521
Can you help to check if there are nonzero intensities in the MaxLFQ intensity columns? But just in case, it would be better to re-run IonQuant. You can disable all other tools except for IonQuant.

Best,

Fengchao

[2021-11-09 20:42] MiguelCos commented on #515
Yes. The reason is that, when using the normalization channels, I see some clear batch effects. These are very likely related to not properly mixing the pooled samples before separating them into each TMT mix (rookie experimental mistake). When using the virtual normalization, the batch effect is gone (also the samples were properly blocked and randomized between the batches and the biological eff

[2021-11-09 20:48] iortea commented on #507
Hi all,

just tried v17.1-build2, with the problem file (HL1_1051), and after that, with the complete dataset (18 dda-pasef runs), and it worked.

Thank you all for your help!

Best,

Nacho

[2021-11-09 20:59] fcyu commented on #511
Hi Martin,

Thanks for your files. I think I might find the reason.

1. There are 24 runs, but 12 experiments. I guess there are two replicates in each experiment although I don't have the log file to support my guess.
2. An ion/transaction in the MSstats.csv file must have non-zero intensities in at least two run. I added this filter because MSstats will print a warning and discard the ion when t

[2021-11-09 23:09] hcahaya commented on #517
Hi Fengchao,
I removed the folder where the result was dumped. In other words, I started everything from scratch with new result folder.
I also ran PeptideProphet only.
Still same error :(
Any advice? Truly appreciate your help.
[log_2021-11-09_15-05-44.txt](https://github.com/Nesvilab/FragPipe/files/7508546/log_2021-11-09_15-05-44.txt)

[2021-11-09 23:18] domthe commented on #520
Hi Fegchao,
Unfortunately, 1.7 build 2 throws another error. Logfile attached,
Would you be able to look into this, whenever possible?
Many thanks
Dominic

On Tue, Nov 9, 2021 at 6:08 PM Dominic Kurian ***@***.***> wrote:

System OS: Windows 10, Architecture: AMD64
Java Info: 11.0.9.1, OpenJDK 64-Bit Server VM, AdoptOpenJDK

Version info:
FragPipe version 17.1-build2
MSFragger version 3.4
Philosop

[2021-11-09 23:34] jadv12 commented on #521
I can confirm that there are non-zero intensities in the MaxLFQ intensity columns (for the intensity, total, and unique). When I rerun it without ionquant, should I go with 64 threads?

This was my first time running the FragPipe v17.0. Since there is now distinction between intensity and Maxlfq, what do the intensity columns represent? In previous versions, was I correct to believe that intensity

[2021-11-10 00:25] fcyu commented on #521
You can go with 64 even without IonQuant since IO is the bottleneck for the closed search analysis. However, if you want to perform open search or DIA analysis, can use 128 threads.

Yes, we write both intensity (which is from top-N algorithm) and MaxLFQ intensity to the file. In the previous version, if the `MaxLFQ` box in `Quant (MS1)` tab is checked, the intensity is from MaxLFQ. If it is unche

[2021-11-10 00:26] fcyu commented on #520
Hi Dominic,

The log file was truncated by GitHub, can you send it to yufe@umich.edu ?

Thanks,

Fengchao

[2021-11-10 00:29] fcyu commented on #517
This error is weird. I have no clue. Can you try switching to Percolator for now?
![image](https://user-images.githubusercontent.com/6926299/141027375-b9dbdf6b-3917-4aeb-b643-b61d73e43bb4.png)

Best,

Fengchao

[2021-11-10 01:26] uonnet commented on #519
If I just want to do directDIA, which workflow do I use or how do I set up FragPipe?

[2021-11-10 01:46] fcyu commented on #519
directDIA only support non-diaPASEF file. You can use `DIA_SpecLib_Quant` workflow.

Best,

Fengchao

[2021-11-10 04:57] jd690764 opened #523 "The same protein group has different protein IDs in protein.tsv files from different experiments"
- Describe the issue or question:
Hi,

I am trying to quantitate a group of timsTof dda experiments using ionQuant and close to end of the process I got an error that I don't quite understand. Could you help me find out what the issue is and how to get around it?

Thank you,
Janos

- Upload your log file
(If a log file hasn't been generated, go to the 'Run' tab in FragPipe, click 'Export Log', zip

[2021-11-10 05:51] uonnet commented on #519
And `DIA_SpecLib_Quant` workflow needs ddaPASEF for the spectral library?

[2021-11-10 07:15] huiyinc commented on #515
Hi Miguel,

I checked your files, and the issue is because of the protein header in the
fasta file. I have included the header format in TMT-Integrator and
released a new version on our github repository (link
<https://github.com/Nesvilab/TMT-Integrator/releases/tag/3.2.1>).
Please download and give it a try, and feel free to let me know if there is
any question.

Best,

Huiyin

Miguel Cosenza-Con

[2021-11-10 11:47] MNTsnowman commented on #511
Hi Fengchao

Sorry about the delay, rerunning the data analysis takes atleast 9 houers. So, please no more of that?

Just to clarify the setup, you are right about the 24 runs representing 12 experiments. Here i have maintained the two groups as from before. I hope that's fine.

I uploaded the new files, from the new run where 24 unique biorep ides were provided while maintaining the groups. When

[2021-11-10 12:40] BrendonSeale commented on #507
Can confirm. New build solved my issues as well.

[2021-11-10 12:43] gureann commented on #507
Hi FragPipe team,

17.1 build2 also works well on my data. And in addition to previous 16 DDA runs from HF, I also tested on a ddaPASEF dataset. Both two data types successfully finished.

Thanks for your nice work.

Best,
Ronghui

[2021-11-10 14:24] fcyu commented on #523
Hi Janos,

The error message is `The protein group 3053 and subgroup a in G:\Mohammad_2103_\210330_nasal_drugs\nasal_imac_msf2\CAY_1/protein.tsv are not consistent with those in another protein.tsv`, which means that the protein group 3053 a has different protein IDs in you protein.tsv. It should not happen. Can you help to check? You can also send all of your protein.tsv to us to take a look.

Th

[2021-11-10 14:24] fcyu commented on #519
Yes.

[2021-11-10 14:38] MiguelCos commented on #515
Hello,

Just coming back to report that now I get proper tables from tmt-integrator.

Thanks for the patch @huiyinc!

One thing:

FragPipe seems to be looking for a file named `TMTIntegrator-v3.2.0.jar`, so if I substitute it with the newly patched one, it does not run... I solved this by just renaming the newly patched to match the name of the 'old' one but I am guessing that it might be a better

[2021-11-10 14:38] fcyu commented on #511
Hi Martin,

The numbers match.

As I said "An ion/transaction in the MSstats.csv file must have non-zero intensities in **at least two** runs. ". If you count the number of nonredundant ions quantified in at least two runs, there are 1052 proteins, which is the same as those from MSstats.csv.

I put the table in the attachment so that you can reproduce my counting.

Since the numbers match, I thin

[2021-11-10 14:45] fcyu commented on #515
Hi Miguel,

Thanks for your feedback.

The new TMT-Integrator will be included in the next FragPipe release, which will not have the "renaming" issue.

I will close this issue now. Please feel free to contact us if there are any further questions.

Best,

Fengchao

[2021-11-10 14:45] #515 closed

[2021-11-10 15:15] fcyu commented on #520
Dominic confirmed that the previous error was due to a network issue. It works well now.

[2021-11-10 15:15] #520 closed

[2021-11-10 15:22] MNTsnowman commented on #511
Hi Fengchao

Observed in 2 runs, that was the key. I get it now, it makes sence, i can recreate the lists. Thank you so much for your time and patience.

Please, could you remove the zip file?

Short answer for others that may read in the furure: use the combined_ion.tsv file. filter (in excel) on the [sampleID]Intensity colums, here pick out the rows with atleast two values larger than 0. Now you

[2021-11-10 15:31] fcyu commented on #511
Sure. To remove the zip file entirely, I have to delete my whole reply (editing the reply would leave a history version). Thus, I paste my original reply in the following.

Best,

Fengchao

[2021-11-10 15:34] fcyu commented on #511
I have to clarify that it should be at least two **runs** (not experiments) with values larger than 0. If there are experiments containing more than one run, you have to rerun the analysis to make each experiment only contain one run.

I added this filter because MSstats will print a warning and discard the ion when the ion is only quantified in one run. Since those "single-run" ions will be disca

[2021-11-10 15:34] #511 closed

[2021-11-10 17:00] jd690764 commented on #523
Hi Fengchao,

This is very strange, here is the protein that is causing the trouble:

    group sub_group      protein   protein_id   entry_name gene length
                   ds
 1:   984         a NP_001349898 NP_001349898 NP_001349898         795
  ./CAY_1/protein.tsv
 2:  3053         a NP_001349898 NP_001349898 NP_001349898         364
  ./CAY_1/protein.tsv
 3:  3053         a NP_001349898 NP

[2021-11-10 17:08] fcyu commented on #523
Hi Janos,

Thanks for your info. Can you show me all proteins with `3053 a` and `984 a` groups?

Thanks,

Fengchao

[2021-11-10 17:27] jadv12 commented on #522
I ran it again last night with completely default parameters, aka MSQuant1 was left unchecked. And the run completed successfully within 83 minutes. So maybe there is an issue with the IonQuant tab?

[2021-11-10 17:28] jadv12 commented on #522
I ran it again last night with completely default parameters, aka MSQuant1 was left unchecked. And the run completed successfully within 83 minutes. So maybe something goes awry with the IonQuant quantification? (Again, I am only guessing.)

[2021-11-10 17:32] fcyu commented on #522
The error was from split script and not related to IonQuant. The specific error message is `FileNotFoundError: [Errno 2] No such file or directory: 'split_peptide_index_tempdir/0/20210708_timsTOF_EVO_CDS_VanJ_MW1_S1-B5_1_321_scores_histogram.tsv'`.

If it ran successfully, then I don't think this error can be reproduced. I guess something was wrong with your file system to make the file `split_pep

[2021-11-10 17:32] jd690764 commented on #523
Here they are:

    group sub_group      protein   protein_id   entry_name gene length
                                protein_description
 ds
 1:   984         a NP_001349898 NP_001349898 NP_001349898         795 zinc
finger C2HC domain-containing protein 1A isoform 2       ./CAY_1/protein.tsv
 2:  3053         a NP_001349898 NP_001349898 NP_001349898         364 zinc
finger C2HC domain-containin

[2021-11-10 18:00] fcyu commented on #523
Thanks Janos,

This is a bug in Philosopher that creates the same protein group ID with different proteins. For group `984 a`, there are protein.tsv having protein `NP_001349898`, `NP_001349997`, and `NP_001349989`. Theoretically, the same protein group always has the same protein ID.

Hopefully, Felipe @prvst can fix this bug soon.

Best,

Fengchao

[2021-11-10 18:05] prvst commented on #523
Hi @fcyu, philosopher does not create or alter the protein groups, it borrows from ProteinProphet, which is the program that makes them. I need to see more data before guessing what's the issue. @jd690764, could you send me your prot.xml, psm.tsv, and protein.tsv files?

[2021-11-10 20:46] jd690764 commented on #523
Hi Felipe,

I gave you access to the data with your umich email - I sent you an email
to that address. Please, let me know if there are any issues accessing it.

Thank you,
Janos

On Wed, Nov 10, 2021 at 10:05 AM Felipe da Veiga Leprevost <
***@***.***> wrote:

[2021-11-10 22:50] hcahaya commented on #517
Ran it on Percolator as you advised. It still has some issues :(
[log_2021-11-10_14-44-50.txt](https://github.com/Nesvilab/FragPipe/files/7516411/log_2021-11-10_14-44-50.txt)

[2021-11-10 22:52] zhucuilicas opened #524 "does the "DIA_SpecLib_Quant" (v17.0) have the same function with "SpecLib" (v16.0)? how to build the spectral libraries using DDA data in the new version of Fragpipe?"
- Describe the issue or question:
-
- Hi, I'm trying to build the spectral library using only DDA data in Fragpips (v17.0), I tried the "DIA_SpecLib_Quant" workflow but didn't get the "library.tsv" file. I am wondering which workflow in the new version of Fragpipe has the same function as the "SpecLib" (v16.0)? could we get the library with the same name "library.tsv"?
Thank you so much for your h

[2021-11-10 22:55] fcyu commented on #517
Everything looks good until Philosopher filter command.

Felipe @prvst , can you take a look?

Thanks,

Fengchao

[2021-11-10 22:56] fcyu commented on #524
You are using the correct workflow. There will be library.tsv if everything goes well. Please upload your log file.

Best,

Fengchao

[2021-11-10 23:02] zhucuilicas commented on #524
Attached please check the newest log file. Would you like to give me some suggestions? Thanks a lot!

[log_2021-11-10_17-14-54.txt](https://github.com/Nesvilab/FragPipe/files/7516450/log_2021-11-10_17-14-54.txt)

[2021-11-10 23:02] anesvi commented on #517
We had this error before, looks like it came back? Felipe, what was causing it?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fengchao ***@***.***>
Sent: Wednesday, November 10, 2021 5:55:17 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Nesvilab/FragPipe] Error with Protein Prophet (Issue #517)

External Email - Use Caution

Ev

[2021-11-10 23:05] fcyu commented on #524
There is an error in your spectral library generating step:
[code]

Guo Ci @guoci, can you take a look?

Thanks,

Fengchao

[2021-11-10 23:32] danielgeiszler commented on #517
This happens when there are incomplete temp interact* files in the folder. Do you have anything that looks like a temporary file that didn’t finish writing?

[2021-11-10 23:38] danielgeiszler commented on #524
It looks like python is missing one of the libraries it needs for spectral library generation.

This should be fixable by opening the command line and running “pip install lxml” to grab the necessary library.

Have you changed python versions or operating systems since the last time you ran this?

[2021-11-10 23:57] zhucuilicas commented on #524
Thank you so much for your valuable suggestion! FragPipe is working well now. I installed the lxml and then I got the library.tsv file.

[2021-11-11 00:00] #524 closed

[2021-11-11 00:01] #519 closed

[2021-11-11 00:02] fcyu commented on #517
I think I can let FragPipe delete all files starting with `interact-` if it runs from PeptideProphet or Percolator.

Best,

Fengchao

[2021-11-11 00:38] hcahaya commented on #517
After deleting the incomplete temp interact* files, running FragPipe with Percolator worked smoothly.
But, when I switched back to run on PeptideProphet, it still gave me an error (there were no temp files before running this).
When PSM validation needs to be done, when should one run with PeptideProphet or Percolator?
Thank you

[log_2021-11-10_15-57-23.txt](https://github.com/Nesvilab/FragPipe/f

[2021-11-11 00:42] fcyu commented on #517
PeptidePrpohet has the error same as the one you reported. I can't figure out the cause.

Normally, you can use Percolator in most cases except for open search, glyco search, and mass-offset search.

Best,

Fengchao

[2021-11-11 00:58] prvst commented on #517
I checked the logs, and the filter wasn't even executed. The problem happens during Peptideprophet execution. Although I can't say without sure without handling the file, I suspect something is not right with the file assignment or file name

[2021-11-11 01:01] prvst commented on #517
Also, please ensure you have enough permissions to run the program in that particular location, try running it in a different place inside your user folder.

[2021-11-11 01:03] fcyu commented on #517
[code]

ProteinProphet followed by database annotation have finished. The error was from the filter command. As Danny explained (and confirmed by the user), that is because there are temp files starting with `interact-` from the previous analysis. Philosopher filter command tried to read it and then, crashed.

Best,

Fengchao

[2021-11-11 01:07] prvst commented on #517
Which log is that? the ones I have here end with PeptideProphet

[2021-11-11 01:08] fcyu commented on #517
That is a different one. There are two errors. One is from PeptideProphet, which I cannot figure out the reason. The other one is from filter command.

Best,

Fengchao

[2021-11-11 01:10] prvst commented on #517
Look the way how the lines end with `D: -`. Does that look normal?

![image](https://user-images.githubusercontent.com/403705/141218859-6f5278c3-8f08-47c8-9328-bb9ce1aafcc2.png)

[2021-11-11 01:13] danielgeiszler commented on #517
Are you trying to write the output to a remote server, by chance?

[2021-11-11 01:14] fcyu commented on #517
@prvst I think this is due to your editor. This is what I see with Sublime text
![image](https://user-images.githubusercontent.com/6926299/141219238-e1fca6a8-fd39-45d8-a770-4f7c983abdfd.png)

[2021-11-11 01:22] anesvi commented on #517
We should recognize and delete those temp files I guess

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fengchao ***@***.***>
Sent: Wednesday, November 10, 2021 8:04:06 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Comment ***@***.***>
Subject: Re: [Nesvilab/FragPipe] Error with Protein Prophet (Issue #517)

External Email - Use Caut

[2021-11-11 04:29] fcyu commented on #517
Implemented in https://github.com/Nesvilab/FragPipe/commit/b536f03894ac617b8de0cd473ca05a1b29761e59 and https://github.com/Nesvilab/FragPipe/commit/02f6a2d8b0432f702f11cb1503d58c16b2ebf866

Best,

Fengchao

[2021-11-11 14:54] JesseIL commented on #512
Hi Fengchao,
I tried it and still got an error. Now sure if its the same.

See attached.

Yishai

On 9 Nov 2021, at 19:17, Fengchao ***@***.******@***.***>> wrote:

Hi Yishai,

Here (https://www.dropbox.com/s/s8wlt6camz5wrhq/FragPipe-17.1-build2.zip?dl=0) is the fixed version. Can you try to see if it fixes your problem?

Thanks,

Fengchao

—
You are receiving this because you authored the thread.

[2021-11-11 14:56] fcyu commented on #512
Hi Yishai,

The log was truncated by GitHub. Can you send it to yufe@umich.edu ?

Thanks,

Fengchao

[2021-11-11 15:10] fcyu commented on #512
Hi Yishai,

Thanks for your file. Let attached it here as a reference.

I see that you are using a different set of file, and this time, the error was from DIA-Umpire. Can you try the same files you were using first to make sure that the old bug is fixed?

Guo Ci @guoci Can you take a look at the log file and see what is the cause of the error from DIA-Umpire?

Best,

Fengchao

[log_2021-11-11_11-

[2021-11-11 16:19] anesvi commented on #512
I have not seen such an error from DIA-Umpire before.
Is there anything special about this data?

From: Fengchao ***@***.***>
Sent: Thursday, November 11, 2021 10:10 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Nesvilab/FragPipe] DIA analysis failed (Thermo data) (Issue #512)

External Email - Use Caution

Hi Yishai,

Thanks for your file. Let attached it here as

[2021-11-11 20:26] guoci commented on #512
@JesseIL can you try the FragPipe with JRE (FragPipe-jre-17.0.zip)? The JRE that you are using might be causing the problem.

[2021-11-12 11:18] kabalak commented on #514
Hi Fengchao,

with the 17.1-build2 it works fine and I get a result :-)

Thanks,
Fatih

[2021-11-12 15:40] prvst commented on #523
@jd690764 The file share is requesting an authentication from my @med.umich account, which does not exist (in Google). To make it easier, I'm sending you a file share request via my [Dropbox](https://www.dropbox.com/request/nxNI1LOApZ8Ax3k3ob7k)

[2021-11-12 17:43] jd690764 commented on #523
Hi Felipe,

I uploaded the data - thank you for looking into this.

Janos

On Fri, Nov 12, 2021 at 7:40 AM Felipe da Veiga Leprevost <
***@***.***> wrote:

[2021-11-12 19:38] jadv12 commented on #522
I can confirm that everything worked out successful with and without IonQuant on. Thank you!

[2021-11-12 19:38] #522 closed

[2021-11-12 19:40] hcahaya commented on #517
Hello, after moving the raw file to another folder and creating a new result folder, FragPipe ran smoothly with PeptideProphet.
Not exactly sure why that is, But I'll do whatever it takes to make it work.
Thank yo
[log_2021-11-11_15-37-14.txt](https://github.com/Nesvilab/FragPipe/files/7529977/log_2021-11-11_15-37-14.txt)
u

[2021-11-12 19:40] #517 closed

[2021-11-12 19:41] hcahaya commented on #517
Hello, after moving the raw file to another folder and creating a new result folder, FragPipe ran smoothly with PeptideProphet.
Not exactly sure why that is, But I'll do whatever it takes to make it work.
Thank you
[log_2021-11-11_15-37-14.txt](https://github.com/Nesvilab/FragPipe/files/7529989/log_2021-11-11_15-37-14.txt)

[2021-11-12 21:58] jadv12 opened #525 "Matching between runs with a library set does not seem to add much? (not an issue)"
Hi there,

I just want to say first that this is **not an issue or bug.** Just hoping to get some thoughts/opinions.

I have been following the MaxQuant group's method of incorporating a subset of depleted and fractionated samples as a means to counteract the high missingness in plasma proteomics using the MBR setting. My proposed experiment would include a total of 226 samples:
- 200 experimental

[2021-11-12 22:02] jadv12 commented on #525
**PNGs when searching the replicates only**

![20210901_timsTOF_Evo_22min_CDS_VanJ_S1_S3-B9_1_509_model](https://user-images.githubusercontent.com/93340685/141539492-4597775b-5780-4089-8412-401dea1bcb00.png)
![20210901_timsTOF_Evo_22min_CDS_VanJ_S2_S3-D6_1_532_model](https://user-images.githubusercontent.com/93340685/141539606-efc241cf-24f7-413c-a2d7-5b62df7ae0bb.png)
![20210901_timsTOF_Evo_22min_

[2021-11-12 23:33] fcyu commented on #525
In https://github.com/Nesvilab/FragPipe/issues/504 , we just convinced you that FragPipe quantified more proteins with 100% MBR-FDR (which is equivalent to what MaxQuant has). You also agreed that with 100% MBR-FDR, there are many false positives, and should use 1-5% MBR-FDR.

As to your question "I found it interesting that adding the library runs reduced the number of quantified proteins and pep

[2021-11-12 23:33] #525 closed

[2021-11-13 19:19] MNTsnowman opened #526 "Quesions for glycan workflows"
Hi Fragpipe

I’m unsure of where to ask this question, so I’ll drop it here… If you prefer to take it by mail or something else, let me know and we can do that.
I have been wanting to explore the glycoproteome of my samples, but I have no clue how to do it effectively and how to interpret the output. In Fragpipe V 17 I noted that the PTM tab is changed quite a lot with stuff that I think is releva

[2021-11-13 19:29] anesvi commented on #526
I think Dan wrote a tutorial on that part. If not, Dan – we should put something together, see below

From: MNTsnowman ***@***.***>
Sent: Saturday, November 13, 2021 2:20 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Nesvilab/FragPipe] Quesions for glycan workflows (Issue #526)

External Email - Use Caution

Hi Fragpipe

I’m unsure of where to ask this question, so I’

[2021-11-15 07:03] MNTsnowman commented on #526
Hi Alexey

Thank you for the quick reply. I have not been able to find anything that clarifies these questions. There might be something i have missed though, if so, please let me know and i'll have a look.

Kind Regards
Martin

[2021-11-15 12:29] Peer2011 opened #527 "PTM sheperd fails"
Dear Alexey and Fengchao,

Any idea why this could have happened. I analyzed 5 mzml files with open search settings to identify which modifications I should add for the open search. I got this error message from PTM sheperd.

Best, Peer

Process 'PhilosopherAbacus' finished, exit code: 0
PTMShepherd [Work dir: C:\01_Data_Analysis\TEST]
C:\01_ScientificSoftware\Fragpipe_17.0\jre\bin\java.exe -Xmx10

[2021-11-15 12:31] Peer2011 commented on #527
What I do not get is why PTM sheperd is starting though it was not activated in the configuration.

[2021-11-15 13:00] anesvi commented on #527
What do you “not activated”? The open search workflow has it. Did you uncheck ptm-shepherd and it still run?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Peer2011 ***@***.***>
Sent: Monday, November 15, 2021 7:31:23 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Nesvilab/FragPipe] PTM sheperd fails (Issue #527)

External Email

[2021-11-15 13:11] Peer2011 commented on #527
I was confused by PTM prophet and PTM sheperd. So PTM prophet was deactivated and PTM sheperd activated as it should be and it ran smoothly until the point that PTM sheperd is supposed to do the localization of identified modifications with the error message that I have attached to my first post. Do you happen to have any idea why this could be. I configured Fragpipe just by loading the open searc

[2021-11-15 15:02] #514 closed

[2021-11-15 15:04] danielgeiszler commented on #527
Hi Peer2011,

This is already fixed and will be released with the next FragPipe release.

If you can't wait, you can download the standalone version of PTM-Shepherd from this ticket:

https://github.com/Nesvilab/FragPipe/issues/514#issue-1047107194

Best,
Danny

[2021-11-15 15:04] #527 closed

[2021-11-15 15:12] anesvi commented on #527
We are releasing FragPipe 17.1 with this and a few other fixes very soon, hopefully today

From: danielgeiszler ***@***.***>
Sent: Monday, November 15, 2021 10:05 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Comment ***@***.***>
Subject: Re: [Nesvilab/FragPipe] PTM sheperd fails (Issue #527)

External Email - Use Caution

Hi Peer2011,

This is already fixed and will

[2021-11-15 15:42] dpolasky commented on #526
Hi Martin,
Lots of great questions - our glyco tutorials are still a work in progress, so thanks for pointing out some areas where we need more information. I'll be adding the all the answers/info provided here to the wiki/tutorial when I have a moment.

• How can I generate a *.glyc file, could we get an example? Is it a tab-separated txt format with a header saying “glycanname hex galnax NeuAC”

[2021-11-15 19:55] Monod79 commented on #523
Hi everyone,

Maybe this can help, I've got the same issue as Janos while running FragPipe v17.0. I ran the same analysis with FragPipe v16.1 build 5 and everything ran smoothly with no error.

Joe

[2021-11-15 20:02] fcyu commented on #523
Thank you! Here is the link: https://www.dropbox.com/request/kG1NENHn00REagbkFepR

Best,

Fengchao

[2021-11-15 20:05] Monod79 commented on #523
Which files do you need Fengchao?

[2021-11-15 20:07] fcyu commented on #523
Spectral files (mzML, raw, or .d), fragger.params, fasta file, and the log file.

Thanks,

Fengchao

[2021-11-15 21:22] Monod79 commented on #523
Files have been uploaded.

Thanks for your help Fengchao !

[2021-11-15 22:15] cacagong opened #528 "Ion mobility information in spectral library"
Dear developers,

Thank you for this amazing software.
Recently, I am trying to analyze diaPASEF data from timTOF Pro. For doing that I generated a spectral library from PASEF-DDA data through using EasyPQP.
But, it seem like that there is **no column or information of ion mobility** in the output spectral library from EasyPQP.
Where I can find that information if it is generated or do I need to s

[2021-11-16 08:36] MNTsnowman commented on #526
Hi Dan

Thank you so much for the details. I will give it a try later this week and let you know what happens.

Regarding the format of the .glyc file, i think what you have is duable. However, if you want to make it easier/more user friendly, maybe consider to make something that can be easily made in excel (I ashume that most people that use Fragpipe knows basic excel). This could then be saved

[2021-11-16 14:25] prvst commented on #523
@jd690764 can you also upload your database?

[2021-11-16 15:25] dpolasky commented on #526
Hi Martin,
I actually do make my .glyc files in Excel, but transfer it to a text editor to save - you're right that skipping that step would make it a lot easier. We'll figure out a better solution overall for the next update - there's a lot of inconveniences in the current glycan loading methods.

I also see a lot of 0 intensity for glycopeptides, though there are some in my analysis that have in

[2021-11-16 17:05] jd690764 commented on #523
Hi Felipe,

I uploaded the library.

Thanks,
Janos

On Tue, Nov 16, 2021 at 6:25 AM Felipe da Veiga Leprevost <
***@***.***> wrote:

[2021-11-16 18:17] prvst commented on #523
I found and corrected a mismatch between ProteinProphet, and Philosopher. Its seems to have resolved both cases. The fix will be added to the next release. Thanks for the feedback.

[2021-11-16 19:53] jd690764 commented on #523
Thank you, Felipe!

When do you think the new update will be available?

Janos

On Tue, Nov 16, 2021 at 10:18 AM Felipe da Veiga Leprevost <
***@***.***> wrote:

[2021-11-16 19:54] Monod79 commented on #523
Thanks Felipe!

[2021-11-16 21:16] cacagong commented on #528
I am sorry, that was my mistake! I got it.
I wonder one more thing regarding MS1Quant. I had no issues with Orbitrap data.
But I cannot find total intensity value using timTOF Pro file. Every value on 'total intensity' column is zero.
It seems like there is error during the run, I am attaching a part of log.

Thanks,

[log.txt](https://github.com/Nesvilab/FragPipe/files/7549874/log.txt)

[2021-11-16 21:19] guoci commented on #528
@cacagong you are using and old version of FragPipe. Please try the latest release.

[2021-11-16 21:35] fcyu commented on #528
Hi @cacagong ,

It is not about the version. I think you don't have the `ext` folder or don't have Visual C++ Redistributable for Visual Studio 2017 (https://aka.ms/vs/16/release/VC_redist.x64.exe) installed.

Best,

Fengchao

[2021-11-16 23:20] turtlypo opened #529 "Inconsistency in Assigned Modifications column of combined_modified_peptide.tsv"
Hello FragPipe team!

I'm currently running FragPipe v17.0, and believe I'm noticing a Philosopher inconsistency in the combined_modified_peptide.tsv file generated.  The issue seems similar to [Issue #279](https://github.com/Nesvilab/FragPipe/issues/279), but what I'm experiencing is with a combined table.

In the combined_modified_peptide.tsv, there is a Modified Sequence column and an Assigned

[2021-11-17 00:39] fcyu commented on #529
Thanks for the bug report.

All combined_*.tsv file are generated by IonQuant if you enable it. Thus, it is a bug in IonQuant. I will look into it and get back to you ASAP.

Best,

Fengchao

[2021-11-17 02:16] fcyu commented on #529
Fixed the bug. We will release a new version soon. But if you want to have a try before the releasing, here is the link https://www.dropbox.com/s/ivkh58t7s7uy6cb/FragPipe-17.1-build7.zip?dl=0

FYI, this bug only affect the `assigned modification` column in `combined_ion.tsv` and `combined_modified_peptide.tsv` files.

Best,

Fengchao

[2021-11-17 02:21] turtlypo commented on #529
Thank you so much! I really appreciate the fast response time. 😊

[2021-11-17 02:21] #529 closed

[2021-11-17 07:36] MNTsnowman commented on #526
Hi Dan

Thanks a lot, I am really looking forward to see the "final" glycan search strategy. However, there is one aspect that i thought that it would be great to include in the glycan search, but it is kinda deficult. Sometimes, glycans are modified further, I don't know all of the option, but two example are methylations and a loss of an OH group. So, now we are talking modifications on modifica

[2021-11-17 08:30] fstein opened #530 "philosopher pipeline does not run through - only if steps started separately"
Hi,

I tried to set up the pipeline for running msfragger and philosopher. When I do this, I stops after the Protein Inference step. If I then modify the parameter.yml file and set only one step to yes to be executed, the analysis does finish if I execute it in the following order:
FDR Filtering:
Label-Free Quantification
Isobaric Quantification
Individual Reports
Integrated Reports

I have a TMT1

[2021-11-17 09:03] Peer2011 opened #531 "Best approach to search for mutated peptides"
Dear Alexey,

What would be the best approach to search for mutated peptides in our dataset. We would like to include mutations that are recurrently found in cancer datasets including only mutations that are recurrently with respect to the investigated cancer entity. Any idea how to approach this the best way. Let's assume there is a unmutated and mutated MYD88 would you include both in your datab

[2021-11-17 10:33] fstein commented on #530
Sorry, just realized that it's probably the wrong location to ask. I will ask again at Nesvilab/Philosopher.

[2021-11-17 13:57] sarah-haynes commented on #530
moved to https://github.com/Nesvilab/philosopher/issues/289

[2021-11-17 13:57] #530 closed

[2021-11-17 14:03] dpolasky commented on #526
Hi Martin,
We can probably add glycan modifications to the composition assignment process in PTM-Shepherd without too much trouble (especially if you know of good datasets for testing that would have a large number of these modifications). Assigning the modifications to specific places in the structure would likely be very challenging - probably not something we can do now, but maybe in the future

[2021-11-17 14:51] fcyu commented on #531
Hi Peer,

From my prospective, you can use mass-offset search with a mass list from the amino acid substitutions. You should be able to find peptides with one amino acid substitution.

Best,

Fengchao

[2021-11-17 14:54] Peer2011 commented on #531
Dear Fengchao,

Thanks for your quick reply. I will give it a try.

Best,

Peer

Von: Fengchao ***@***.***>
Gesendet: Wednesday, November 17, 2021 3:51 PM
An: Nesvilab/FragPipe ***@***.***>
Cc: Peer2011 ***@***.***>; Author ***@***.***>
Betreff: Re: [Nesvilab/FragPipe] Best approach to search for mutated
peptides (Issue #531)

Hi Peer,

From my prospective, you can use mass-offset search with a ma

[2021-11-17 15:11] anesvi commented on #531
I would still build a database with all variants encoded, from genomics/RNA-seq data using a tool like QUILTS from the Fenyo lab,  because mass offset search will be localizing the mass shift to any possible amino acids, when we know which one can have that mass shift (the specific mutated site)

From: Fengchao ***@***.***>
Sent: Wednesday, November 17, 2021 9:51 AM
To: Nesvilab/FragPipe ***@***.*

[2021-11-17 19:29] #513 closed

[2021-11-17 19:29] fcyu commented on #507
Fixed in version 17.1: https://github.com/Nesvilab/FragPipe/releases/tag/17.1

[2021-11-17 19:29] #507 closed

[2021-11-17 19:31] fcyu commented on #493
Fixed in version 17.1: https://github.com/Nesvilab/FragPipe/releases/tag/17.1

[2021-11-17 19:31] #493 closed

[2021-11-17 19:31] fcyu commented on #431
Fixed in version 17.1: https://github.com/Nesvilab/FragPipe/releases/tag/17.1

[2021-11-17 19:31] #431 closed

[2021-11-17 19:31] fcyu commented on #297
Added in version 17.1: https://github.com/Nesvilab/FragPipe/releases/tag/17.1

[2021-11-17 19:31] #297 closed

[2021-11-17 19:32] fcyu commented on #279
Currently, IonQuant generate a new ion.tsv and combined_ion.tsv files to overwrite the old ones. Thus, this issue can be resolved by enabling IonQuant in FragPipe.

Best,

Fengchao

[2021-11-17 19:32] #279 closed

[2021-11-18 07:46] MNTsnowman commented on #526
Hi Dan
Sounds interesting, very interesting. However, at this point i don't think that i have a great dataset for testing this (...), atleast not that i know of. Aslo, as i said, i know there are many of such modifications, also a lot more than what i just mentioned. Sorry, but i don't have an overview of the topic, i have only encountered a few which is why i'm aware of their presence. I'm sorry

[2021-11-18 10:13] Peer2011 commented on #516
Dear Fengchao,
I tried to understand what you are doing in the MBR algorithm for Label free quantification as good as possible. Form what I understand you also use log10 intensity as part of your score S in equation  (2) in your paper. If the intensity becomes small this means that the score also becomes worse even if the peptide has the correct isotopic distribution and mass deviation in ppm. Isn

[2021-11-18 14:54] Angrist75 opened #532 "Error DIA_SpectLib_Quan workflow"
- Describe the issue or question:
-
dear developers
I am trying to use analysis acquired in DIA to build SpectraLibrary and do quantification using DIANN. Unfortunately, as you can see from the log file the execution stops. I don't understand the origin of the error. The process done with only DIANN or Spectronaut is successful. Thanks for your help
Andrea

- Upload your log file
[log_2021-11-18_1

[2021-11-18 15:17] fcyu commented on #532
Hi Guo Ci @guoci ,

The error is from spectral library generation. Can you take a look?

[code]

Thanks,

Fengchao

[2021-11-18 15:20] guoci commented on #532
Can you set `RT lowess fraction` to a non-zero value e.g. `0.05` and try again?
![image](https://user-images.githubusercontent.com/1260178/129079122-1de894ca-6df3-412c-a22d-8ee7cc2ff99f.png)

[2021-11-18 15:33] BrendonSeale opened #533 "MSbooster not writing tsv file for percolator"
Hello,

I think this may be similar to the bug that prompt 17.1. When I run a file with msbooster enabled, the resulting tsv file is empty leading to percolator crashing. Using FragPipe 17.1build2, the file is correctly processed. I have attached the log file from the full release 17.1 version showing the error as well as a screenshot showing the empty PIN and tsv files.

![image](https://user-ima

[2021-11-18 15:34] fcyu commented on #516
Hi Peer,

Let me answer your questions point-by-point.

I think it doesn't. Please note that it is MBR using MS1 signal. The higher intensity, the higher signal-to-noise ratio, which has a higher probability of being true signal.  Please also keep in mind that the `log10(intensity)` score is not the only score, and (if you check at the log) it is not the highest weighted score. Thus, it means that

[2021-11-18 15:37] fcyu commented on #533
Hi Kevin,

[code]

The old issue is back?

Best,

Fengchao

[2021-11-18 15:57] yangkl96 commented on #533
Hi Brendon,

I think you may be using an older version of the MSBooster jar (sorry, I'll be updating version numbers from now on). The error line shown is just a comment line in the newest MSBooster version. Could you retry unzipping Fragpipe in a new folder to see if that works?

Thanks,
Kevin

[2021-11-18 16:15] BrendonSeale commented on #533
Unzipped into new folder. Result is the same. FragPipe did mention it found some settings or something and I didn't load them but most of the fields were populated anyway. Here's the new log:

[log_2021-11-18_11-12-17.txt](https://github.com/Nesvilab/FragPipe/files/7564263/log_2021-11-18_11-12-17.txt)

[2021-11-18 16:22] fcyu commented on #533
Hi Brendon,

It is weird. Can you zip and send the msbooster-1.0.jar from `fragger/tools` folder to us?

Thanks,

Fengchao

[2021-11-18 16:30] BrendonSeale commented on #533
Here is is (from the freshly unzipped fragpipe directory):
[msbooster-1.0.jar.zip](https://github.com/Nesvilab/FragPipe/files/7564360/msbooster-1.0.jar.zip)

[2021-11-18 16:53] yangkl96 commented on #533
Hi Brendon,

Could you zip the pin (unedited) and mgf and send that to me? Thanks

[2021-11-18 17:12] Peer2011 commented on #516
Dear Fengchao,
Thanks for your quick reply. I understood that the feature that are in Table 1 are used to determine the score. That means basically that the linear discrimnation model determines the cut-offs for every  feature in table 1 which contribute to the sum of equation 2, right?

Referring to my question about the RT window. Would it make sense to dynamically adapt this window instead of h

[2021-11-18 17:20] BrendonSeale commented on #533
Sure:

https://1drv.ms/u/s!AqAzfSxL_4mUgutAzFdH-Pethg8v9g?e=PPxjyo

Let me know if this works.

[2021-11-18 18:08] fcyu commented on #516
Hi Peer,

LDA is used to get the final score for each transferred ion. The cut-off is determined by mixture modeling which is used to estimate FDR.

The MBR windows is adapted. See the description in the manuscript (https://www.sciencedirect.com/science/article/pii/S1535947621000505):
"_Given a donor ion with retention time t, we find its position in the sorted pairs satisfying  di≤t<di+1 . Then,

[2021-11-18 18:52] Peer2011 commented on #516
Does gradient length between different samples really plays a role if you perform a global alignment of all unidentified MS1 based on identified  MS1 features and respective MS2 features putting them on a new time scale. This having said I could imagine that if you have samples which are really different of each other this approach could fail. However, I would think that there is a bunch of protei

[2021-11-18 18:54] fcyu commented on #516
The alignment should be from identified and overlapped MS1 features. And yes, you can have a good global alignment method that support different gradient length (That's why I said "This is a protentional alternative approach.").

Best,

Fengchao

[2021-11-18 20:10] jd690764 commented on #523
Hi Felipe,

v17.1 is working fine!

Thanks,
Janos

On Tue, Nov 16, 2021 at 11:54 AM Jonathan Boulais ***@***.***>
wrote:

[2021-11-18 21:25] yangkl96 commented on #533
[msbooster-1.0.zip](https://github.com/Nesvilab/FragPipe/files/7566076/msbooster-1.0.zip)

Sorry for the issues, could you try replacing the msbooster.jar in tools/ with this new one?

[2021-11-18 21:25] Angrist75 commented on #532
I did as recommended and it worked! I will do more tests on other samples but now I am very optimistic.
thank you very much!
all the best
Andrea

[2021-11-18 22:37] #532 closed

[2021-11-19 07:30] kabalak opened #534 "FragPipe-17.1: selecting enzyme sets back Cleavage specificity setting"
With FragPipe-17.1, if you select a different enzyme, the cleavage specificity (Specific, Semi_Nt) is always reverted to Specific.
In my case, if I first select Semi_Nt, then set ArgC specificity for my N-termini analysis, then the specificity is always set back to Specific, so I have to alter to Semi_Nt again. Normally, the cleavage specificity should not be altered by changing only the enzyme of

[2021-11-19 12:49] BrendonSeale commented on #533
Looks like this is working! Thanks!

[2021-11-19 14:29] #533 closed

[2021-11-19 15:05] fcyu commented on #534
Thanks for your feedback. Fixed in 8f89acb0db4f5b99fc13f17976b3b7369eeca589

Best,

Fengchao

[2021-11-19 15:05] #534 closed

[2021-11-19 23:33] jd690764 opened #535 "How to run PTMProphet for timstof data?"
- Describe the issue or question:
I am trying to include PTMProphet into the analysis of phospho dataset (timstof pro) but having trouble finding out how to do it.

- PTMProphet apparently also needs the raw data file (in addition to pep.xml?) and it cannot accept them in bruker format, it needs mzML
- I converted the .d files to mzML according to https://fragpipe.nesvilab.org/docs/tutorial_conver

[2021-11-19 23:42] fcyu commented on #535
Hi Janos,

As you noticed, PTMProphet needs mzML. But we never tested the mzML converted from .d for PTMProphet. If it doesn't need to use MS1, it should work theoretically.

Did you following the second part of the tutorial ("Convert Bruker timsTOF .d files")? The first part is for Thermo data.

The uncalibrated.mgf only has MS2. Even after you convert it to mzML, it still cannot be used for MS1-

[2021-11-19 23:53] jd690764 commented on #535
Hi Fengchao,

Thank you for the quick response.

Yes, I did the conversion for Bruker files.

With respect to using MSconvert with .d folders, I used settings shown on
the attached screenshot. Does that look correct to you?

So a possible way to make an mzML from .d is xxx.d => mgf => mzML?

Thank you,
Janos

On Fri, Nov 19, 2021 at 3:42 PM Fengchao ***@***.***> wrote:

[2021-11-20 00:10] fcyu commented on #535
Hi Janos,

The screenshot should work for the .d.

If you don't need MS1-based quantification, you can use the mgf file from MSFragger and uncheck IonQuant.

Best,

Fengchao

[2021-11-20 21:04] kabalak commented on #533
I have the same problem with the current FragPipe 17.1 and the updated msbooster.jar file from this thread; I also get the same error condition (though I have the semispecific N-term searches on the agenda):

`Process 'MSBooster' finished, exit code: 0
Percolator [Work dir: E:\RAW\Fatih\FragPipe_SemiSpecNt_ClosedFull\CTRL_1]
C:\MSPrograms\fragpipe-17.1\tools\percolator-v3-05.exe --only-psms --no-t

[2021-11-20 23:50] guoci commented on #512
This is a known issue of a library used by DIA-Umpire, RuedigerMoeller/fast-serialization#312, triggered by Java 16 and above

[2021-11-21 05:39] ohovey5 opened #536 "MSstats"
Is Fragpipe compatible with MSstatsTMT and MSstatsTMTPTM? If so how would you set that up?

[2021-11-21 15:37] fcyu commented on #536
We will support MSstatTMT in the future. As to MSstatsPTM, we need to discuss internally.

Best,

Fengchao

[2021-11-21 15:41] fcyu commented on #510
We will support MSstatsTMT in the future. Stay tuned!

BTW, for the LFQ data, we recommend using IonQuant in the `MS1 Quant` tab and **not** enabling `generate msstats files` in the `validation` tab. IonQuant will always generate a MSstats.tsv with LFQ intensities from all experiments.

Best,

Fengchao

[2021-11-21 15:46] anesvi commented on #536
I think we already support MSstats TMT. Although it has not been extensively tested. Check the box in validation tab to print msstats files

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fengchao ***@***.***>
Sent: Sunday, November 21, 2021 10:37:56 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Nesvilab/FragPipe] MSstats (Issue

[2021-11-21 22:42] yangkl96 commented on #533
Hi Faith,

Could you attach the entire log file?

Thanks,
Kevin

On Sat, Nov 20, 2021 at 4:04 PM Fatih D. ***@***.***> wrote:

[2021-11-23 17:37] fazeliniah opened #537 "Philosopher 4.1.1 generates empty files due to the incompatibility of the fasta file"
Dear developer team,
I am trying to use the fasta database generated in this paper: https://www.nature.com/articles/s41587-021-01021-3. In brief the new fasta file has additional~320K proteins resulted from different RNA sequencing data.
The v.16 of MSFragger handled these data very nicely. Unfortunately I don't know why I can't replicate the analysis in v.17.1. The job finished without any errors

[2021-11-23 17:52] fcyu commented on #537
Everything looks good except there is no entries in the tsv files.

Felipe @prvst , can you take a look? They said that FragPipe 16, which implied the Philosopher 4.0.0, worked well.

Thanks,

Fengchao

[2021-11-23 18:24] jd690764 commented on #535
Hi Fengchao,

I think I finally found out what the problem was with msconvert: it may
have been just the order of the filters - see attached screenshot. I
changed some of the filters also (the scanSumming values were suggested to
me by a person from Bruker who worked on finding the optimal ones), so I am
not completely sure. The resulting mzML did not break PTMprophet/ionQuant
subsequently.

Thank

[2021-11-23 18:27] fcyu commented on #535
Hi Janos,

Glad to hear that you figured it out. I didn't see the figure but can you confirm that the order of the filters in https://fragpipe.nesvilab.org/docs/tutorial_convert.html is correct?

Thanks,

Fengchao

[2021-11-23 22:44] jd690764 commented on #535
Hi Fengchao,

here is the screenshot.

Thanks again,
Jano
![msconvert2](https://user-images.githubusercontent.com/10483811/143140727-946e4bbd-355b-4057-a345-e3f3ac07a3e8.PNG)
s

[2021-11-24 00:00] fcyu commented on #535
Thanks. BTW, if you have "count 150 most-intense" threshold, the mzML file cannot be used for MS1-based quantification because most of the MS1 peaks are removed.

Best,

Fengchao

[2021-11-24 00:22] jd690764 commented on #535
What should I use then?
Thanks,
Janos

[2021-11-24 00:23] fcyu commented on #535
It depends on if you need to perform MS1-based quantification. If yes, need to remove the threshold filter.

Best,

Fengchao

[2021-11-24 00:25] jd690764 commented on #535
Great, thank you!
Janos

[2021-11-24 00:26] #535 closed

[2021-11-24 12:48] christophgil commented on #296
Hi Fengchao,

I still do not fully understand the directory structure of FragPipe.
I have installed with owner root.
Unless I change ownership of the cache directory I get:
   java.nio.file.AccessDeniedException: /local/MS/FragPipe.d/17.1/lib/../cache
And it seems that changes in the GUI will not be saved.

There is also a directory
~/.config/FragPipe/fragpipe/ with two cache files.

A file with n

[2021-11-24 15:52] fcyu commented on #296
Hi Christoph,

There are two places having FragPipe's cache/temp files. On is in user's HOME directory. Depending on the operation system, the directories are different. The other one is in FragPipe folder (`fragpipe/cache`). You can find the paths by clicking `Clear cache and close` button in the `Config` tab. Following is an example of mine in the Linux server.

![image](https://user-images.gith

[2021-11-24 20:16] jadv12 commented on #521
Thanks for answering. I finally ran it again with 64. No error and it wasn't much slower (or slower at all) like you said.

[2021-11-24 20:16] #521 closed

[2021-11-24 21:48] kabalak commented on #533
Nevermind, I realized that the file was flawed from the beginning as it was not a good run; but I will attach the log file anyways. But I guess, that MSBooster seems to be optimized for specific searches?
[log_2021-11-19_13-08-45.txt](https://github.com/Nesvilab/FragPipe/files/7598881/log_2021-11-19_13-08-45.txt)

[2021-11-25 07:14] KlemensFroehlich commented on #510
Thanks Fengchao for the answer. Looking forward to using fragpipe for everything, including TMT in the future :)

Best,
Klemens

[2021-11-25 07:16] KlemensFroehlich commented on #536
Fengchao recently commented on this:

https://github.com/Nesvilab/FragPipe/issues/510

Best Klemens

[2021-11-25 07:30] KlemensFroehlich opened #538 "Philosopher ran out of memory"
- Describe the issue or question:

Dear developers,
I am reanalysing a 92 sample DIA benchmark study with DIA_Speclib_Quant workflow in fragpipe 17.0 on a i7-11700K with 64GB Ram.

I gave fragpipe 15 cores and 50GB of ram in the workflow window.

During the run, philosopher took more than 64 GB (according to resource manager via swap file it took all ~ 64GB of ram and  additionally > 50GB of SDD a

[2021-11-25 14:37] anesvi commented on #538
That’s strange. I am away from computer to see the log, hopefully Felipe and Fengchao can see what happened.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: KlemensFroehlich ***@***.***>
Sent: Thursday, November 25, 2021 2:30:30 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Nesvilab/FragPipe] Philosopher ran out of memory (Issue #538

[2021-11-25 14:42] danielgeiszler commented on #538
@prvst Can you take a look? It’s trying to allocate 50G for the peptide filtering.

[2021-11-25 15:02] #536 closed

[2021-11-25 15:02] prvst commented on #538
I'm also away from the computer, so I can't debug the issue now. I can give you some pointers for you to investigate the issue; Philosopher needs 500 MB to run the filter, everything else comes from the data files. I would start by checking your pep.xml file sizes.

[2021-11-25 15:10] KlemensFroehlich commented on #538
I am rerunning the analysis with fragpipe 17.1 right now.
I will post the new pep.xml file sizes as soon as they are generated. Thanks for the input!

[2021-11-25 15:12] fcyu commented on #538
There are 92 mzML files, each file generate 5 pepXML files (`output_report_topN = 5` for DIA). Since there is no multi experiments, Philosopher needs to read 460 interact-*.pep.xml files in one filter command.....

Best,

Fengchao

[2021-11-25 15:13] KlemensFroehlich commented on #538
I thought if I want one combined spectrasl library, then I have to define all 92 runs in 1 experiment?

[2021-11-25 15:14] fcyu commented on #538
Hi @KlemensFroehlich ,

Yes, you are doing correct. I was just trying to guess the reason of Philosopher running out of memory.

Best,

Fengchao

[2021-11-25 15:23] anesvi commented on #538
I think we need write peptides with probability above say 0.5 to pep.xml for large datasets. That will reduce the size

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fengchao ***@***.***>
Sent: Thursday, November 25, 2021 10:15:03 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Comment ***@***.***>
Subject: Re: [Nesvilab/FragPipe] Phi

[2021-11-25 17:10] treponeme commented on #502
Hi Felipe@prvst

Any luck with the output files?

Thanks.

[2021-11-25 21:12] prvst commented on #502
Hi @treponeme, I see 4 (TPANIC_0486_TPANIC_RS02360_hypothetical protein_WP_012460559_05072013) PSMs, 4 peptides, and the numbers match to the 256 protein table. I thought that it was resolved, did I miss something?

[2021-11-25 21:31] treponeme commented on #502
Hi Felipe@prvst

Unfortunately the three issues described above in my first two comments have not been sorted out, namely -
1. There are many cases where the number of unique peptides for several proteins reported in the protein.tsv files differ from the number of unique peptides listed in the corresponding psm.tsv files. This problem still exists for many proteins.
2. Protein probabilities for ea

[2021-11-25 21:33] prvst commented on #502
Are you using the latest releases?

[2021-11-25 21:51] prvst commented on #537
@fazeliniah are you running Philosopher v4.1.1?

[2021-11-25 21:53] treponeme commented on #502
To confirm, what are the latest releases? I believe I may have used the version before the latest.

[2021-11-25 21:55] prvst commented on #502
Philosopher 4.1.1, and Fragpipe 17.1

[2021-11-25 21:56] treponeme commented on #502
No. I used 4.1 and Fragpipe 17. Do these new versions eliminate all three problems I listed above today?

[2021-11-25 22:02] prvst commented on #502
Hard to say since your issue seems to be particular to your case, some changes might affect the final reporting. Nevertheless, we need to debug the latest version since that's the current codebase we have now. I suggest you run the pipeline again, making sure all files are in place, no temporary files are present, and that your workspace is clean. If the problem you see persist, you can send me so

[2021-11-26 15:22] DanielConole opened #539 "ERRO[14:35:10] the protein FDR filter didn't reach the desired threshold, try a higher threshold using the --prot parameter"
[log_2021-11-26_15-20-51.txt](https://github.com/Nesvilab/FragPipe/files/7609556/log_2021-11-26_15-20-51.txt)

[2021-11-26 16:00] KlemensFroehlich commented on #538
fragpipe 17.1 ran into the same problem.

@prvst
pepXML each ~ 150 - 220 MB
total 78GB in the folder (92 samples x 5 pepXML x ~200MB)

interact- XYZ.pep.xml each ~100 - 300 MB, most of them 200 to 250
total 109GB in the folder

pin + pin edited
total of 46GB

total virtual memory was 177GB as far as I can see.....

Please let me know if I can help in any other way.

Best, Klemens

[2021-11-26 18:57] fcyu commented on #539
[code]

Is there any reason to set minprob to 0.9? Please note that it is not the threshold for the final result. It controls how many PSMs are used in protein inference. Normally, setting it to 0.7 is good.

Best,

Fengchao

[2021-11-27 18:30] Peer2011 opened #540 "Problem with Ionquant"
Dear Fengchao,

Any Idea why that happend? Happened the first. Reinstallation of FragPipe did not help. I performed a partial processing as peptide interference was already performed.

Best, Peer

2021-11-27 16:19:42 [INFO] - Writing index to C:\01_Data_Analysis\04_DLBCL_FRAGPIPE\INPUT\P051616-35-45-55-65-75_R1.quantindex
2021-11-27 16:19:42 [INFO] - Loading C:\01_Data_Analysis\04_DLBCL_FRAGPIPE\O

[2021-11-27 18:31] fcyu commented on #540
Can you share the whole log?

Thanks,

Fengchao

[2021-11-28 11:52] Peer2011 commented on #540
Dear Fengchao,

Please find attached the log File. As I pointed out it is only partial processing using IonQuant because I wanted to try a few settings. In the meantime I deleted all Output files and started with a new directory just to see whether this caused any issues.

Best, Peer

[log_2021-11-27_16-19-46.txt](https://github.com/Nesvilab/FragPipe/files/7613469/log_2021-11-27_16-19-46.txt)

[2021-11-28 14:01] fcyu commented on #540
Hi Peer,

I guess there might be something incompatible between your previous analysis and your current analysis, since you were just running IonQuant this time. Please let me know if you still get the error when you start everything from scratch.

Best,

Fengchao

[2021-11-29 14:03] Peer2011 commented on #540
Dear Fengchao
I deleted all former files. When I reran the whole procedure everything worked fine. By the way are there any major changes to IonQuant 1.7.18 in comparison to 1.7.17?

Best, Peer

[2021-11-29 15:06] fcyu commented on #540
Hi Peer,

1.7.18 fixed a bug regarding the `lib` experiment. It is a pre-release version but you can use that if you want.

Best,

Fengchao

[2021-11-29 15:55] yangkl96 commented on #533
MSBooster itself doesn't mind if it is specific or not, it's more about how
well the prediction models can predict spectra and retention time for
semispecific peptides. Future versions will allow users to upload their own
predicted spectral libraries, but the default prediction model used by
MSBooster was only trained on tryptic peptides

On Wed, Nov 24, 2021 at 4:48 PM Fatih D. ***@***.***> wrote

[2021-11-29 16:00] fazeliniah commented on #537
I am using Philosopher version 4.1.0

[2021-11-29 19:14] fazeliniah commented on #537
I just tried the v.4.1.1 and got the same issue.

[2021-11-29 21:30] chambm opened #541 "Download DIA-NN on the fly?"
DIA-NN is adding about 300MB to the FragPipe download, which seems excessive if one doesn't plan to use that feature. Have you considered downloading it on the fly when it's needed?

[2021-11-29 21:33] fcyu commented on #541
Thanks for your suggestion. We think that it is easier for most users if we bundle it together with FragPipe. As many users and friends told me, file size is not an issue most of the time.

Best,

Fengchao

[2021-11-29 22:03] chambm commented on #541
Perhaps, but isn't that true for Philosopher too? The download could (should) be opaque to the user, not requiring any interaction, so I'm not really sure it's harder than the bundled way.

[2021-11-29 22:31] fcyu commented on #541
Yes, we will probably bundle Philosopher too. I don't think the download can be opaque to users since it takes time. Even letting it download in the background is not problem-free: what if the users start to run DIA-NN when it is downloading or what if something is wrong (e.g., Internet or disk issues) during the downloading. To cover all these possibilities and make it perfectly smooth (if it is

[2021-11-29 22:39] chambm commented on #541
I was thinking it would just be a workflow step which only needs to execute if it's not already downloaded (or is somehow incomplete). So users would already be sitting back and waiting for the Run to finish.

[2021-11-29 22:46] fcyu commented on #541
It is possible, but I really don't think it worth the time to implement and maintain if it is just for 300 MB less file size. There are other more important features to implement.

Best,

Fengchao

[2021-11-30 01:25] #540 closed

[2021-11-30 01:25] #528 closed

[2021-11-30 15:37] piroman999 opened #542 "FragPipe for middle-down search"
Hello, I wonder if FragPipe could be tuned to work as a middle-down search engine. It is a very fast tool, I can handle a nonspecific search of peptides in range 7-60 on full Uniprot database in reasonable time (<24h). Maybe there is some things that may make Fragpipe more capable for this kind of analyses:
- some kind of integrated deconvolution, I had some luck with FlashDeconv, I ve got some re

[2021-11-30 16:10] danielgeiszler commented on #542
Hi @piroman999
1. This is something we will discuss internally
2. This would probably require a fundamental reworking of the search engine and is not possible

[2021-11-30 16:21] #541 closed

[2021-11-30 22:45] TomClarkMassSpec opened #543 "DDA data from timsTOF "seems from DIA but MS Fragger in DDA mode" then exits"
Hello,

Newer version of Fragpipe v17.1 (MS Fragger 3.4, Win 10) seems to have introduced an issue. I have collaborator samples I need to reanalyze acquired on a timsTOF in QTOF mode aka DDA (SILAC). Files won't load from bruker folder directly but as in past, converted to mzML using proteowizard. Seemed to work in earlier versions.

- Upload your log file
(If a log file hasn't been generated, go

[2021-11-30 22:48] fcyu commented on #543
Your data's isolation window is larger than 4 Th. MSFragger though it was from DIA.

Best,

Fengchao

[2021-11-30 22:53] TomClarkMassSpec commented on #543
Hi Fengchao,

I just saw that msg go out this morning to someone else. I'll check, but I am pretty sure my peak widths are close to isotopic isolation on that method. Perhaps it peaked above 4Da for some mass / charge state. I will check.

Best,
Tom

[2021-11-30 22:55] fcyu commented on #543
Hi Tom,

Thanks for the info. I though 4 Th was a safe boundary for DDA vs DIA. It looks not. I will increase it to, say 5 Th, in the future release.

Best,

Fengchao

[2021-11-30 23:19] TomClarkMassSpec commented on #543
You are correct Fengchao,

I include an optimized for intensity table of isolation mass widths.

I will roll back to earlier version to get through this task.

Thank You, T
[SILACTimsOFF6.csv](https://github.com/Nesvilab/FragPipe/files/7629492/SILACTimsOFF6.csv)
om

[2021-11-30 23:19] #543 closed

[2021-12-01 03:38] prvst commented on #538
Yes, You'll have the same outcome with the current version, since this is more related to the amount of data you're trying to process simultaneously. Have you tried increasing the PeptideProphet probability (*--minprob*), and the filter threshold (*--pepProb*)?

[2021-12-01 08:39] Irkcy opened #544 "Philosopher: panic: runtime error: index out of range [1] with length 0 in database annotation command."
Hi Fragpipe

I downloaded DIA files and DDA files from PXD011691(http://proteomecentral.proteomexchange.org/cgi/GetDataset?ID=PXD011691). Then I used the FLI_180509_JMK_Brain_DIA_40seg_Biog_S2-2.raw this file and turned it into mzML format. Similarly, I converted FLI_170706_JMK_Pool_Brain_HpH_6fr_orig_DDA_MS1_AGC_5e5_Fr1.raw this file into mzML format. Then I used FragPipe v17.1. There is no DIA-U

[2021-12-01 15:44] anesvi commented on #542
Maybe you can contract us directly, and send mzML from FlashDeconv (and without)
We can see how the search results look compared to no deconvolution.

Best
Alexey

From: piroman999 ***@***.***>
Sent: Tuesday, November 30, 2021 10:37 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Nesvilab/FragPipe] FragPipe for middle-down search (Issue #542)

External Email - Use Cauti

[2021-12-01 15:53] fcyu commented on #544
You shouldn't do that. We have `DIA_SpecLib_Quant` and `DIA_DIA-Umpire_SpecLib_Quant` workflows in the 17.1. The first one is using MSFragger-DIA and the second one is using DIA-Umpire. Load the one you like, load data, load fasta, check digestion and variable modification, specify the output folder, and run. Please do not make additional changes if you are not sure what they are.

Also, please be

[2021-12-01 16:21] KlemensFroehlich commented on #538
when I load the "standard" DIA_speclib_Quant workflow, Percolator is active and PeptideProphet is inactive.

According to the comment in the "Rescoring Using Deep Learning Prediction" it is necessary to run Percolator?

[2021-12-01 16:58] fcyu commented on #538
If you are analyzing DIA data, Percolator and MSBooster is the recommended settings. Using PeptideProphet would result in much lower sensitivity.

We will add an option to FragPipe to control the required min probability from Percolator. I suggest you either increase your memory or wait for a little bit. I can give you a pre-release version if you want.

Best,

Fengchao

[2021-12-01 22:22] PatrickvanZalm opened #545 "Philosopher error: panic: runtime error: index out of range [2723] with length 2723"
Hi Team Fragpipe,

I've recently updated to Fragpipe V17.0, where I try to use "DIA_Speclib_Quant" workflow. in this case, I just want the library.tsv file.

There seems to be some error with the percolator .pin files? I'm not completly sure.

I've added the log file. Hopefully it can be clarify my issue.
[log_2021-12-01_14-13-15.txt](https://github.com/Nesvilab/FragPipe/files/7637485/log_2021-12-

[2021-12-01 22:32] fcyu commented on #545
Hi Patrick,

It is a known issue. Can you try the msbooster-1.0.zip from https://github.com/Nesvilab/FragPipe/issues/533#issuecomment-973283953 ? You need to replace the one in the `fragpipe/tools` folder.

Best,

Fengchao

[2021-12-02 01:12] zyh4482 opened #546 "Close search- iTRAQ data"
Hi.
Thanks for your wonderful tool. The tutorial is very clear and helps a lot for a beginner!
I have a very basic question. I don't know how to achieve it. Assuming that a 4-plex iTRAQ data containing 114 for normal1, 115 for tumor1, 116 for normal2, 117 for tumor2 (the number refers to each patients), is it possible to know the predicted peptide comes from which sample after searching target-dec

[2021-12-02 10:10] BenSamy2020 opened #547 "MSFragger Glyco"
Greetings,

I am currently exploring MSFragger N-Glyco workflow (glyco-N-HCD).
When I was analyzing the output PSM.tsv file to look for glycosylated peptides, some the peptides had glyco-score of negative values. (Does the negative values mean less confidence glyco peptides?).
By any chance could your direct me to a link on how to interpret the glyco output data?
Currently, I am using - "https://f

[2021-12-02 13:55] PatrickvanZalm commented on #545
Hi Fengchao,

Thanks for your prompt reply. I replaced use the msbooster as you suggested, which seemed to have done the trick. However, now I run into a new issue related to philosopher filter..

[log_2021-12-01_20-46-11.txt](https://github.com/Nesvilab/FragPipe/files/7642451/log_2021-12-01_20-46-11.txt)

I've ran these samples before using peptideprophet instead of msbooster+percolator without i

[2021-12-02 14:44] fcyu commented on #545
Hi Patrick,

It looks like something was wrong with Philosopher. Can you try the latest Philosopher (4.1.1)? If the latest version still gives the error, can you try using PeptideProphet (but still with the latest version) since you said it is OK with PeptideProphet?

Best,

Fengchao

[2021-12-02 14:49] PatrickvanZalm commented on #545
Sure, ill give updating a shot.

MSbooster & philosopher do not work together right?
![image](https://user-images.githubusercontent.com/56233030/144445176-626a0b90-ef59-4322-a3c0-5d64ff5ceb28.png)

[2021-12-02 15:30] fcyu commented on #545
MSBooster needs Percolator. MSBooster cannot work with PeptideProphet. Percolator or PeptideProphet can work alone without MSBooster.

It is not about Philosopher, actually. But sine your error is from Philosopher filter command, you need to upgrade your Philosopher in the "config" tab.

Best,

Fengchao

[2021-12-02 15:31] dpolasky commented on #547
Hi Ben,
We are in the process of improving the tutorial info, but for the moment the tutorial_glyco page that you're looking at is all we have. The two columns to look at in evaluating quality of a match are the glycan score and glycan q-value. A lower score indicates a less confident match, but a negative score doesn't necessarily mean it's a bad/low-confidence match. Depending on the quality of

[2021-12-02 16:07] PatrickvanZalm commented on #545
Thanks,

Ive just updated Philosopher to 4.1.1. but the issue persists.

Ill just use peptideprophet for now. I'd love to try out MSbooster so please let me know if you'd like me to run some tests.

[2021-12-02 16:58] yxiao32 opened #548 "Experiment and Replicates setting"
Hi,

I have 16 samples which are divided into 4 groups, WT-control, WT-treatment, KO-control, and KO-treatment. Each group has 4 samples (bio-replicates) and each sample has 3 MS runs (triplicates). My question is what I should define in the Experiment and Replicates setting.

Thanks for your help in advance.

Cindy

- Upload your log file
(If a log file hasn't been generated, go to the 'Run' tab

[2021-12-02 17:00] fcyu commented on #548
Please check our tutorial: https://fragpipe.nesvilab.org/docs/tutorial_fragpipe.html#select-workflow-and-add-spectral-files

Best,

Fengchao

[2021-12-02 17:00] #548 closed

[2021-12-02 17:04] fcyu commented on #545
Hi Patrick,

Can you confirm that PeptideProphet with the Philosopher 4.1.1 can work, but MSBooster+Percolator cannot?

What I cannot understand is why PeptideProphet or MSBooster+Percolator makes any difference for Philosopher filter command. They should be no difference from the filter point-of-view.

Best,

Fengchao

[2021-12-02 17:16] yxiao32 commented on #548
Thank you, Fengchao. In the tutorial it has no suggestion on the input for the repeat runs for one sample. Should I treat them as different fractions from the same sample?

Thanks,
Cindy

[2021-12-02 17:17] fcyu commented on #548
You can put technical replicates and fractions into the same experiment and bioreplicate group.

Best,

Fengchao

[2021-12-02 17:18] PatrickvanZalm commented on #545
I just finished running with PeptideProphet without any issue.

I could try running percolator without MSBooster, that might point in the right direction? Let me know if youd like me to try.

[2021-12-02 17:22] fcyu commented on #545
Hi Patrick,

Can you send me the log form the one with PeptideProphet?

Thanks,

Fengchao

[2021-12-02 17:25] PatrickvanZalm commented on #545
Sure
[log_2021-12-02_11-56-37.txt](https://github.com/Nesvilab/FragPipe/files/7643936/log_2021-12-02_11-56-37.txt)

[2021-12-02 17:33] yxiao32 commented on #548
Okay, thanks, Fengchao.

Cindy

[2021-12-02 17:38] fcyu commented on #545
Thanks for your file. I have no clue now. Need to ask Felipe to take a look.

Hi Felipe @prvst ,

Can you take a look when you have time? Same data, one analysis with MSBooster+Percolator, and the other one with PeptideProphet. Philosopher filter command worked well with the PeptideProphet but failed with MSBooster+Percolator:
[code]

From my understanding, the output of MSBooster+Percolator and P

[2021-12-02 18:19] prvst commented on #545
It looks to be related to the protein XML files. Could you send me your pep.xml, prot.xml, and FASTA file, please?

[2021-12-02 18:43] DRock420 opened #549 "FAiled to execute dia-nn-plotter"
HI There

AS a regular user of  DIA-NN I thought that I would give it a try in the newest realse of Fragpipe. The problem is that at the end of the analysis I get the error message "failed to execute script dia-nn-plotter" and it ends there without genration the reuslts (see below). I have tried running fragpipe with admin persimissions but this still had the sme error. I run DIA-NN on this comput

[2021-12-02 18:45] fcyu commented on #549
Can you send us the whole log file, please? You need to zip the file in case GitHub truncate the text file.

Thanks,

Fengchao

[2021-12-02 18:56] DRock420 commented on #549
HI Fengchao

Of course, please find attached

Derek

From: Fengchao ***@***.***>
Sent: December-02-21 10:46 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Derek Smith ***@***.***>; Author ***@***.***>
Subject: Re: [Nesvilab/FragPipe] FAiled to execute dia-nn-plotter (Issue #549)

Can you send us the whole log file, please? You need to zip the file in case GitHub truncate the text file.

Thanks,

Fengch

[2021-12-02 19:07] fcyu commented on #549
I am sorry that I cannot find the attachment. Can you send it to yufe@umich.edu, please?

Thanks,

Fengchao

[2021-12-02 19:23] fcyu commented on #549
Hi Derek,

Thanks for your log file.

It looks like EasyPQP is not enabled so that there is no spectral library generated for DIA-NN. Please use the `DIA_SpecLib_Quant` workflow.  If you haven't installed  EasyPQP, please checkout our tutorial (https://fragpipe.nesvilab.org/docs/tutorial_setup_fragpipe.html).

I also attached the log file as a reference

[log_2021-12-02_10-53-46.txt](https://githu

[2021-12-02 19:29] DRock420 commented on #549
Thanks Fenchao

So I need easypqp to run DIA-NN? I thought that I could use any spectral library as long as its in the right format.

Actually, that brings me to another question. I can’t get the software to recognize that I have easypqp installed in python. I have Fragpipe running on 3 different computers, all with recent versions of python and I can’t get Fragpipe to recognize that its installed

[2021-12-02 19:36] fcyu commented on #549
Hi Derek,

If you want to use existing spectral library for DIA-NN, there is no need to run MSFragger and other tools except for DIA-NN.

I see that you have `N:\databases\Uniprot human\human_hcd_labelfree_phospho_selected_passed.msp` for DIA-NN, but it looks like DIA-NN cannot read your library:
[code]

You can use our `DIA_SpecLib_Quant` workflow to build a spectral library using your DIA data,

[2021-12-02 19:42] DRock420 commented on #549
HI Fengchao

I don’t understand this. I swear that I have run pip install easypqp before and it did install it but Fragpipe could not detect it. However, this time, it did work so thank you!

Now, I am off to try to use Fragpipe to build some spectral libraries. Any advice for creating phospo- specific libraries?

Thanks

Derke

From: Fengchao ***@***.***>
Sent: December-02-21 11:37 AM
To: Nesvila

[2021-12-02 19:48] fcyu commented on #549
You can load the `DIA_SpecLib_Quant` workflow, and load your DIA data and DDA data if you have them. Then, load your fasta file, and enable phosphorylation variable modifications in MSFragger tab. After specifying the result folder, you are good to click `Run` button.

MSFragger-DIA will first search the data with phosphorylation as variable modifications, and then build a spectral library contain

[2021-12-02 21:44] anesvi commented on #549
You can also enable PTM-prophet
But the localization probability will not propagate from PSM.tsv to library.tsv. For now we have to parse that info from PSM.tsv if we want to keep only localized sites in the library.
Alexey

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fengchao ***@***.***>
Sent: Thursday, December 2, 2021 8:49:04 PM
To: Nesvilab/FragPipe ***@*

[2021-12-02 21:46] DRock420 commented on #549
Thanks Alexey!

I will give it a shot

Derek

From: Alexey Nesvizhskii ***@***.***>
Sent: December-02-21 1:45 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Derek Smith ***@***.***>; Author ***@***.***>
Subject: Re: [Nesvilab/FragPipe] FAiled to execute dia-nn-plotter (Issue #549)

You can also enable PTM-prophet
But the localization probability will not propagate from PSM.tsv to library.tsv. For now w

[2021-12-02 21:48] DRock420 commented on #549
I should also say that I am really impressed. Right now, I am using Fragpipe to make a phospho-DIA library out both DDA and GPF DIA data. Normally I only use  GPF-DIA to make my libraries. Pretty cool!

Thanks

Derek

From: Alexey Nesvizhskii ***@***.***>
Sent: December-02-21 1:45 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Derek Smith ***@***.***>; Author ***@***.***>
Subject: Re: [Nesvilab/FragPip

[2021-12-02 21:59] PatrickvanZalm commented on #545
Hi Felipe,

I've just (tried) to share the files through Google Drive. I hope you got the mail.

I just tried running without MSBooster, but with Percolator and this ran without any issue.

[2021-12-02 22:01] fcyu commented on #545
Hi Patrick,

Can you also share the Google Drive folder with me?

Thanks,

Fengchao

[2021-12-02 22:16] PatrickvanZalm commented on #545
Sure. I believe I did add you too now.

[2021-12-03 02:15] sarah-haynes commented on #546
Hi, the 4 reporter ion abundance columns correspond to the amount of that peptide (or protein if you're looking at the protein-level report) detected in the sample. You are correct that there is [additional filtering applied](https://tmt-integrator.nesvilab.org/) to the reports in the 'tmt-report' folder, so fewer peptides are shown than in peptide.tsv. You can still use the abundances reported di

[2021-12-03 02:23] sarah-haynes commented on #518
@tobiasko a Galaxy version of FragPipe is in the works, there should be some discussion at this event on Dec 15: https://docs.google.com/document/d/10lECIsd9tqC4IXWjqcINZDSduKn-1afoN9Q5r7IW8vg/edit

[2021-12-03 03:06] zyh4482 commented on #546
Thank you Sarah! It helps a lot.

May I ask another question?
It would be strange if abundance columns represent the amount of the peptides in those four samples because the predicted peptide should not exist in a normal sample. I can clearly get a positive score of abundance in 114(Normal1) and 116(Normal2) channels. Not to mention that it seems impossible to distinguish which tumor sample have a

[2021-12-03 03:39] fcyu commented on #538
Hi @KlemensFroehlich ,

Here (https://www.dropbox.com/s/7eyqokrvv7xlgky/FragPipe-17.2-build1.zip?dl=0) is the pre-release version with the `Min prob` parameter (0.5 by default) to reduce the file size of the interact-*.pep.xml files. It should be able to largely mitigate Philosopher's out-of-memory problem.

![image](https://user-images.githubusercontent.com/6926299/144541244-31d36636-8ee2-474b-82

[2021-12-03 08:16] kabalak commented on #545
I can just second to that problem; my semi-specific N-terminal searches seem to work fine if I have less files, but if I have a lot of files, I get the same index error issue. I will try with PeptideProphet, whether this might solve this problem.

[log_2021-12-03_05-47-19.txt](https://github.com/Nesvilab/FragPipe/files/7647794/log_2021-12-03_05-47-19.txt)

[2021-12-03 11:55] anesvi commented on #547
I think maybe we want to change the scale of our score in the future as it is indeed a bit misleading to have a negative score and may scare people, when the Q-value is actually the most relevant metric.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Daniel Polasky ***@***.***>
Sent: Thursday, December 2, 2021 6:32:00 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Su

[2021-12-03 12:39] andyzim111 opened #550 "Big difference of precursor identification with MBR or without MBR."
- Describe the issue or question:
I used FragPipe (17.1) to analyze 18 phospho-ddaPASEF files with MBR or without MBR to generate a spectral library.
In MBR search, I assigned all runs to the same experiment.
With MBR, psm.tsv contains 544618 PSMs, ion.tsv contains 50963 ions, peptide.tsv contains 35627 sequences, and protein.tsv contains 5029 proteins.
Without MBR, psm.tsv contains 544618 PSMs, i

[2021-12-03 13:59] sarah-haynes commented on #546
You may want to double check the sample-iTRAQ channel annotations (especially if you are seeing trends inverse to what you expect), but we can't help much in interpreting the meaning of the results since you know the experiment best.

[2021-12-03 14:35] peterfaull opened #551 "Open search - error and assistance request"
- Describe the issue or question:
Morning guys, hope all's well. We wish to run an Open search as have a colleague who is looking for a PTM called "Co-Alation" which is approx. 785 Da addition to cysteines. We ran the open search and adjust the MSFragger > Peak Matching > Precursor mass tolerance upper window to 800. All seems to have gone well for most of the search but then it stopped (log file

[2021-12-03 14:59] fcyu commented on #545
Thanks Fatih for your information. Yes, you were having the same issue. Please let us know if using PeptideProphet can resolve this problem.

Best,

Fengchao

[2021-12-03 15:01] fcyu commented on #551
The error was from PTM-Shepherd. Danny @danielgeiszler, can you take a look when you have time?

Thanks,

Fengchao

[2021-12-03 15:14] danielgeiszler commented on #551
This is fixed in the latest release. Please upgrade to FragPipe 17.1. You should be able to run PTM-Shepherd without rerunning everything else by unchecking all the other tools.

[2021-12-03 15:17] peterfaull commented on #551
Thank you!

[2021-12-03 15:21] fcyu commented on #550
OK, there are something that need to be clarified. Let me try to explain it as clear as I can. Please feel free to ask if you have further questions.

First of all, your "without MBR" is not only without MBR. You disabled the whole IonQuant in the `Quant (MS1)` tab. Thus, the difference is with and without IonQuant. Without IonQuant, your tsv files are from MS/MS identification (generated by Philo

[2021-12-03 15:53] anesvi commented on #550
We should make a more extended tutorial on lfq workflows …

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fengchao ***@***.***>
Sent: Friday, December 3, 2021 6:22:07 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [Nesvilab/FragPipe] Big difference of precursor identification with MBR or without MBR. (Issue #550)

External Email -

[2021-12-03 16:20] andyzim111 commented on #550
Ok. Only if I enabled ionquant, I can get the correct number of identified precursors.  This issue is not serious for non-phos data, but has a big effect on phos data as it contain a large number of the same sequences with different PTMs.
Another question is whether library.tsv generated by easypQp contained the same number of ions with ionquant or without ionquant ?

[2021-12-03 16:23] fcyu commented on #550
The library does not collapse the same sequence with different modifications. This issue only exists in the `ion.tsv` without IonQuant.

But it is filtered with 1% peptide and protein FDR, which is more stringent than the ion.tsv (it is filtered with 1% PSM and protein FDR). Thus, you are supposed to see slightly fewer ions in the library.

Best,

Fengchao

[2021-12-03 16:42] KlemensFroehlich commented on #538
Hi Fengchao,

I just got ready to shuffle around some data on my SSD to free up 500GB for virtual memory :)

I downloaded the 17.2 version and I am rerunning the analysis over the weekend now with the same settings as before except for Percolator with Min Probability 0.5.

Thank you very much for sharing and have a great weekend!

Best, Klemens

[2021-12-03 17:53] jiyoungyoun opened #552 "DIA_DIA-Umpire_SpecLib_Quant Spec library output incompatible with DIA-NN"
Hi Nesvilab,

I have a format issue with spectra library output generated from DIA_DIA-Umpire_SpecLib_Quant workflow.
I would like to use this spectra library generated from DIA (via DIA-umpire) and DDA data acquired for the sample sample. This will be used as spectra library for DIA-NN analysis of the DIA file.

Input files are DIA raw file, corresponding DIA mzML file and DDA raw file of the sam

[2021-12-03 18:05] fcyu commented on #552
Hi Ji-Young,

It is not about the library incompatible with DIA-NN because the analysis crashed at a very early stage. Before generating the library.

There are several mistakes in your settings:
1. Please select `PEPXML_PIN` here
![image](https://user-images.githubusercontent.com/6926299/144650695-89f59247-0473-40c1-b9e0-5a525a801dc4.png)
2. Please remove your `K562_DIAtest_FixedWin_Olsen_2021092

[2021-12-03 18:32] MiguelCos opened #553 "Number of TMT-integrator-summarized peptides is only 10% of identifications from proteogenomics database"
Dear FragPipe team,

I am working with a phenotype-specific proteogenomic database created using a customized Galaxy pipeline for fetching SRA RNAseq data, genome mapping, variant calling, and database creation with CustomProDB.

I modified the headers of the custom DB for it to be consistent with the format required by Philosopher (as described in: https://github.com/Nesvilab/philosopher/wiki/How

[2021-12-03 18:42] prvst commented on #553
@MiguelCos Even before digging into the issue, why would you want to use the SRA for the search, and what kind of precautions you are taking to avoid the redundancy?

I did a brief look at your database and I found this:
[code]
The way how the prophets parse the protein headers is by splitting the entire header at the first empty space, and using the first part as ID they call shortheader. The exa

[2021-12-03 18:59] prvst commented on #545
Are the results from the shared folder from MSBooster? I was able to go through the filtering part, I just couldn't finish because my 32GB RAM machine does not have the necessary amount of RAM to process everything.
[code]

[2021-12-03 19:43] jiyoungyoun commented on #552
Thank you very much, Fengchao. I'll try this.

[2021-12-03 19:43] #552 closed

[2021-12-03 19:46] PatrickvanZalm commented on #545
Thanks for pointing it out. I just tried and for me it also worked. I must have mixed up some folders.

Let me re-create the issue. Ill try to re-upload it and let you know.

Excuse me for the confusion.

[2021-12-03 20:49] DRock420 commented on #549
Thanks again Fengchao

I have made a library successfully and now want to test some files against it. Is there a workflow that I can start from for this or do I just start from the default? Specifically, I am wondering what validation settings would be normally used in DIA and specifically PTM based DIA

Thanks

Derek

From: Fengchao ***@***.***>
Sent: December-02-21 11:49 AM
To: Nesvilab/FragPipe

[2021-12-03 21:00] fcyu commented on #549
Hi Derek,

The `DIA_SpecLib_Quant` workflow is the one you can use (I think you are already using it). It uses MSFragger-DIA to search the data, generates a spectral library, and performs the quantification. Alternatively, you can use `DIA_DIA-Umpire_SpecLib_Quant` workflow, which does a similar job but uses DIA-Umpire to generate pseudo-MS/MS, and then uses MSFragger to search it.

If the validat

[2021-12-03 21:03] prvst commented on #537
@fazeliniah your issue is somewhat related to a different situation reported a few weeks ago by a different person. Because someone was searching a database containing the same protein with slightly different headers, I had to include the protein description to the method that fetches information from the database annotation. The reason you see a problem with your search is because PeptideProphet

[2021-12-03 21:03] fcyu commented on #549
Oh, if you want to test some other DIA files with an existing library, you can load your DIA files, disable all steps except for the `Quant (DIA)`, and load your library.tsv in that tab.

Best,

Fengchao

[2021-12-03 21:11] fcyu commented on #537
Hi Felipe @prvst ,

The `interact-*.pep.xml` won't have such replacement. Will your changes break the Percolator related workflows?

BTW, what kind of characters does PeptideProphet replaced?

Best,

Fengchao

[2021-12-03 21:15] DRock420 commented on #549
Thanks Fenchao!

Derek

From: Fengchao ***@***.***>
Sent: December-03-21 1:01 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Derek Smith ***@***.***>; Author ***@***.***>
Subject: Re: [Nesvilab/FragPipe] FAiled to execute dia-nn-plotter (Issue #549)

Hi Derek,

The DIA_SpecLib_Quant workflow is the one you can use (I think you are already using it). It uses MSFragger-DIA to search the data, generates a

[2021-12-03 21:33] prvst commented on #537
Sorry, I forgot about Percolator. If the parsing rules are different, then yes, it will brake the logic. PeptideProphet replaces the pipe character ( | ) by an empty space. This is the only one I'm aware of at this moment, I don't know if the same thing happens with other special characters

[2021-12-03 21:39] fcyu commented on #537
Thanks for the info. I think we can do the same for Percolator. Let me see if I can find the code in PeptideProphet to get all of the characters to be replaced.

Best,

Fengchao

[2021-12-03 22:07] DRock420 commented on #549
Sorry Fengchao but I have more problems.

Trying to search 3 DIA samples using the library that I created earlier. It looks like a percolator error but on file #3. Each sample file is a replicate injection and should be nearly identical.

Any ideas?

Thanks

Derek

From: Fengchao ***@***.***>
Sent: December-03-21 1:04 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Derek Smith ***@***.***>; Author ***@*

[2021-12-03 22:41] MiguelCos commented on #553
Hello @prvst , thanks for your observations.

We are using SRA sequencing data from a specific cancer tissue  (glioblastoma) to generate a tissue-specific proteogenomic database including SAAVs and indels to explore the identification of variants and potential phenotype-specific variants mutations from our MS proteomics data. Would you use a different approach than using SRA RNAseq data for this?

[2021-12-03 22:57] fcyu commented on #549
Hi Derek,

The log file was truncated by GitHub. Can you send it to yufe@umich.edu?

Regarding the analysis, I think I need to clarify something.

If you have DIA runs (plus DDA and/or GPF-DIA runs) but no spectral library, you can use the `DIA_SpecLib_Quant` workflow to search the data, build a spectral library, and perform DIA quantification using the spectral library.

If you have a library tha

[2021-12-04 16:16] zyh4482 commented on #546
Thank you!

[2021-12-04 16:16] #546 closed

[2021-12-06 02:42] Irkcy commented on #544
Hello @fcyu  , Thanks for your prompt reply. I used the DIA_DIA-Umpire_SpecLib_Quant workfolw as you suggested. And I also installed EasyPQP and converted raw files to mzML as Github followed. There seemed to be some error with the PhilosopherDbAnnotate. The following error occured: panic: runtime error: index out of range [1] with length 0.

[log_2021-12-03_17-55-50.txt](https://github.com/Nesvil

[2021-12-06 02:44] fcyu commented on #544
The error was from Philosopher. Felipe @prvst , can you take a look? It was from database annotation command:
[code]

Best,

Fengchao

[2021-12-06 12:21] Dmorgen opened #554 "plexDIA"
Hi,

is plexDIA option incorporated in DIA-NN? if not, are you planning to?

Thanks!
David.

[2021-12-06 14:29] fcyu commented on #554
Hi David,

If I understand it correctly, FragPipe already can build a spectral library for plexDIA data using DIA and/or DDA runs. You just need to add mTRAQ as variable modifications in the MSFragger tab. As to quantification, we will include it in FragPipe as soon as DIA-NN release the version supporting plexDIA.

Best,

Fengchao

[2021-12-06 14:31] Dmorgen commented on #554
Thanks!
David.

From: Fengchao ***@***.***>
Sent: Monday, December 6, 2021 4:29 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: David Morgenstern ***@***.***>; Author ***@***.***>
Subject: Re: [Nesvilab/FragPipe] plexDIA (Issue #554)

Hi David,

If I understand it correctly, FragPipe already can build a spectral library for plexDIA data using DIA and/or DDA runs. You just need to add mTRAQ as variable m

[2021-12-06 15:21] prvst commented on #553
I'm asking to be certain you are aware of the complexity in analyzing and interpreting mass database search results when you include sequences that are either repeated, identical or subsumed. I still see repeated headers in the ProteinProphet output, my guess is that one of the prophets are parsing your proteins in different ways, since you have several patterns in your headers, see the case below

[2021-12-06 15:24] prvst commented on #544
Can you share your database with me?

[2021-12-06 16:18] prvst commented on #553
Meta proteomics, and variant searches, are probably the most challenging projects you can work on using standard DDA shotgun proteomics. It's imperative to know how to deal with the sequence similarity, and possible homology.

I've seen people using this approach you mentioned before; you can create a map between the real headers, and a sequential unique ID made by you. You search against the cust

[2021-12-06 17:24] jiyoungyoun commented on #552
Hi again,

I have used the default setting that appears on the DIA_DIA-Umpire_SpecLib_Quant_Default to use DIA file and DDA file to generate a spectral library and run DIA-NN. (I ensured that the advanced output option is PEPXML_PIN as well)

I see FP stopped early and cancelled the job, but cannot see the source of the issue. Would you be able to take a look at the log file?

Thanks,
Ji-Youn
[log

[2021-12-06 17:33] fcyu commented on #552
Can you put FragPipe to a folder where there is no space in the path? Also, please do not put FragPipe in the folder that has access restrictions, such as `C:\Program Files\`.

Best,

Fengchao

[2021-12-07 02:17] Irkcy commented on #544
Hello @prvst , sure.

[fasta.zip](https://github.com/Nesvilab/FragPipe/files/7664966/fasta.zip)

[2021-12-07 02:51] Irkcy commented on #544
Hello @fcyu ,thanks for pointing it out. I tried as you suggested and it worked.  But when I tried "part B" with three pseudo-MS/MS mzML files generated by “part A” as Github followed, there was an error in extracting isolation windows: Cannot get isolation window info from scan FLI_180509_JMK_Brain_DIA_40seg_Biog_S2-2_Q1.1.1.0.

[log_2021-12-07_10-04-22.txt](https://github.com/Nesvilab/FragPipe/f

[2021-12-07 02:55] fcyu commented on #544
Hi Irkcy,

If you load `*_Q1.mzML`,  `*_Q2.mzML`, and  `*_Q3.mzML` to FragPipe, you should label them as `DDA`, not `DIA`, because they are pseudo-MS/MS similar to DDA data.

Best,

Fengchao

[2021-12-07 06:27] Irkcy commented on #544
Hi @fcyu ,

Thanks for your prompt reply. I tried as you pointed it out and it worked successfully.
Excuse me for the confusion.

With kind regards,
Irkcy

[2021-12-07 09:36] Peer2011 opened #555 "Improved Post Processing with further Deep learning"
Dear Fengchao,

Could you briefly elaborate what it is all about the option Min Prob Spin which you added to the percolator Options in the dev trunk? Do you plan to implement further deep learning models for rescoring. For the sake of rescoring would it make sense to increase FDR in the intial MSFragger search if peptides are rescored with the MSBoost algorithm and Percolator afterwards. Do you th

[2021-12-07 12:56] stharan opened #556 "Failed to create spectral library from fractioned dataset"
- Describe the issue or question:
Spectral library creation with easypqp fails at RT alignment step.  I have tried using Percolator and Peptide Prophet input files and iRT and ciRT for the alignment options.

This is a fractioned dataset consisting of 15 pooled groups.

Thanks in advance for you help.

- Upload your log file
[Human_Trypsin_Semi.zip](https://github.com/Nesvilab/FragPipe/files/76683

[2021-12-07 14:10] prvst commented on #544
@Irkcy I suspect that your contaminants are not following the required format. You can use Philosopher to add the contaminants to your FASTA file, that way you can be sure they will be in the right format. The [wiki](https://github.com/Nesvilab/philosopher/wiki/Database) has a description on how to do that.

[2021-12-07 14:56] fcyu commented on #556
Hi Guo Ci @guoci ,

The error was from EasyPQP. Can you take a look?
[code]

Thanks,

Fengchao

[2021-12-07 15:03] fcyu commented on #555
Hi Peer,

Philosopher needs a lot of memory when there are a lot of data. Then, we filter out low probability PSMs, which is never used, to reduce the file size so that the memory issue can be mitigated. You can find the detailed discussion here: https://github.com/Nesvilab/FragPipe/issues/538

I cannot say much about it since, technically, MSBooster is still an unpublished work.

There is no FDR

[2021-12-07 16:59] KlemensFroehlich commented on #538
seems to have worked! Data looks really cool on first glance and I will analyse it in depth later this week.

[2021-12-07 17:00] fcyu commented on #538
Glad to hear that it works for you. I will close this issue. Please feel free to contact us if you have any further questions.

Best,

Fengchao

[2021-12-07 17:02] fcyu commented on #549
Contacted by email.

[2021-12-07 17:02] #549 closed

[2021-12-07 17:03] fcyu commented on #512
Fixed in https://github.com/Nesvilab/DIA-Umpire/commit/b1674a62e7b9f05de8e51e75a5f1b60c4c9984c8

[2021-12-07 17:03] #512 closed

[2021-12-07 17:06] #538 closed

[2021-12-07 17:06] #550 closed

[2021-12-07 17:53] peterfaull opened #557 "Open search issue"
- Describe the issue or question:
Good morning. We are trying to run an open search to look for a +765 (a PTM called "co-alation") but the searches are not completing. The log file is attached. Any assistance would be most appreciated. Best, Peter.

- Upload your log file
(If a log file hasn't been generated, go to the 'Run' tab in FragPipe, click 'Export Log', zip the resulting "log_[date_time].t

[2021-12-07 18:44] guoci commented on #556
Can you set `RT lowess fraction` to a non-zero value e.g. `0.05` and try again?
![image](https://user-images.githubusercontent.com/1260178/129079122-1de894ca-6df3-412c-a22d-8ee7cc2ff99f.png)

[2021-12-07 18:56] dpolasky commented on #557
Hi @peterfaull,
It looks like your data are low resolution MS2 - is that right? It looks like PTM-Shepherd is having an issue because there are no results passing FDR in two of the input files (NG_2a and NG_5a). We don't recommend low-res MS2 for open searches in general due to the difficulty of distinguishing the correct peptide, which might be why there are no results passing FDR. It may also be

[2021-12-07 19:01] peterfaull commented on #557
Excellent - thanks Dan.

[2021-12-07 19:52] stharan commented on #556
Thank you, that worked.  Is there a recommended value for fractioned data vs samples that are more technical replicates?

[2021-12-07 19:54] PatrickvanZalm commented on #545
I have just reuploaded a .zip to our Gsuite and invited the both of you.

Thank you,
Patrick

[2021-12-07 20:18] fcyu commented on #556
For the fractionated data, `automatic selection of a run as reference RT` might not work if there are too few overlapped peptides. For this case, you can choose `ciRT` if your data is from human sample, user's iRT file, or put an unfractionated run to be used as a reference.

You don't need to worry about the `RT lowess fraction` too much because the program will adjust it according to the data au

[2021-12-07 21:48] guoci commented on #556
Currently setting `RT lowess fraction` to `0` will trigger the bug, I have pushed a fix to `EasyPQP` and it should be available in a few days.
For now, you can leave it at `0.05` and look at the RT alignment plots generated, if there is an underfit decrease it.

[2021-12-08 08:31] #547 closed

[2021-12-08 14:27] MiguelCos commented on #553
Hello Felipe @prvst and all,

I tested annotating the headers with the simple approach `>Name Description` and now TMT integrator generates empty reports.

I avoided using special characters and I only appended decoys but no contaminants to have consistent headers.

I am assuming, due to this observation, that the TMT integrator parser is not able to use these kinds of headers to perform the summa

[2021-12-08 14:33] prvst commented on #553
@chuiyin, Would you be able to take a look?

[2021-12-08 15:29] prvst commented on #545
I tested again with your new files, and the program is telling me that you don't have enough proteins with a good score:
[code]

I set the protein FDR to 100% to see how far it goes, and this is the output:
[code]

It appears that your protein scores are low, but I'm not sure what is the cause. @guoci @yangkl, Could you take a look at his data set and see if you spot anything wrong?

[2021-12-08 15:34] PatrickvanZalm commented on #545
Hi Felipe,

Thanks a ton for looking into this. That is indeed strange... It is the exact same files as the (wrong) files I did upload initially.

Ive also ran it with percolator, but without MSbooster. See screenshot below. There, the output seems fine to me. Could the issue be due to MSBooster?

![image](https://user-images.githubusercontent.com/56233030/145236428-fe010b14-d271-4d10-ada9-01ebcfd

[2021-12-08 15:48] fcyu commented on #545
Hi Patrick,

Can you send me your fasta fie?

Thanks,

Fengchao

[2021-12-08 15:49] prvst commented on #545
Yes, that's why I'm asking @yangkl96 to take a look for us.

[2021-12-08 16:01] PatrickvanZalm commented on #545
Ive uploaded it to Gdrive again and shared it with the both of you.

[2021-12-08 16:05] yangkl96 commented on #545
Hi Patrick,

I'll take a look now too and see if MSBooster is causing anything weird

[2021-12-08 17:03] fcyu commented on #545
Hi All,

I ran the filter command with `--prot 0.02` and it finished without any error:
[code]

Please note that there are only 56 decoy proteins with 2% protein FDR (and with MSBooster). According to Patrick's screenshot, 1% protein FDR without MSBooster has 30 decoy proteins. Then, I have a guess: maybe there is no decoy proteins with 1% protein FDR and with MSBooster. Felipe @prvst , is there a

[2021-12-08 17:41] prvst commented on #545
Try setting the thresholds to 100%, and allow decoys to be reported, the tables should have all IDs

[2021-12-08 18:19] yangkl96 commented on #545
Hi Patrick,

Could you share with me just one of your uncalibrated mgf files? JHU_AD_PLASMA_PERCA_PRO_DDA_81_S4-G5_1_11706 should be good

[2021-12-08 20:23] fcyu commented on #545
Hi Felipe @prvst , it does not seem right. The log says that `INFO[11:45:07] Converged to 2.06 % FDR with 2722 Proteins    decoy=56 threshold=0.9982 total=2778`, but there are only 7 decoys in the proteins.tsv:
![image](https://user-images.githubusercontent.com/6926299/145278731-ed187827-107a-414a-b7a0-19a560a40415.png)

Also, the `top peptide probability` is truncated to four decimal points, whic

[2021-12-08 20:28] fcyu commented on #545
Also, there are in total 2722 target proteins and 7 decoy proteins. Thus, the actual FDR is 0.26%, not 2%. I am using 2D filter, but I don't think it matters to the protein FDR filtering.

Best,

Fengchao

[2021-12-09 04:17] emhumphries opened #558 "EasyPQP spectral library threading issue"
I'm looking at phospho in SWATH data using the DIA_SpecLib_Quant workflow in Fragpipe v17.1 GUI. I used MSconvert to generate MZML files from Wiffs and from the logs it looks like I run into threading issues when building the spectral library. I have checked that I have the right MS data type selected and the latest version of EasyPQP0.1.25.

I've tried using python3.8.3 [log_2021-12-09_08-13-08.t

[2021-12-09 08:49] MiguelCos commented on #553
Hello,

After carefully testing several approaches to modify the headers, I noticed that the problem of the small percentage of summarized peptides by TMT integrator wasn't the fault of bad header formatting. The prophets and TMT integrator don't have a problem with my first customized headers; although TMT integrator indeed wasn't able to parse the simple headers.

The problem is that I was setti

[2021-12-09 09:43] huiyinc commented on #553
Hi  Miguel

Regarding the empty TMT reports, the issue is caused by the customized
protein header in the fasta file.
I assume the header format is: >proteinID gene-name (e.g., >C000010 GRAPL),
is it?
If yes, I would suggest to change the format to >proteinID*|* GN=gene-name
(use '|' as the separator). @Felipe Leprevost ***@***.***>  Will
Philosopher identify the gene name using this format?
Thanks

[2021-12-09 10:50] anesvi commented on #553
Hi Huiyin
Is it because we require that there is a gene name? I see more people using TMT/integrator with databases that do not have it. We should add a way to generate protein and peptide reports even if no gene name (so only Gene table would be empty)
What do you think?
Thanks
Alexey

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: chuiyin ***@***.***>
Sent: Thu

[2021-12-09 10:53] MiguelCos commented on #553
Hi @huiyinc ,

many thanks for taking a look. I will be aware of the `GN=` requirement in the database headers for TMT integrator usage.

Best,
Miguel

[2021-12-09 12:08] huiyinc commented on #553
@ Alexey, sure. I can work on it.

@ Miguel, the current version of TMT-Integrator expects gene names, but it
retrieves the information from the psm tables, not from the fasta file (so
"GN=" is not a requirement usage in TMT-Integrator). It depends on how
Philosopher parses gene information from the fasta files and passes it to
the psm tables. ***@***.***, can you please help explain the parsing r

[2021-12-09 13:47] MiguelCos commented on #553
Many thanks for the explanation @huiyinc, for now, it is nice to know how it works so I can include the proper fasta header formatting into my workflow while having into account the potential problems of non-unique peptides.

[2021-12-09 13:59] prvst commented on #545
I think the remaining ones are being filtered out, I'll see if I can output the calculations in debug mode.

[2021-12-09 14:37] PatrickvanZalm commented on #545
Sure. What email can I link the file on Gdrive to?

[2021-12-09 14:39] fcyu commented on #545
What filters it out? I though FDR is the only filter.

[2021-12-09 14:41] fcyu commented on #558
Hi Guo Ci @guoci ,

Can you take a look? The errors were from EasyPQP:
[code]

Thanks,

Fengchao

[2021-12-09 15:08] prvst commented on #545
PSMs and proteins need to be in synch. Since they are filtered a part, we take “orphan” entries out if they don't have supporting evidence.

[2021-12-09 15:16] yangkl96 commented on #545
yangkl@umich.edu

[2021-12-09 17:37] guoci commented on #558
same issue as #556, waiting for my fix to be pushed.
For now you can try the following, on Anaconda Prompt type:
[code]

[2021-12-09 17:55] jmcalist opened #559 "Purity shows NA with raw files as input"
- Describe the issue or question:
Hello,
Thank you for offering wonderful software! We were doing a TMT run and it seems to have stopped with 1 remaining task, with a message of can't find the reference channel. I attached a screenshot with the reference channel labeled as pool in the annotation file, and the Ref sample tag indicated as pool. I am sure I am missing something, please let me know :)

[2021-12-09 20:46] prvst commented on #559
Hi Jason, did you run the isobaric quantification step?

[2021-12-09 20:56] jmcalist commented on #559
Hi Felipe,

Thank you so much for your reply! I believe I did, but it is my first time trying TMT with Fragpipe so I may have missed it, does it show up in the logfile?

Thanks again!

All the best,

Jason
________________________________
From: Felipe da Veiga Leprevost ***@***.***>
Sent: Thursday, December 9, 2021 3:46 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Jason Mcalister ***@***.***>; Author

[2021-12-09 20:58] prvst commented on #559
It looks like you went from the filter to TMT-Integrator. Why do you give it another shot, make sure you have the TMT quantification checked.

[2021-12-09 21:05] sarah-haynes commented on #559
Hi Jason, we always recommend loading one of the provided workflows (probably `TMT16` in this case), then **only** modifying settings as needed.

[2021-12-09 21:26] jmcalist commented on #559
Thank you both so much! I believed I used the provided workflow for TMT-16, I did not intend to change other settings, any changes would have been unintentional

In the attached screenshots, are these settings correct:

  *   Run TMT integrator is checked
  *   Should Run MS1 Quant be checked?

Felipe, I did not find where to check TMT quantification, if you could send a screenshot I would really

[2021-12-09 21:42] jmcalist commented on #559
Hi Sarah,

Thank you so much, I will work on setting this up again tomorrow and let you know

Thanks so much for your assistance and patience 🙂

All the best,

Jason
________________________________
From: Sarah Haynes ***@***.***>
Sent: Thursday, December 9, 2021 4:38 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Jason Mcalister ***@***.***>; Author ***@***.***>
Subject: Re: [Nesvilab/FragPipe] TMT Re

[2021-12-10 19:04] PatrickvanZalm commented on #545
I did just share the uncalibrated mgf with the three of you.

[2021-12-11 00:10] yangkl96 commented on #545
Hi Patrick,

I tested out MSBooster+Percolator on just that one file and the run finished successfully. Do you happen to have the ID numbers before the protein inference step in your log files (before the crash)? I'd like to confirm that you're seeing more PSMs/peptides before the protein inference step with MSBooster than without it.

Would you also mind running MSBooster with just the spectra fe

[2021-12-13 15:51] piroman999 commented on #542
Hi, have you recieved files?

[2021-12-14 15:18] jmcalist commented on #559
Hi Sarah,

Thank you so much for your assistance, I ran the TMT tutorial with the provided files and it worked great, reached Done in 14 minutes. When I ran it with my files it stops at the TMT Integrator (see attached log file).

I see that the tmt-report file is empty, so I attached the annotation files here as well for each plex to make sure that they are setup properly. These two annotation fi

[2021-12-14 16:35] sarah-haynes commented on #559
Hi Jason, can you try adding the attachments again? You could also upload the entire experiment/directory here and I'll try to run it: https://www.dropbox.com/request/8sHqgrr4ArC2oh2SuL6G

[2021-12-14 16:54] jmcalist commented on #559
Thanks Sarah, here are the attachments, I had sent the last message through our University email (Outlook) and so the attachments may not have made it to you, hopefully these work

I will also upload the files, thank you so much for the offer to run it, very kind!

[log_2021-12-13_11-34-55.txt](https://github.com/Nesvilab/FragPipe/files/7713350/log_2021-12-13_11-34-55.txt)
[annotation.txt](https:/

[2021-12-14 19:33] danielgeiszler commented on #542
Hi,

I’m downloading them today. Not sure when we’ll have the chance to look at them.

[2021-12-14 23:33] bmoa opened #560 "Fragpipe and HPC batch system"
First, thank you all for making fragpipe available to the community.
Since we rely on batch systems on our HPC clusters, it is hard for our users
to every time run fragpipe interactively by running interactive jobs.
Since this not optimal, I was wondering whether there is a way for a user to setup the pipeline in fragpipe
and generate a batch script (say in bash) that contains all the command that

[2021-12-14 23:35] fcyu commented on #560
Thanks for your interested in our tools. We are working on a headless version of FragPipe, which can be run in command line environment. It should be ready soon. Stay tuned!

Best,

Fengchao

[2021-12-14 23:37] #531 closed

[2021-12-14 23:40] #516 closed

[2021-12-14 23:41] #556 closed

[2021-12-14 23:41] #558 closed

[2021-12-14 23:42] #557 closed

[2021-12-14 23:42] #555 closed

[2021-12-14 23:44] #300 closed

[2021-12-15 10:12] GianArauz opened #561 "`Could not read Thermo RAW file. The Thermo .dll likely was not loaded or out of date.`"
### Context
I'm trying to use the predefined `DIA_SpecLib_Quant` in FP v17.1 (MSFragger v3.4, philosopher 4.1.1, Python v3.8.8, EasyPQP v0.1.25) with a DIA run in `raw` format.

### Problem
I get the following error when FP reaches the DIA-NN execution (please check attached `log_raw.txt` within `logs.zip`):

[code]

### What I tried?
1. I also launched the search converting from `raw` to `mzML` (

[2021-12-15 14:29] anesvi commented on #561
You need to use mzML files if running DIA-NN through FragPipe. DIA-NN requires some additional library installation to process raw files.
Alexey

From: Gian Arauz ***@***.***>
Sent: Wednesday, December 15, 2021 5:13 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [Nesvilab/FragPipe] `Could not read Thermo RAW file. The Thermo .dll likely was not loaded or out of date.` (

[2021-12-15 15:04] sarah-haynes commented on #561
Here is the relevant section of DIA-NN's documentation: https://github.com/vdemichev/DiaNN#raw-data-formats

[2021-12-15 15:55] PatrickvanZalm commented on #545
Hi Kevin,

Im not really sure what number you are looking for. Ive attached two logs; one with MSbooster that did crash. One without MSbooster.
[log_MSbooster_withCrash.txt](https://github.com/Nesvilab/FragPipe/files/7720855/log_MSbooster_withCrash.txt)
[log_noMSbooster.txt](https://github.com/Nesvilab/FragPipe/files/7720856/log_noMSbooster.txt)

I will run MSbooster but without either of the two

[2021-12-15 16:27] GianArauz commented on #561
### Close
Dear @anesvi and @sarah-haynes,

After installing Thermo MS File Reader, FP and DIA-NN were able to finish the search without any issue.

Many thanks for your lightning support!

[2021-12-15 16:27] #561 closed

[2021-12-15 16:50] bmoa commented on #560
Thank you very much Fengchao! We cannot wait to have the headless version of FragPipe on our clusters.
Cheers...

[2021-12-15 16:58] anesvi commented on #561
Sarah, Fengchao can we add this to the DIA tutorial

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Gian Arauz ***@***.***>
Sent: Wednesday, December 15, 2021 11:27:52 AM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Mention ***@***.***>
Subject: Re: [Nesvilab/FragPipe] `Could not read Thermo RAW file. The Thermo .dll likely was not loa

[2021-12-15 18:49] guoci commented on #512
tested, also should work on Java>=16

[2021-12-16 11:01] tobiasko commented on #560
@fcyu Is there something that interested people should "subscribe" to in order to stay tuned?

[2021-12-16 11:23] tobiasko commented on #518
UHHHH! I totally missed this post @sarah-haynes Was the session recorded?

[2021-12-16 14:32] fcyu commented on #560
Hi @tobiasko ,

Just need to subscribe this FragPipe repository. I will send out a beta version as soon as it is ready.

Stay tuned,

Fengchao

[2021-12-16 14:34] fcyu commented on #518
Hi @tobiasko ,

It is recorded, although I don't know where to find the link. The talk is mostly about the stuff we already have. There is just one slide about the screen record of FragPipe running in the command line.

Best,

Fengchao

[2021-12-16 15:36] fcyu commented on #537
Hi Felipe @prvst ,

I don't think it is about PeptideProphet because I am having the same issue with Percolator and Philosopher 4.1.1. That is the isoDTB-ABPP data with custom fasta file that we used many times. I put all files to `Z:\yufe\for_Felipe\github_fragpipe_537`.

Thanks,

Fengchao

[2021-12-16 15:50] fcyu commented on #537
OK, sorry for the false alarm. I am using fasta A in the searching but fasta B in the Philosopher filtering. Fasta A and B have totally different protein formats. That is the cause of my empty files.

It is interesting to see that Philosopher did not give any warnings or errors when the protein entries in the PSMs and the fasta file do not match. I think it would be better to print something when

[2021-12-16 16:03] fcyu opened #562 "Let Philosopher print errors when there are protein hits from PSMs that cannot be found in the fasta file."
This is a bug/feature I found by accident (https://github.com/Nesvilab/FragPipe/issues/537#issuecomment-995943414). Basically, when you search the data with FASTA file A, and run Philosopher to filter the result using FASTA file B, Philosopher won't print any warnings or errors although the protein entries are totally unmatched. The outcome is empty tsv files.

I think printing necessary error mes

[2021-12-16 16:33] prvst commented on #562
We're aware of that, it's happening on purpose. Back a few years a go, we used to restrict the database to be the same as the one in the XML file headers. We changed that allowing any files because some people were running updated or modified versions of their database, without the need to run the entire pipeline again, and asked to let the program allow it, so we changed. We have to check with Al

[2021-12-16 19:43] KathrinVV opened #563 "Easy PQP fails"
Hi,
I want to create a spectral library from DDA .d files and fragPipe v16. I have used my workflow successfully before but this time it fails at the last step. PSM, peptide and protein results were generated but the library wasn't.
(pandas and numpy are up to date)

Here's the log:

[Error_EasyPQP.txt](https://github.com/Nesvilab/FragPipe/files/7729998/Error_EasyPQP.txt)

Thanks for any help!

[2021-12-16 21:02] guoci commented on #563
@KathrinVV can you post the file `G:\Kathrin\MSFragger_Results\TEKO_allSamples_Library\interact-20211201_KW_APOE4_cohort2_Lys_DDA_A2_Slot1-23_1_6235.pep.xml`?

[2021-12-16 21:17] KathrinVV commented on #563
I shared the file via google drive with you. I used the email of your github account for that. Let me know if it worked.

[2021-12-16 21:44] guoci commented on #563
In the `.pep.xml` file, you have a protein `sp|1N4R`. That is causing the error.
Can you post the fasta too?

[2021-12-16 21:47] KathrinVV commented on #563
I shared the. fasta with you

[2021-12-16 21:52] KathrinVV commented on #563
Sorry I shared the wrong .fasta

06102019_uni_mouse_rev_can_iso_NOmouseTAU_human1N4Ronly_for PS19 is the correct one. I shared it with you as well

[2021-12-16 21:54] guoci commented on #563
The header is invalid, after the 1st and before the 2nd `|` there should be no spaces.
`>sp|1N4R (P301S)| (P10636-7_412aa) TAU_HUMAN Isoform Tau-E of Microtubule-associated protein tau OS=Homo sapiens OX=9606 GN=MAPT`

[2021-12-16 22:01] KathrinVV commented on #563
I renamed it to:

and restarted the search. I'll let you know if it went through.

[2021-12-17 14:39] sarah-haynes commented on #559
Hi Jason, I can indeed reproduce the issue, we are looking into it. Thanks for your patience!

--Sarah

[2021-12-17 17:03] PatrickvanZalm commented on #545
Hi,

Ive tried with either one of the two features on.
Having only predict Spectra on runs fine.
Having only predict RT on creates errors.

Hope this helps.
Best,
Patrick

[2021-12-17 17:20] KathrinVV commented on #563
The search ran through. Thank you for your help :)

[2021-12-17 17:22] #563 closed

[2021-12-17 19:13] yangkl96 commented on #545
This was really helpful, Patrick. I am looking at some of the RT plots in the RTplots folder you shared and notice some horizontal streaking, where PSMs of the same peptide are eluting much later than the predicted RT.
![InkedJHU_AD_PLASMA_PERCA_PRO_DDA_81_S4-G5_1_11706_LI](https://user-images.githubusercontent.com/31668253/146595825-45b1f2d7-2076-467e-8403-f3ddaf2c9e1a.jpg)

 @kabalak , do your R

[2021-12-17 20:08] fcyu commented on #545
OK, I thought I will never read the Philosopher source code, but I was wrong. I just cannot help to figuring out why adding one more score will crash the FDR filtering: the filtering is suppose to take whatever input, sort them, and then calculate the decoy / target ratios. If the score is bad, the filtering command just give few proteins, but it should not crash.

Then, I start to read `ProtXMLFi

[2021-12-17 20:19] prvst commented on #545
We know where the break happens because it has occurred before in rare occasions. We've seen a few rare cases like this since the first implementation, and they're usually related to very sparse data sets, or data with poor scoring. As you correctly pointed out, the reason is something else, and it might be related to the scoring.

[2021-12-17 20:23] fcyu commented on #545
So, am I correct or incorrect? If I am correct, the reason is **not** something else, but the bug I pointed out. If I am not correct, then, could you please debug the `ProtXMLFilter` function to see which line throws the error message? I think you are the one who knows the best about how to compile and debug your program. It would take me a long time to figure out how to debug since I have never u

[2021-12-17 20:30] prvst commented on #545
I'm talking about the reason of the crash. If the filter cannot reach 1% FDR with the boost, but it can without, using the same data, then I think we need to understand what is changing in the groups, and with the scores. Regarding the function, any improvements are welcome, you can open a PR or a ticket, and I'llwork on it.

[2021-12-17 20:45] fcyu commented on #545
If "cannot reach 1% FDR" means there is no protein after filtering, it should not crash Philosopher. Philosopher should report 0 proteins if there is no protein passing 1% FDR. I also cannot understand why changing the score is the reason of the crash. We change parameters all the time and we did not see crashes all the time.

I am sorry that although I know those two lines have bugs, I don't know

[2021-12-17 20:52] prvst commented on #545
I'll add a handle to the loop, that should prevent the crash, but it will return a 0, and we'll probably want to have to halt the filter.

[2021-12-17 20:56] fcyu commented on #545
Thank you very much!

Can you also add a warning message? I think "add a handle" and printing a message are just for debugging the problem, **not** the final solution. We need to come up some logic to fix it after locating the exact reason.

@yangkl96 , after Felipe send you the Philosopher with the debug info, can you run the dataset again to see if the crashing is gone?

Thanks,

Fengchao

[2021-12-17 21:02] prvst commented on #545
Meanwhile, @yangkl96 we should look at both the data files as well.

[2021-12-20 19:26] flore37 opened #564 "Issue with PeptideProphet error code:1"
Hi All,
I'm running 6 files in Fragpipe v16.0 with philosopher v4.0.0,
I convert them in mzML in centroid, peak peaking as suggest and I get this  error

WARNING: no data - output file will be empty
FATA[12:02:57] Cannot execute program. there was an error with ProteinProphet, please check your parameters and input files
Process 'ProteinProphet' finished, exit code: 1
Process returned non-zero exi

[2021-12-20 19:30] fcyu commented on #564
Same reason as https://github.com/Nesvilab/FragPipe/issues/539 . Can you tell us why did you change ` --minprob` to 0.9 for ProteinProphet? If there is no good reason, you should not change the parameters.

Best,

Fengchao

[2021-12-20 19:32] dpolasky commented on #564
Hi @flore37,
Also it looks like something might be going wrong with your fasta file, since the program is looking for the tag "rev_rev_" to indicate a decoy instead of the usual "rev_". This means it found no decoys and couldn't perform the FDR calculation. Can you try loading (or downloading) your fasta again and making sure the message on the database tab after loading your fasta says that it de

[2021-12-20 19:32] monicakruk opened #565 "Only zero-values for intensities"
Hello Nesvilab!

We are very happy with your Fragpipe/MSFragger software! Great work, and thank you for your efforts. One thing we haven't been able to figure out is why we are not getting any values in the intensity columns of our protein, peptide, and ion .tsv outputs from Fragpipe even though the MS1 Quant/IonQuant option is selected. I've attached the log file in the case something stands out.

[2021-12-20 19:34] fcyu commented on #564
Also, something else is wrong with your search parameter:
[code]

I see that your mzml files have the name like `D:\Flore\testfragpipie\Depleted_Serum_pool_F4_SCX.mzML`, if you are searching DIA data, please label your data with the correct datatype.

And as Dan pointed, our, you "double appended" decoys: `2021-12-17-decoys-2021-12-17-decoys-contam-2021-12-17-decoys-COVIDuniprot-proteome_UP0000056

[2021-12-20 19:37] fcyu commented on #565
You didn't enable IonQuant.

If you want to perform label free quantification, please load the `LFQ-MBR` workflow, adjust fasta file, enzyme, and variable modifications. And DO NOT change other parameters unless you know what they are.

Best,

Fengchao

[2021-12-20 19:43] fcyu commented on #565
I am sorry that I didn't check carefully, you do enabled IonQuant, but also enabled `spectral library generation`, which crashes.

Furthermore, You also enabled `generate peptide-level summary` and `generate protein-level summary`. Please DO NOT do that because Philosopher needs lots of memory to generate these two files. With these two enabled, it would take lot of time and you will probability s

[2021-12-20 19:55] SimionKreimer opened #566 "0.00% FDR and 0 PSMs in Philosopher"
- Describe the issue or question:
I'm trying to create a GPF DIA library using 1 m/z isolation windows but for each attempt something weird happens in Philosopher where the IDs converge to 0.0% FDR and after this the pipeline fails at various stages without creating the library. I didn't have this issue with earlier versions of FragPipe.

- Upload your log file
(If a log file hasn't been generated

[2021-12-20 20:00] fcyu commented on #566
It seems that you were using PeptideProphet...

Can you load the `DIA_SpecLib_Quant` workflow, adjust the data type, fasta files, enzyme, variable modification, and try again?

Best,

Fengchao

[2021-12-20 20:03] fcyu commented on #566
Also, if your data is from staggered DIA, you need to demultiplexed it using msconverter:

![image](https://user-images.githubusercontent.com/6926299/146825736-bdab093f-1dbe-4eb8-a52b-dba78de0b05b.png)

Hi Sarah @sarah-haynes , can you add the conversion of staggered DIA to the tutorial? Thanks.

Best,

Fengchao

[2021-12-20 21:25] flore37 commented on #564
Thanks for your reply.
I want to use my  scx fractionation analyzed in DDA  to create my DIA library.
I load again my fasta file and just add once the decoy, so it should have no other issue on this side
about the parameter, I had no idea that I changed this parameter. Should it be 0.05?
I run again the software this time with the  good fasta file with  or without the PSM validation  and with diff

[2021-12-20 21:29] fcyu commented on #564
`--minprob` controls the PSMs being used in protein inference before FDR filtering. Theoretically, the FDR-filtered results should have no big difference with 0.05 and 0.9. But 0.9 is a little bit too stringent in case there are not many PSMs with probability > 0.9, so we set 0.7 in some workflows.

Best,

Fengchao

[2021-12-21 17:03] #564 closed

[2021-12-21 17:39] fcyu opened #567 "Spectral library generation part is using more threads that it is supposed to be"
The EasyPQP `convert` command seems to be multithreading: each command is using all CPU cores. But the `gen_con_spec_lib.py` script also execute multiple `convert` commands in parallel, which makes the total thread equals `#{CPU} *  n`, where `n` is the number of `convert` commands.

Best,

Fengchao

[2021-12-21 17:53] guoci commented on #567
This is a EasyPQP/pyOpenMS issue. EasyPQP uses pyOpenMS for parsing LCMS files, but you cannot control the number of threads used by the parser from pyOpenMS.

[2021-12-21 17:54] fcyu commented on #567
If the `convert` command always use all CPUs, the `gen_con_spec_lib.py` should not run multiple `convert` command in parallel.

[2021-12-21 17:58] guoci commented on #567
only the parsing is multithreaded, the rest of the code is single-threaded, so we might slow down the processing time by doing that

[2021-12-21 17:59] fcyu commented on #567
Then, please create an issue to EasyPQP or OpenMS to letting them add an option to set the number of threads. And then, set it to 1 in FragPipe.

[2021-12-21 18:35] guoci commented on #567
submitted an issue: grosenberger/easypqp#76

[2021-12-22 17:30] fcyu commented on #462
Hi all,

The first beta version of FragPipe headless is ready. Here (https://www.dropbox.com/sh/68iwzfmk1fmpxms/AAB49KjH_-7H_vIO_yMnjavOa?dl=0) is the link to download it. It is actually part of FragPipe. To trigger the headless mode, type `fragpipe.bat` in Windows or `fragpipe` in Linux followed by the options:

[code]

For the first time using it, we recommend loading the spectral files in FragP

[2021-12-22 17:30] fcyu commented on #518
Hi all,

The first beta version of FragPipe headless is ready. Here (https://www.dropbox.com/sh/68iwzfmk1fmpxms/AAB49KjH_-7H_vIO_yMnjavOa?dl=0) is the link to download it. It is actually part of FragPipe. To trigger the headless mode, type `fragpipe.bat` in Windows or `fragpipe` in Linux followed by the options:

[code]

For the first time using it, we recommend loading the spectral files in FragP

[2021-12-22 17:31] fcyu commented on #560
Hi all,

The first beta version of FragPipe headless is ready. Here (https://www.dropbox.com/sh/68iwzfmk1fmpxms/AAB49KjH_-7H_vIO_yMnjavOa?dl=0) is the link to download it. It is actually part of FragPipe. To trigger the headless mode, type `fragpipe.bat` in Windows or `fragpipe` in Linux followed by the options:

[code]

For the first time using it, we recommend loading the spectral files in FragP

[2021-12-22 17:32] #565 closed

[2021-12-22 17:44] bmoa commented on #560
This is amazing Fengchao. Very much appreciated! I downloaded the beta version and I will give it a try.
I will keep you posted as soon as I have chance to test it.
Cheers!
Belaid.

[2021-12-22 19:49] sarah-haynes commented on #559
Hi Jason, could you try [converting your files to mzML](https://fragpipe.nesvilab.org/docs/tutorial_convert.html) for the time being? We think there may be something with the .raw files that is causing an issue with the purity calculation, we will investigate further, but please let me know if that works for you in the mean time.

[2021-12-22 20:51] #438 closed

[2021-12-23 10:37] tobiasko commented on #518
Thanks for this cool Christmas present! Downloading!

Have a nice holiday season and a happy new year! 🥳

Tobi

[2021-12-23 16:21] #566 closed

[2021-12-23 18:59] jmcalist commented on #559
Hi Sarah,

Yes, I can certainly do that, thank you so much for all of your assistance! This team's prompt responses helping users with your software is a massive advantage of Fragpipe!

Thanks again to you all and have a happy and safe Holiday Season!

[2021-12-24 05:10] SimionKreimer commented on #566
Oh it was from staggard DIA, thank you for the hint!

On Thu, Dec 23, 2021, 8:22 AM Fengchao ***@***.***> wrote:

[2021-12-27 02:05] Irkcy commented on #544
Thanks for your prompt reply. I tried as you suggested and it worked

Best,
Irkcy

[2021-12-27 02:51] Irkcy opened #568 "Label-free quantification with FragPipe"
Hi Fragpipe,

I loaded the "LFQ-MBR" workflow. Then I added 48 .d DDA files. Alao I annotated them by editing the ‘Experiment’. On the ‘Database’ tab, I used Philosopher to add the contaminants and decoys to my FASTA file. On the ‘MSFragger’ tab, I setted "Fragment mass to tolerance" to "0.05Da",  and ‘Calibration and Optimization’ to ‘None’ in the ‘Peak Matching’ section. Other parameters was fol

[2021-12-27 02:55] fcyu commented on #568
Hi Irkcy,

It looks like something was wrong in reading the files.

Could you please tell me what those `?` are from your computer:
![image](https://user-images.githubusercontent.com/6926299/147429705-2e89b0d1-1119-48cf-8806-de7b9ce5580d.png)

I guess they are not English so my computer cannot display them.

Best,

Fengchao

[2021-12-27 03:12] Irkcy commented on #568
Hi @fcyu ,

Those "?" are nothing in my computer.
![1640574681(1)](https://user-images.githubusercontent.com/95337087/147430531-d14dfa4c-86f6-42f1-ae50-90c872398292.jpg)

Best,
Irkcy

[2021-12-27 03:14] fcyu commented on #568
Hi Irkcy,

Thanks for your prompt reply. I guess it is due to some errors in reading the `psm.tsv`. Can you re-run IonQuant? You can uncheck all tools except for IonQuant to save some time.

Best,

Fengchao

[2021-12-27 03:30] Irkcy commented on #568
Hi @fcyu

Thanks for your prompt reply.  I will re-run  IonQuant as you suggest.

With kind regards,
Irkcy

[2021-12-27 03:34] fcyu commented on #568
BTW, you can also check if there are other programs, such as antivirus, Dropbox, OneDrive, Google Drive, etc, locking or blocking the files when IonQuant is running.

Best,

Fengchao

[2021-12-28 09:38] Irkcy commented on #568
@fcyu ，thanks for pointing it out. It's a pity that there were no other programs when IonQuant was running. I tried as you suggested and it didn't work. It seems to be the same error as yesterday.

![1640684152(1)](https://user-images.githubusercontent.com/95337087/147552239-517cd401-cfb0-437f-b070-3aa69316a7eb.jpg)
[log_2021-12-28_16-31-39.txt](https://github.com/Nesvilab/FragPipe/files/7783976/l

[2021-12-28 14:00] fcyu commented on #568
Hi Irkcy,

This time, the `IOException` error was thrown from a different place:
[code]
vs the last time:
[code]

One is from writing the file, and the other is from reading the file. It looks like something was wrong with your file system. I am afraid you have to troubleshoot by yourself because I don't think I can reproduce it.

BTW, it looks like there is a message after `java.io.IOException` t

[2021-12-29 19:20] guoci commented on #568
@Irkcy you can try to `Change system locale` to `English (United States)` before running FragPipe to get the error message to display properly. https://www.isunshare.com/windows-10/change-system-locale-in-windows-10.html
If you have resolved this issue already, please let us know how you resolved it.

[2021-12-29 23:24] AlexHgO opened #569 "Philosopher filter step fatal error: out of memory"
Hi FragPipe Team,

As pointed out in my [Twitter thread](https://twitter.com/AlexHgO/status/1476273931094921221) that you kindly answered to, I am contacting you because the largest FragPipe analysis I am trying to run so far ran out of memory during the Philosopher filter step. The analysis consists of:
- FragPipe v17.1, everything up-to-date
- generation of a hybrid library consisting of a total

[2021-12-29 23:52] anesvi commented on #569
Fengchao: I think other things (like uncheck ‘protein level summary’ box) will not work for him. We need to pass him pre-release of FragPipe with min prob option in Percolator (set to 0.5 or even higher for that much data).

Alex: you would only need to rerun from Validation step, so it should be fast compared to the search step. And we do recommend Percolator with MSFragger-DIA (assuming this is

[2021-12-30 02:06] fcyu commented on #569
Right, need to use the pre-released version.

Hi @AlexHgO , can you try the version from https://www.dropbox.com/s/kewu5bscaqq6awv/FragPipe-17.2-build7.zip?dl=1 ? As Alexey suggested, you can disable all steps before `FDR Filter and Report` step to save some time.

Best,

Fengchao

[2021-12-30 02:42] anesvi commented on #569
I think he will need to rerun with Percolator and higher min probability like 0.7
Just retuning from filter will not make any difference?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Fengchao ***@***.***>
Sent: Wednesday, December 29, 2021 9:07:05 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Comment ***@***.***>
Subject: Re: [Nes

[2021-12-30 02:44] fcyu commented on #569
Oh, right. Need to rerun from Percolator.

Best,

Fengchao

[2021-12-30 02:49] fcyu commented on #569
Actually, need to re-run from MSBooster, otherwise, FragPipe won't give the edited pin files to Percolator.

Best,

Fengchao

[2021-12-30 03:35] AlexHgO commented on #569
Awesome, thank you both so much. I'll try it out and report back

[2021-12-30 17:22] weixiandeng opened #570 "There are high probability peptides being filtered out after protein assignment."
Hi Fengchao,

Wish you are having a great holiday!

So, I've been trying to import interact -.xml files generated from MSFragger-DIA + DDA(DIA_Speclib_Quant workflow) into Skyline and to generate a spectral library for peptide-centric search. I took the converged 1% ion level FDR threshold and put in the cut-off score box in Skyline. With this, I got a much larger number of peptides ~63K spectral

[2021-12-30 17:50] fcyu commented on #570
Hi Weixian,

How did you import DIA interact-*.pep.xml files to Skyline? As far as I know, Skyline does not support FragPipe's DIA interact files due to the `_rankX` suffix.

BTW, have you imported `protein.fas` to Skyline too?

Best,

Fengchao

[2021-12-30 18:00] weixiandeng commented on #570
I used Skyline-Daily, maybe that's why it allowed me to import? And about two weeks ago, I probably used PeptideProhpet result which is the combined.pep.xml and imported in the Skyline stable version, and I probably ran into the same problem, I cannot remember the detail, so I'm not certain about it.

I did import protein.fas, but since I was doing peptide level quantifications, I put --prot 1 in

[2021-12-30 18:09] fcyu commented on #570
I am using the latest Skyline-daily too. But still get the same error as the one from long time ago:
[code]

Using PeptideProphet's `combined.pep.xml` would result in fewer and also incorrect peptides because `pep.xml` file cannot list different charge states for different ranks from the same scan. We address this issue by printing different ranks to different pep.xml files.

Could you please use

[2021-12-30 18:19] weixiandeng commented on #570
[log_2021-12-29_12-43-36.txt](https://github.com/Nesvilab/FragPipe/files/7794109/log_2021-12-29_12-43-36.txt)

I did use Percolator for this Skyline-Daily case, and tried importing interact-.pep.xml files again, there's no problem for the importing, but the huge peptide number discrepancy persists.

[2021-12-30 22:00] fcyu commented on #570
OK, it looks like when using `raw` files in FragPipe, the DIA `interact-*.pep.xml` can be imported to Skyline because Skyline looks for `_uncalibrated.mgf` files. While using `mzML` files, there are errors from Skyline because there is no `_uncalibrated.mgf`. Skyline is supposed to uze the `mzML` files. I will submit a ticked to Skyline support forum.

I also reproduced this issue with two DIA run

[2021-12-31 03:49] fcyu commented on #570
After exchanging some conversation with Nick here (https://skyline.ms/announcements/home/support/thread.view?rowId=54110), most puzzles have been solved.

First of all, Skyline looks for `peptideprophet_summary` to decide if using probability as the threshold. Since that tag was missing in the `interact.pep.xml` file converted from the pin file, Skyline "rolls back" to use `expect`. After adding t

[2021-12-31 04:10] weixiandeng commented on #570
Thanks for sorting this out!

This is very helpful!

[2021-12-31 18:29] fcyu opened #571 "Purity column is missing with Philosopher 4.1.1 and raw file format"
This is an issue someone sent to me directly. With `raw` file format, TMT-I says `TMT-Integrator can't find the 'Purity' column. Please check if the column is in the psm tables.`. After converting the file to `mzML` format, everything works well. It looks like Philosopher did not print the `Purity` column due to some reason.

This ([log_2022-01-01_00-59-43.txt](https://github.com/Nesvilab/FragPipe

[2021-12-31 20:42] guoci commented on #451
@KR-15 Please see: https://github.com/Nesvilab/FragPipe/issues/518#issuecomment-999747968

[2021-12-31 20:45] fcyu commented on #451
@guoci , this one is a little bit different from the headless one. They want some automation for quality control. It's more like real time searching.

[2021-12-31 21:06] guoci commented on #451
That feature can be implemented on top of headless FragPipe. @KR-15, you can write a python script that checks for the existence of the QC files, then when the files are detected, write the manifest file and execute headless FragPipe with the manifest file.

[2022-01-02 06:49] bsarvin opened #572 "Two scan modes. Library generation."
For library generation, I am working with a long DDA Method, and the method starts with a short scanning segment for autocalibration.

When I am trying to generate a library, it returns me an error that “there are at least two scan modes” and terminates the entire process.

Is it any simple solution to specify which scan mode to use for library generation?

[code]

[2022-01-02 15:41] fcyu commented on #572
It looks like your data has both PASEF and normal MS (non-PASEF) scans. Can you check your acquisition settings? If there is no problem in your settings, can you send the .d folder to us?

Thanks,

Fengchao

[2022-01-02 15:49] bsarvin commented on #572
Dear Fengchao,

Yes, indeed, my method contains two parts: 10s scan mode for autocalibration followed by PASEF-DDA.

Yes, it is clear why do I have this error. The question is: can I work with this type of method, or do I need only to work with solely DDA acquisition?

Boris

[2022-01-02 15:54] fcyu commented on #572
HI Boris,

Yes, I think we can make MSFragger work for this type of data. Before I modify MSFragger, could you please tell me which type of scans do you want to analyze? PASEF, or non-PASEF, or both?

And, could you also send one of such data to us to test if it is appropriate?

Best,

Fengchao

[2022-01-02 15:59] bsarvin commented on #572
PASEF segment only,

I will prepare the file and send it tomorrow,

Thank you,
Boris

[2022-01-03 07:20] bsarvin commented on #572
.d file is available via the following link:

https://www.dropbox.com/sh/or42thds0rp0ibw/AAANBCmOj10O2l3EhsDfteIGa?dl=0

Thank you,
Boris

[2022-01-03 14:51] prvst commented on #571
We think there must be some differences in the raw file that cause this, not sure yet what it is. The solution for now is to convert the files to mzML.

[2022-01-03 16:54] fcyu commented on #572
Hi Boris,

Thank you very much for your file. Here (https://www.dropbox.com/s/1uiceyscb5fuqwz/MSFragger-3.5-rc7.zip?dl=1) is the link to the pre-release of MSFragger. Can you try to see if it works for you?

Thanks,

Fengchao

[2022-01-03 17:01] bsarvin commented on #572
Thank you a lot,

I will check it out tomorrow and let you know.

Boris

[2022-01-03 17:38] fazeliniah commented on #537
Hi Fengchao and team,
Hope you all had a wonderful holiday.
I am just wondering if there is an update for this issue.
Thanks

[2022-01-03 21:01] fcyu commented on #537
I guess you need to check with Felipe @prvst about the fixed Philosopher.

Best,

Fengchao

[2022-01-03 21:10] prvst commented on #537
Please refer to my previous reply. Peptideprophet is replacing some special characters, like the pipe, by an empty space, you might want to avoid them, or use a standard format.

@fcyu You mentioned above that you would look the PeptideProhet source code to look for the special characters that are replaced, did you amde any progress on that?

[2022-01-03 21:19] fcyu commented on #537
Hi Felipe @prvst ,

Yes, please check the code here https://sourceforge.net/p/sashimi/code/HEAD/tree/trunk/trans_proteomic_pipeline/src/Common/util.cpp#l533.  The `XMLEscape(const string& s)` function is used by the `RefreshParser.cpp`: https://sourceforge.net/p/sashimi/code/HEAD/tree/trunk/trans_proteomic_pipeline/src/Parsers/RefreshParser/RefreshParser.cpp#l1660

However, I could not find any co

[2022-01-03 21:23] prvst commented on #537
Yes, the description is modified

[2022-01-03 21:52] fcyu commented on #537
OK, actually, PeptideProphet does not replace `|`:

![image](https://user-images.githubusercontent.com/6926299/147984143-a58f1210-9a97-4bfa-bbeb-162afe1ca51f.png)

But ProteinProphet does:

![image](https://user-images.githubusercontent.com/6926299/147984267-ee81df4b-515a-44e4-9297-40221f024dca.png)

I will read the ProteinProphet code then.

Best,

Fengchao

[2022-01-03 21:54] guoci commented on #537
It is here https://sourceforge.net/p/sashimi/code/HEAD/tree/trunk/trans_proteomic_pipeline/src/Validation/ProteinProphet/ProteinProphet.cpp#l7256

[2022-01-03 22:00] fcyu commented on #537
Thanks @guoci , it does have more rules than replacing `|` with ` `. I can add them to MSFragger so that downstream tools will no need to make any changes.

Best,

Fengchao

[2022-01-03 22:51] fcyu commented on #537
Hi @fazeliniah ,

Can you re-analyze your data using this MSFragger (https://www.dropbox.com/s/xggvogvbqq7nmhf/MSFragger-3.5-rc8.zip?dl=0)? It will clean the protein description according to the rules used by ProteinProphet, which will prevent from triggering Philosopher's bug.

Best,

Fengchao

[2022-01-03 23:29] fcyu commented on #537
Sorry that I forgot one more thing.

With this change in MSFragger, we don't need to change Percolator and other tools because the the protein descriptions have already been cleaned up at the very beginning (ProteinProphet won't change the protein descriptions anymore).

But, Philosopher still needs to have the same cleaning up rules in load the fasta file, otherwise, it will not be able to map th

[2022-01-04 08:51] bsarvin commented on #572
Dear Fengchao,

MSFrager works correctly now, and I can see a number of proteins, etc.

Previously I have worked with IonQuant.

![image](https://user-images.githubusercontent.com/96970708/148032710-02bae7a1-aea0-41a0-b03a-8f032bc65055.png)

But now it gives me the similar error that my file contains to scan modes. I suppose it can be fixed similarly to MSFragger.

Can you please check it out?

P.

[2022-01-04 15:36] fcyu commented on #572
Hi Boris,

Right, I also need to change IonQuant. Could you try the pre-release from (https://www.dropbox.com/s/c4cyof5jlfwxm5o/FragPipe-17.2-build9.zip?dl=0) to see if it works for your data?

Best,

Fengchao

[2022-01-05 07:32] RonenGabizon opened #573 "Philosopher abacus out of memory"
Hi

  I'm totally new to fragpipe and I'm trying to run it on my desktop and having memory related problems during my runs. My computer is not the best but I wanted to make sure I'm not doing something silly with setting up the parameters before I go to the direction of upgrading the hardware.

  Anyway, I'm trying to analyze DDA data (12 files, converted to mzXML using the standard parameters in

[2022-01-05 09:12] bsarvin commented on #572
Dear Fengchao,

I have tried a new version of fragpipe but it returns me the following error:

CheckCentroid
java -Xmx30G -cp "D:\Methods\Boris\Applications\fragpipe\lib\fragpipe-17.2-build9.jar;D:\Methods\Boris\Applications\fragpipe\tools\batmass-io-1.24.1.pom" com.dmtavt.fragpipe.util.CheckCentroid D:\Data\TS_LAB\2021_12_Dec\Boris\20211229_Lib_Gen\Promega_RT_Lib_Gen_400uL.d 15
Error: Unable to i

[2022-01-05 14:32] fcyu commented on #573
Hi @RonenGabizon ,

This is an known issue (https://github.com/Nesvilab/FragPipe/issues/489). Philosopher abacus require lots of memory when there are many files. If you are using the last version of our tools and load the `LFQ-MBR` workflow, this issue should not be triggered. Can you try again? If the issue is still there, can you send us your log file?

BTW, it's better to use convert your raw

[2022-01-05 17:00] AlexHgO commented on #569
Happy new year everyone! As promised I'm reporting back, and unfortunately it still fails.
I reran the whole dataset but with these changes:
- FragPipe 17.2
- Percolator min 0.7
- PTMprophet min 0.5 (default settings)

But yeah, it again crashed at the Philosopher Filter step:
runtime: VirtualAlloc of 16384 bytes failed with errno=1455
fatal error: out of memory

Do you have any other ideas I coul

[2022-01-05 17:15] anesvi commented on #569
How much RAM do you have on your computer?
You can try to increase Percolator min 0.7 to 0.9. I was able to run larger datasets but I have more memory, like 128Gb
Alexey

From: Alexander Hogrebe ***@***.***>
Sent: Wednesday, January 5, 2022 12:01 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Comment ***@***.***>
Subject: Re: [Nesvilab/FragPipe] Philosopher filter step

[2022-01-05 17:15] fcyu commented on #569
I am afraid that other than increasing the `min probability` from 0.7 to, say, 0.8 or even 0.9, in Percolator panel, there is no other way. The Philosopher filter is the step performing FDR filtering, which cannot be bypassed.

BTW, I see that you enabled PTMProphet but disabled MSBooster. I think you need to enable MSBooster but disable PTMProphet because we don't use the localization probability

[2022-01-05 17:22] anesvi commented on #569
As a note, PTM-Prophet may relocalize some sites (not many, probably), but yes the localization probability is not propagated in the library files. But in one analysis, we used the localization probability from the PSM.tsv files to annotate entries in the DIA-NN output files that corresponded to peptides with localized sites (from the library building stage). This is not the same as localization p

[2022-01-05 17:36] AlexHgO commented on #569
Hi Alexey and Fengchao,
Our computer has 128GB RAM and I'm not going to have more than that any time soon haha.
Oh no, I didn't catch that MSBooster was deactivated - thanks for pointing that out!
My hope with running PTMprophet min 0.5 was that it would kick out peptides below that cutoff (thus reducing search results) - but I guess that is not the case? It also takes very long (~2 days out of th

[2022-01-05 17:50] anesvi commented on #569
I see you have ton of PSMs above 0.7

INFO[06:43:30] 1+ Charge profile                             decoy=13074 target=122448
INFO[06:43:51] 2+ Charge profile                             decoy=240634 target=9663097
INFO[06:43:56] 3+ Charge profile                             decoy=378259 target=27006336
INFO[06:43:58] 4+ Charge profile                             decoy=216231 target=28671829
INFO[0

[2022-01-05 18:31] RonenGabizon commented on #573
Thanks !

  I indeed used the LFQ-MBR workflow, and converted the files to mzXML before running. I'm fairly sure the versions I use are up to date because I just downloaded them, the version of MSconvert I'm using might be a bit older. I tried running again but haven't really changed anything so I'm not sure what will come out of that. Anyway here are the log files from my first two attempts.
[log

[2022-01-05 18:43] fcyu commented on #573
I am 100% sure that you are not using the `LFQ-MBR` workflow. Following is the diff of the `LFQ-MBR` workflow (you can find it in your `fragpipe/workflow` folder or https://github.com/Nesvilab/FragPipe/blob/master/MSFragger-GUI/workflows/LFQ-MBR.workflow), and the settings from your log (the left is from the LFQ-MBR workflow and the right is from your log):

![image](https://user-images.githubuser

[2022-01-05 19:02] guoci commented on #569
@AlexHgO you can also consider increasing the swap size to be used as the RAM runs out of space.
https://superuser.com/questions/793304/how-to-increase-swap-memory-in-windows
Ref: https://github.com/golang/go/issues/33716#issuecomment-582193124

[2022-01-05 19:08] fcyu commented on #569
I don't think it helps much. Philosopher also already takes lots of disk space: https://twitter.com/AlexHgO/status/1476273931094921221?s=20 . And it would be super slow.

Best.

Fengchao

[2022-01-05 20:48] RonenGabizon commented on #573
Thanks I must have screwed up something after I loaded it, but I'll give it another shot now.

[2022-01-06 07:18] bsarvin commented on #572
Dear Fengchao,

Now it works,

Thank you!

[2022-01-06 10:21] RonenGabizon commented on #573
Hi, I managed to run it successfully without problems this time. Thanks!

[2022-01-06 11:05] lgamon opened #574 "Iodination on tyrosine as labile modification"
Hi there,

I've been working to identify iodinated peptides(Y+125.8966) in complex samples (using both Bruker QTOF and TimsTOF data). MsFragger does generally a good job of identifying iodotyrosine modifications but we have seen in manual inspection of the MSMS spectra that there is frequently a neutral loss of 125.8966 that occurs, especially in the y-series. I would like to improve the number of

[2022-01-06 14:11] fcyu commented on #572
No problem!

Best,

Fengchao

[2022-01-06 14:11] #572 closed

[2022-01-06 14:12] fcyu commented on #573
No problem!

Best,

Fengchao

[2022-01-06 14:12] #573 closed

[2022-01-06 14:54] RonenGabizon opened #575 "LFQ normalization"
Hi

  I'm using LFQ-MBR to analyze data from multiple experiments, each one with its own set of replicates. While I would like all the files to be searched together, for the LFQ step I would prefer that each set of replicates would be normalized only within itself, not with all the other run. Is there a way to do this?

Thanks

[2022-01-06 15:28] fcyu commented on #575
No for now. We will add this functionality in the future.

Best,

Fengchao

[2022-01-06 15:28] #575 closed

[2022-01-06 15:45] dpolasky commented on #574
Hi @lgamon,
Nothing jumps out at me from your parameter file as an obvious problem, but it's unusual for the combined variable mod/offset search to return fewer PSMs than the equivalent closed (variable mod only) search if the modification is at all labile. Could you share the closed search parameters you used as well to compare?
- Dan

[2022-01-06 17:21] AlexHgO commented on #569
Hi again,
So, I set Percolator min to 0.99, activated MSBooster, deactivated PTMprophet and increased virtual memory to 32-64GB. But unfortunately it crashed again...
I guess I'll have to split the dataset up right?

[log_2022-01-06_09-17-41.zip](https://github.com/Nesvilab/FragPipe/files/7823616/log_2022-01-06_09-17-41.zip)

[2022-01-06 17:27] fcyu commented on #569
I am afraid so. BTW, the out-of-memory error message seems from different places:
[code]

Last time, it was from
[code]

At any rate, I think we should discuss internally how to solve this issue.

Best,

Fengchao

[2022-01-06 20:47] prvst commented on #569
@AlexHgO Can you tell me how many pep.xml files you have, and their average size? Also, it doesn't look like you're following Alexey's suggestions to keep only the top scoring identifications, so I suggest you start by testing that.

[2022-01-06 20:55] fcyu commented on #569
Hi Felipe @prvst ,

I think I can clarify something for him. There should be `550 * 5` pep.xml files. He is following our suggestion to set `min probability` to a large value for Percolator. He set it to 0.99, which is very stringent to me, but there are still not enough memory for Philosopher to continue.

Best,

Fengchao

[2022-01-06 21:01] prvst commented on #569
Does that mean the lowest probability in the pep.xml is also 0.99?

[2022-01-06 21:01] AlexHgO commented on #569
@prvst thanks for your comment!
I have 2204 .pep.xml files (1 per DDA, 3 per DIA-GPF and 5 per DIA) with a total size of 37.5 GB. Average file size is roughly (!) 10-50MB, depending on type and rank. This is after setting Percolator threshold to min 0.99.
Sorry, I don't think I understand the "keep only the top scoring identifications" - maybe I missed that in Alexey's messages after rereading the

[2022-01-06 21:02] fcyu commented on #569
@prvst Correct.

[2022-01-06 21:06] prvst commented on #569
@AlexHgO How much RAM you have available?

[2022-01-06 21:07] AlexHgO commented on #569
128 GB RAM + 32-64 GB virtual RAM

[2022-01-06 21:09] prvst commented on #569
@AlexHgO Alexey suggested ignoring everything else that has a probability score lower than 0.99, we do that by adding the flag `--pepProb 0.99`. However, if the files are filtered already, then you have two options; 1) You separate your data into smaller sets, and filter them separately or  2) find a computer with more RAM.

There's not much one can do with so much data like that, the program will

[2022-01-06 21:20] fcyu commented on #569
Felipe @prvst , do you mean that by adding `--pepProb 0.99` to the Philosopher filter command, it will skip the PSMs with probability < 0.99 when loading the interact.pep.xml?

If so, should it be `--psmProb` rather than `--pepProb` because that is the PSM-level probability?

I also see that in Philosopher wiki (https://github.com/Nesvilab/philosopher/wiki/Filter), it says "top peptide probability

[2022-01-06 21:28] prvst commented on #569
The program reads the xml file, and maps the data into an internal data structure. Identifications that fall under the thresholds are just ignored.

In theory yes. It's called like that for historical reasons, we implemented it as it is focusing only on the PeptideProphet probability. I have no objections in changing it, it's up to Alexey, I guess.

Yes. 0.7 is the baseline threshold.

[2022-01-06 21:31] fcyu commented on #569
Hi Felipe @prvst ,

Thanks for the clarification.

Does it means that the program reads in everything, then filters out low probability PSMs?

Thanks,

Fengchao

[2022-01-06 21:37] prvst commented on #569
The XML is loaded into memory, but soon after, discarded

[2022-01-06 21:43] anesvi commented on #569
Does it load all xml files and then discards all? If so, we can discard after the file is processed, and move to next
If one by one already, then the memory issue is at a later stage. Then the only solution is to store less info in the data structures.
But hard for me to weight here as non-expert

From: Felipe da Veiga Leprevost ***@***.***>
Sent: Thursday, January 6, 2022 4:37 PM
To: Nesvilab/Fra

[2022-01-06 21:49] prvst commented on #569
It reads one by one

[2022-01-06 22:06] anesvi commented on #569
Hi Alex,
I don’t think you really need so many files. Do you have many replicates?
How about using less data?
The alternative is to annotate files into experiments. Say 4. First 500 in experiment A, second 500 in B, etc. Then EasyPQP will build 4 separate libraries for each set. It will use combined.proot.xml for each set, so the protein inference will eb done consistently still.
Then you can merg

[2022-01-06 22:10] anesvi commented on #569
Alternatively, instead of merging the libraries, you can actually pass multiple libraries to DAI-NN.

From: Nesvizhskii, Alexey
Sent: Thursday, January 6, 2022 5:06 PM
To: Nesvilab/FragPipe ***@***.***>; Nesvilab/FragPipe ***@***.***>
Cc: Comment ***@***.***>
Subject: RE: [Nesvilab/FragPipe] Philosopher filter step fatal error: out of memory (Issue #569)

Hi Alex,
I don’t think you really need so

[2022-01-06 22:18] AlexHgO commented on #569
Just an update, reducing the number of DIA input files from 389 to 177 still causes 100% Ram usage, but allows the filter step to finish successfully - but then philosopher.exe report crashes due to out of memory... (I have already deactivated all summary report options except the actual filter settings)

@prvst Adding the --pepProb 0.99 to filter does not seem to make a difference (exactly same n

[2022-01-09 03:39] #568 closed

[2022-01-09 14:44] fcyu opened #576 "Philosopher 4.1.1 filters out PSMs whose proteins have blank description"
A user contacted me with this issue. His data has iRT peptides with the following format in the fasta file. With the Philosopher older than 4.1.1, everything works well. But with 4.1.1, none of the iRT peptides is in the psm.tsv.

It reminds me that Philosopher is changed to use protein `ID + description` as a protein identifier since version 4.1.1, and there is no description for those iRT peptid

[2022-01-09 14:47] fcyu commented on #574
Hi @lgamon ,

Can you send us the log files from the open, closed, and the labile search?

Thanks,

Fengchao

[2022-01-09 14:53] fcyu commented on #576
Following are some examples from iRT peptides and having probability 1 in the interact.pep.xml file, but not in the psm.tsv file.

[code]

Best,

Fengchao

[2022-01-09 22:39] guoci commented on #569
@AlexHgO Can you post the log for the `philosopher.exe report` crash too?

[2022-01-10 13:43] prvst commented on #576
He can add something to the description to make it work, and in the meanwhile I can add this case to the code.

[2022-01-10 13:48] prvst commented on #569
That is correct. If you are already increasing the Percolator threshold, then the filter threshold won't do any difference.

[2022-01-10 19:15] lgamon commented on #574
Hi Dan and Fengchao,

Here are the labile/closed searches log files:

[log_2022-01-04_11-06-05.txt](https://github.com/Nesvilab/FragPipe/files/7841292/log_2022-01-04_11-06-05.txt)
[log_2022-01-03_17-25-49.txt](https://github.com/Nesvilab/FragPipe/files/7841308/log_2022-01-03_17-25-49.txt)

[2022-01-10 19:49] dpolasky commented on #574
Hi @lgamon,
It looks like the difference in PSMs between the two searches is probably caused by using Percolator (on each file individually) for the closed search but PeptideProphet (combined on all files) for the labile search. I think if you use the same tool for post-processing, the results will be easier to interpret. We don't usually recommend Percolator for mass offset (labile) mode searches

[2022-01-10 19:52] fcyu commented on #574
Hi @dpolasky ,

I am sorry that I haven't read the log files, but does it mean that `closed search+Percolator` gives more IDs than `labile search+PeptideProphet`?

Best,

Fengchao

[2022-01-10 19:54] dpolasky commented on #574
@fcyu yes, more PSMs overall, but I'm not sure if it's more modified PSMs or not (can't tell from the logs). It could be that Percolator is finding more unmodified PSMs, but the labile search is finding more modified PSMs despite slightly lower overall 'sensitivity'

[2022-01-10 21:04] mwfoster opened #577 "Odd intensity in TMT16 channel"
I am processing some TMT16 data in Fragpipe. When I compare the reported intensities across channels in the psm, ion or peptide reports, the intensity of the 134N channel seems to be ~2x higher in the peptide versus psm/ion reports (see examples in excel file). This is very evident b/c the last three channels are QC replicates. This doesn't appear to affect the protein quantity, though. Any explan

[2022-01-10 21:13] anesvi commented on #577
Are you looking at peptide.tsv?
This file is generated by Philosopher. So Felipe will need to take a look.  I have not looked at the TMT quant in peptide.tsv or ion.tsv files for a long time. We have been using TMT-Integrator for everything. Which reads PSM.tsv and does PSM-peptide-protein roll-up for quantification. It also generates peptide-level file if you check ‘All’ option for the output lev

[2022-01-10 23:40] AlexHgO commented on #569
@guoci I'm so sorry, I can't find that log anymore!

I ended up generating 4 separate libraries and merge them with DIANN. Working with that data for now.
Thanks again for all the support!

[2022-01-11 00:36] anesvi commented on #569
Ok, and let us know the results look at the end!
We will work on the crash issue.
Alexey

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Alexander Hogrebe ***@***.***>
Sent: Monday, January 10, 2022 6:40:35 PM
To: Nesvilab/FragPipe ***@***.***>
Cc: Nesvizhskii, Alexey ***@***.***>; Mention ***@***.***>
Subject: Re: [Nesvilab/FragPipe] Philosopher filter step fata

[2022-01-11 03:20] mwfoster commented on #577
Thanks for the suggestion to generate the peptide-level file from TMT-integrator. Regards, Matt

[2022-01-11 14:40] wolski opened #578 "columns with "MaxLFQ Intensity" suffix."
I am running Ionquant (onQuant-1.7.17.jar) with:
`-mbr 1 --ionmobility 0 --maxlfq 1 --normalization 0`

The 'combined_protein.tsv' file contains intensity columns with e.g. "MaxLFQ Unique Intensity"  but also columns with  " Unique Intensity" suffix.

The [tutorial_fragpipe_outputs documentation](https://fragpipe.nesvilab.org/docs/tutorial_fragpipe_outputs.html#combined_proteintsv) reads:

Unique

[2022-01-11 14:53] prvst commented on #577
Hi @mwfoster You are correct, there's a typo in the methods that roll up the quantification to the peptide level. I'll issue an update soon. If you are not planning to do your own post-processing filtering, please use TMT-I to summarize the quantification.

[2022-01-11 14:58] wolski commented on #578
Thanks.

PS. I am also getting the Total and Unique columns when extracting the "Intensity" columns from the combined_protein files using "Intensity$" regexp. Therefore, how about restoring the column suffix "Razor Intensity" instead of "Intensity", or changing the other column types too, e.g., "Intensity Total" and "Intensity Total MaxLFQ". Sure I also could grep for "MaxLFQ" only but there are N

[2022-01-11 15:11] fcyu commented on #578
We changed `Razor Intensity` to `Intensity` to suggest that this is one should be used in most cases.

I think the `\t[^ \t]+ Intensity` regex should work for the "Intensity" column, and `\t[^ \t]+ MaxLFQ Intensity` regex should work for the "MaxLFQ Intensity" column. Supposing there is no space or tab in the experiment name, which is also what we recommended. If there is an experiment having name

[2022-01-11 15:22] #578 closed

[2022-01-12 09:42] KR-15 opened #579 "Problem with 'PhilosopherFilter' exit code"
Hi,

I'm currently using FragPiPe with those specific versions:

Version info:
FragPipe version 17.1
MSFragger version 3.4
Philosopher version 4.1.0 (build 1635640020)

I am using the LFQ-phospho workflow for basic phosphoenrichment experiment with 2 groups (8vs8) on timsTOF Pro data.

As the LFQ-phospho workflow only accepts mzML files as an input, I previously used MSConvert to transform .d raw

[2022-01-12 14:45] fcyu commented on #579
Seems to be an error from Philosopher:
[code]

Felipe @prvst , can you take a look when you have time?

Thanks,

Fengchao

[2022-01-13 09:40] chscho opened #580 "log4j vulnerability of DIAumpire"
Dear FragPipe Team

Due to the recent security warnings regarding the log4j vulnerability we've recently performed a scan of our systems and found DIAumpire (v.2.2.3) which is included in FragPipe (v.17.1) to call log4j in following classes:
- org/apache/log4j/net/JMSAppender.class: log4j 1.2.17
- org/apache/log4j/net/SMTPAppender.class: log4j 1.2.17
- org/apache/log4j/net/SocketNode.class: log4j

[2022-01-13 10:11] lgamon commented on #574
Thanks for the help @dpolasky and @fcyu. I've replicated this with a search on iodinated bovine serum albumin (we have validated a lot of the spectra for this dataset) and see exactly what you mention. Only 2 iodination PSMs for a closed+peptideprophet search compared to 43 with mass-offset (a la labile phospho) and a whopping 274/339 for closed/open with percolator.

So yes - when comparing using

[2022-01-13 10:55] lgamon commented on #574
Oops - I was running the peptideprophet searches with PTMprophet for the phospho mod instead of with --mods Y:125.8966.

After correcting this I now get 303 PSMs with labilesearch+peptideprophet(+PTMprophet --mods Y:125.8966) which is relatively close to the standard open+percolator search.

[2022-01-13 12:54] KR-15 commented on #579
Hi prvst,

Thank you for your reply.

I have relaunch the exact same analysis with only 4 CPUs and 2 CPUs instead of 8 CPUs (first try). It seems that the analysis runs further but there is still a new error message almost at the end of the analysis (see log files below). The error message is the same for both. Just to precise that there is a DIA-NN analysis that are currently running in the same

[2022-01-13 14:37] fcyu commented on #580
Hi Christian,

log4j 1.x is not impacted by the vulnerability: https://logging.apache.org/log4j/2.x/security.html.

Best,

Fengchao

[2022-01-13 14:39] fcyu commented on #579
Hi KR,

Could you please send the file 211220_IsSE_MaAU_nE_LFQ-P_CL_n1-8_F3_DMSO_2886.mzML to us? I can give you a link to upload the data if you need it.

Best,

Fengchao

[2022-01-13 15:05] dpolasky commented on #574
Thanks for doing the testing - that's quite interesting that Percolator gets so many modified PSMs from a closed search, but good that the labile search + PeptideProphet is close. We have seen some cases where Percolator boosts rare modifications too much (giving a lot of false hits) in the past, so I'm a little worried that might be happening here with the closed search results (since it should b

[2022-01-13 15:12] KR-15 commented on #579
Hi fcyu,

Yes of course, could you please provide a safe link for the upload ?

Best,

KR

[2022-01-13 15:22] fcyu commented on #579
Sounds good! Here (https://www.dropbox.com/sh/i1zeuv8510hd9i9/AADXlXWgoAWbdFQm4UD0k4f9a?dl=0) is the link.

Thanks,

Fengchao